@use "../../styles/color.scss" as *;
@use "../../styles/_utils.scss" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.support {
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  padding: 96px 0px 160px 0px;
  text-align: center;
  background-color: $aliceBlue;
  position: relative;
  bottom: -70px;

  .ornament-btm {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: url(../../assets/support/bottom-ornament.png) no-repeat;
    width: 216px;
    height: 345px;
    z-index: 0;
  }

  .ornament-top {
    position: absolute;
    top: 40px;
    right: 0;
    background: url(../../assets/support/top-ornament.png) right top no-repeat;
    width: 216px;
    height: 345px;
    z-index: 0;
  }

  .support_head {
    text-align: left;
    min-height: 100%;
    display: flex;
    max-width: 80%;

    h2 {
      @include fontStyle(32px, $primaryBlue);
      padding-bottom: 8px;
    }

    p {
      position: relative;
      @include fontStyle(18px, $darkestGrey);
      line-height: 28px;

      .crimson-red {
        font-family: "Walaa Arabic Medium";
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
      }
    }

    &html[dir="rtl"] {
      .support_head {
        text-align: right;
      }
    }
  }

  .support_right {
    position: relative;
  }

  .support_card {
    background: $themeWhite;
    height: auto;
    padding: 32px 24px;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 4px 20px $boxShadowColor;
    margin: 32px 0px 0 0;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      @include fontStyle(20px, $dark-Grey-500);
      margin-top: 24px;
    }

    p {
      @include fontStyle(16px, $darkestGrey);
      margin-bottom: 10px;
      padding: 10px 30px 0px;
      @include utils.display-ellipse(4);
    }

    .support_contact {
      @include fontStyle(18px, $red-utility);

      a {
        display: flex;
        gap: 8px;
        cursor: pointer;
        @include fontStyle(18px, $red-utility);
      }
    }

    & > img {
      width: 48px;
      height: 48px;
    }

    & > div > img {
      width: 18px;
      height: 18px;
    }
  }
}

.bottom-margin {
  bottom: 0px;
}

[dir="rtl"] {
  .support_head {
    text-align: right;
    max-width: 80%;
  }
  .support_card {
    p {
      height: 190px;
    }
  }
}

// @media only screen and (max-width: 1200px)
@include media(xl) {
  .support_section {
    width: 100% !important;

    .support {
      .support_left {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }

      .support_right {
        width: 100%;
        text-align: center;
      }

      .support_head {
        text-align: left;
        max-width: 80%;
        h2 {
          display: grid;
          justify-content: center;
          margin-left: 190px;
        }

        p {
          text-align: center;
          margin-left: 190px;
        }
      }

      p {
        padding: 10px 0px 20px 0px;
        @include utils.display-ellipse(4);
      }

      .container-fluid {
        padding: 96px 64px 96px 64px;
      }
    }
  }

  // :root .container-fluid {
  //   padding: 0px !important;
  // }
}

// @media only screen and (max-width: 1024px) {
@include media(lg) {
  .support_section {
    width: 100% !important;

    .support {
      .support_card {
        margin-right: 24px;
        height: 310px;
      }

      .support_head {
        display: flex;
        padding-bottom: 10px;
        max-width: 80%;
      }

      .carousel-support {
        width: 320px;
      }

      .custom-dot-list-style {
        bottom: -40px;

        .react-multi-carousel-dot {
          border: none;

          button {
            background-color: $light-Grey-100;
            width: 8px;
            height: 8px;
            border: none;
            transition: width 0.3s ease;
            margin: 0px 5px;
          }

          &.react-multi-carousel-dot--active {
            button {
              background-color: $red-utility;
              width: 29px;
              height: 8px;
              border: none;
              border-radius: 20px;
            }
          }
        }
      }

      .ornament-btm {
        bottom: 0px;
        left: 0;
        background-size: 80%;
        width: 186px;
      }

      .ornament-top {
        top: 0px;
        right: 0px;
        background-size: 80%;
        width: 186px;
      }
    }
  }
}

// @media only screen and (max-width: 768px) {
@include media(md) {
  .support_section {
    width: 100% !important;
   
    .support {
      .support_head{
        h2  { margin-left:0px;
          justify-content:left;}
         p {
          margin-left:0px;
          text-align:left;}
      }
      .ornament-btm {
        bottom: 0px;
        left: 0;
        background-size: 70%;
        width: 186px;
      }

      .ornament-top {
        top: 0px;
        right: 0px;
        background-size: 70%;
        width: 186px;
      }

      .support_card {
        padding: 32px 13px;
        height: 280px;

        p {
          padding: 10px 0px 20px 0px;
          @include utils.display-ellipse(4);
        }
      }

      .container-fluid {
        padding: 0px 0px 0 16px !important;

        .row {
          width: 100%;
        }
      }
    }
  }

  .support_section .custom-dot-list-style {
    bottom: -40px;

    .react-multi-carousel-dot {
      border: none;

      button {
        background-color: $light-Grey-100;
        width: 8px;
        height: 8px;
        border: none;
        transition: width 0.3s ease;
        margin: 0px 5px;
      }

      &.react-multi-carousel-dot--active {
        button {
          background-color: $red-utility;
          width: 30px;
          height: 8px;
          border: none;
          border-radius: 30%;
        }
      }
    }
  }
}

[dir="rtl"] {
  .support_left {
    z-index: 1;
  }
  .support_head {
    text-align: right;
  }
  .rtl-card {
    flex-direction: row-reverse;
  }
}
