@use '../../styles/fonts' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;
@use "../../styles/_colors" as *;

.image-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    .img-card{
        border: 1px solid $light-grey-300-utility;
        padding: 32px;
        border-radius: 16px;
    }
}