@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.tab-buttons-product {
  display: flex;
  border-bottom: 1px solid $primnary-blue-100;
  width: 100%;
  color: $themeWhite;
  padding: 90px 0 0 72px;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: $light-grey-50-utility;
  z-index: 2;
  .tab-list {
    background-color: transparent;
    border: none;
    padding: 16px;
    //border-bottom: 1px solid $primnary-blue-100;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    font-size: 16px;
    color: $primaryBlue;
    @extend .walaa-regular-400;

    &:hover {
      border-bottom: 5px solid $red-utility;
    }

    &.active {
      border-bottom: 5px solid $red-utility;
    }
  }
}



// Resposive Styles 

@include media(xl){
  .tab-buttons-product{
    padding: 150px 0 0 72px;
  }
}
@include media(md) {
  .tab-buttons-product{
    padding:250px 0 0 72px;
  }
}

@media (max-width: 711px) {
  .tab-buttons-product{
    padding: 250px 0 0 72px;
  }
}

@include media(sm) {

.tab-buttons-product{
  background: $themeWhite;
  overflow-x: auto;
  white-space: nowrap;
  padding: 250px 0 0 16px;
}

}

[dir="rtl"]{
  .tab-buttons-product{
    padding: 90px 72px 0 0
  }
}
