@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;

.shared-tabs-wrapper {
    align-items: center;
    background-color: $white; // Background color
    border: 1px solid $blue; // Outer border color
    border-radius: 40px;
    display: flex;
    padding: 4px;
    position: relative;
    width: fit-content;
  
    .tab-wrapper {
      display: flex; // Change to flex to apply new styles
      flex-direction: column; // Set direction to column
      align-items: flex-start; // Align items to the start
      padding: 8px 16px; // Padding for the button
      gap: 16px; // Gap between elements in the button
      border-radius: 20px; // Individual tab corners
      cursor: pointer;
      transition: background-color 0.3s ease; // Smooth transition for background
      border-right: 2px solid transparent; // Default right border for tabs
      background: none;
      border: none;
      align-items: center;
  
      &.selected {
        background-color: $blue; // Active tab color
        border-right: 2px solid $blue; // Right border color for active tab
  
        .tab {
          color: $white; // Color for selected tab text
        }
      }
    }
  
    .tab {
      color: $dark-grey; // Default tab text color
      font-size: 16px; // Example font size
      white-space: nowrap;
    }
  }
  