@use "../../../../../../styles/colors" as *;

.CompareBenefitsAllCoverages-container {
    .select-coverage-plan-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        // color: $Primary1---Blue-primary1---blue-600;
        color:$Primary1---Blue-primary1---blue-500;
        span {
            margin: 0px 0px 0px 0px !important;

            img.arrowrightalt-svg-icon {

                &:hover {
                    fill: $Primary1---Blue-primary1---blue-800;
                }
            }
        }

        &:hover {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-underline-position: from-font;
            color: $Primary1---Blue-primary1---blue-800;
            text-decoration: underline;
        }
    }
}