@use '../../styles/color.scss' as *;
@use '../../styles/_utils.scss';

.theme-button {
    border-radius: 48px;
    display: flex;
}

.chip-button {
    border: 1px solid $light-Grey-100 !important;
    background: $themeWhite !important;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
    span {
        @include utils.font-setting($darkGrey, 14px, 22px);
    }
}

.chip-button:hover {
    border: 1px solid $primaryBlue-800 !important;
    span {
        color: $primaryBlue-800;
    }
}

.submit-button {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    margin-left: 16px;
    width: fit-content;
    opacity: 0.85 !important;
    background: $primarySkyBlue !important;
    span {
        @include utils.font-setting($themeWhite, 16px, 24px);
    }
}

.submit-button.disabled-button  {
    background: $primary-grey-50 !important;
    span {
        color: $dark-grey-200 !important;
    }
}

[dir="rtl"] {

    .submit-rtl-button
    {
        margin-left: 0px;
        margin-right: 16px;
    }
}