@use '../../../styles/colors' as *;
@use "../../../styles/_fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

@mixin flex(
  $direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}
@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.container {
  display: flex;
  padding: 6rem 3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.containertravelquote {
  .quote-container{
    .leftPanel{
      .travel-detail-wrapper{
        .vehical-detail-content{
          .vehical-section{
            .vehical-heading{
              @include flex(column, flex-start, center, 0.75rem);
              align-self: stretch;
              color: var(--Primary1---Blue-primary1---blue-800, $Primary1---Blue-primary1---blue-800);
              text-align: center;
        
              @include font(1.25rem, 500, 1.875rem);
            }          
          }
        }
      }
    }
  }
  padding-bottom: 100px;
  
      + .main-footer .footer-btns { justify-content: flex-end; }

      /* Reusable classes */
      .no-radius {
        border-radius: 0px;
      }
      .shadow {
        box-shadow: 0 0 0 0.1rem
          rgba($Primary1---Blue-primary1---blue-50, 0.25);
      }

      .form-control::placeholder {
        color: $Utility---Dark-Grey-dark-grey-200;
      }

      // Vehical detail
      .rmdp-input {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
      }
      .travel-detail-wrapper {
        width: 100%;
        .vehical-detail-content {
          padding-bottom: 70px !important;
          .vehical-section {
            background-color: $white;
            .vehical-heading { font-size: 1.25rem;
              line-height: 1.875rem;
              font-weight: 600;}
          }

          .vehical-content {
            padding: 16px 32px 0px 32px;
            .tooltip-icon {
              color: $primary-blue-400 !important;
              margin-right: 24px;
              height: 24px;
            }

            .travel-fields {
              .input-error {
                color: $red-utility;
                font-size: 12px;
              }
            }

            // Travel related style starts
            .travel-content {
              .para-travel {
                @include fontStyle(16px, 24px, $dark-grey-500);
                @extend .walaa-regular-400;
                padding-bottom: 24px;
              }
              .date-picker-input {
                display: flex;
                justify-content: space-between;
                :focus-visible,
                :focus {
                  border: none;
                  outline: none;
                }
              }
              .product-toggle-wrapper {
                padding: 0px !important;
                .product-toggle {
                  border-radius: 80px;
                  border: 1px solid $Primary1---Blue-primary1---blue-50;

                  .selected,
                  .default {
                    padding: 8px 16px;
                  }
                }
              }
              .mandate_star {
                color: $Utility---Error-Red-Error-Red;
                display: flex;
                padding: 0 5px;
              }
              .rmdp-container,
              .field-country input.rbt-input-main,
              #cancellation-reason-dropdown {
                padding: 9px 11px;
                border: 1px solid $Utility---Dark-Grey-dark-grey-200;
              }
              .field-country {
                position: relative;
                input {
                  border-radius: 4px;
                  border: 1px solid $Utility---Dark-Grey-dark-grey-200;
                  background: $white;
                }
              }
              .travel-form-group {
                padding-bottom: 24px;
                .policy-list {
                  padding: 9px 11px;
                  border: 1px solid $Utility---Dark-Grey-dark-grey-200;
                   &::placeholder {
                    color:$Utility---Error-Red-Error-Red;
                  }
                }
                .calendar-switch {
                  .switch-label {
                    display: none;
                  }
                }

                .form-check-label,
                #cancellation-reason-dropdown {
                  @include fontStyle(16px, 22px, $dark-grey-500);
                  @extend .walaa-regular-400;
                  display: flex;
                  padding-bottom: 8px;
                }
              }
              .row-3-travel {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
              }
              .travelers-num-container {
                background-color: $light-blue-50;
                border-radius: 8px;
                display: flex;
                padding: 24px;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                width: 100%;
                position: relative;
                bottom: 0px;
                left: 0px;
                align-self: stretch;
                .age-title {
                  display: flex;
                  svg {
                    cursor: pointer;
                  }
                  @include fontStyle(16px, 22px, $dark-grey-500);
                  @extend .walaa-medium-500;
                }
                .age-input-warp {
                  display: flex;
                  justify-content: space-between;
                  flex-direction: row;
                  width: 100%;
                  .age-input-box {
                    .form-check-label {
                      span {
                        font-size: 12px;
                      }
                    }
                  }
                }
                .row{
                  .col{
                    .alert-primary{
                      background-color: $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-100;
                      border:0px solid $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-100;
                      box-shadow: -2px 0px 0px $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-600;
                      color:$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-600;
                    }                                      
                  }
                }
              }
            }

            // Travel related style ends
          }
        }
      }

      .search-icon {
        position: absolute;
        top: 39px;
        right: 5px;
        color: $primary-blue-400 !important;
      }

      .calendar-icon {
        color: $primary-blue-400 !important;
        margin-left: 0px;
        width: 16px !important;
      } 

      // User Card
      .user-details {
        border: 1px solid $light-blue-200;
        padding: 24px 0;
        border-radius: 20px;
        background: $Primary2---Light-Blue-primary2---light-blue-50;

        .user-top {
          padding: 0 24px 16px 24px;
          border-bottom: 1px solid
            $Primary2---Light-Blue-primary2---light-blue-100;
          display: flex;
          .user-content {
            padding-left: 16px;
            .heading {
              @include fontStyle(16px, 24px, $darkest-grey);
              @extend .walaa-medium-500;
            }
            .sub-head {
              @include fontStyle(
                14px,
                22px,
                $Utility---Light-Grey-utility---light-grey-800
              );
              @extend .walaa-medium-500;
            }
          }
        }

        .user-bot {
          padding: 16px 24px 0 24px;
          .user-labl {
            @include fontStyle(
              14px,
              22px,
              $Utility---Light-Grey-utility---light-grey-800
            );
            @extend .walaa-medium-500;
          }
          .user-val {
            @include fontStyle(16px, 24px, $darkest-grey);
            @extend .walaa-medium-500;
          }
        }
      }
}

.validate-travel {
// Modal style starts
.modal-content {
  padding: 24px;
  h2 {
    padding-bottom: 16px;
    @include fontStyle(24px, 36px, $dark-grey-500);
  }
  .mainHeading {
    @include fontStyle(24px, 36px, $dark-grey-500);
    @extend .walaa-medium-500;
  }
  .subHeading {
    padding: 16px 0;
    @include fontStyle(18px, 28px, $dark-grey-500);
    @extend .walaa-medium-500;
  }
  .content {
    @include fontStyle(16px, 24px, $darkest-grey);
    @extend .walaa-regular-400;
  }
}

.modal-traveller-content {
  div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding: 0 0 0 20px;
    li {
      list-style: disc;
      list-style-type: disc;
      @include fontStyle(16px, 24px, $dark-grey-500);
    }
  }
}
// Modal style ends
}
