@use "../../../../../../../styles/colors" as *; 
.driver-row-one
    {
        width: 100%;
    }
.driver-card-col {
    display: flex;
    padding: 0px;
    max-width: 50%;

    
    .driver-card-container {
        padding: 0.5rem 0.5rem;
        align-self: stretch;
        border-radius: 0.5rem;
        border: 1px solid $light-grey-100-utility;
        background: $Utility---White-white-500;

        .driver-card-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .driver-card-icn {
                padding: 0.5rem;
                gap: 0.625rem;
                display: flex;
                border-radius: 5rem;
                background: $Primary2---Light-Blue-primary2---light-blue-50;
            }

            .driver-card-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .driver-title {
                    gap: 0.25rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    font-size: 0.875rem;
                    line-height: 1.375rem;
                    font-weight: 500;
                    color: $dark-grey-500;
                    text-transform: lowercase;
                }

                .driver-title::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}