@use "./../../../styles/_colors" as *;


.endorement_container {
.container-main {
  max-width: 100%;
  display: flex;
  gap: 24px;
  width: 100%;
  padding: 72px 72px 72px 72px;
  margin-bottom: 158px;
  .left-card-main {
    width: 70%;
    gap: 24px;
    margin: 0;

    .select-policy-left-card {
      display: flex;
      padding: 24px var(--Auto-Number, 0px);
      flex-direction: column;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      border-radius: 20px;
      border: 1px solid
        $Utility---Light-Grey-utility---light-grey-300;
      background: $Utility---White-white-500;

      .select-policy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .horizontal-line {
          width: 100%;
          margin: 0;
          color: $light-grey-200;
          opacity: 0.5;
        }

        .policy-list {
          display: flex;
          width: 40%;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          padding: var(--Auto-Number, 0px) 24px;
          align-self: stretch;
        }

        .select-policy-header {
          display: flex;
          padding: var(--Auto-Number, 0px) 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          border-left: 4px solid $red-utility;

          color: $Primary1---Blue-primary1---blue-800;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }

    .left-card {
      width: 100%;
      display: flex;
      padding: 24px 0px;
      flex-direction: column;
      gap: 16px;
      border-radius: 20px;
      border: 1px solid $light-grey-300;
      margin: 0;

      .header {
        padding: 0px 24px;
        border-left: 4px solid $red-utility;

        .header-body {
          color: $Primary1---Blue-primary1---blue-800;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .header-border {
        border-bottom: 1px solid $dark-grey-900;
      }

      .body {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 24px;

        .radio-btns {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          padding: 0 32px;

          .radio-btn-unchecked {
            display: flex;
            width: 48%;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            border-radius: 20px;
            box-shadow: 0px 4px 20px 0px $Secondary-Color-Three;
            border: 1px solid $light-grey-100-utility;
            background: $white;

            .radio-label {
              .form-check-inline {
                margin: 0;

                .form-check-input:checked {
                  background-color: $Primary1---Blue-primary1---blue-50;
                  border: 8px solid $Primary1---Blue-primary1---blue-50;
                }
              }
            }
          }

          .radio-btn-checked {
            display: flex;
            width: 48%;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            border-radius: 20px;
            box-shadow: 0px 4px 20px 0px $Secondary-Color-Three;
            border: 2px solid $Primary1---Blue-primary1---blue-50;
            background: $light-blue-50;

            .radio-label {
              .form-check-inline {
                margin: 0;
              }
            }
          }
        }

        .radio-btns-cards {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          justify-content:left !important;

          .card-unchecked {
            width: 31.5%;
            border-radius: 16px;
            cursor: pointer;
            gap: 16px;
            border: 1px solid
              $Utility---Light-Grey-utility---light-grey-200;

            .img-card {
              border-top-left-radius: 16px;
              border-top-right-radius: 16px;
            }

            .body-card {
              padding: 0 24px 24px 24px;

              .body-card-btn {
                margin: 0;
                color: $Utility---Dark-Grey-dark-grey-200;
                font-size: 20px;
                line-height: 30px;
              }
            }
          }

          .card-unchecked:hover {
            border: 2px solid $Primary1---Blue-primary1---blue-50;
            cursor: pointer;
          }

          .card-checked {
            width: 31.5%;
            border-radius: 16px;
            cursor: pointer;
            gap: 16px;
            border: 2px solid $Primary1---Blue-primary1---blue-50;

            background: $Primary2---Light-Blue-primary2---light-blue-50;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

            .img-card {
              border-top-left-radius: 16px;
              border-top-right-radius: 16px;
            }

            .body-card {
              padding: 0 24px 24px 24px;

              .body-card-btn {
                margin: 0;
                font-size: 20px;
                line-height: 30px;
              }
            }
          }

          .card-checked:hover {
            border: 2px solid $Primary1---Blue-primary1---blue-50;
            cursor: pointer;
          }
        }

        .informative-container {
          display: flex;
          padding: 16px;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
          border-radius: 8px;
          background: $Secondary2---Asparagus-secondary2---asparagus-50;

          .logo {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 80px;
            background: $Secondary2---Asparagus-secondary2---asparagus-500;
          }

          .informative-content {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .informative-content-header {
              color: $dark-grey-500;
              font-size: 14px;
              line-height: 22px;
            }

            .content {
              color: $dark-grey-400;
              font-size: 12px;
            }

            .frequently-purchased {
              display: flex;
              height: 32px;
              padding: 8px 16px;
              align-items: center;
              // gap: 10px;
              position: absolute;
              right: 0;
              top: 0;
              border-radius: 0 16px;
              background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;

              .frequently-purchased-text {
                color: white;
                font-size: 12px;
                line-height: 18px;
              }
            }

            .horizontal-line {
              color: $light-grey-200;
              height: 1px;
              margin: 0;
            }

            .card-foot {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .link-btn {
                border: 1px solid;
              }

              .icon-btn {
                width: 66px;
                height: 44px;
                border: 1px solid;
              }
            }
          }
        }

        .radio-btns-border {
          border-bottom: 1px solid $Secondary-Color-Four;
        }

        .body-content {
          display: flex;
          padding: 0px 32px;
          align-items: flex-start;
          gap: 24px;

          .reason-select {
            display: flex;
            width: 384px;
            flex-direction: column;
            gap: 8px;

            .form-select {
              height: 48px;
            }

            .form-control {
              padding: 12px 16px;
            }

            .label {
            }
          }

          .refundable-amount {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .refundable-amount-title {
              display: flex;
              align-items: center;
              gap: 8px;
            }
          }
        }

        .footer {
          display: flex;
          padding: 24px 32px 0px 32px;
          gap: 24px;
          border-top: 1px solid $light-grey-200;

          .back-btn {
            flex: 1 0 0;
          }

          .submit-btn {
            border-radius: 48px;
            background: $dark-grey-50;
          }
        }
      }
    }

    .benefit-container {
      border-radius: 20px;
      border: 1px solid $light-grey-300;
      padding: 24px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .header {
        padding: 0px 24px;
        border-left: 4px solid $red-utility;

        .header-body {
          color: $Primary1---Blue-primary1---blue-800;
          font-size: 20px;
          line-height: 30px;
        }
      }

      .header-border {
        border-bottom: 1px solid $dark-grey-900;
      }

      .body-addons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        padding: 0 24px;
        border-radius: 20px;
        justify-content: space-between;

        .main-accordion {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 16px;

          .card-accordion {
            padding: 24px;
            display: flex;
            gap: 16px;
            width: 100%;
            background: $white;
            border-radius: 16px;
            border: 1px solid $light-grey-100-utility;

            .card-accordion-header {
              padding: 0;
              border: none;
              background: $white;

              .card-accordion-before-collapse {
                display: flex;
                justify-content: space-between;

                .logo-container {
                  display: flex;
                  gap: 16px;

                  .logo {
                    display: flex;
                    padding: 8px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 40px;
                    background: $white;
                  }

                  .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;

                    .content-vehicle {
                      display: flex;
                      align-items: flex-start;
                      gap: 4px;
                      align-self: stretch;
                      color: $dark-grey-400;
                      font-size: 14px;
                      line-height: 22px;
                    }

                    .content-vehicle-number {
                      color: $dark-grey-500;
                      font-size: 16px;
                      line-height: 24px;
                    }
                  }
                }

                .card-radio-btn {
                  margin: 0;

                  .form-check-input {
                    border: 1px solid
                      $Utility---Dark-Grey-dark-grey-200;
                    height: 24px;
                    width: 24px;
                  }
                }
              }
            }

            .card-accordion-after-expand {
              border: none;

              .accordion-expand-body {
                display: flex;
                flex-direction: row;
                gap: 24px;
                padding: 0;

                .detail {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;

                  .detail-type {
                    color: $dark-grey-400;
                    font-size: 14px;
                    line-height: 22px;
                  }

                  .detail-type-data {
                    color: $dark-grey-500;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
          }

          .card-accordion-1 {
            padding: 24px;
            display: flex;
            gap: 16px;
            width: 100%;
            background: $Primary2---Light-Blue-primary2---light-blue-50;
            border-radius: 16px;
            border: 1px solid
              $Primary2---Light-Blue-primary2---light-blue-100;

            .card-accordion-header {
              padding: 0;
              border: none;
              background: $Primary2---Light-Blue-primary2---light-blue-50;

              .card-accordion-before-collapse {
                display: flex;
                justify-content: space-between;

                .logo-container {
                  display: flex;
                  gap: 16px;

                  .logo {
                    display: flex;
                    padding: 8px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 40px;
                    background: $white;
                  }

                  .content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;

                    .content-vehicle {
                      display: flex;
                      align-items: flex-start;
                      gap: 4px;
                      align-self: stretch;
                      color: $dark-grey-400;
                      font-size: 14px;
                      line-height: 22px;
                    }

                    .content-vehicle-number {
                      color: $dark-grey-500;
                      font-size: 16px;
                      line-height: 24px;
                    }
                  }
                }

                .card-radio-btn {
                  margin: 0;
                  display: none;
                }
              }
            }

            .card-accordion-after-expand {
              border: none;

              .accordion-expand-body {
                display: flex;
                flex-direction: row;
                gap: 24px;
                padding: 0;

                .detail {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;

                  .detail-type {
                    color: $dark-grey-400;
                    font-size: 14px;
                    line-height: 22px;
                  }

                  .detail-type-data {
                    color: $dark-grey-500;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
          }

          .benefit-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            border-radius: 20px;
            justify-content: space-between;

            .card-unchecked {
              display: flex;
              gap: 8px;
              padding: 16px;
              border-radius: 16px;
              border: 1px solid $light-grey-100;
              background: $white;
              width: 48.5%;

              .frequently-purchased {
                display: flex;
                height: 32px;
                padding: 8px 16px;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 0 16px;
                background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;

                .frequently-purchased-text {
                  color: $white;
                  font-size: 12px;
                  line-height: 18px;
                }
              }

              .body-card {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .title-card {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  margin: 0;

                  .img-card {
                  }

                  .card-title-header {
                    color: $dark-grey-500;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }

                .body-content {
                  color: $dark-grey-400;
                  font-size: 14px;
                  line-height: 22px;
                }
              }

              .horizontal-line {
                color: $light-grey-200;
                height: 1px;
                margin: 0;
              }

              .card-foot {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                  color: $Primary1---Blue-primary1---blue-700;
                  font-size: 16px;
                  line-height: 24px;
                }

                .link-btn {
                  border: 1px solid;
                  text-decoration: none;
                  background-color: $white;
                  color: $Primary1---Blue-primary1---blue-800;
                }

                .icon-btn {
                  width: 66px;
                  height: 44px;
                  border: 1px solid;
                }
              }
            }

            .card-checked {
              display: flex;
              gap: 8px;
              padding: 16px;
              border-radius: 16px;
              border: 2px solid $Primary1---Blue-primary1---blue-50;
              background: $Primary2---Light-Blue-primary2---light-blue-50;
              width: 48.5%;

              .frequently-purchased {
                display: flex;
                height: 32px;
                padding: 8px 16px;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 0 16px;
                background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;

                .frequently-purchased-text {
                  color: $white;
                  font-size: 12px;
                  line-height: 18px;
                }
              }

              .body-card {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .title-card {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  margin: 0;

                  .img-card {
                  }

                  .card-title-header {
                    color: $dark-grey-500;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }

                .body-content {
                  color: $dark-grey-400;
                  font-size: 14px;
                  line-height: 22px;
                }
              }

              .horizontal-line {
                color: $light-grey-200;
                height: 1px;
                margin: 0;
              }

              .card-foot {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                  color: $Primary1---Blue-primary1---blue-700;
                  font-size: 16px;
                  line-height: 24px;
                }

                .link-btn {
                  border: 1px solid;
                }

                .icon-btn {
                  width: 90px;
                  height: 44px;
                  color: $red-utility;
                  border: 1px solid $red-utility;
                }
              }
            }
          }
        }
      }
    }

    .consent-footer {
      display: flex;
      gap: 24px;
      flex-direction: column;

      .consent {
        display: flex;
        flex-direction: row;
        gap: 12px;

        a {
          text-decoration: none;
          color: blue;
        }

        a:hover {
          text-decoration: underline;
          color: $Primary1---Blue-primary1---blue-600;
        }
      }
    }
  }

  .right-card-container {
    position: sticky;
    top: 100px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 34%;
  }
}

.main-footer {
  display: flex;
  height: 76px;
  padding: 0px 512px 0px 72px;

  justify-content: space-between;
  align-items: center;
  background: $Primary1---Blue-primary1---blue-900;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $white;
  text-align: center;

  .footer-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    .back-btn {
      background: $Primary1---Blue-primary1---blue-900 !important;
      text-decoration: none;
      color: $white;
      display: flex;
      border: 2px solid $white;
    }

    .back-btn:hover {
      border: 2px solid $white;
    }

    .payment-btn {
      color: $white;
      font-size: 16px;
      line-height: 24px;
      border-radius: 40px;
      background: $Primary2---Light-Blue-primary2---light-blue-600 !important;
      text-decoration: none;
    }
  }
}
 
}