@use "../../../styles/_colors" as *;
@use "../../../styles/_utils.scss" as utils;
@use "../../../../../app-shell/src/styles/media-queries" as *;

.layout_container {
  @include utils.sectionPadding(96px, 148px);
    display: flex;
    justify-content: center;


  .featured-job-wrapper {
    max-width: 60%;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: column;
  }

  background: $ice-blue url(../../../assets/Loyalty/branding-images.svg)
    no-repeat;
  background-position: bottom left;
  background-size: auto;
      display: flex;
    justify-content: center;

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include utils.font-setting($primary-blue-500, 32px, 48px);
    margin-bottom: 20px;
    font-weight: bold;
  }

  .subContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    @include utils.font-setting($darkestGrey, 18px, 28px);
  }

  .jobcontainer {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid $light-grey-utility;
    background: $white;
    box-shadow: 0px 4px 20px 0px $boxShadowColor;
  }

  .rowView {
    flex-direction: row;
    padding: 24px 24px 24px 24px;
    gap: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid $light-grey-utility;
  }

  .rowView:last-child {
    border-bottom: none;
  }

  .viewContainer {
    flex-direction: column;

    .title-text {
      color: $dark-Grey-500;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }

    .subtitle-text {
      color: $darkestGrey;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .subtitle-text2 {
      color: $darkestGrey;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      background: url(../../../assets/FuturedJob/Rectangle.svg) no-repeat left;
      background-position: start;
      background-size: auto;
      padding: 0px 0px 0px 10px;
    }
    .featured-jobs-card-rectangle {
      height: 6px;
      position: relative;
      width: 6px;
    }
  }

  .applyButton {
    display: flex;
    padding: 8px 16px;
    width: 100px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    background: $primary-blue-500;

    .buttom-text {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  .locarionView {
    flex-direction: row;
  }
}

@include media(xl) {
  .layout_container {
    @include utils.sectionPadding(64px, 148px);
    .featured-job-wrapper.container {
      padding-top: 0 !important;
    }
  }
}

@include media(md) {
  .layout_container {
    @include utils.sectionPadding(48px, 148px);

    .featured-job-wrapper{max-width: 74%}

    .titleContainer {
      @include utils.fontStyle(24px, 36px);
    }

    .subContainer {
      @include utils.fontStyle(16px, 24px);
    }

    .rowView {
      flex-direction: column;
      align-items: baseline;
    }
  }
}

@include media(sm) {
  .layout_container {

    .featured-job-wrapper{max-width: 84%}
  }
}