@use '../../styles/color.scss' as *;
@use'../../styles/fonts.scss' as *;

@mixin fontStyle ($size, $color) {
    font-size: $size;
    line-height: $size * 1.5;
    color: $color;
}

.surplus-section {

    display: flex;
    padding: 72px 0px 121px 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .surplus-col {
        padding-right: 24px;


        .surplus-content {
            h2 {
                @include fontStyle(24px, $primaryBlue);
                padding-bottom: 8px;
                line-height: 24px;
                @extend .walaa-medium-500;
            }

            p {
                @include fontStyle(16px, $darkestGrey);
                line-height: 24px;
                @extend .walaa-regular-400;
            }
        }
    }

    .surplus-accordian {
        padding-top: 32px;
        margin-top: -72px;
    }
}

@media (max-width: 768px) {
    .surplus-section {
        display: flex;
        padding: 72px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .surplus-col {

            .surplus-content {
                padding-bottom: 24px;
            }
        }

        .surplus-accordian {
            padding-top: 0px;
            padding-bottom: 32px;
            margin-top: 0px;
       }
    }
}
[dir="rtl"]{
    .surplus-accordian {
        padding-top: 32px;
        margin-top: -92px;
    }
}