@use '../../../styles/fonts' as *;
@use '../../../styles/colors' as *;


.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .containertravelquote .rmdp-input {
    width: 100%;
  }

  .validation-msg{
    font-size: 12px;
    @extend .walaa-regular-400;
}

.info-modal-main {
    
        .info-modal-head{
            padding: 16px 24px 16px 0;
            .add-modal-title {
                color:$dark-grey-500;
                font-size:24px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px; 
            }
        }
        
        .info-modal-body {
            padding: 0 32px 16px 32px;
            align-self: stretch;
            h1 {
                color: $dark-grey-500;
                font-size: 24px;
                line-height: 36px;
                @extend .walaa-medium-500;
            }
            p {
                align-self: stretch;
                color: $dark-grey-500;
                font-size: 16px;
                line-height: 24px;
                @extend .walaa-regular-400;
            }
        }
       
        .add-modal-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0px;
            flex: none;
            .add-modal-info {
                padding: 16px 0px;
                color: $dark-grey-500;
                font-size: 16px;
                line-height: 24px;
                @extend .walaa-medium-500;
            }
            .add-traveler-popup {
                display: flex;
                align-items: center;
                gap: 32px;
                align-self: stretch;
                .age-input-warp {
                    display: flex;
                }
                .age-input-label {
                    color: $dark-grey-500;
                    font-size: 16px;
                    line-height: 18px;
                    @extend .walaa-regular-400;
                    span {
                        font-size: 12px;
                    }
                }
                .counter-component .minusbtn,
                .counter-component .plusbtn {
                    padding-top: 2px;
                    background-color: $primary-blue-500;
                }
                .counter-component .minusbtn:disabled,
                .counter-component .plusbtn:disabled {
                    cursor: none;
                    color: $white;
                    background: $Utility---Dark-Grey-dark-grey-200;
                }
            }
        }
        .modal-footer {
            border-top: unset;
    }
    .add-cancel-btn {
        background: $white;
        color: $Primary1---Blue-primary1---blue-800;
        font-size: 14px;
        line-height: 22px;
        @extend .walaa-medium-500;
    }
}

@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
  }
 
 
        .details-title{
            color: $dark-grey-500;
            font-size: 16px;
            line-height: 24px;
            @extend .walaa-regular-400;
        }
        .acc-body {
            background-color: $Primary2---Light-Blue-primary2---light-blue-50;
            .container {
                display: flex;
                padding: 0 16px;
                flex-direction: row;
                align-items: flex-start;
                gap: 1.5rem;
                margin: 0px;
                .form-seprator {
                    padding-top: 8px;
                    border-bottom: 1px solid $light-grey-400-utility;
                }
                
            }
            
            .form-info {
                cursor: pointer;
                font-size: 20px;
                color: $Primary1---Blue-primary1---blue-600;
            }
            .form-block-1 {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .namecol { padding-bottom: 24px;}
                .calendar-switch {
                    .rmdp-container {
                        padding: 12px 16px;
                        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
                        .date-picker-input {
                            display: flex;
                            input { width: 100%;}
                           
                        }
                    }
                }
                .form-element {
                    .form-element-label{
                        display:flex;
                        color: $dark-grey-500;
                        font-size: 16px;
                        line-height: 24px;
                        padding-bottom: 8px;
                        @extend .walaa-regular-400;
                    }
                    .form-element-field{
                        display: flex;
                        padding: 12px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;
                        border: 1px solid $Utility---Dark-Grey-dark-grey-200
                    }
                }
                .value-show {  @include fontStyle(16px, 24px, $dark-grey-500);
                    @extend .walaa-medium-500 !optional;}
                .calendar-icon {
                    font-size: 20px;
                    color: $primary-blue-400;
                    position: relative;
                    //transform: translateY(-80%);
                    //left: 100%;  
                }
            }
            .form-block-2 {
                display: flex;
                flex-direction: row;
           
                .form-select-lg { 
                    padding: 12px 16px;
                    @include fontStyle(16px,
                    24px, 
                    $dark-grey-500);  
                    border: 1px solid #989898;
                } 
                .seprator {
                    border-left: 1px solid $light-blue-00;
                }
                .form-block-2-elements {
                    align-items: flex-start;
                    align-content: flex-start;
                    gap: 24px;
                    align-self: stretch;
                    .form-element-field{
                        display: flex;
                        padding: 12px 16px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;
                        border: 1px solid $Utility---Dark-Grey-dark-grey-200
                    }
                    .form-block-2-element-label{
                        color: $darkest-grey;
                        font-size: 14px;
                        line-height: 22px;
                        @extend .walaa-regular-400;
                    }
                    .form-block-2-element-value{
                        color: $dark-grey-500;
                        font-size: 16px;
                        line-height: 24px;
                        @extend .walaa-medium-500;
                    }
                }
            }
            .form-block-3 {
                display: flex;
                flex-direction: row;
                padding-top: 16px;
                .form-block-3-title {
                    align-self: stretch;
                    padding-bottom: 16px;
                    color: $darkest-grey;
                    font-size: 18px;
                    line-height: 28px;
                    @extend .walaa-medium-500;
                }
                .form-block-3-col {
                    display: flex;
                    align-items: flex-start;
                    gap: 8px;
                    .form-block-3-values {
                       display: flex;
                        .checkbox-container {
                            .form-block-3-checked{
                                font-size: 24px;
                                color: $blue;
                            }
                            .form-block-3-not-checked {
                                font-size: 24px;
                                color: $Utility---Dark-Grey-dark-grey-200;
                            }
                        }
                        .chk-label {
                            color: $dark-grey-500;
                            font-size: 16px;
                            line-height: 24px;
                            @extend .walaa-medium-500;
                            .chk-label-sub {
                                color: $dark-grey;
                                font-size: 12px;
                                line-height: 18px;
                                @extend .walaa-regular-400;
                            }
                        }
                    }
                }
                
            }
        }
        .coverage-travelinfo {
            border-radius: 20px;
            background-color: $Primary2---Light-Blue-primary2---light-blue-100;
            padding: 12px 0px;
            border: 0px; 
            .acc-head {
                width: 90%;
                display: flex;
                padding: 16px 24px 16px 24px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px; 
                @include fontStyle(18px,
                28px, 
                $dark-grey-500); 
              

            .green-line { border-left: 5px solid green; width: 5px; padding-right: 16px; }
            .acc-head-strip-sub {
                color: $dark-grey-500;  
                font-size: 12px; 
                line-height: 18px; }
                
            .text-incomplete {
                display: flex;
                height: 10%;
                width: auto;
                padding: 4px 8px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 6px;
                background: $Secondary4-tulip-light;
                color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
                font-size: 12px;
                line-height: 18px;
                @extend .walaa-medium-500;
                .acc-warning-icon {
                    font-size: 18px;
                    color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
                }
                .acc-warning-icon-blue {
                    font-size: 18px;
                    color: $blue;
                }
            } 

        }
        }
        // sub-accordion css
        .sub-accordion {
            display: flex;
            width: 95%;
            padding: 12px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            border-radius: 0px 0px 20px 20px;
            border: 1px solid $light-grey-300;
            background:  $Utility---Light-Grey-utility---light-grey-50;
            margin: 0 30px 24px 18px;
        }
         
        .sub-accor-open {
            display: block;
        }
        .sub-accor-close {
            display: none;
        }
        .benfit-block {
            display: flex;
            gap: 8px;
            align-self: stretch;
            flex-direction: column;
            padding: 12px 16px;
            border-radius: 0px 0px 20px 20px;
            // border: 1px solid $light-grey-300;
            background: $Utility---Light-Grey-utility---light-grey-50;

            .benfit-block-title {
                color: $darkest-grey;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                @extend .walaa-medium-500;
            }
            .benfit-content {
                display: flex;
                flex-direction: row;
                .benfit-one {
                    display: flex;
                    padding: 16px;
                    align-items: flex-start;
                    gap: 16px;
                    flex: 1 0 0;
                    border-radius: 16px;
                    border: 1px solid $light-grey-100;
                    background: $white;;
                    .left-icon {
                        color: $blue;
                        display: flex;
                        width: 40px;
                        height: 40px;
                        padding: 4px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 80px;
                        background: $light-blue-00;
                    }
                    .benfit-data{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: max-content;
                        .benfit-title{
                            display: flex;
                            color: $dark-grey-500;
                            font-size: 16px;
                            line-height: 24px;
                            cursor: pointer;
                            @extend .walaa-medium-500;
                        }
                        .benfit-sub-title {
                            color: $Primary1---Blue-primary1---blue-700;
                            font-size: 14px;
                            line-height: 22px;
                            @extend .walaa-regular-400;
                        }
                    }
                    .benfit-data-right {
                        width: 50%;
                    }
                    .benfit-right{
                        .benfit-button {
                            cursor: pointer;
                            display: flex;
                            padding: 8px 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 48px;
                            border: 1px solid $Primary1---Blue-primary1---blue-800;;
                            background: $white;;
                            .benfit-button-text {
                                color: $Primary1---Blue-primary1---blue-800;;
                                font-size: 14px;
                                line-height: 22px;
                                @extend .walaa-medium-500;
                            }
                        }
                        .benfit-remove-btn {
                            cursor: pointer;
                            display: flex;
                            padding: 8px 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            border-radius: 48px;
                            border: 1px solid $red-utility;
                            background: $white;
                            .benfit-button-text {
                                color: $red-utility;
                                font-size: 14px;
                                line-height: 22px;
                                @extend .walaa-medium-500;
                            }
                        }
                    }
                }
                .benfit-one-select {
                    border: 2px solid $blue;
                    background: $light-blue-50;
                }
                .benfit-content-space {
                    padding-right: 16px;
                }
            } 
        }
     
 .traveler-section-popup {
    .acc-body .form-block-2 {
        .col-md-3{ width: 50%; flex:none;}
        .seprator { display: none;}
        .form-block-2-elements .form-block-2-element-label { font-size: 16px; padding-bottom: 7px;}
    }
    .acc-head-validation-error { border-left:4px solid green}
    .traveler-content {
        .acc-head { background-color:$light-blue-00; width: 100%; }
    }
    .coverage-travelinfo{
        padding: 0px;
        background-color:unset;
        border:unset;
    }
    .acc-body .form-block-1 { 
        display: flex; 
        .col:first-child { width: 100%; flex:none; padding-bottom: 10px;}
        .col:nth-child(2) { width: 50%; flex:none;}
        .col:nth-child(3) { width: 50%; flex:none;}
    }
    .sub-accordion { width: 100%; margin: 0px;}
    
 }
 .EditTraveler{
    .modal-dialog{
        .modal-content{
            width: 700px !important;            
        }
    }

}
.has-error{
    .modal-dialog{
        .modal-content{
             
            height: 845px !important;
        }
        
    }

}
