@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;

.insurance-container {
  background-color: $primaryBlue-800;
  .heading-text {
    color: $themeWhite;
    text-align: left;
    padding-bottom: 24px;
  }

  h3 {
    color: $themeWhite;
    text-align: left;
    font-size: 32px;
    @extend .walaa-medium-500;
    line-height: 48px;
    margin-bottom: 8px;
  }

  p {
    color: $themeWhite;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    @extend .walaa-regular-400;
  }

  li {
    list-style-type: disc;
    margin-left: 20px;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .desc-text {
    color: $themeWhite;
    text-align: left;
    padding-bottom: 48px;
  }
  .empty-column {
    outline: none;
    border: none;
  }

  .header-row {
    color: $themeWhite;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
  }

  .inner-layout {
    display: flex;
    padding: 96px 72px;
    align-items: flex-start;
    align-self: stretch;
  }

  .content-title {
    color: $themeWhite;
    /* Desktop/H4 */
    font-size: 32px;
    line-height: 48px; /* 150% */
    @extend .walaa-medium-500;
  }

  .outer-div {
    background-color: $primaryBlue-800;
    padding: 96px 30px 96px 30px;
  }

  .how-section1 {
    padding: 96px 0px 96px 0px;
  }
  .how-section1 h4 {
    color: $themeWhite;
    /* Desktop/H4 */
    font-size: 32px;
    line-height: 48px; /* 150% */
    @extend .walaa-medium-500;
  }

  .how-section1 .row {
    .video-align {
      border-radius: 16px;
    }
  }
  .how-img {
    padding-top: 78px;
    text-align: left;
  }

  .text-content {
    color: $themeWhite;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    @extend .walaa-regular-400;
  }
  .text-points {
    color: $themeWhite;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 8px;
    display: inline-flex;
    @extend .walaa-regular-400;
  }
  .icon {
    color: $blue-tick;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-right: 8px;
    align-self: stretch;
  }

  .rounded-img {
    border-radius: 24px;
  }
}


@media (max-width: 786px) {

  

.insurance-container {

  .how-section1{padding: 48px 0px;
  
    .row {

      .video-align {
        height: 337px;
    }
    }
    
  }
}
}

[dir="rtl"] {
  .insurance-container {
    li {
      text-align: right;
    }
  }
}