@use "./../../../../styles/colors" as *;
@use "./../../../../styles/fonts" as *;

.enhance-experience-container {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 20px;
  background: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;

  .enhance-header {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;

    .header-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 72px;
      flex: 1 0 0;

      .header-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        .header-title {
          color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;
          font-size: 20px;
          line-height: 30px;
        }

        .header-description {
          color: $dark-grey-500;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .enhance-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    .image-container {
      display: flex;
      width: 346px;
      padding: 0px 33px;
      justify-content: center;
      align-items: center;
    }

    .download-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      .download-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .download-title {
          color: $dark-grey-400;
          font-size: 16px;
          line-height: 24px;
        }
        .app-store-links {
          display: flex;
          flex-direction: row;
          gap: 12px;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-start;
          margin-top: 12px;
          .app-store-item {
            width: 110px;
            height: 40px;
            overflow: hidden;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
