@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;

.flex-container {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  border-radius: 20px;
}

.modal-custom {
  gap: 32px;
  width: 600px !important;
  height: auto;
  border-radius: 20px;
  background: $themeWhite;
  box-shadow: 0 4px 20px $dark-black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .comprehensive-content {
    border: none;
  }
}

.modal-custom .modal-header {
  background-color: $themeWhite;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  padding: 16px 32px;
}

.modal-custom .modal-title {
  @extend .walaa-regular-400;
  flex: 1;
  font-size: 18px;
  color: $darkGrey; /* Modify to match the header color */
}

.modal-custom .modal-close-icon {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal-custom .modal-body {
  background-color: $themeWhite;
  border: none;
  border-radius: 20px;
  padding: 0px 32px;
  color: $darkestGrey;
  font-size: 14px;
  line-height: 22px;
}

.footer-section {
  position: relative;
  // margin-top: 24px;
  // padding-bottom: 16px;
  &:not(:last-of-type)::after {
    content: "";
    display: block;
    height: 1px;
    background-color: $light-grey-200-utility;
    margin-top: 8px;
  }
}

.info-icon {
  cursor: pointer;
  margin-left: 10px;
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust backdrop color */
}

[dir="rtl"] {
  .info-icon {
    margin-right: 10px;
  }
}
