@use '../../styles/_colors.scss' as *;
@use '../../styles/utils' as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.faq-wrapper {


    .search-box {
        .content-container {

            .content-container-padding {
                position: inherit;
            }
        }
    }

    .row {
        padding: 50px 0 100px 0;

        .topic-title {
            @include utils.font-setting($dark-Grey-500, 20px, 30px);
            padding-bottom: 24px;
        }

        .result-title {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            .faq-title-icon {
                width: 57px;
                height: 57px;
                padding: 7px;
                background-color: $aliceBlue;
                border-radius: 100%
            }

            span {
              @include utils.font-setting($Admiral-Blue, 20px, 30px);
            }
        }

        .accordian-wrapper {
            margin-top: 10px;
        }
    }
}


// @media only screen and (max-width: 1200px)
@include media(xl) {
    .faq-wrapper {
      .row {
        padding: 48px 64px 120px 64px !important;
      }
    } 
  }

  @include media(md) {
    .faq-wrapper {
      .row {
        padding: 48px 16px 120px 16px !important;
        .topic-title{
          line-height: 96px;
        }
      }
    } 
  }