#root {
  font-family: "Walaa Arabic Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// from delivery GITHUB code
@import "./styles/colors";
@import "./styles/fonts";

@import "./styles/registration/globals.scss";
@import "./styles/registration/registerclaim.scss";
@import "./styles/registration/registermodaldialog";
@import "./styles/registration/compensatetype";
@import "./styles/registration/registercontact";
@import "./styles/registration/registerclaiminfo";
@import "./styles/claims/claimsDetails";
@import "./styles/registration/uploaddoc";
@import "./styles/registration/uploadfiles";
@import "./styles/registration/referencetooltip";
@import "./styles/claims/Endorsements/additionalvehicle";
@import "./styles/registration/stepsprogress";
@import "./styles/motor/endorsement/vehicleinformation";
@import "./styles/motor/endorsement/customcardvehseq";
@import "./styles/motor/claims/comprehensive/registerclaimcomprehensive";

//components
@import "./components/Feedback/Feedback";
@import "./styles/registration/components/themepopover";
@import "./styles/registration/components/themeradiocheckbox";
@import "./styles/registration/components/themetextbox";
@import "./styles/registration/components/themebutton";
@import "./styles/registration/components/themetextarea";
@import "./styles/registration/components/themeDatePicker";
@import "./components/ThemeButton/ThemeButton";
