.register-new-claim-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: $--small-sized $font-size-title;
        .modal-title {
          font-size: 20px;
          line-height: 30px; /* 150% */
        }
      }
      .modal-body {
        padding: $font-size-title;
        max-height: 24rem;
        overflow: auto;
        .registration-det-body {
          div {
            &:nth-child(1) {
              margin-bottom: calc($--small-sized - 8px);
            }
            &:nth-child(2) {
              margin-bottom: calc($--small-sized + 8px);
            }
          }
          .registration-det-body-sub-title {
            font-size: 18px;
            line-height: 28px; /* 155.556% */
          }
          .registration-det-body-sub-body {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .modal-footer {
        padding: calc($--small-sized - 8px) $font-size-title;

        .register-call2action {
          border-radius: 48px;
          font-size: 16px;
          line-height: 24px; /* 150% */
          background: $--Primary1---Blue-primary1---blue-800;
          &.disabled {
            background: $--Utility---Dark-Grey-dark-grey-50;
            border-color: $--Utility---Dark-Grey-dark-grey-50;
          }
        }
      }
    }
  }
}
