.register-contact {
  .register-row-spacing-top {
    margin-top: calc($--small-sized - 8px);
  }
  .register-row-spacing-bottom {
    margin-bottom: calc($--small-sized - 8px);
  }
  .register-contact-card {
    padding: $--small-sized;
    border-radius: 16px;
    background: $--Utility---Light-Grey-utility---light-grey-50;
    box-shadow: $box-shadow;

    .register-contact-title {
      color: $dark-grey-500;
      /* Desktop/H5 */
      font-size: 20px;
      line-height: 30px; /* 150% */
    }

    .register-contact-estimate {
      .register-contact-estimate-title {
        color: $dark-grey-500;
        font-size: 16px;
        line-height: 24px; /* 150% */
      }
    }
  }
}
