@use '../../../../styles/colors' as *;
@use '../../../../styles/fonts' as *;
@use '../../../../styles/utils' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.titleLabel {
    color: $Primary1---Blue-primary1---blue-500;

    @include font(20px, 500, 30px);
}

.descriptionLabel {
    color: $dark-grey-400;

    @include font(14px, 400, 22px);
}