@use '../../styles/color.scss' as *;
@use '../../styles/_fonts' as *;
@use '../../styles/utils' as utils;
//TODO: Alias for media queries to be added in the global file
@use '../../../../app-shell/src/styles/media-queries' as *;

.news-article-wrapper {
    padding: 96px 0px 96px 0px;

    .article-row {
        gap: 25px;

        .article-content-col {
            max-width: 810px;

            .article-banner-image {
                width: 810px;
                height: 400px;
                border-radius: 30px;
                object-fit: cover;
            }

            .article-content-wrapper {
                padding-top: 40px;

                .article-publish-detail {
                    @include utils.font-setting($light-grey-800-utility, 14px, 22px);
                }

                .article-title {
                    @include utils.font-setting($primaryBlue, 32px, 48px);
                    @extend .walaa-medium-500;
                    padding: 8px 0px;
                }

                .article-short-description {
                    @include utils.font-setting($darkestGrey, 18px, 28px);
                }

                //page specific style for shared highlighter widget
                .highlighter-widget-wrapper {
                    border-radius: 20px;
                    margin: 32px 0px;

                    .wrapper-0 {
                        width: 39%;
                    }

                    .wrapper-1 {
                        width: 60%;
                    }
                }

                .article-meeting-attachment {
                    gap: 32px;
                    padding-bottom: 32px;

                    h3 {
                        margin-bottom: 12px;
                    }

                    //Custom dynamic style for meeting attachment
                    .attachment-content {
                        background-color: $lightBlue;
                        @include utils.font-setting($primaryBlue, 16px, 24px);
                        @extend .walaa-medium-500;
                        padding: 16px;
                        border-radius: 8px;
                        gap: 8px;
                        align-items: center;

                        .svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .article-dynamic-contact {
                    gap: 48px;
                    padding-top: 8px;

                    a {
                        gap: 8px;
                        align-items: center;

                        svg {
                            width: 20px;
                            height: 20px;
                        }

                        span {
                            @include utils.font-setting($primaryBlue, 16px, 24px);
                        }
                    }
                }

                .article-attachment-wrapper {
                    padding-top: 32px;

                    .download-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        width: fit-content;
                        
                    }

                }

            }
        }

        .related-news-col {
            width: 416px !important;
            padding: 0px;

            .related-link-title {
                @include utils.font-setting($dark-Grey-500, 20px, 30px);
                @extend .walaa-medium-500;
            }

            .shared-related-links {
                padding-top: 24px;

                ul {
                    width: auto !important;

                    li {
                        .links-content-wrapper{
                            width: 100%;
                            a {
                                @include utils.font-setting($primaryBlue, 16px, 24px);
                                text-decoration: none;
                            }
                        }
                        
                    }
                }
            }

            .read-more-action {
                align-items: center;
                gap: 2px;
                float: right;
                padding-top: 24px;
                cursor: pointer;
                @include utils.font-setting($primnary-blue-600, 18px, 28px);

                svg {
                    width: 28px;
                    height: 28px;
                }

            }
        }
    }

    //common style for news article content
    h4,
    h3 {
        @include utils.font-setting($dark-Grey-500, 20px, 30px);
        padding-bottom: 8px;
        @extend .walaa-medium-500;
    }

    p {
        @include utils.font-setting($dark-Grey-500, 16px, 24px);
        padding-bottom: 32px;
    }
}

@include media(md) {
    .article-meeting-attachment {
        flex-direction: column;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .news-article-wrapper {
        .article-row {
            .article-content-col {
                .article-banner-image {
                    max-width: 95vw;
                    max-height: 400px;
                }

                .article-dynamic-contact {
                    flex-wrap: wrap;
                }

                .download-wrapper {
                    flex-direction: column !important;
                    width: 100% !important;

                    .attachment-wrapper svg {
                      margin-left: auto;
                    }
                }
            }

            .related-news-col {
                padding: 0px 12px;
            }
        }
    }
}


[dir="rtl"] {
    .news-article-wrapper .read-more-action svg {
        transform: rotate(180deg);
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
    }
    //Elements Added for RTL start
    .read-more-action{
        float: left !important;
    }
   
    .news-article-wrapper{
        .article-row{
            .article-content-col{
                max-width: 710px;
                .article-banner-image{
                    width: 650px;
                    height: 325px;
                }
            }
        }
    }
    //Elements Added for RTL end
}