@use "../../../styles/_colors.scss" as *;
@use "../../../../../app-shell/src/styles/media-queries" as *;
@use '../../../styles/utils' as utils;

.frame-objective {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background-color: $primary-blue-500 !important;
  background-image:
    url(../../../assets/Academy/Vector-left.svg),
    url(../../../assets/Academy/Vector-right.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;


  &.container-fluid {
    @include utils.sectionPadding(100px, 109px, '!important');
  }

  .frame-obj-wrapper {
    max-width: 1440px;
    width: 100%;
  }

  .components-card {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 48px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-bottom: 24px;

    .WalaaObjective-title {
      font-family: "Walaa Arabic Medium", sans-serif;
      @include utils.font-setting($white, 32px, 48px);
      font-weight: 500;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
  }

  .objective-carousel {


    gap: 8px;
    position: relative;

    .react-multi-carousel-list {
      padding-bottom: 48px;

    }

    .custom-dot-list-style {
      .react-multi-carousel-dot{
        button{border-radius: 12px;}
      }
      .react-multi-carousel-dot.react-multi-carousel-dot--active {
        button{border-radius: 12px;}
      }
    }



    .news-carousel-button-group {
      top: -62px;
      padding-top: 0;
      right: 20px;

      .container-fluid {
        padding: 0 !important;

        .btn btn-primary {
          background: transparent !important;
        }



        .carousel-button-previous,
        .carousel-button-next {
          background: transparent !important;
          border-color: $ice-blue!important;
          border-width:1px!important;
          svg {
            color: $Sky-Blue !important;
          }
        }

        .carousel-button-previous.disable,
        .carousel-button-next.disable {
          background: transparent !important;
          border-color: $light-grey-100!important;
          svg {
            color: $light-grey-100!important;
          }
        }
      }

    }


    .cards-icon-cards {
      align-items: center;
      align-self: stretch;
      background-color: $white;
      border: 1px solid;
      border-color: $light-grey-300-utility;
      border-radius: 16px;
      box-shadow: 0px 0px 4px $shadow-box-blue-10;
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 100%;
      margin-right: 12px;// Add margin to create space between cards
      margin-left:12px;

      overflow: hidden;
      padding: 32px;
      position: relative;
      flex: 1;

      .icon {
        align-items: center;
        background-color: $ice-blue;
        border-radius: 100px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        padding: 16px;
        position: relative;
      }

      .WalaaObjective-content {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: 100%;

        .contact-us {
          align-self: stretch;
          color: $deep-navy;
          margin-top: -1px;
          position: relative;
          text-align: center;
        }
      }
    }

    .WalaaObjective-buttons-action {
      align-items: center;
      border: 1px solid;
      border-color: $ice-blue;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &.disable {
        border-color: $light-grey-100;

        .icons-material-icons {
          color: $light-grey-100
        }
      }



      &:hover {
        background-color: transparent;
      }
    }

    .icons-material-icons {

      &.disable {
        color: $light-grey-100;
      }

      height: 22px !important;
      position: relative !important;
      width: 22px !important;
      color: $Sky-Blue;
    }

    .icons-material-icons-wrapper {
      align-items: center;
      border: 1px solid;
      border-color: $ice-blue;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .WalaaObjective-cards {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    .cards-icon-cards {
      align-items: center;
      align-self: stretch;
      background-color: $white;
      border: 1px solid;
      border-color: $light-grey-300-utility;
      border-radius: 16px;
      box-shadow: 0px 0px 4px $shadow-box-blue-10;
      display: flex;
      flex-direction: column;
      gap: 24px;

      overflow: hidden;
      padding: 32px;
      position: relative;
      flex: 1;

      .icon {
        align-items: center;
        background-color: $ice-blue;
        border-radius: 100px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        padding: 16px;
        position: relative;
      }

      .WalaaObjective-content {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: 100%;

        .contact-us {
          align-self: stretch;
          color: $deep-navy;
          margin-top: -1px;
          position: relative;
          text-align: center;
        }
      }
    }
  }

  .support {
    height: 48px !important;
    position: relative !important;
    width: 48px !important;
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
    z-index: 10;

    .carousel-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $light-grey-100;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background-color: $red-utility;
        width: 20px;
        height: 12px;
        border-radius: 4px;
      }

      &:hover {
        background-color: $ice-blue;
      }
    }
  }
}

@include media(xl) {
  .frame-objective {
    width: 100%;
    flex: 0 0 auto;

   &.container-fluid {
    @include utils.sectionPadding(126px, 96px, '!important');
    }


    .frame-obj-wrapper {
      max-width: 100%;
    }



    .WalaaObjective-cards {
      flex-wrap: nowrap;
      justify-content: flex-start;

      .cards-icon-cards {
        flex: 0 0 48%;
        width: 48%;
      }

      overflow-x: auto;
    }
  }
}

@include media(md) {
  .vision-support-screen {
    padding: 48px 43px;

    .vision-frame {
      .vision-cards {
        flex-direction: column;
      }
    }
  }

  .frame-objective {
    flex: 0 0 auto;
    width: 100%;
    background-size: 50%;

    &.container-fluid {
      @include utils.sectionPadding(96px, 72px, '!important');
    }

    .carousel-dots {
      bottom: 17%;
    }

    .components-card {
      .WalaaObjective-title {
        @include utils.fontStyle(24px, 36px);
      }
    }

    .WalaaObjective-cards {
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: auto;

      .cards-icon-cards {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        display: flex;
      }

    }
  }
}

@include media(sm) {
  .Acadamy_section {
    .mid-container {
      .training-sections {
        flex-direction: column;
        padding: 48px 16px 128px 16px;
        .training-heading {
          padding-left: 0;
        }
      }
    }
  }

  .frame-objective{
    &.container-fluid {
      @include utils.sectionPadding(100px, 87px, '!important');
      background-position: top right -210px, bottom left -210px;
      background-size: 100%;

      .custom-dot-list-style{bottom:10px}


      .carousel-dots {
        bottom: 13%
      }
    }
  }
}