@use "./../../../styles/colors" as walaaColor;
@use "./../../../styles/fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.content-benefits-container-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid walaaColor.$light-grey-300;
  background: walaaColor.$white;

  .horizontal-line {
    margin: 0px;
  }

  .header-wrapper {
    padding: 24px 0px 15px 0;
  }

  .header {
    display: flex;
    padding: 0px 24px 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-left: 4px solid walaaColor.$red-utility;
    color: walaaColor.$dark-grey-500;
    font-size: 16px;
    line-height: 24px;
  }

  /* Reusable classes */

  .content-description {
    padding: 15px 25px 5px 30px;
  }

  .content-benefits-wrapper {
    display: flex;
    padding: 0px 25px 0 15px;

    .butn-delete-wrapper {
      padding: 5px !important;
    }

    .benefits-column {
      width:45%;
      padding: 2px 0 0 15px;
      .bene-head {
        padding: 10px 0;
        @include fontStyle(16px, 24px, walaaColor.$black);
      }

      .pt-2 {
        padding: 0px !important;
      }
    }
  }

  .content-benefits-container-btn {
    button {
      margin: 20px 30px 20px 30px ;

      @include fontStyle(14px,
      22px,
      walaaColor.$Primary1---Blue-primary1---blue-800 );
    @extend .walaa-medium-500;

    &:disabled {
      border: 1px solid walaaColor.$light-grey-400-utility;
      @include fontStyle(14px,
      22px,
      walaaColor.$light-grey-400-utility );
    }
    }
 }
}