@use "../../../../../styles/_colors.scss" as *;
@use "../../../../../styles/_fonts.scss" as walaaFont;

.right-card-register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: inherit;
    padding: 24px;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid $light-blue-200;
    background: $light-blue-50;

    .header {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
      align-self: stretch;
      border-radius: 8px;
    }

    .iban-textbox{
      width: 48%;
    }
    .iban-detail {
      color: $darkest-grey;
      font-size: 12px;
      margin-top: 16px;
    }
    .iban-textbox {
      .register-input {
        svg.valid-iban {
          width: 18px !important;
          height: 18px !important;
        }
        svg.invalid-iban {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }
  }

.parent-card {
  width:100%;
  .iban-validation-container {
     width:100%;
  }
}
.invalid-iban {
  color: $red-utility;
  size: 24px;
}
.valid-iban {
  color: $Secondary2---Asparagus-secondary2---asparagus-500;
  size: 24px;
}
.validationErrorText{
  font-weight: bold;
  color: $red-utility;
  font-size: 14px;
  line-height: 0px;
}
span.red-required {
  color: $input-error;
}
