@use '../../styles/color.scss' as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle ($size, $color) {
    font-size: $size;
    line-height: $size * 1.5;
    color: $color;
}

.Acadamy_section {
    background: $themeWhite;
    display: flex;
    padding: 72px 0px 0 0px;
    flex-direction: column;
    align-items: flex-start; 
    align-self: stretch;

    .mid-container {
        width: 100% !important;
        align-items: center;
        text-align: left;
        position: relative;

        // Acadamy Content starts
        .two-column-section {
            display: flex;
            padding: 0px 0px 72px 0px;
            .heading-section {
                display: flex; 
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                flex-shrink: 0; 
                h2 {
                    @include fontStyle(32px, $primaryBlue);
                    margin: 0px;
                    font-family: 'Walaa Arabic Medium';
                    font-weight: 500;
                    font-style: normal; 
                } 
                p {
                    @include fontStyle(18px, $darkestGrey); 
                    margin: 0px; 
                    font-family: 'Walaa Arabic Regular';
                    font-weight: 400;
                    font-style: normal;
                    width: 90%;
                }
            }

            .story-about {  
                align-items: flex-start;
                justify-content: flex-start;  

                h3 { 
                    padding-bottom: 24px;
                    margin: 0px;
                    color: $dark-Grey-500; 
                    font-size: 20px; 
                }

                ul {
                    list-style-type: none;
                    display: flex; 
                    width: 100%;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px; 
                    border-radius: 16px;
                    border: 1px solid $primaryBlue-100;
                    background: $lightBlue;

                    li { width: 100%;
                        font-size: 18px;
                        padding: 0 0 24px 0;
                        border-bottom: 1px dotted $primnary-blue-100;
                            .story-date{
                                @include fontStyle(12px, $darkGrey); 
                              }
                            .story-link-para { 
                                padding: 5px 0;
                               a {@include fontStyle(16px, $primaryBlue); } 
                            }
                            .story-reads {
                                @include fontStyle(12px, $darkGrey);
                            }

                        a {
                            color: $themeWhite;
                            text-decoration: none; 
                          
                        }

                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
        // Acadamy Content ends


        // Acadamy training starts
        .training-section {
            display: flex;
          
            .training-heading {
                display: flex; 
                flex-direction: column;
                align-items: flex-start;
                padding: 0 0 0 28px;
                margin: 0px;
                gap: 24px;
                flex-shrink: 0;
                h2 {
                    @include fontStyle(32px, $primaryBlue);
                    margin: 0px;
                    font-family: 'Walaa Arabic Medium';
                    font-weight: 500;
                    font-style: normal;
                } 
                p {
                    @include fontStyle(18px, $darkestGrey); 
                    margin: 0px; 
                    font-family: 'Walaa Arabic Regular';
                    font-weight: 400;
                    font-style: normal;
                }
            }

            .training-about { 
                padding: 0 ;
                margin: 0px;
                align-items: flex-start;
                justify-content: flex-start; 
                text-align: right;
                
                img.photo-corner { border-radius: 16px; max-width: 100%; height: auto;}

                h3 { 
                    padding-bottom: 24px;
                    margin: 0px;
                   
                    @include fontStyle(20px, $dark-Grey-500);
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    width: 416px;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px; 
                    border-radius: 16px;
                    border: 1px solid $primaryBlue-100;
                    background: $lightBlue;

                    li { width: 100%; 
                        padding: 0 0 24px 0;
                        border-bottom: 1px dotted $primnary-blue-100;
                            .story-date{
                                @include fontStyle(12px, $darkGrey); 
                              }
                            .story-link-para { 
                                @include fontStyle(16px, $primaryBlue); 
                            }
                            .story-reads {
                                @include fontStyle(12px, $darkGrey);
                            }

                        a {
                            color: $themeWhite;
                            text-decoration: none; 
                          
                        }

                        &:last-child {
                            border-bottom: none;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
        // Acadamy training ends 
    }


          


}

// @media (max-width: 786px) {
@include media(md) {
    .mid-container .training-section {
        .training-about 
        {
            text-align: center; margin-bottom: 24px;
            img.photo-corner { width: 95%; }

        }
        .training-heading { text-align: center;}
    } 
} 

// @media (max-width: 443px) {
@include media(sm) { 

    .Acadamy_section {
        padding: 45px 0px 0 0px;
        .mid-container{
            &.container-fluid{
                padding: 0 16px!important;
            }
            .two-column-section{ 
                flex-direction: column;
                padding: 0px 0px 48px 0px;
                
                .story-about {
                    ul li .story-link-para{ padding: 8px 0;}
                    h3{padding-bottom: 30px;}
                }
                .heading-section {
                    padding-bottom: 60px;
                    gap:16px;
                    
                    p{
                        width: 100%;
                        
                    }

                }
                
               
            }

            .vision-container {
                margin: 0 -16px;
                padding:0 4px;
                .acadamy-vision{
                    width: unset;
                    flex-direction: column;
                    .vision-text{text-align: left;
                    
                       h3{ 
                        @include fontStyle(32px, $primaryBlue);
                        margin: 0px;
                        font-family: 'Walaa Arabic Medium';
                        font-weight: 500;
                        font-style: normal;
                    }

                    }
                    .vision-icon{
                        justify-content: flex-start;
                    }
                }
            }

            .training-section{
                flex-direction: column;
                margin:0;
                padding-top: 48px;
                width: 100%;
                .training-heading{padding: 28px 0 0 0;text-align: left;
                    gap: 14px;
                 }
                .training-about img.photo-corner{width: 100%;}
            }
            
            }
            .vision-container {
               
           
                .acadamy-vision{
                    padding: 24px 16px;
                    flex-direction: column;
                   
                    .vision-icon{
                       justify-content: flex-start;
                    }
                   
                    .vision-text{
                        justify-content: flex-start;
                        text-align: left;
                    }
 
                }
            }  
    }

    .Acadamy_section + .indi-ent-section{ 
        bottom: 0;
        background: $themeWhite;
        padding:72px 16px 66px 16px;
    
    .highlighter-content{width: 100%;
        .action-button{padding:10px 36px;
}


}
    }
    .Acadamy_section + .indi-ent-section .highlighter-content .action-button{padding: 10px 32px;}
}

@include media(xl) {
    .indi-ent-section {
        padding: 48px 72px 192px 72px;
    }
}