@use '../../styles/_colors.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.esg-commitment-wrapper {
    background-color: $themeWhite;
    background-image: url(../../assets/product/Product-Bg-header.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;

    .container-fluid{
      @include utils.sectionPadding(96px,96px,'!important');
    }

    .content-wrapper {

        .esg-commitment-heading {
            @include utils.font-setting($primary-blue-500, 32px, 48px);
            max-width: 600px;
        }

        .content-wrapper-row {

            .esg-commitment-description {
                @include utils.font-setting($darkestGrey, 18px, 28px);

            }

            .esg-commitment-image {
                @include utils.image-property(100%, 480px, cover, 5%);
                margin-top: -92px;
            }
        }
    }
}

@include media(xl) {
    .esg-commitment-wrapper {

      .container-fluid{
      @include utils.sectionPadding(48px,64px,'!important');
    }
      .content-wrapper {
        .esg-commitment-heading {
          margin-left: -7px;
          max-width: 500px;
        }
        .esg-commitment-image {
          margin-top: -148px !important;
        }
      }
    }
  }

@include media(lg) {
    .esg-commitment-wrapper {

        .content-wrapper{
            .esg-commitment-image{
            margin-top: 0px !important;
            }
        }


        .content-wrapper-row {
            flex-direction: column-reverse;
            gap: 24px;

            .col-lg-6,
            .col-lg-6 {
                width: 100%;
            }

            .esg-commitment-image {
                height: 325px;
                border-radius: 25px;
            }
        }
    }

    .esg-wrapper{
        .esg-world-row{
            gap: 24px;
        }
    }
}

@include media(md) {
    .esg-commitment-wrapper {
      .container-fluid{
          @include utils.sectionPadding(48px,48px,'!important');
        }
      .content-wrapper {
        .esg-commitment-heading {
          margin-left: 0px;
          max-width: 100%;
          @include utils.fontStyle(24px, 36px);
        }
        .esg-commitment-image {
          margin-top: 0px !important;
        }

        .content-wrapper-row {
          .esg-commitment-description{
              @include utils.fontStyle(16px, 24px);
          }
        }

      }
    }
  }