@use "../../styles/_colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.order-summary-premium-breakup {
  display: flex;
  width: 100%;
  padding-top: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 20px;
  border: 1px solid walaaColor.$light-grey-300;
  background: walaaColor.$white;

  .bold-data {
    font-weight: bold;
  }

  .order-header {
    display: flex;
    padding: 0px 18px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-left: 4px solid walaaColor.$red-utility;

    .order-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;

      color: walaaColor.$Primary1---Blue-primary1---blue-800;
      text-align: left;
      font-size: 20px;
      line-height: 30px;
    }
    .scheme-code-applied {
      display: flex;
      padding: 4px;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: walaaColor.$Secondary2---Asparagus-secondary2---asparagus-500;
      p {
        color: walaaColor.$white;
        font-size: 12px;
        line-height: 18px;
      }
      .cursor-pointer {
        cursor: pointer;
      }
    }
    .order-sub-title {
      display: flex;
      color: walaaColor.$dark-grey;
      font-size: 13px !important;
      line-height: 22px;
      @extend .walaa-regular-400;
      align-items: center;
      gap: 4px;

      .apply-promo-container {
        display: flex;
        align-items: center;
        
        .form-check-input {
          width: 44px;
          height: 24px;
        }
        div.mx-0.form-check.form-check-inline.form-switch {
          @extend .apply-promo-container;
        }
      }
    }
  }

  .horizontal-line {
    width: 100%;
    margin: 0;
  }

  .header-border {
    border-bottom: 1px solid walaaColor.$dark-grey-900;
  }

  .order-body {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: walaaColor.$Primary1---Blue-primary1---blue-50;
    font-size: 18px;
    line-height: 28px;

    .additional {
      padding-bottom: 23px;
      padding-top: 13px;
      @include fontStyle(14px,10px, walaaColor.$dark-grey-500);
      @extend .walaa-medium-500;
    }

    .order-body-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      color: walaaColor.$black;

      .order-body-package-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: walaaColor.$dark-grey-500;
        line-height: 10px;
      }

      .order-body-package-content.content-title {
        padding-bottom: 5px;
        div:first-child {
          color: walaaColor.$Primary1---Blue-primary1---blue-50 !important;
          @include fontStyle(16px, 30px, walaaColor.$dark-grey-500);
          @extend .walaa-medium-500;
        }
      }

      .order-body-package-content.content-subtotal {
        @include fontStyle(16px, 10px, walaaColor.$dark-grey-500);
        @extend .walaa-medium-500;
      }

      .order-body-package-content.content-light {
        @include fontStyle(14px, 18px, walaaColor.$dark-grey-500);
        @extend .walaa-regular-400;

        div:first-child {
          @include fontStyle(14px, 18px, walaaColor.$darkest-grey);
        }
        
        .title {
          padding-bottom: 15px
        }
        .subtitle {
          width: 100%;
        }
      }

    }
  }


  .horizontal-travel-line {
    width: 100%;
    margin: 0;
  }
    .order-travel-body-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      color: walaaColor.$black;

      .order-travel-body-package-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: walaaColor.$dark-grey-500;
        font-size: 16px;
        line-height: 24px;
      }
      .order-travel-body-package-content-light {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: walaaColor.$darkest-grey;
        font-size: 14px;
        line-height: 22px;

       
      }

      .travel-person{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: walaaColor.$Secondary2---Asparagus-secondary2---asparagus-50;
        width:100%;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: walaaColor.$darkest-grey;
        font-size: 14px;
        line-height: 22px;
        padding: 5px 10px; 
        
        .travel-person-header {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 5px;
        }
        
        .travel-person-name {
          flex: 1; text-transform: capitalize !important;
        }
        
        .travel-person-fee {
          flex: 1;
          text-align: right;
        }
        .poli-detail-container-left { 
          padding: 0px 0px 5px 0;  
          display: flex;
          flex-direction: row;  
          gap: 20px; 
          width: auto; 

          max-width: max-content;
          .tra-info-btn {
            display: flex;
            padding: 3px 5px 3px 5px; 
            width: auto;
            text-align: center; 
            text-wrap: nowrap;
            border-radius: 8px;
            border: 1px solid walaaColor.$light-grey-100;
            background: walaaColor.$btn-bg-color;
            color: walaaColor.$dark-grey;
            font-size: 12px;
            line-height: 24px;
        }
      }

      }
    }
  
  .order-summary-footer {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: url('../../assets/CommonSVG/order-summary-bg.svg') no-repeat walaaColor.$Primary1---Blue-primary1---blue-50 !important;
    border-radius: 0 0 20px 20px;

    .left {
      color: walaaColor.$Primary1---Blue-primary1---blue-100;
      font-size: 16px;
      line-height: 24px;
    }

    .right {
      color: walaaColor.$white;
      font-size: 18px;
      line-height: 28px;
    }
  }
}



