@use '../../../styles/color.scss' as *;


@mixin fontStyle ($size, $color) {
    font-size: $size;
    line-height: $size * 1.5;
    color: $color;
}


// acadamy vision style starts 
.vision-container {
    justify-content: center;
    background: $aliceBlue; 
    margin: 0px 0px 72px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
        .acadamy-vision {
        padding: 48px 0 !important;
        width: unset;
        display: inline-flex;
        flex-direction: row; 
        
        .vision-icon {    
            display: flex;
            align-items: center;
            justify-content: center;
                }
        .vision-text { 
            display: flex; 
            flex-direction: column; 
            gap: 10px;
            h3 {
                color: $darkestGrey;
            }
            p {
                color: $darkestGrey;
            } 
        }

    }

    }
// acadamy vision style ends 
 
 

@media (max-width: 1250px) {
    
}


// Tablet Styles
@media (max-width: 1024px) {
    
}



// Mobile Styles
@media (max-width: 768px) {
    .vision-container { 
        padding: 0px 16px !important;
        margin: 0px;
            .acadamy-vision { 
                .vision-icon{
                    padding-top: 24px;
                }
            .vision-text { padding-bottom: 24px;text-align: center ; padding-top: 24px;}
    
        }
}
}