@use "../../styles/_colors" as *;

.promo-code-success {
  .modal-content {
    border-radius: 20px;
    height: 300px;
    background-image: url("../../assets/QuoteAndBuy/confettiSuccess.gif");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    background-color: $grey-color-bg;
  }
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promo-success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 72px;
      height: 72px;
    }
    p {
      color: $dark-grey-500;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
.promo-code-modal {
  .modal-content {
    // width: 572px;
    border-radius: 20px;
  }
  .border-none {
    border: none;
  }
  .modal-header {
    padding: 0;
    padding-right: 24px;
    border-bottom: 1px solid $Utility---Light-Grey-utility---light-grey-300;
  }
  .promo-code-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.promo-card-active {
  background: $Secondary2---Asparagus-secondary2---asparagus-50 !important;
  border: 1px solid $Secondary2---Asparagus-secondary2---asparagus-500 !important;
}
.option-promo-card {
  border-radius: 8px;
  border: 1px solid $light-grey-100-utility;
  background: $Utility---Light-Grey-utility---light-grey-50;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  .promo-code-form-content {
    width: 100%;
    .sub-heading {
      color: $dark-grey-500;
      font-size: 16px;
      line-height: 24px;
    }
    .form-control {
      width: 300px;
      border: 1px solid $Utility---Dark-Grey-dark-grey-200 !important;
      border-radius: 4px;
    }
    .disabled {
      color: $Utility---Dark-Grey-dark-grey-200;
    }
    .form-control:focus {
      border: 1px solid $Utility---Dark-Grey-dark-grey-200 !important;
      box-shadow: none
    }
  }
  .promo-code-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    .h-fit-content {
        height: fit-content;
    }
  }
  .main-heading {
    color: $dark-grey-500;
    font-size: 16px;
    line-height: 24px;
  }
  .main-heading-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    .main-content {
      color: $darkest-grey;
      font-size: 14px;
      line-height: 22px;
    }
    
  }
}
