@use "../../styles/_colors.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use "../../styles/utils" as utils;

.productCat-Esg {
  .content-over{
    height: 72px !important;
  }
  .support-career {
    bottom: 0 !important;
  }
  .productCat-career {
    background-color: $themeWhite;
    @include utils.sectionPadding(96px, 96px);
  }
  .productCat-sustain {
    .flipcard-img,
    .ReactFlipCard__flipCardBack {
      display: none;
    }
  }
  .productCat.productCat-Esg {
    padding-top: 69px;
    padding-bottom: 69px;
    position: relative;
    bottom: -70px;
    background-color: $ice-blue;
  }
  .product-item {
    position: relative;
    height: 410px;
    border-radius: 5%;
    overflow: hidden;
    margin: 0 24px 0 0;
    .face {
      height: 100%;
      width: 100%;
      .trasparent-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .content-over {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 16px;

        h3 {
          color: $themeWhite !important;
          font-size: 24px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
