@use "../../../../../../styles/colors" as *;

.autosuggest-card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $Secondary2---Asparagus-secondary2-asparagus-200;
  .autosuggest-icn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    background: $Secondary2---Asparagus-secondary2---asparagus-500;
  }
  .autosuggest-card-footer {
    background-color: $Secondary2---Asparagus-secondary2---asparagus-50;
  }
}

.comprehensive-content {
  width: 100%;
}
