.register-compensate {
  .register-row-spacing-top {
    margin-top: $--small-sized;
  }
  .register-row-spacing-bottom {
    margin-bottom: $--small-sized;
  }
  .register-compensate-card {
    padding: $--small-sized;
    border-radius: 16px;
    background: $--Utility---Light-Grey-utility---light-grey-50;
    box-shadow: $box-shadow;

    .register-compensate-title {
      color: $--Primary1---Blue-primary1---blue-600;

      /* Desktop/H5 */
      font-size: 24px;
      line-height: 36px; /* 150% */
    }

    .register-compensate-splitter {
      // width: 1px;
      color: $light-grey-100;
    }

    .register-compensate-estimate {
      .register-compensate-estimate-title {
        color: $darkest-grey;
        font-size: 16px;
        line-height: 24px; /* 150% */
      }
      .register-compensate-estimate-value {
        color: $dark-grey-500;
        font-size: 18px;
        line-height: 28px; /* 155.556% */
      }
    }

    .register-compensate-estimate-large-title {
      color: $dark-grey-500;
      /* Desktop/H6 */
      font-size: 20px;
      line-height: 30px; /* 150% */
    }

    .register-compensate-estimate-small-value {
      color: $dark-grey-500;
      font-size: 16px;
      line-height: 24px; /* 150% */
    }
  }

  .register-compensate-radio-border {
    border-radius: 8px;
    border: 2px solid $blue;
    background: $light-blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
  }
}

@media (max-width: 767px) {
  .border-color-cust {
    border: none !important;
  }
}

@media (min-width: 768px) {
  .border-color-cust {
    stroke-width: 1px;
    stroke: $light-grey-100;
    border-color: $blue !important;
  }
}

.register-row-spacing-cust-top {
  margin-top: 24px;
}
.register-row-spacing-cust-bottom {
  margin-bottom: 24px;
}

.register-row-division-spacing-cust-top {
  margin-top: 32px;
}
.register-row-division-spacing-cust-bottom {
  margin-bottom: 32px;
}
