.register-new-claim {
  padding: 113px 72px 96px 72px;

  @media (max-width: 1024px) {
    padding: 113px 64px 96px 64px;
  }

  @media (max-width: 932px) {
    padding: 113px 16px 96px 16px !important;
  }

  .card-body {
    padding: 0;
  }

  .container-fluid {
    width: 1296;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0 72px !important;

    @media (max-width: 1024px) {
      padding: 0 64px !important;
    }

    @media (max-width: 932px) {
      padding: 0 16px !important;
    }
  }
  .container-fluid-compre {
    padding: 0% !important;
  }
  .register-large-title {
    color: $dark-grey-500;
    /* Desktop/H6 */
    font-size: 20px;
    line-height: 30px;
    /* 150% */
  }

  .register-card {
    // width: 1076px;
    padding: calc($--vertical-spacing-40 - 16px) 0px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // gap: 24px;

    border-radius: 20px;
    border: 1px solid $--Utility---Light-Grey-utility---light-grey-300;
    background: $white;

    .register-card-header {
      background: inherit;
      border-radius: 0px;
      padding: 0;
      // display: flex;
      // flex-direction: column;
      // align-items: flex-start;
      // gap: 10px;
      // align-self: stretch;

      .title-colored {
        border-left: 4px solid $red-utility;
        padding: 0px 32px;

        .title {
          font-size: 24px;
        }
      }

      .register-row-spacing-bottom {
        margin-bottom: $--small-sized;
      }
    }

    .register-card-body {
      background: inherit;
      padding: 24px 32px 24px 32px;
    }

    // for comprehensive
    .register-compre-card-body {
      // background: inherit;
      // padding: 24px 32px 24px 32px;
      .compre-compensation {
        padding: 24px 32px 24px 32px;
      }
    }

    .register-card-footer {
      background: inherit;
      padding: 24px 32px 0px 32px;
    }
  }

  .register-icn {
    width: 48px;
    height: 48px;
  }

  .register-title {
    color: $--Primary1---Blue-primary1---blue-800;
    text-align: center;
    /* Desktop/H4 */
    font-size: $font-size-title;
    line-height: 48px;
    /* 150% */
  }

  .space-top-4 {
    padding-top: $--vertical-spacing-40;
  }

  .register-refer-main {
    display: flex;
    padding: 24px 32px;
    // flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .title {
      color: $dark-grey-500;
      /* Body/B2/Regular */
      font-size: 16px;
      line-height: 24px;
      /* 150% */
    }

    .small-icon {
      width: $--small-sized;
      height: $--small-sized;

      :hover {
        cursor: pointer;
      }
    }

    .register-call2action {
      border-radius: 48px;
      font-size: 16px;
      line-height: 24px;
      /* 150% */
      background: $--Primary1---Blue-primary1---blue-800;

      &.disabled {
        background: $--Utility---Dark-Grey-dark-grey-50;
        border-color: $--Utility---Dark-Grey-dark-grey-50;
      }
    }
  }
}

.theme-link {
  color: #000;
  text-decoration: none;
}

.claimNotify {
  display: flex;
  align-items: center;
  // gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border-left: 2px solid $--Utility---Error-Red-Error-Red;
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
  padding: 0 !important;

  div {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    margin-bottom: 0;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  p {
    color: $crimson-red;
    /* Body/B2/Regular */
    font-size: 16px;
    line-height: 24px;
    /* 150% */
  }
}
