.theme-steps-progress {
  // background-color: grey;
  .progress-steps-main {
  }
  .progress-num {
    // display: flex;
    padding: 4px;
    // flex-direction: column;
    // gap: 10px;

    border-radius: 80px;
    color: $white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    background: $red-utility;
  }
  .done {
    background: $blue;
  }
  .disabled {
    background: #ccc;
  }
  .progress-title {
    // text-align: center;
    // padding-left: 8px;

    /* Body/B2/Medium */
    // font-family: "Graphik Arabic";
    font-size: 16px;
    font-style: normal;
    // font-weight: 500;
    // line-height: 24px; /* 150% */

    color: $blue;

    /* Body/B3/Medium */
    // font-family: "Graphik Arabic";
    font-size: 14px;
    font-style: normal;
    line-height: 22px; /* 157.143% */
  }
  .progress-bar {
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background: var(--Utility---Light-Grey-utility---light-grey-500, #ccc);
  }
}
