// font letter sizing
$font-size-title: 32px;

// colors not covered in _colors
$--Primary1---Blue-primary1---blue-400: #467B97;
$--Primary1---Blue-primary1---blue-800: #0D3245;
$--Utility---Dark-Grey-dark-grey-200: #989898;
$--Utility---Dark-Grey-dark-grey-500: #202020;
$box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
$--Utility---Dark-Grey-dark-grey-50: #e9e9e9;
$--Primary2---Light-Blue-primary2---light-blue-200: #BAD8F3;
$--Primary1---Blue-primary1---blue-200: #95B3C3;
$--Utility---Light-Grey-utility---light-grey-50: #FAFAFA;
$--Primary1---Blue-primary1---blue-600: #165272;
$--Primary2---Light-Blue-primary2---light-blue-100: #D1E5F7;
$--Primary2---Light-Blue-primary2---light-blue-500:#6AAAE4;
$--Primary2---Light-Blue-primary2---light-blue-800: #3A5E7D;
$--Primary2---Light-Blue-primary2---light-blue-50: #F0F7FC;
$--Secondary2---Asparagus-secondary2---asparagus-700: #D4E1C7;
$--Secondary2---Asparagus-secondary2---asparagus-100: #526F35;
$--Secondary2---Asparagus-secondary2---asparagus-800: #3F5629;
$--Primary4---Crimson-Red-primary4---crimson-red-50: #FAE6EB;
$--Utility---Error-Red-Error-Red: #F20000;

$--Secondary2---Asparagus-secondary2---asparagus-200: #BFD2AC;
$--Secondary2---Asparagus-secondary2---asparagus-900: #30421F;

$--Secondary3---Tulip-Tree-secondary3---tulip-tree-50: #FCF6EA;
$--Secondary3---Tulip-Tree-secondary3---tulip-tree-100: #F5E2BF;
$--Secondary3---Tulip-Tree-secondary3---tulip-tree-700: #9F7322;
$--Secondary3---Tulip-Tree-secondary3---tulip-tree-800: #7B591A;

$--Utility---Light-Grey-utility---light-grey-200: #E8E8E8;
$--Utility---Light-Grey-utility---light-grey-300: #DDD;
$--Primary1---Blue-primary1---blue-900: #0A2635;

// Theme Colors
$theme-blue: #002873;
$theme-white: #fff;
$border-white: #c3c3cf;
$border-blue: #111147;
$boxShadowColor: #ECEDEE;
$theme-light-grey: #c9c1c1;
$theme-dark-grey: #6A6A6A;
$theme-background: #faf9f9;
$theme-black: #121517;

// Primary Blues
$primary-sky-blue: #609BCF;
$primary-blue: #185A7D;
$primary-blue-100: #B7CCD7;
$primary-blue-300: #6490A8;
$primary-blue-600: #165272;
$primary-blue-700: #114059;
$primary-blue-800: #0D3245;
$primary-blue-900: #0A2635;

// Other Blues
$dark-blue: #12394C;
$light-blue: #F0F7FC;
$alice-blue: #E8EFF2;
$penumbra-blue: #173666;
$scrollbar-blue: #D1DEE5;

// Greys
$light-grey-100: #BABABA;
$darkest-grey: #4D4D4D;
$dark-grey-500: #202020;
$dark-grey-200: #989898;
$light-grey-100-utility: #EFEFEF;
$light-grey-400-utility: #D6D6D6;
$primary-grey-50: #E9E9E9;

// Reds
$crimson-red: #D7395C;
$red-utility: #CD0833;
$red-utility2: #a51616;

// spacing
$--vertical-spacing-40: 40px;

// sizings
$--small-sized: 24px;
