// Common Colors

$themeBlue: #002873;
$primarySkyBlue: #609BCF;
$primaryBlue: #185A7D;
$darkBlue: #12394C;
$lightBlue: #F0F7FC;
$themeWhite: #fff;
$light-Grey-100: #BABABA;
$darkestGrey: #4D4D4D;
$dark-Grey-500: #202020;
$light-grey-100-utillity: #EFEFEF;
$light-grey-400-utility: #D6D6D6;
$aliceBlue: #E8EFF2;
$crimsonRed: #D7395C;
$red-utility: #CD0833;
$darkGrey: #6A6A6A;

$themeLightGrey: #c9c1c1;
$themeDarkGrey: #6A6A6A;
$themeBackground: #faf9f9;
$themeBlack: #121517;

// New-color - Please add below if you encounter new set of colors
$primaryBlue-800: #0D3245;
$primaryBlue-900: #0A2635;
$dark-grey-200: #989898;
$primary-blue-300: #6490A8;
$primnary-blue-600: #165272;
$primnary-blue-100:  #B7CCD7;
$primary-blue-700: #114059;
$primary-grey-50: #E9E9E9;
$penumbraBlue:#173666;
$scroll-bar-blue: #D1DEE5;
$light-grey-50-utility: #FAFAFA;
$light-grey-200-utility: #E8E8E8;
$light-grey-800-utility: #707070;
$primary-blue-200: #95B3C3;
$primary-blue-100: #D1E5F7;
$primary-blue-400: #467B97;
$shadow-box-blue-200: rgba(0, 0, 0, 0.1);

//branding guidlines
$aqua-blue:#5BC6F1;
$deepOceanBlue: #02487B;