@use "./colors";

.Toastify {
  .Toastify__toast-container {
    .Toastify__toast {
      border-radius: 8px;
      box-shadow: 0px 4px 10px 0px colors.$shadow-box-blue-10;
      .Toastify__toast-body {
        font-size: 16px;
        font-weight: 400;
      }
      button.Toastify__close-button {
        position: absolute;
        top: 27%;
        right: 4%;
        color: colors.$dark-grey-500;
      }
    }
    .Toastify__toast--success {
      background: colors.$asparagus-700;
      border-left: 2px solid colors.$asparagus-100;
      color: colors.$asparagus-800;
    }
    // error
    .Toastify__toast--error {
      background: colors.$crimson-red-50;
      border-left: 2px solid colors.$red-error;
      color: colors.$red-error;
    }
    // warning
    .Toastify__toast--warning {
      background: colors.$tulip-tree-100;
      border-left: 2px solid colors.$tulip-tree-700;
      color: colors.$tulip-tree-800;
    }
    // information
    .Toastify__toast--info {
      background: colors.$light-blue-100;
      border-left: 2px solid colors.$light-blue-500;
      color: colors.$light-blue-800;
    }
  }
}
