@use "../../styles/color.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.privacy_section {
  background: $themeWhite;
  display: flex;
  padding: 96px 0px 96px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;

  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;

    .heading-section {
      .para-content {
        h3 {
          @include fontStyle(24px, $primaryBlue);
          padding-bottom: 10px;
          line-height: 24px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
        }
        p {
          @include fontStyle(18px, $darkestGrey);
          padding-bottom: 30px;
          padding-top: 5px;
          width: 94%;
        }
      }
    }

    .about-privacy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;

      h3 {
        color: $dark-Grey-500;
        font-size: 24px;
        padding-bottom: 24px;
        margin: 0px;
      }

      ul {
        list-style-type: none;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        background: $lightBlue;
        border-radius: 16px;
        padding: 32px 24px;
        gap: 18px;

        li {
          .east-icon-color {
            color: $east-icon-color;
          }

          a {
            color: $primnary-blue-600;
            text-decoration: none;
            @include fontStyle(16px, $primnary-blue-600);
            .arrowForwardwhite {
              background: url(../../assets/vision/arrow-right.png) left top
                no-repeat;
              color: $themeWhite;
              width: 22px;
              display: inline-flex;
              height: 22px;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@include media(md) {
  .privacy_section {
    padding: 140px 0px 96px 0px;
  }
}

[dir="rtl"] {
  .heading-section {
    .para-content {
      h3,
      p {
        text-align: right;
      }
    }
  }

  .about-privacy {
    ul {
      text-align: right;
    }
  }
}
