@use '../../styles/color.scss' as *;


@mixin fontStyle ($size, $color) {
    font-size: $size;
    line-height: $size * 1.5;
    color: $color;
}
 
.know-more-color {
    color: $primnary-blue-600 !important;
    text-decoration: underline;
}
.know-more-space {
    padding: 0 0 16px 0 !important;
}
.story-about { 
  
    align-items: flex-start;
    justify-content: flex-start;  
    h3 { 
        padding-bottom: 24px;
        margin: 0px;
        color: $dark-Grey-500; 
        font-size: 20px; 
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 416px;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px; 
        border-radius: 16px;
        border: 1px solid $primaryBlue-100;
        background: $lightBlue;

        li { width: 100%;
            font-size: 18px;
            padding: 0 0 16px 0;
            border-bottom: 1px dotted $primnary-blue-100;
                .story-date{
                    @include fontStyle(12px, $darkGrey); 
                    }
                .story-link-para { 
                    @include fontStyle(16px, $primaryBlue); 
                }
                .story-reads {
                    @include fontStyle(12px, $darkGrey);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
                    svg{
                        width: 12px;
                        height: 12px;
                    }
                }

            a {
                color: $themeWhite;
                text-decoration: none; 
                
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0px;
            }
        }
    }

    //when individual card is true e.g., for News article page
    .individual-link-cards{
        ul{
            padding: 0px;
            background-color: $themeWhite;
            border: none;
            li{
                padding: 0px;
                cursor: pointer;
                border-bottom: none;
                img{
                    width: 126px;
                    height:100%;
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                    image-rendering: -webkit-optimize-contrast;
                    image-rendering: crisp-edges;
                    object-fit: cover; /* Ensure the image covers the container */
                }
                .links-content-wrapper{
                    background-color: $light-grey-50-utility;
                    padding: 16px;
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }
            }
        }
    }
}
 