@use'../../styles/_colors.scss' as *;
@use'../../styles/fonts.scss' as *;

.card-outer {
    background: $ice-blue;
    border: none;
    border-radius: 16px;
    .card-space {
        padding: 24px;
    }
    h4 {
        align-self: stretch;
        color: $primary-blue-500;
        font-size: 24px;
        line-height: 36px;
        @extend .walaa-medium-500;
    }
    p {
        padding: 16px 0 16px 0;
        color: $primary-blue-500;
        font-size: 16px;
        line-height: 24px;
        @extend .walaa-regular-400;
    }
    .btn-bg {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 48px;
        border: 1px solid $primaryBlue-800;
        background: $themeWhite;
    }
    .btn-bg:hover {
        border: 2px solid $primaryBlue-800;
    }
    .btn-bg:active:focus {
        box-shadow: none;
        color: $primaryBlue-800;
        background-color: $themeWhite; 
        border-color: $primaryBlue-800;
    }
    .btn-text {
        color: $primaryBlue-800;
        font-size: 14px;
        line-height: 22px;
        @extend .walaa-medium-500;
    }
}