@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;

.container {
    display: flex;
    padding: 0.25rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.125rem;

    &:hover {
        cursor: pointer;
        border-radius: 3.125rem;
        background: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-200;
    }
}