@use "../../styles/color.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.bod-container-wrapper {
    background-color: $themeWhite;

    .ornament-left {
        position: absolute;
        top: 376px;
        left: 0px;
        background: url(../../assets/chairman/ornament-top.png) no-repeat;
        width: 345px;
        height: 345px;
        transform-origin: bottom right;
        clip-path: polygon(20% 100%, 0 80%, 0 0, 100% 0, 81% 0%) !important;
    }

    .ornament-right {
        position: absolute;
        top: 304px;
        right: 0px;
        width: 349px;
        height: 279px;
        background-image: url(../../assets/chairman/ornament-top.png);
        transform-origin: top right;
        clip-path: polygon(0 0, 100% 0, 100% 107%, 0 -15%) !important;
    }
    .row-chairman {
        flex-direction: row;
        display: flex;
        padding-top: 150px;
        align-items: center;
        justify-content: center;
        
        .item-center {
            text-align: center;
            z-index: 1; 
        }
        .padding-right {
            padding-right: 0px;
        }
        .custom-text {
            text-align: start;
            z-index: 1;

            .title-text {
                color: $primaryBlue;
                font-size: 28px;
                line-height: 42px;
            }
            .title-designation {
                color: $dark-Grey-500;
                font-size: 18px;
                line-height: 28px;
            }
            .text-content {
                color: $darkestGrey;
                font-size: 18px;
                line-height: 28px;
                padding-top: 24px;
            }
        }

        .chairman-image {
            width: 310px;
            height: auto;
            max-width: 100%;
        }
    }
}

@media  (max-width: 768px) {
    .bod-container-wrapper {
        background-color: $themeWhite;
        margin-bottom: 0;
        .row-chairman {
            display: flex !important;
            flex-direction: column !important;
            padding: 108px 0px 48px 0px !important;
            .item-center{ position: relative;
                padding: 0;
                max-width: 310px;}
            .custom-text{
                position: relative;
                padding-top: 24px;
            }
        }
        .ornament-right {
            position: absolute;
            top: 287px;
            right: 0px;
            width: 284px;
            height: 209px;            
            transform-origin: top right;
            clip-path: none !important;
        }
        .ornament-left {
            
            top: 587px;
           
           
            width: 219px;
            background-position: 0px -31px;
            height: 305px;
           
            clip-path: polygon(0 0, 39% 0, 39% 49%, 100% 48%, 100% 100%, 0 100%) !important;
        }
        .custom-text {
            text-align: center !important;
        }
    }
}

@include media(min1540) {
    .board-of-managemnet-main{ 
      .row-chairman {
        width: 1440px;  
        margin: 0 auto;
        display: flex;
        height: auto;
        flex-direction: row;
      } 
    } 
  }
