@use "./../../../styles/_colors" as *;

.policy-receipt-policy-cancellation-new-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 16px;
  background: $light-grey-100-utility url(../../../assets/CancelPolicy/Union.svg) right top no-repeat;
  border: none;

  .header {
    display: flex;
    padding: 24px 24px 0px 24px;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px 16px 0 0;

    background: $light-grey-100-utility;

    .logo {
      display: flex;

      height: 70px;
      width: 70px;
      padding: 8px;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 200px;
      background: $Utility---White-white-500;
      margin-left: auto;

      .car-logo {
        height: 60px;
        width: 60px;
      }
    }

    .policy-number-container {
      width: 50%;
    }

    .policy-number-heading {
      color: $darkest-grey;
      font-size: 18px;
      line-height: 28px;
    }

    .policy-number {
      color: $dark-grey-500;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .body-content {
    display: flex;
    padding: var(--Auto-Number, 0px) 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .top-table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      .box {
        display: flex;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        border-radius: 8px;

        .box-content {
          display: flex;
          align-items: center;
          gap: 56px;

          .package-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .package-heading {
              color: $Utility---Dark-Grey-dark-grey-400;
              font-size: 18px;
              line-height: 28px;
            }

            .package-value {
              color: $dark-grey-500;
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
      }
    }

    .bottom-links {
      display: flex;
      align-items: center;
      gap: 24px;
      align-self: stretch;
      justify-content: flex-start;

      .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .links-content {
          color: $Primary1---Blue-primary1---blue-600;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }
  }

  .footer-note-container {
    width: 100%;
    padding: 0 24px;

    .footer-note {
      display: flex;
      padding: 16px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;
      border-radius: 8px;
      background: $Utility---Light-Grey-utility---light-grey-50;
      align-self: stretch;

      .note {
        color: $dark-grey-500;
        font-size: 16px;
        line-height: 24px;
      }

      .note-content {
        color: $dark-grey-400;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .bottom-links-new {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    justify-content: flex-start;
    color: $white;
    padding: 16px 24px;
    border-radius: 0px 0px 16px 16px;
    border-bottom: 3px solid
      $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
    background-color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    .link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .links-content {
        color: $white;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
      }

      .download-icon-wrapper {
        cursor: pointer;
        padding: 4px;

        img {
          padding: 3px 12px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .policy-type {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    background: $Utility---Dark-Grey-dark-grey-200;

    .type {
      color: $white;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.policy-receipt-note-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: none;
  box-shadow: none;

  .footer-note-section {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 8px;
    background: $tulip-tree-100;
    align-self: stretch;

    .note-section {
      color: $tulip-tree-900;
      font-size: 16px;
      line-height: 24px;
    }

    .note-section-content {
      color: $darkest-grey;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
