@use "../../../../../styles/colors" as *;

.claim-vehicleinfo {
  @mixin default-title {
    font-size: 16px;
    font-weight: 400;
    color: $dark-grey;
  }

  @mixin default-value {
    font-size: 16px;
    font-weight: 400;
    color: $dark-black-100;
  }
  border-radius: 16px;
  border: 1px solid $Utility---Light-Grey-utility---light-grey-200;
  padding: 24px;
  background-image: url('../../../../../assets/TrackYourClaim/trackClaim.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .vehicle-name-wrap{
    padding-bottom: 16px;
    margin-bottom:16px
  }
  .logo-container {
    margin-left:auto;
    background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
    width: 60px;
    height: 60px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 200px; 
    img {
      display: flex;
      width: 44px;
      height: 44px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      aspect-ratio: 1/1;
    }
  }

  .vehicle-title,.vehicle-infor-title{
    @include default-title;
  }

  .vehicle-content,.vehicle-infor-content{
    @include default-value;
  }

}


