@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;
@use "../../styles/utils" as utils;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.rootContainers {
  width: 100%;
  flex-shrink: 0;
  align-self: stretch;

  .imgStyle {
    img {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  .viewContainers {
    display: flex;
    width: 100%;
    height: 241px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: linear-gradient(180deg, walaaColor.$light-greyish-orange 0%, walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50 65.98%);
    backdrop-filter: blur(14.399999618530273px);
    margin-top: -100px;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;

    .boosty-text {
      color: walaaColor.$dark-black-100;
      font-size: 24px;
      padding-left: 10px;
    }

    .add-domestic {
      color: walaaColor.$dark-grey-400;
      font-size: 16px;
      line-height: 24px;
      padding-left: 10px;
    }

    .buttonClick1 {
      width: 65%;
      border: none;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 48px;
      background: walaaColor.$btn-gray-color-600;

      .buttonClick {
        width: 100%;
        padding: 10px;
        color: walaaColor.$white;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .buttonWidth {
      width: 70%;
    }
  }
}
