@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;
@use "../../styles/utils" as utils;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

/* Reusable classes */
.no-radius {
  border-radius: 0px;
}
.shadow {
  box-shadow: 0 0 0 0.1rem
    rgba(walaaColor.$Primary1---Blue-primary1---blue-50, 0.25);
}

.form-control::placeholder {
  color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
}

.quote-card {
  .container-fluid {
    padding: 0px !important;

    .right-side-bg-column {
      position: relative;
      background: url('../../assets/CommonSVG/quote-review-bg.svg') no-repeat 10px 0px;
    }
  }

  display: flex;
  margin: 0 24px;
  margin-top: 16px;
  flex-wrap: wrap;
  background-color: walaaColor.$light-blue-50;
  border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
  border-radius: 16px;

  .quote-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 16px 0px 0px 16px;
    }
  }

  .quote-content {
    padding: 24px 24px 24px 16px;

    .quote-head-content {
      display: flex;

      .content {
        .quote-head {
          @include fontStyle(
            20px,
            30px,
            walaaColor.$Primary1---Blue-primary1---blue-700
          );
          @extend .walaa-medium-500 !optional;
        }
        .quote-lable {
          @include fontStyle(14px, 22px, walaaColor.$dark-grey-500);
          @extend .walaa-medium-500 !optional;
        }
      }

      .btn-container {
        margin-left: auto;
        .edit-btn {
          padding: 8px 16px;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
          background: walaaColor.$white;

          @include fontStyle(
            14px,
            22px,
            walaaColor.$Primary1---Blue-primary1---blue-800
          );
          @extend .walaa-medium-500 !optional;
        }
      }
    }

    .quote-list {
      padding-top: 16px;

      li {
        @include fontStyle(14px, 22px, walaaColor.$dark-grey-500);

        @extend .walaa-regular-400 !optional;

        padding-bottom: 8px;
        display: flex;
        svg {
          height: 15px;
          margin-top: 4px;
          color: walaaColor.$Secondary2---Asparagus-secondary2---asparagus-500;
        }
        div {
          color: walaaColor.$darkest-grey;
          @include utils.display-ellipse(2);
        }
      }
    }
    .pop-link {
      @include fontStyle(
        14px,
        22px,
        walaaColor.$Primary1---Blue-primary1---blue-600
      );

      @extend .walaa-regular-400 !optional;
      cursor: pointer;
    }
  }
}

.package-modal{

.quote-list {
  padding-top: 0px;
  padding-bottom: 16px;

  li {
    @include fontStyle(14px, 22px, walaaColor.$dark-grey-500);

    @extend .walaa-regular-400 !optional;

    padding-bottom: 8px;

    svg {
      height: 15px;
      color: walaaColor.$Secondary2---Asparagus-secondary2---asparagus-500;
    }
  }
}
}