@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;
@use '../../../../../styles/utils' as *;


.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    cursor: pointer;
    .productText {
      color: #ffffff;
    }
  }

  &.selected {
    .productText {
      color: #ffffff;
    }

  }

  &.disabled {
    cursor: not-allowed;

    .productText {
      color: $light-grey-100;
    }

    .iconBox {
      opacity: 0.5;
    }
  }
}

.productText {
  color: $Utility---Light-Grey-utility---light-grey-500;
  text-align: center;

  @include font(
    1rem,
    400,
    1.5rem
  );
}

  .productDisableText {
    color:  $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-200;
    text-align: center;
  
    @include font(
      1rem,
      400,
      1.5rem
    );
 }

.iconBox {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.625rem;
}

.iconBoxDisabled {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
  background: $Primary1---Blue-primary1---blue-500;
}

.noCursor {
  cursor: not-allowed;
}