@use "../../../styles/color.scss" as *;
@use '../../../styles/fonts' as walaaFont;

// Mixins
@mixin flex-setting ($justifyPos: center, $alignPos: center) {
    display: flex;
    justify-content: $justifyPos;
    align-items: $alignPos;
}

.payment-success-page {
  background-color: #f7f7f7;
  height: 1087px;
  position: relative;
  width: 1440px;

  .componentpopupStatusSection {
    background: #f7f7f7;

    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    height: 162px !important;
  }


  .footer-desktop-instance {
    background-color: unset !important;
    border-color: $primary-grey-50 !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    left: 0 !important;
    position: absolute !important;
    top: 1024px !important;
  }

  .design-component-instance-node {
    color: $primary-blue-600 !important;
  }
  
  .footer-desktop-2 {
    background-color: $primary-grey-50 !important;
  }
  
  .outerContainer {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    left: 0;
    padding: 0px 72px;
    position: absolute;
    top: 72px;
  }
  
  .frame-wrapper {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .container {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 1296px;
  }
  
  .leftContainer {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    position: relative;
  }
  
  .leftTopSection {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .claims-policy {
    align-items: flex-start;
    background-color: var(--primary2-light-blueprimary2-light-blue-50);
    border: 1px solid;
    border-color: var(--primary2-light-blueprimary2-light-blue-200);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px 60px;
    position: relative;
    width: 635px;
  }
  
  .line-2 {
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
    width: 100%;
  }
  
  .div-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }

  .form-elements-view {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }
  
  .label-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    position: relative;
  }
  
  .label-3 {
    @extend .walaa-regular-400;
    color: var(--utility-dark-greydark-grey-400);
    font-size: 14px;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .read-only-field-text {
    color: $dark-grey-500;
    @extend .walaa-medium-500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .line-3 {
    align-self: stretch;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .subContainer {
    align-items: flex-start;
    background-color: $primary-blue-800;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    margin-top: -36px;
    padding: 24px;
    position: relative;
    width: 635px;
  }
  
  .motor-info {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .product {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .mask-group {
    height: 48px;
    position: relative;
    width: 48px;
  }
  
  .label-4 {
    color: #B7CCD7;
    @extend .walaa-regular-400;
    font-size: 14px;
    line-height: 22px; /* 157.143% */
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .read-only-field-text-2 {
    color: #FFF;
    @extend .walaa-medium-500;
    font-size: 16px;
    line-height: 24px; /* 150% */
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .noteSection {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    padding: 16px;
    position: relative;
    width: 100%;
    background: $primary-blue-700;// #114059);
  }
  
  .text-wrapper-7 {
    border-radius: 4px;
    color: $alice-blue; //#E8EFF2);

    //background-color: $alice-blue; //#E8EFF2
    @extend .walaa-medium-500;
  
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .text-wrapper-8 {
    align-self: stretch;
    color: #E8EFF2;
    @extend .walaa-regular-400;
    
    font-size: 14px;
    line-height: 22px; /* 157.143% */
    position: relative;
  }
  
  .downloadSection {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .icons-material-icons-download-2 {
    // height: 24px !important;
    // position: relative !important;
    // width: 24px !important;
    color: white;
    font-size: 20px;
  }
  
  .hyperlink-3 {
    color: #FFF;
    @extend .walaa-regular-400;
    font-size: 14px;
    line-height: 22px; /* 157.143% */
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .serviceSection {
    align-items: flex-start;
    align-self: stretch;
    background-color: $theme-white;
    border: 1px solid;
    border-color: #DDD;
    border-radius: 20px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0px;
    position: relative;
    width: 100%;
  }
  
  .frame-01 {
    align-items: flex-start;
    align-self: stretch;
    border-left: 4px solid $red-utility;
    border-left-style: solid;
    border-left-width: 4px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 0px 32px;
    position: relative;
    width: 100%;
  }
  
  .frame-02 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .text-wrapper-9 {
    text-align: center;
    @extend .walaa-medium-500;
    font-size: 24px;
    line-height: 36px; /* 150% */
    color: $primary-blue-800;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame-03 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 206px;
    padding: 0px 32px;
    position: relative;
    width: 100%;
  }
  
  .frame-04 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 24px;
    position: relative;
  }
  
  .frame-05 {
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
  }
  
  .hyperlink-4 {
    color: #165272;
    @extend .walaa-regular-400;
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .frame-25 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .frame-26 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .buttons-action-2 {
    align-items: center;
    background-color: var(--utility-whitewhite-500);
    border: 1px solid;
    border-color: $primary-blue-800;
    border-radius: 48px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    height: 44px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .label-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .button-2 {
    all: unset;
    box-sizing: border-box;
    color: $primary-blue-800;
    @extend .walaa-medium-500;
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .buttons-action-3 {
    align-items: center;
    background-color: $primary-blue-800;
    border-radius: 48px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    height: 44px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .button-3 {
    all: unset;
    box-sizing: border-box;
    color: #FFF;
    @extend .walaa-medium-500;
    font-size: 16px;
    line-height: 24px; /* 150% */
  
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .promotions-mobile {
    align-items: flex-start;
    background-color: var(--primary1-blueprimary1-blue-50);
    border-radius: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    padding: 48px;
    position: relative;
  }

}

