@use '../../styles/_colors.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;


.inner-div {
  padding: 96px 72px 96px 72px;
}

.heading-text {
  color: $themeWhite;
  text-align: left;
  padding-bottom: 24px;
}

.desc-text {
  color: $themeWhite;
  text-align: left;
  padding-bottom: 48px;
  font-size: 18px;
}

.insurance-container {
  background-color: $primary-blue-500 !important;
  background: 
  url(../../assets/MotorInsuranceProducts/vector-top.svg) no-repeat top right, 
  url(../../assets/MotorInsuranceProducts/Vector-bottom.svg) no-repeat bottom left 
}

.empty-column {
  outline: none;
  border: none;

}

.header-row {
  color: $themeWhite;
  font-weight: bold;
  text-align: center;
  border-radius: 10px 0px 0px 0px;
  text-align: center;
}

.sub-header-row {
  text-align: center;
  padding: 0px 0;
}

.sub-header {
  font-weight: bold;
  border-bottom: 1px solid $aliceBlue;
  padding: 18px 0px 18px 0px;
  background-color: $themeWhite;
  font-size: 18px;
  color: $primaryBlue-800
}

.legengs-data {
  text-align: end;
}

.benefit-column {
  text-align: left;
  background-color: $themeWhite;
  padding: 18px 24px 18px 24px;
  color: $primaryBlue-800;
  font-size: 18px;
  border-right: 1px solid $aliceBlue;
  border-bottom: 1px solid $aliceBlue;
  box-shadow: inset -6px 0px 6px -5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;

}
.benefit-sub-column {
  color: $dark-Grey-500;
  text-wrap: wrap;
}

.product-row {
  border-top: 1px solid $aliceBlue;
  display: flex;
  align-items: center;
  padding: 0px 0;
}

.comprehensive-column {
  text-align: center;
  padding: 16px 0px 16px 0px;
  border-bottom: 1px solid $aliceBlue;
  background-color: $themeWhite;
  .d-flex {
    height: 100%;
  }
}

.thirdparty-column {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid $aliceBlue;
  align-items: center;
  display: flex;
  justify-content: center;
}


.custom-row-bottom {
  color: $themeWhite;
  padding: 0px;

}

.product-table-footer{
  padding-top: 24px;
}

.custom-col-tab-bottom {
  padding: 11px 0px 0px 0px;
  column-width: auto;
  height: 50px;
  border-top: 1px solid $aliceBlue;
}

.legend-color {
  color: $aliceBlue;
  font-size: 14px;
  padding: 0px 0px 0px 38px;
}

.legend-title-color {
  color: $primnary-blue-100;
  font-size: 14px;
  padding: 0px 0px 0px 12px;

}

.icon-yes {
  color: $iconYes;

}

.icon-no {
  color: $crimsonRed;

}

.icon-addon {
  color: $primarySkyBlue;

}


.left-border {

  border-top-left-radius: 20px;
  background-color: $pale-blue !important;
  font-weight: bold;
  color: $deep-navy;
}

.icon-pointer {
  cursor: pointer;
  padding-left: 8px;
}

.left-top-border {
  background-color: $Light-Sky-Blue !important;
  color: $primary-blue-500;
  font-weight: bold;
  padding: 14px 0px 24px 0px;
  column-width: auto;
  font-size: 18px;
  border-top-left-radius: 20px;
  text-align: center;
}

.border-top-right {
  border-top-right-radius: 20px;
}

.custom-col-tab {
  background-color: $cool-blue !important;
  font-weight: bold;
  padding: 14px 0px 24px 0px;
  column-width: auto;
  font-size: 18px;
  text-align: center;
}

.custom-row-tab {
  color: $themeWhite;
  padding: 0px;

}


.left-bottom-border {
  border-bottom-left-radius: 10px !important;
}


.right-bottom-border {
  border-bottom-right-radius: 10px;

}

.row-main-head {
  color: $themeWhite;
  padding: 0px;
}

.row-head-column {
  background-color: $primnary-blue-100;
  color: $primaryBlue-800;
  padding: 13px 0px 0px 20px;
  column-width: auto;
  text-align: left;
  margin: 0px 0px 0px 0px;
  height: 50px;
  border-top-left-radius: 30px;
  font-weight: bold;

}

.col-main-head {
  display: flex;
  justify-content: space-around;
  background-color: $themeWhite;
  color: $primaryBlue-800;
  border-bottom: solid 1px $aliceBlue;
  padding: 9px 0px 0px 0px;
}

.col-main-head span {
  font-weight: bold;
}

.column-label {
  background-color: $themeWhite;
  padding: 16px 24px 16px 24px;
  text-align: left;
  border-bottom: 1px solid $aliceBlue;
  border-right: 1px solid $aliceBlue;
}

.option-custom {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid $aliceBlue;
}

.emty-col-top {

  border-top-left-radius: 0px !important;
  outline: none;
  border: none !important;
}

.fluid-custom {
  border-radius: 15px;
  overflow: hidden;
}

.outer-div {
  background-color: $primary-blue-500 !important;
  padding: 96px 72px 96px 72px;
  background: 
  url(../../assets/MotorInsuranceProducts/vector-top.svg) no-repeat top right,
  url(../../assets/MotorInsuranceProducts/Vector-bottom.svg) no-repeat bottom left; 
}

.bg-col1 {
  background-color: $themeWhite;

}

.bg-col2 {
  background-color: $light-grey-50-utility;
}

.icon-align {
  padding: 0px 64px 0px 68px;
}

/*modal popup*/
.main-section {
  padding: 0px 32px;
  width: 600px;
}
.custom-modal {
  max-width: 600px;
  .modal-body {
    padding: 0px !important;
    h3 {
      font-size: 16px;
    }
  }
  .modal-content {
    padding: 32px 32px 32px 32px !important;
    gap: 0 !important;

  }
  .cutom-title {
    font-size: 20px;
  }
}


.modal-heading {
  padding-left: 30px;
  font-size: 20px;
}

.no-border {
  border: none;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-h3 {
  padding-bottom: 16px;
  font-size: 16px;
  color: $dark-Grey-500;

}

.modal-paragraph {
  padding-bottom: 24px;
  color: $dark-Grey-500;
  font-size: 14px;
}


// @media (max-width: 443px) {
@include media(sm) {

  .comp-table-modal{
    
    .modal-body{
      padding: 0;
      .main-section{ width: 100%; padding: 0 10px;}
  }
  }

  .insurance-container.container-fluid{
    padding: 0 16px!important;
    .outer-div {
      padding: 65px 0 32px 0;
   
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading-text.walaa-medium-500{
        @include utils.font-setting($themeWhite, 32px, 48px);        
      }

      .desc-text{padding-bottom: 0;}
  
      .sub-header.walaa-medium-500 {
        border-bottom: 1px solid $primnary-blue-100 !important;
        border-top-right-radius: 20px;
  
        .nav-col {
          display: flex;
          justify-content: center;
  
          .btn {
            background-color: transparent;
            color: $dark-Grey-500;
            border: 0px;
  
            svg {
              height: 15px;
  
            }
          }
  
          .head-cell {
            max-width: 44%;
            flex: 0 0 44%;
          }
        }
  
      }
  
      .comp-table {
        max-width: 100%;
        padding:0;  
        
  
        .product-toggle-wrapper {
          
          padding:33px 0px 26px 0px;
  
          .product-toggle {
            margin-right: 0;
            .default {
              padding: 8px 16px;
            }
          }
        }
      }
  
      .sub-header-row.row,
      .custom-row-bottom.row,
      .data-row.row {
        margin: 0;
      }
  
      .data-row.row {
        &:nth-last-child(2) {
  
          .benefit-column.benefit-sub-column {
            border-bottom-left-radius: 20px;
          }
  
          .comprehensive-column {
            border-bottom-right-radius: 20px;
          }
        }
      }
  
      .product-table-footer.row {

        padding-top: 27px;
        
  
        .legengs-data {
          text-align: start;
          display: flex;
          flex-wrap: wrap;

          .legend-title-color{ padding:0 0px 19px 0 ; margin-right: 10px;}
  
          .legend-color.walaa-medium-500 {
            padding-left: 0;
          }

          span.legend-color.walaa-medium-500:first-child{
            margin-bottom: 12px;
            flex: 0 0 100%;
          }
        }
      }
  
  
  
    }
  }

  
  

  .benefit-column {
    word-wrap: break-word;
    word-break: break-word;
    text-wrap: initial;


  }

  .benefit-sub-column {

    word-wrap: break-word;
    word-break: break-word;
    text-wrap: initial;
  }


}
@include media(lg) {
  .icon-align {
    padding: 0px 4px 0px 8px;
  }
  .sub-header.walaa-medium-500 {
    border-top-right-radius: 20px;
  }
  .data-row.row {
    &:nth-last-child(2) {
  
      .benefit-column.benefit-sub-column {
        border-bottom-left-radius: 20px;
      }
  
      .comprehensive-column {
        border-bottom-right-radius: 20px;
      }
    }
  }
  }
  
  @include media(xl) {
    .icon-align {
      padding: 0px 4px 0px 8px;
    }
    .sub-header.walaa-medium-500 {
      border-top-right-radius: 20px;
    }
    .data-row.row {
      &:nth-last-child(2) {
    
        .benefit-column.benefit-sub-column {
          border-bottom-left-radius: 20px;
        }
    
        .comprehensive-column {
          border-bottom-right-radius: 20px;
        }
      }
    }
    }

    [dir="rtl"]{
      .insurance-container{
        .heading-text{
          text-align: right;
        }
        .desc-text p{
          text-align: right;
        }
    
        .header-row{
          .left-top-border{
            border-top-left-radius: 0px;
            border-top-right-radius: 20px;
          }
          .icon-pointer{
            padding-left: 0px;
            padding-right: 8px;
          }
          .border-top-right{
            border-top-left-radius: 20px;
            border-top-right-radius: 0px;
          }
        }
        .sub-header-row{
          .benefit-column{
            border-top-left-radius: 0px;
            border-top-right-radius: 20px;
            text-align: right;
          }
    
          .sub-header:first-child{
            box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
          }
        }
            .data-row {
              .benefit-column {
                text-align: right;
                box-shadow: none;
              }
              .comprehensive-column {
                box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.2);
                .d-flex {
                 margin-right: 10px;
                }
              }
        }
        .left-bottom-border{
          border-bottom-left-radius: 0px !important;
          border-bottom-right-radius: 10px;
        }
        .right-bottom-border{
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 0px;
        }
      }

      //Elements Added for RTL start
      .insurance-container.container-fluid {
        .outer-div {
          .sub-header.walaa-medium-500 {
            .nav-col {
              .btn {
                svg {
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  -moz-transform: rotate(180deg);
                }
              }
            }
          }
        }
      }

      @include media(xl) {
        .insurance-container.container-fluid {
          .outer-div {
            .sub-header.walaa-medium-500 {
              border-top-left-radius: 20px;
              border-top-right-radius: 0px;
            }

            .data-row.row {
              &:nth-last-child(2) {

                .benefit-column.benefit-sub-column {
                  border-bottom-left-radius: 20px;
                }

                .comprehensive-column {
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 20px;
                }
              }
            }
          }
        }
      }

      @include media(lg) {
        .insurance-container.container-fluid {
          .outer-div {
            .sub-header.walaa-medium-500 {
              border-top-left-radius: 20px;
              border-top-right-radius: 0px;
            }

            .data-row.row {
              &:nth-last-child(2) {

                .benefit-column.benefit-sub-column {
                  border-bottom-left-radius: 20px;
                }

                .comprehensive-column {
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 20px;
                }
              }
            }
          }
        }
      }

      @include media(md) {
        .insurance-container.container-fluid {
          .outer-div {
            .sub-header.walaa-medium-500 {
              border-top-left-radius: 20px;
              border-top-right-radius: 0px;
            }

            .data-row.row {
              &:nth-last-child(2) {

                .benefit-column.benefit-sub-column {
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 0px;
                }

                .comprehensive-column {
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 20px;
                }
              }
            }
          }
        }
      }

      @include media(sm) {
        .insurance-container.container-fluid {
          .outer-div {
            .sub-header.walaa-medium-500 {
              border-top-left-radius: 20px;
              border-top-right-radius: 0px;
            }

            .data-row.row {
              &:nth-last-child(2) {

                .benefit-column.benefit-sub-column {
                  border-bottom-right-radius: 20px;
                  border-bottom-left-radius: 0px;
                }

                .comprehensive-column {
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 20px;
                }
              }
            }
          }
        }
      }
      //Elements Added for RTL end
}