@use '../../styles/_colors.scss' as *;
@use'../../styles/fonts.scss' as *;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use '../../styles/utils' as utils;

@mixin fontStyle ($size, $color) {
    font-size: $size;
    line-height: $size * 1.5;
    color: $color;
}

.surplus-wrapper{

    > :last-child > div {
        padding-bottom: 175px !important;
    }
}

.surplus-section {

    display: flex;
    @include utils.sectionPadding(96px,96px);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    .surplus-col {
        padding-right: 24px;


        .surplus-content {
            h2 {
                @include utils.font-setting($primary-blue-500, 32px, 48px);
                padding-bottom: 8px;
                @extend .walaa-medium-500;
            }

            p {
                @include utils.font-setting($darkestGrey, 18px, 28px);
                @extend .walaa-regular-400;
            }
        }
    }

    .surplus-accordian {
        padding-top: 32px;
        margin-top: -32px;
    }
}

@include media(xl) {
.surplus-section {
    @include utils.sectionPadding(64px,64px);

}
}


@include media(md) {
    .surplus-section {
        display: flex;
        @include utils.sectionPadding(48px,48px);
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .surplus-col {

            .surplus-content {
                padding-bottom: 24px;
                h2{
                    @include utils.fontStyle(24px, 36px);
                }
                p{
                    @include utils.fontStyle(16px, 24px);
                }
            }
        }

        .faq-title{
            font-size: 24px;
            line-height: 36px;
        }

        .surplus-accordian {
            padding-top: 0px;
            padding-bottom: 32px;
            margin-top: 0px;
       }
    }
}
[dir="rtl"]{
    .surplus-accordian {
        padding-top: 32px;
        margin-top: -32px;
    }
}

.faq-title{
color:$primary-blue-500 !important;
font-size: 32px;
line-height: 48px;
padding-bottom: 8px;
font-family: Walaa Arabic Medium;
font-weight: 500;
font-style: normal;
}