@use "../../styles/color.scss" as *;
@use "../../styles//utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.highlighter-widget-wrapper {
  background-color: $primaryBlue-800;
  padding: 48px;
  gap: 48px;

  .icon-wrapper img {
    padding: 16px;
    width: 112px;
    border-radius: 56px;
    background-color: $primaryBlue-400;
    height: 112px;
  }

  .child-outer-wrapper {
    flex-direction: column;

    .row-wrapper {
      flex-direction: row;

      .meeting-wrapper {
        width: 45%;
      }

      .content-separator-wrapper {
        width: 1px;
        background-color: $primnary-blue-600;
        margin: 0px 24px 0px 24px;

        &:last-child {
          display: none;
        }
      }
    }

    h3 {
      @include utils.font-setting($primary-blue-300, 32px, 48px);
      padding-bottom: 16px;
    }
  }

  .child-inner-wrapper {
    flex-direction: column;
    gap: 4px;

    .label {
      @include utils.font-setting($primary-blue-200, 16px, 24px);
    }

    .description-wrapper {
      @include utils.font-setting($themeWhite, 16px, 24px);
      gap: 8px;
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
// @media (max-width: 576px) {
@include media(sm) {
  .highlighter-widget-wrapper {
    padding: 24px 16px;
    flex-direction: column;
    gap: 24px;
    .icon-wrapper img {
      padding: 8px;
      height: 64px;
      width: 64px;
    }

    .child-outer-wrapper {
      h3 {
        max-width: 300px;
      }
      .row-wrapper {
        flex-direction: column;
        .meeting-wrapper {
          width: 100% !important;
          gap: 8px;
        }
        .content-separator-wrapper {
          width: 100%;
          height: 1px;
          margin: 24px 0px;
        }
      }
    }
  }
}

[dir="rtl"] {
  .inner-frame {
    .office-content {
      .widget-title {
        margin-right: 30px;
      }

      .inner-content {
        display: flex;

        .first-block {
          border-right: none;
        }
        .secont-block,
        .third-block {
          padding-right: 24px;
          border-right: 1px solid $primnary-blue-600;
        }

        .block-title {
          margin-right: 12px;
        }

        .block-content {
          text-align: right;
        }

        .secont-block {
          padding-left: 24px;
        }

        .icon-setup {
          margin-left: 8px;
        }
      }
    }
  }
}
