@use "../../styles/colors" as *;
@use "../../styles/_fonts" as font;
@use "../../../../app-shell/src/styles/media-queries" as *;
@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
  }
.choose-plan-container
{
    padding: 16px;
    width:100%;
    background-color: $Secondary2---Asparagus-secondary2---asparagus-50;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap:16px;
    .choose-icon-container
    {
        display: flex;
        .choose-icon{
            padding:8px;
            border-radius: 24px;
            background-color:$Secondary2---Asparagus-secondary2---asparagus-500;
        }
    }

    .text-container
    {
        flex-shrink: 1;
    }
    .choose-plan-heading
    {
       
        @include fontStyle(16px, 24px, $dark-grey-500);
        @extend .walaa-medium-500 !optional;
    }
    .choose-plan-description
    {
        @include fontStyle(16px, 24px, $darkest-grey);
        @extend .walaa-regular-400 !optional;
    }

    
   
}