@use "../../../../../../consumer-portal/src/styles/colors" as walaaColor;

.endorsement-card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 16px;
  background: unset;

  .body-content-for-endorsement-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .top-table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      padding: 0 24px;

      .box {
        display: flex;
        padding: 8px 0;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch; 
        
        .box-address {
          display: flex;
          font-size: 14px;
          line-height: 22px;

          div.logo {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 40px;
            background: walaaColor.$white;
            margin-right: 16px;
            img {
              max-height: 35px;
              max-width: 35px;
            }
          }
        }

        .horizontal-line {
          width: 100%;
          margin: 0;
        }

        .box-content {
          flex-direction: column;
          display: flex;
          align-items: left;
          gap: 16px;
          width: 100%;

          .package-heading {
            color: walaaColor.$dark-grey-500;
            font-size: 18px;
            line-height: 28px;
          }

          .package-value {
            color: walaaColor.$dark-grey-500;
            font-size: 18px;
            line-height: 28px;
            .icon-saudi_riyal , .riyal-amount  {  color: walaaColor.$primary-light-blue-300} 
            
          }

          
          .package-content-40 {
            width:40% !important; 
          }
          .package-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            width:100%;
          }

          .package-content-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            padding-right: 24px;
            &.two-row-div {
              width: 100%;
              display: flex;
              padding: 0px;
              flex-direction: row;
              .package-left-side { width: 40%;}
              .package-right-side {width: 55%;}
            }
            

          }
        }
        .box-content-2 {
          @extend .box-content;
          flex-wrap: wrap;
          flex-direction: row;
          .row-label-value{
            align-items: center;
            gap: 8px;
            width: 31%;
            justify-content: space-between;
            .endo-value{
              width: 100%;
            }
            .premium-amount{
              color: walaaColor.$secondary4---boston-blue-500;
            }
          }
          
        }
      }
    }

    .bottom-links {
      display: flex;
      align-items: center;
      gap: 24px;
      align-self: stretch;
      justify-content: flex-start;

      .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .links-content {
          color: walaaColor.$Primary1---Blue-primary1---blue-600;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
 
    .card-bottom-download {
      display: flex;
      background-color:walaaColor.$Primary1---Blue-primary1---blue-800 ;
      padding: 16px 24px; width: 100%;
          border-radius: 0 0 16px 16px;
          justify-content:space-between;
      div {
        display: flex;
        color: walaaColor.$Primary1---Blue-primary1---blue-500;
        font-size: 16px;
        padding-right: 40px;
        img { color: walaaColor.$white; }
        p{
          cursor: pointer;
          color: walaaColor.$white;
        }
      }
    
    }
  }
}
