@use "../../styles/_colors.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;
@use '../../styles/utils' as utils;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}



.overview_section {
  display: flex;
  @include utils.sectionPadding(48px,96px);
  .right-content-inner-body img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height:364px;
  }
  .heading-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    h3 {
      @include utils.font-setting($primary-blue-500, 32px, 48px);

      margin: 0px;
      font-family: "Walaa Arabic Medium";
      font-weight: 500;
      font-style: normal;
      strong{font-weight: normal}
    }
    p {
      @include utils.font-setting($darkestGrey, 18px, 28px);
      margin: 0px;
      font-family: "Walaa Arabic Regular";
      font-weight: 400;
      font-style: normal;
      width: 95%;
      .bolder {
        font-weight: 500;
      }
    }

    ul {
      list-style-type: disc;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding-left: 30px;

      li {
        @include utils.font-setting($darkestGrey, 18px, 28px);
        margin: 0px;
        font-family: "Walaa Arabic Regular";
        font-weight: 400;
        font-style: normal;
      }
    }
  }
  .blue-container {
    list-style-type: none;
    display: flex;
    height: auto;
    margin: 0px;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
  }
}

@include media(xl) {

  .overview_section {
    @include utils.sectionPadding(48px,64px);
  }

  #overview-content {
   .row {
     display: flex;
     flex-direction: row;

     .blue-container {
       margin-top: 20px;
       text-align: center;
       .right-content-inner-body { display: block; img{max-width: 100% !important;width:100% !important}}
     }
   }
 }
}

@include media(md) {

  .overview_section {
    @include utils.sectionPadding(48px,48px);

    .heading-section {
      h3 {
        @include utils.fontStyle(24px, 36px);
      }
      p
      {
        @include utils.fontStyle(16px, 24px);
      }
      ul {
        li{
          @include utils.fontStyle(16px, 24px);
        }
      }
    }
  }

  #overview-content {
    .row {
      display: flex;
      flex-direction: row;
      .heading-section{
        width: 100%;
      }
      .blue-container {
        margin-top: 20px;
        text-align: center;
        .right-content-inner-body {
          display: block;
          img {
            max-width: 60% !important;
          }
        }
      }
    }
  }
}
// @media (max-width: 443px) {
@include media(sm) {

  .overview_section{
    padding: 48px 0;

    .heading-section {
      padding: 0 16px;
      ul{gap:10px;}
    }

    #overview-content{
      &.container-fluid{
        padding: 0 16px!important;
      }

       .row{
          flex-direction: column;

          .blue-container{
            width:100%;
            padding: 0 16px;

            .right-content-inner-body{
              margin-top: 30px;
              img{max-width: 100%!important;}
            }
          }

       }
  }
  }
}

[dir=rtl] {
  .overview_section {
    .right-content-inner-body img {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
    }
  }
}



@include media(min1540) {
  .overview_section {
     .container-fluid{
         width: 1440px;
         padding: 0px !important;
     }
 }
}
