@use '../../../../../styles/colors' as *;
@use '../../../../../styles/fonts' as *;

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0, $selfslign: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $selfslign
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.tycTitleContainer {
  @include flex(column, flex-start, flex-start, 1rem);
  padding-bottom:16px;
   border-bottom: 1px solid $light-grey-300;

}

.tycTitleFrame {
  @include flex(column, '', '', 0.625rem);
  padding: 0 1.5rem;
  border-left: 4px solid $red-utility;
}

.tycTitleFrameBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  flex: 1 0 0;
}

.tycTitleFrameText {
  @include flex(column, flex-start, center, 0.75rem);
  color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
  text-align: center;
  @include font(20px, 500, 30px);
}

.tycTitleFrameStatus {
  display: flex;
padding: 0.25rem 0.5rem;
justify-content: center;
align-items: center;
gap: 0.5rem;

border-radius: 0.25rem;
background: $Utility---Error-Red-Error-Red;

color: $alice-blue;

font-size: var(--Body-Text-B4-size-2-Font-Size, 0.75rem);
font-weight: 500;
line-height: var(--Body-Text-B4-line-height-Line-height, 1.125rem); /* 150% */


}

.tycTitleFrameStatusRed{

  @extend .tycTitleFrameStatus;

  background:  $Utility---Error-Red-Error-Red;
}

.tycTitleFrameStatusGreen{

  @extend .tycTitleFrameStatus;

  background:  $Secondary2---Asparagus-secondary2---asparagus-500;
}


.tycVector {
  height: auto;
}