@use "../../../../../styles/colors" as *;



.success-container-main {
  display: flex;
  padding: 24px 72px 60px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  background: linear-gradient(0deg, $grey-color-light 0%, $grey-color-light 100%), $white;

  .cards-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
  }
}
