@use "../../styles/colors" as walaaColor;
@use "../../styles/fonts" as *;
@use "../../styles/utils" as *;

.iban-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;

    .important-text-field{
        width: 100%;
        gap: 8px;
        
        .iban-heading {
        color: walaaColor.$dark-grey;
        font-size: 16px;
        line-height: 24px;

        .important-field {
            color:walaaColor.$input-error;
        }
        }
        .error-msg{
        font-weight: bold;
        color: walaaColor.$input-error;
        font-size: 14px;
        line-height: 16px;
        margin-top: 5px;
        }
    }

    }