@use './../../../../styles/_colors' as *;

  .track-claim {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $Utility---White-white-500;
    border-radius: 3rem;
    background: $Primary1---Blue-primary1---blue-800;
    &.disabled {
      background: $Utility---Dark-Grey-dark-grey-50;
      border-color: $Utility---Dark-Grey-dark-grey-50;
      color: $Utility---Dark-Grey-dark-grey-200;
    }
    &:hover {
      background: $Primary1---Blue-primary1---blue-600;
      color: $Utility---White-white-500;
    }
  }
  
  
  .outlineBtn {
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    border: 1px solid $Primary1---Blue-primary1---blue-800;
    background: $Utility---White-white-500;
    &:hover {
      border: 1px solid $Primary1---Blue-primary1---blue-800;
    }
  }
  
  .policy-primary-right{
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $Utility---White-white-500;
  
    border-radius: 3rem;
    background: $Primary2---Light-Blue-primary2---light-blue-600;
    &:hover {
      color: $Utility---White-white-500;
      background: $Primary2---Light-Blue-primary2---light-blue-600;
      border: 1px solid $Primary2---Light-Blue-primary2---light-blue-600;
    }
  }
  
  .policy-download {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $Utility---White-white-500;
  
    border-radius: 3rem;
    background: $Primary1---Blue-primary1---blue-800;
  
    &:hover {
      color: $Utility---White-white-500;
      background: $Primary1---Blue-primary1---blue-800;
    }
  }
  
  .linked {
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $Primary1---Blue-primary1---blue-800;
    border-radius: 3rem;
    background: $Utility---White-white-500;
    border: 1px solid transparent; // Initial border
  
    // Hover effect
    &:hover {
      color: $Primary1---Blue-primary1---blue-800;
      border: 1px solid $Primary1---Blue-primary1---blue-800;
    }
  
    // Retain border when active
    &:active {
      color: $Primary1---Blue-primary1---blue-800;
      border: 1px solid $Primary1---Blue-primary1---blue-800;
    }
  }