@use '../../fonts' as walaaFont;
@use '../../colors' as walaaColor;

.rmdp-input {
  border: 0px !important;
  width: 100%;
}

.rmdp-container {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid walaaColor.$dark-grey;
  background: walaaColor.$white;
  width: 100%;
}