// radio/checkbox customisation
.radio-check-cust {
  .form-check-input {
    border: 1px solid $--Primary1---Blue-primary1---blue-800;
    &:checked {
      background-color: $blue;
      border-color: $blue;
    }
  }
  label.form-check-label {
    color: $dark-grey-500;
    /* Body/B2/Regular */
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
}
