@use '../fonts' as walaaFont;
@use '../colors' as walaaColor;

// Mixins
@mixin flex-setting ($justifyPos: center, $alignPos: center) {
    display: flex;
    justify-content: $justifyPos;
    align-items: $alignPos;
}

.claimsDetailsContainer {
    display: flex;
    padding: 40px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 16px;

    .innerContainerMain {
        display: flex;
        /* width: 1076px; */
        width: 100%;
        // padding: 40px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border-radius: 16px;
        background: walaaColor.$white;
        // box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .popupStatusSection {
        display: flex;
        padding: 0px 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 20px;
        background: walaaColor.$white;
    }

    .GreenIcon {
        width: 96px;
        height: 96px;

    }

    .messageGreenSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    .messageGreenSectionLbl {
        @extend .walaa-medium-500;
        color: walaaColor.$dark-grey-500;

        /* Mobile/H5 */
        font-size: 20px;
        line-height: 30px;
        /* 150% */
    }

    .messageSection {
        @extend .walaa-regular-400;
        align-self: stretch;
        color: walaaColor.$darkest-grey;
        text-align: center;

        /* Body/B2/Regular */
        font-size: 16px;
        line-height: 24px;
        /* 150% */
    }

    .cardSectionContainer {
        display: flex;
        padding: 24px;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        border-bottom: 1px solid $--Utility---Light-Grey-utility---light-grey-300;
    }

    .cardSection {
        display: flex;
        align-items: center;
        gap: 16px;
        border-right: 1px solid walaaColor.$light-grey-100;
        padding: 12px 20px 12px 20px;

        @media (max-width: 932px) {
            border-bottom: 1px solid walaaColor.$light-grey-100;
            border-right: 0px;
            padding: 12px 8px 12px 8px;
        }
    }

    .cardSection:last-child {
        border-right: none;
    }

    .cardIconContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        min-width: 60px;
        max-width: 61px;
    }

    .cardIconContainerIn {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: walaaColor.$white;
    }

    .cardIconContainer img {
        @include flex-setting;
        width: 40px;
        height: 40px;
        padding: 7.143px 4.286px 7.31px 4.286px;
    }

    .cardText {
        @include flex-setting(center, flex-start);
        flex-direction: column;
        gap: 4px;
        width: 182px;
    }

    .cardTextLbl {
        @extend .walaa-medium-500;
        color: walaaColor.$darkest-grey;

        /* Body/B2/Regular */
        font-size: 14px;
        line-height: 22px;
        /* 150% */
    }

    .cardTextValue {
        @extend .walaa-medium-500;
        color: walaaColor.$dark-grey-500;

        /* Body/B1/Medium */
        font-size: 16px;
        line-height: 24px;
        /* 155.556% */
    }

    .cardSectionContainer2 {
        display: flex;
        padding: 24px 32px 24px 32px;
        justify-content: flex-end;
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;


        .cardSection {
            display: flex;
            padding: 24px;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            background: walaaColor.$light-blue;
            border-radius: 8px;
        }
        
    }


    .btnSection {
        display: flex;
        padding: 24px 32px 24px 32px;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-top: 1px solid $--Utility---Light-Grey-utility---light-grey-300;

        .btnContainer {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        .btnContainerIn {
            @include flex-setting;
            padding: 10px 20px;
            gap: 8px;
            border-radius: 48px;
            // border: 1px solid walaaColor.$blue-800;
            background: walaaColor.$white;
        }

        .btnSection .btn {
            @extend .walaa-medium-500;
            @include flex-setting;
            gap: 8px;
            // color: walaaColor.$blue-800;
            /* Body/B2/Medium */
            font-size: 16px;
            line-height: 24px;
            /* 150% */
        }
    }


}
