@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;

.tab-wrapper {
    background-color: $lightBlue;
    border: 1px solid $primary-blue-100;
    border-radius: 16px;
    padding: 24px;

    .tab-item {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding: 8px 16px;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &.active {
            background-color: $primary-blue-100;
            border-radius: 8px;
        }

        .tab-icon {
            width: 32px;
            height: 32px;
        }

        span {
            @include utils.font-setting($primnary-blue-600, 16px, 24px)
        }
    }
}