@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.sum-insured-and-deductibles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  .sum-insured-header {
    display: flex;
    align-items: center;
    gap: 4px;

    color: $dark-grey-500;
    font-size: 18px;
    line-height: 28px;
  }

  .nudge-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .informative-container {
      display: flex;
      padding: 16px;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      border-radius: 8px;
      background: $fade-black;

      .logo {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 80px;
        background: $green-500-medium;
      }

      .informative-content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .informative-content-header {
          color: $dark-grey-500;
          font-size: 14px;
          line-height: 22px;
        }

        .content {
          color: $dark-grey-400;
          font-size: 12px;
        }

        .frequently-purchased {
          display: flex;
          height: 32px;
          padding: 8px 16px;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 0 16px;
          background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;

          .frequently-purchased-text {
            color: $white;
            font-size: 12px;
            line-height: 18px;
          }
        }

        .horizontal-line {
          color: $light-grey-200;
          height: 1px;
          margin: 0;
        }

        .card-foot {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .link-btn {
            border: 1px solid;
          }

          .icon-btn {
            width: 66px;
            height: 44px;
            border: 1px solid;
          }
        }
      }
    }
  }

  .sum-insured-deductible-tiles {
    display: flex;
    height: 152px;
    width: 100%;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    border-radius: 16px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 50%;
      flex: 1 0 0;

    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 50%;
      flex: 1 0 0;

    }
  }
}

@media (max-width: 768px) {
  .sum-insured-and-deductibles .sum-insured-deductible-tiles {
    flex-direction: column;
    height: 360px;

    .left {
      flex-direction: row;
    }

    .right {
      flex-direction: row;
    }
  }

}

@media (max-width: 576px) {
  .sum-insured-and-deductibles .sum-insured-deductible-tiles {
    flex-direction: column;
    height: 360px;

    .left {
      flex-direction: column;
      width: 100%;
    }

    .right {
      flex-direction: column;
      width: 100%;
    }
  }

}
