@use "../../styles/_colors.scss" as *;

.footer-section {
  z-index: 1;
  
  .footer-curve-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;

    .footer-curve {
      width: 100%;
    }

    .footer-scroll-up {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto;
    }
  }

  .footer-content-next {
    background: url(../../assets/Footer/Vector.svg) no-repeat center;
    background-position: bottom;
    background-color: $primary-blue-500;
    position: relative;

    .accordian-down {
      cursor: pointer;
      right: 5%;
      position: absolute;
      top: 0;
      fill: $themeWhite;

      &.icon-up {
        transform: rotate(180deg);
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
      }
    }

    .footer-content-wrapper {
      padding-top: 30px;

      .logo-container {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        line-height: 18px;
        color: $light-Grey-100;
        white-space: pre-wrap;

        img {
          cursor: pointer;
        }

        img:not(:last-child) {
          padding-right: 10px;
        }

        &.footer-collapsed {
          .footer-regular-text {
            display: none;
          }
        }
      }

      .footer-regular-text {
        font-size: 12px;
        line-height: 18px;
        color: $light-Grey-100;
        padding-top: 10px;
      }

      .sitemap-row {
        border-bottom: 1px solid $primaryBlue;
        padding-bottom: 24px;

        .footer-content-list {
          padding-top: 24px;

          .list-header {
            font-size: 16px;
            color: $Sky-Blue;  
            line-height: 24px;

            svg {
              display: none;
            }
          }

          .list-content {
            font-size: 12px;
            line-height: 18px;
            color: $themeWhite;
            padding-top: 12px;
            cursor: pointer;
          }

          a {
            text-decoration: none;
          }
        }
      }

      .social-wrapper {
        padding-bottom: 24px;

        .social-title {
          font-size: 16px;
          line-height: 24px;
          color: $Sky-Blue;
          padding-top: 24px;
        }

        .social-icons-wrapper {
          padding-top: 5px;
        }

        .download-app-wrapper {
          .download-app {
            cursor: pointer;
            padding-top: 8px;
            object-fit: contain;
            width: 121px;

            &:not(:last-child) {
              padding-right: 8px;
            }
          }
        }

        .social-icons {
          cursor: pointer;
          background-color: $primaryBlue;
          padding: 9px;
          border-radius: 20px;
          margin-top: 8px;

          &:not(:last-child) {
            margin-right: 8px;
          }
        }
      }
    }

    .copyright-links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      border-top: 1px solid $primaryBlue;
      padding: 24px 0;

      .copyright-text {
        flex: 1;
        color: $themeWhite;
        line-height: 18px;
        font-size: 12px;
      }

      .copyright-hyperlinks-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .copyright-hyperlinks {
          cursor: pointer;
          margin-left: 10px;
          color: $themeWhite;
          font-size: 12px;
          line-height: 18px;

          &:not(:last-child):after {
            content: "•";
            padding-left: 10px;
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .footer-section {
    .footer-content-next {
      position: relative;

      .footer-content-wrapper {
        padding-top: 30px;

        img {
          margin-right: 10px;
        }

        .footer-content-list {
          margin-right: 10px;
        }

        .social-title {
          margin-right: 10px;
        }

        .download-app-wrapper {
          .download-app {
            padding-left: 8px;

            &:not(:last-child) {
              padding-right: 0px !important;
            }
          }

          .social-icons {
            cursor: pointer;

            padding: 9px;

            margin-top: 8px;
            margin-right: 8px;

            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
      }



      .copyright-hyperlinks {
        margin-left: 10px;

        &:not(:last-child):after {
          padding-right: 10px;
        }
      }
    }
  }

}

@media (min-width:992px) and (max-width:1280px) {
  .footer-section {
    .footer-content-wrapper {
      .icon-wrapper {
        width: 50%;
      }

      .footer-content-row {
        width: 50%;

        .sitemap-row {
          .col-lg-3 {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .footer-section {
    .footer-content-next .footer-content-wrapper {
      padding-top: 50px;

      .logo-container img:not(:last-child) {
        padding-right: 20px;
      }

      .social-wrapper .social-title {
        padding-top: 40px;
        padding-bottom: 10px;
      }

      .social-wrapper .download-app-wrapper .download-app {
        padding-top: 0px
      }
    }

    .footer-curve-wrapper {
      height: 90px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="430" height="240" viewBox="0 0 430 240" fill="none"><path d="M0 27.1704C0 27.1704 131.021 0 215 0C298.979 0 430 27.1704 430 27.1704V240H0V27.1704Z" fill="%2302487B"/></svg>');
      background-repeat: no-repeat;
      background-size: cover;

      .footer-curve {
        display: none;
      }

      .footer-scroll-up {
        width: 64px;
        height: 64px;
      }

      img {
        display: none;
      }
    }

    .container-fluid {
      padding: 0px 16px !important;
    }
  }


  .sitemap-row {
    padding-bottom: 0px !important;
    border-bottom: none !important;
  }

  .footer-content-list {
    .list-header {
      border-bottom: 1px solid $primaryBlue;
      padding-bottom: 16px !important;

      svg {
        display: block !important;
        float: right !important;
      }
    }

    .list-content {
      padding-top: 16px !important;
    }
  }

  // .download-apps {
  //     border-top: 1px solid $primaryBlue;
  // }

  .copyright-row {
    padding: 0 12px !important;
  }
}

@media (max-width: 727px) {
  .footer-scroll-up-container {
    img {
      height: 40px;
    }
  }
}

@media (max-width: 442px) {
  .footer-section{
    .footer-scroll-up-container {
      img {
        height: 30px;
      }
    }

    .download-app-wrapper .download-app{
      width: 110px !important;
    }
  }
}

@media (max-width: 366px) {
  .download-app-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .social-wrapper {
    .download-app-wrapper {
      display: flex;
      justify-content: space-between;

      .download-app {
        width: 110px;
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .copyright-links {
    flex-direction: column;

    .copyright-hyperlinks-wrapper {
      margin-top: 10px;
      justify-content: normal !important;

      .copyright-hyperlinks {
        margin-left: 0 !important;

        &:not(:last-child):after {
          padding-right: 10px;
        }
      }
    }
  }
}