@use "../../styles/_colors.scss" as *;
@use "../../styles/_fonts.scss" as walaaFont;

/* index.scss */

.add-claim-estimate {
  padding: 0px 24px;

  .estimate-accordion-item {
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    border: none;

    .accordion-header {
      button {
        background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
        border-top: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
        border-left: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
        border-right: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
        border-bottom: none;
        box-shadow: none;
        border-top-right-radius: 16px !important;
        border-top-left-radius: 16px !important;
        padding: 24px;

        &.accordion-button.collapsed {
          border-bottom: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
          border-bottom-right-radius: 16px !important;
          border-bottom-left-radius: 16px !important;
        }

        &.accordion-button::after {
          position: absolute;
          right: 20px;
          top: 25px;
        }

        .accordion-header-content {
          padding-right: 30px;
          flex-wrap: wrap;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            background: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
          }

          .accordion-title-text {
            color: $dark-grey-500;
            @extend .walaa-medium-500;
          }
        }

        .accordion-header-info {
          flex-basis: 100%;
          padding-top: 10px;
          font-size: 14px;
          line-height: 22px;
          color: $dark-grey;
          @extend .walaa-regular-400;

          span {
            padding-right: 5px;

            &.estimate-value {
              @extend .walaa-medium-500;
            }
          }
        }
      }
    }
  }

  .accordion-body {
    padding: 0px;

    .estimate-body {
      background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
      border-left: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
      border-right: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
      border-bottom: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      padding: 0px 24px;

      .form-input,
      .form-textarea,
      .form-select {
        width: 100%;
        padding: 10px 12px;
        border-radius: 4px;
        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
        font-size: 14px;
        background-color: $white;
        @extend .walaa-regular-400;
      }

      .form-input:disabled,
      .form-textarea:disabled {
        color: $light-grey-100 !important;
        border: 1px solid $light-grey-100 !important;
      }

      .form-label {
        color: $dark-grey-500;
        font-size: 14px;
        margin-bottom: 8px;
        @extend .walaa-regular-400;
      }

      .file-error-message {
        color: $cherry-red-color;
        font-size: 12px;
        margin-top: 4px;
      }
    }

    .upload-documents-section {
      background: $Utility---Light-Grey-utility---light-grey-50;
      border-left: 1px solid $light-grey-300-utility;
      border-right: 1px solid $light-grey-300-utility;
      border-bottom: 1px solid $light-grey-300-utility;
      border-radius: 0 0 20px 20px;
      margin: 0px 24px;

      .upload-inner-container {
        padding: 20px;

        .upload-header {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 10px;
          color: $darkest-grey;
          @extend .walaa-medium-500;
        }

        .upload-subtitle {
          font-size: 12px;
          color: $dark-grey-500;
          margin-bottom: 16px;
          @extend .walaa-regular-400;
        }

        .file-error-message {
          color: $cherry-red-color;
          font-size: 12px;
          margin-top: 4px;
        }

        .claim-estimate-upload-container {
          margin-top: 20px;

          .upload-document-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid $light-grey-200;
            border-radius: 8px;
            margin-bottom: 10px;
            background-color: $white;

            .upload-label-section {
              display: flex;
              justify-content: space-between;
              width: 100%;

              .document-label {
                font-size: 16px;
                color: $darkest-grey;
                @extend .walaa-medium-500;
              }

              .upload-action {
                display: flex;
                align-items: center;

                .hidden-file-input {
                  display: none;
                }

                .uploaded-file-section {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  .uploaded-file-name {
                    font-size: 14px;
                    line-height: 22px;
                    color: $Primary1---Blue-primary1---blue-50;
                    @extend .walaa-medium-500;
                  }

                  .remove-file-icon img {
                    cursor: pointer;
                  }
                }

                .upload-icon-wrapper {
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  font-size: 14px;
                  color: $Primary1---Blue-primary1---blue-800;
                  @extend .walaa-medium-500;

                  img {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.add-estimate-button {
  background-color: $white;
  color: $bright-Blue;
  border: 1px solid $bright-Blue;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $soft-blue;
    color: $royal-blue;
  }
}

.add-estimate-button-content:disabled {
  color: $light-grey-100 !important;
  border: 1px solid $light-grey-100 !important;
  background-color: $white !important;
}