@use '../../styles/color.scss' as *;
@use '../../styles/_fonts.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.wrapper-padding-bottom {
	padding-bottom: 96px !important;
}

.contact-wrapper-box {
	display: flex;
	padding: 100px 72px 31px 72px;
	flex-direction: column;
	align-items: flex-start;
	// gap: 40px;

	.contact-header {
		padding-bottom: 40px;

		h2 {
			color: $primaryBlue;
		}

		p {
			margin-top: 8px;
			font-size: 18px;
			color: $darkestGrey;
		}
	}

	.contact-body {
		width: 100%;
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		gap: 24px;

		.contact-form {
			border-radius: 16px;
			width: 855px;
			background-color: $light-grey-50-utility;

			.tab-container {
				padding: 24px;
				border-bottom: 1px solid $light-grey-200-utility;

				.faq-info {
					display: flex;
					align-items: center;
					margin-top: 16px;
					gap: 8px;
				}
			}

			.form-input {
				padding: 24px;
				padding-top: 0;

				.field-col {
					padding-top: 24px;

					label {
						padding-bottom: 8px;
						font-size: 16px;
						span {
							font-size: 16px;
							line-height: 24px;
							color: $requiredRed;
						}
					}
				}

				.radio-input {
					display: flex;
					flex-direction: row;
					align-items: center;

					p {
						font-size: 18px;
						line-height: 24px;
						color: $dark-Grey-500;
					}

					p.field_no {
						color: $dark-grey-200;
					}

					p.field-label {
						font-size: 16px;
						line-height: 24px;
						margin-right: 24px;
					}

					.form-switch {
						padding: 0;
						margin: 0;
					}

					input {
						padding: 10px;
						width: 55px;
						height: 32px;
						margin: 0 12px;
						background-color: $primaryBlue-800;
						border-color: $primaryBlue-800;
					}
				}

				.input-textarea {
					textarea {
						padding: 12px 16px;
					}
				}

				.disabled-button {
					background-color: $primary-grey-50;
					border-color: $primary-grey-50;
					color: $dark-grey-200;
				}
			}
		}

		.contact-branch {
			width: 415px;

			.card-element {

				&:not(:last-child) {
					padding-bottom: 24px;
					border-bottom: 1px solid $primary-blue-light-200;
				}

				&:not(:first-child) {
					padding-top: 24px;
				}

				.branch-card-text-light {
					padding-top: 8px;
					font-size: 16px;
				}
			}
		}
	}

}

.contact-background {
	padding: 48px 72px 96px 72px;
	background-image: url(../../assets/contactWalaa/MobileAppBanner.png);
	background-position: bottom 0px right 0;
	transform: translateY(65px);
	background-repeat: no-repeat;

	.contact-footer {
		h3 {
			font-size: 24px;
			line-height: 36px;
			color: $primaryBlue;
			padding-bottom: 24px;
			@extend .walaa-medium-500;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: $dark-Grey-500;
			padding-bottom: 16px;
			@extend .walaa-regular-400;
		}

		ul {
			padding-bottom: 16px;

			li {
				padding-bottom: 16px;
				font-size: 16px;
				line-height: 24px;
				padding-left: 28px;
				color: $dark-Grey-500;
				position: relative;
				@extend .walaa-regular-400;
			}

			li::before {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url(../../assets/contactWalaa/TickThick.png);
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				left: 0;
				top: 4px;
			}
		}

		h4 {
			font-size: 18px;
			line-height: 28px;
			color: $primaryBlue;
			padding-bottom: 16px;
			@extend .walaa-medium-500;
		}
	}

	.contact-footer-note {
		border-radius: 16px;
		background: $light-grey-50-utility;
		padding: 16px;
		font-size: 12px;
		line-height: 18px;
		@extend .walaa-regular-400;
	}
}

@include media(md) {
	.contact-background {background-image:none; transform:unset; padding: 16px;}
	.contact-wrapper-box {
		padding: 118px 16px 31px 16px !important;
		.contact-header {
            padding-bottom: 24px;
        }
		.contact-body {
			flex-direction: column;
			.contact-form {
				width: 100%;
				background-color: transparent;
				.tab-container { padding: 0px 0 20px 0;}
				.form-input { padding: 0px;
					.disabled-button { width: 100%;
					span{ display: block; text-align: center; width: 100%;}
				 }
				}
				 
			}
		 
			.contact-branch { width: 100%;
				.card-element .branch-card-text-light {line-height: 24px;}
			}
		}
	} 
	.tabs-rounded-tabs { 
		.tab-wrapper { 
			border-radius: 40px !important;
			.tab { text-wrap: wrap;   text-align: center;}
			&.selected {
				.tab { text-wrap: wrap; width: 90px; text-align: center;}
			}
		} 
    }
   
}