@use'../../styles/fonts.scss' as *;
@use '../../styles/colors' as *;

.typo-h5 {
    font-size: 24px !important;
    line-height: 36px !important;
    @extend .walaa-medium-500;
}

.typo-primary {
    color: $blue;
}