@use "../../../styles/colors" as walaaColor;

.row-class {
  // padding-bottom: 24px;
  height: 100%;
      width: 100%;
  .col-booster {
    position: relative;
    overflow: hidden;
    height: 480px;
    // max-height: 480px;
    // height: 350px;
    .boost-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
      object-fit: cover;
    }
    .card-class {
      max-width: 500px;
      padding: 16px;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      // top: 200px;
      background: aliceblue;
      top: 300px;
      left:24px;
      // margin: 0px 12px 0px 12px;
    
      .btn-class {
        background-color: walaaColor.$sky-blue;
        color: white;
        border: none;
    
        &:hover {
          background: walaaColor.$blue;
        }
    
       
        font-size: 16px;
        line-height: 24px;
        
      }
    
      .boost-header {
        font-size: 24px;
        font-weight: 500;
        color: walaaColor.$Primary1---Blue-primary1---blue-900;
        line-height: 36px;
      }
    
      .boost-desc {
        font-size: 16px;
        font-weight: 400;
        color: walaaColor.$darkest-grey;
        line-height: 24px;
      }
    }
  }
}


