@use "../../styles/color.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.support-career {
  bottom: 0 !important;
}
.productCat-career {
  background-color: $themeWhite;
  padding: 96px 0px;
}
 
@include media(md) {
  .support {
    &.support-career {
      padding: 72px 16px 72px 16px;
    }
  }
  .productCat .midContainer{
    padding: 10px 16px 192px 16px !important;
  }
}
