* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0px;
    margin: 0px;
}

menu,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    padding: 10px 20px;
    background-color: var(themeBlue);
    color: var(themeWhite);
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(themeDarkGrey, 10%);
    }
}