@mixin display-ellipse($lines) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@mixin font-setting($color, $size, $lineHeight) {
    color: $color !important;
    font-size: $size;
    line-height: $lineHeight;
}