.ArrowForward {
    color:#CD0833;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0px;
    left: 10px; 
  }
 
  .redcoloured{ color: #CD0833;}
  .arrowprev , .arrownext {
    color:#0D3245;
    width: 24px;
    height: 24px;
    position: relative;
    top: -1px;
    left: -4px;
    
  }
  

 