@use '../../../styles/color.scss' as *;

.register-new-claim-comprehensive-corp-phone-mobile-ModalDialogBox {
  .modal-content {
    // min-width: 300px;
    width: 432px;
  }
  .register-new-claim-comprehensive-warning {
    display: inline-flex;
    align-items: flex-start;
  }


}