@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.sum-insured-and-deductibles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  .sum-insured-header {
    display: flex;
    align-items: center;
    gap: 4px;

    color: $dark-grey-500;
    font-size: 18px;
    line-height: 28px;
  }

  .nudge-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .informative-container {
      display: flex;
      padding: 16px;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      border-radius: 8px;
      background: $Secondary2---Asparagus-secondary2---asparagus-50;

      .logo {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 80px;
        background: $Secondary2---Asparagus-secondary2---asparagus-500;
      }

      .informative-content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .informative-content-header {
          color: $dark-grey-500;
          font-size: 14px;
          line-height: 22px;
        }

        .content {
          color: $dark-grey-400;
          font-size: 12px;
        }

        .frequently-purchased {
          display: flex;
          height: 32px;
          padding: 8px 16px;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 0 16px;
          background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;

          .frequently-purchased-text {
            color: $white;
            font-size: 12px;
            line-height: 18px;
          }
        }

        .horizontal-line {
          color: $light-grey-200;
          height: 1px;
          margin: 0;
        }

        .card-foot {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .link-btn {
            border: 1px solid;
          }

          .icon-btn {
            width: 66px;
            height: 44px;
            border: 1px solid;
          }
        }
      }
    }
  }

  .sum-insured-deductible-tiles {
    display: flex;
    height: 152px;
    width: 100%;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    border-radius: 16px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 50%;
      flex: 1 0 0;

      .sum-insured-heading {
        display: flex;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        color: $dark-grey-400;
        font-size: 14px;
        line-height: 22px;
      }

      .max-idv {
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .max-dev-info-img {
          width: 16px;
          height: 16px;
        }

        .max-idv-text {
          color: $dark-grey-400;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      width: 50%;
      flex: 1 0 0;

      .sum-insured-heading {
        display: flex;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        color: $dark-grey-400;
        font-size: 14px;
        line-height: 22px;
      }

      .max-idv {
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .max-dev-info-img {
          width: 16px;
          height: 16px;
        }

        .max-idv-text {
          color: $dark-grey-400;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}

#myinput {
  border-radius: 8px;
  height: 7px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  appearance: none;
}

#myinput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $white;
  border: 1px solid $Primary1---Blue-primary1---blue-50;
  cursor: pointer;
}

.sum-insured-slider {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-self: stretch;
  border-radius: 8px;
}

.current-value-sum-assured,
.current-value-deductibles {
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
  width: fit-content;
  border-radius: 8px;
  background: $Primary1---Blue-primary1---blue-800;
  flex-direction: row;

  color: $white;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  padding: 4px 8px;
  white-space: nowrap;
}

.slider-value {
  position: absolute;
  top: 20px;
  border-top: 7px solid $Primary1---Blue-primary1---blue-800;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  transform: translateX(-50%);
}

.min-max {
  display: flex;
  justify-content: space-between;

  .slider-values {
    color: $dark-grey-400;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }
}
