@use './../../styles/colors' as *;
@use './../../styles/fonts' as *;

.select-policy-left-card {
  display: flex;
  padding: 24px var(--Auto-Number, 0px);
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid $light-grey-300;
  background: $Utility---White-white-500;
  .select-policy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    .horizontal-line {
      width: 100%;
      margin: 0;
      color: $light-grey-300;
      opacity: 0.5;
    }
    .policy-list {
      display: flex;
      width: 40%;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: var(--Auto-Number, 0px) 24px;
      align-self: stretch;
      .form-select {
        width: 100% !important;
        height: 48px !important;
        padding: 12px 16px !important;
      }
    }
    .select-policy-header {
      display: flex;
      padding: var(--Auto-Number, 0px) 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      border-left: 4px solid $red-utility;
      color: $Primary1---Blue-primary1---blue-800;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
