@use "../../styles/_colors.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.loyalty_section {
  display: flex;
  flex-direction: column;
  @include utils.sectionPadding(24px, 96px);
  background-color: $powder-blue;
  background-image: url("../../assets/Loyalty/branding-images.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  min-height: 400px;

  .heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;

    h3 {
      @include utils.font-setting($primaryBlue, 32px, 48px);

      margin: 0px;
      text-align: center;
    }

    p {
      @include utils.font-setting($darkestGrey, 18px, 28px);
      font-family: "Walaa Arabic Regular";
      font-weight: 400;
      font-style: normal;
      margin: 0 auto;
      width: 985px;
    }
  }

  .card-section {
    padding-top: 32px;
    border: none;
    padding-bottom: 0;

    .cards {
      height: 100%;
      padding: 32px 32px;
      border-radius: 20px;
      background: $themeWhite;
      box-shadow: 0px 4px 8px 0px $light-Grey-100;
      display: flex;
      justify-items: flex-start;
      align-items: center;

      &:hover {
        border-color: $primaryBlue;
      }

      .circlebox {
        display: flex;
        align-items: center;
      }

      .card-body {
        padding: 24px 0 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-title {
          @include fontStyle(20px, $dark-Grey-500);
        }

        .card-text {
          @include fontStyle(16px, $darkestGrey);
          line-height: 24px;
          padding: 16px 24px 0px 0px;
        }

        button {
          border-radius: 48px;
          border: 1px solid $primaryBlue-800;
          background: $themeWhite;

          @include fontStyle(16px, $primaryBlue-800);
        }
      }
    }
  }
}

@include media(xl) {
  .loyalty_section {
    @include utils.sectionPadding(64px, 64px);
    background-size: 13%;

    .card-section .cards {
      padding: 32px 16px;
    }
    .heading-section p {
      width: 100%;
    }
  }
}

@include media(md) {
  .sharedfaq-wrapper #faq-shared {
    width: 100%;
  }
  .loyalty_section {
    @include utils.sectionPadding(48px, 48px);

    .heading-section {
      h3 {
        @include utils.fontStyle(24px, 36px);
      }
      p {
        width: 100%;
        @include utils.fontStyle(16px, 24px);
      }
    }
    .card-section .cards {
      padding: 32px 16px;
    }
  }
}

// @media (max-width: 443px) {
@include media(sm) {
  .loyalty_section {
    padding: 24px 0px 48px 0px !important;

    .heading-section {
      p {
        max-width: 100%;
      }
    }

    .card-section {
      .cards {
        padding: 32px 48px !important;

        &.card {
          height: auto;
          &:hover {
            border: 2px solid $primaryBlue;
          }
        }
      }
    }

    &#productToggle-3 {
      padding: 24px 16px 24px 16px;
      #loyalty-content {
        &.container-fluid {
          padding: 0px !important;
        }
      }
    }
  }
}

@include media(min1540) {
  .loyalty_section {
    .container-fluid {
      width: 1440px;
      padding: 0px !important;
    }
  }
}
