@use "../../../../../../styles/colors" as walaaColor;

.left-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: none;
  width: 575px;

  .policy-receipt-endorsement {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 16px;
    background: walaaColor.$white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

    .header {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      border-radius: 16px 16px 0 0;

      background: walaaColor.$Primary1---Blue-primary1---blue-900;

      .policy-number-heading {
        color: walaaColor.$Primary1---Blue-primary1---blue-100;
        font-size: 18px;
        line-height: 28px;
      }

      .policy-number {
        color: walaaColor.$white;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .body-content {
      display: flex;
      padding: var(--Auto-Number, 0px) 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .top-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .box {
          display: flex;
          padding: 12px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          border-radius: 8px;
          border: 1px solid
            walaaColor.$Utility---Light-Grey-utility---light-grey-200;
          background: walaaColor.$Utility---Light-Grey-utility---light-grey-50;

          .box-content {
            display: flex;
            align-items: center;
            gap: 24px;

            .package-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;

              .package-heading {
                color: walaaColor.$dark-grey-500;
                font-size: 14px;
                line-height: 22px;
              }

              .package-value {
                color: walaaColor.$dark-grey-500;
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }

      .bottom-links {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        justify-content: flex-start;

        .link-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          .links-content {
            color: walaaColor.$Primary1---Blue-primary1---blue-600;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .policy-receipt-policy-cancellation {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 16px;
    background: walaaColor.$white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

    .header {
      display: flex;
      padding: 24px;
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      border-radius: 16px 16px 0 0;

      background: walaaColor.$Primary1---Blue-primary1---blue-900;

      .logo {
        width: 50%;
        display: flex;
        gap: 8px;
      }

      .policy-number-container {
        width: 50%;
      }

      .policy-number-heading {
        color: walaaColor.$Primary1---Blue-primary1---blue-100;
        font-size: 18px;
        line-height: 28px;
      }

      .policy-number {
        color: walaaColor.$white;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .body-content {
      display: flex;
      padding: var(--Auto-Number, 0px) 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .top-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .box {
          display: flex;
          padding: 12px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          border-radius: 8px;
          border: 1px solid
            walaaColor.$Utility---Light-Grey-utility---light-grey-200;
          background: walaaColor.$Utility---Light-Grey-utility---light-grey-50;

          .box-content {
            display: flex;
            align-items: center;
            gap: 24px;

            .package-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;

              .package-heading {
                color: walaaColor.$dark-grey-500;
                font-size: 14px;
                line-height: 22px;
              }

              .package-value {
                color: walaaColor.$dark-grey-500;
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }

      .bottom-links {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        justify-content: flex-start;

        .link-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          .links-content {
            color: walaaColor.$Primary1---Blue-primary1---blue-600;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .footer-note-container {
      width: 100%;
      padding: 0 24px;

      .footer-note {
        display: flex;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
        border-radius: 8px;
        background: var(
          --Utility---Light-Grey-utility---light-grey-50,
          #fafafa
        );
        align-self: stretch;

        .note {
          color: var(--Utility---Dark-Grey-dark-grey-500, #202020);
          font-size: 16px;
          line-height: 24px;
        }

        .note-content {
          color: var(--Utility---Dark-Grey-dark-grey-400, #4d4d4d);
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .select-policy-left-card {
    display: flex;
    padding: 24px var(--Auto-Number, 0px);
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
    background: walaaColor.$white;

    .select-policy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      .horizontal-line {
        width: 100%;
        margin: 0;
        color: walaaColor.$light-grey-200;
        opacity: 0.5;
      }

      .policy-list {
        display: flex;
        padding: var(--Auto-Number, 0px) 24px;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        flex-direction: row;
        width: 100%;

        .policy-support {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          .top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .support-text {
              color: walaaColor.$dark-grey;
              font-size: 10px;
              line-height: 16px;
            }

            .support-number {
              color: walaaColor.$Primary1---Blue-primary1---blue-600;
              font-size: 24px;
              line-height: 36px;
            }
          }

          .bottom {
            display: flex;
            width: 239px;
            align-items: flex-start;
            gap: 8px;

            .whatsapp-logo {
            }

            .whatsapp-text {
              color: walaaColor.$Primary1---Blue-primary1---blue-50;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .contact {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          .logo-text {
            display: flex;
            align-items: center;
            gap: 8px;

            .whatsapp-logo {
            }

            .whatsapp-text {
              color: walaaColor.$Primary1---Blue-primary1---blue-50;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }

      .select-policy-header {
        display: flex;
        padding: var(--Auto-Number, 0px) 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-left: 4px solid walaaColor.$red-utility;

        color: walaaColor.$Primary1---Blue-primary1---blue-800;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  .bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .other-product {
      color: walaaColor.$Primary1---Blue-primary1---blue-800;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid;
      background: walaaColor.$white;
      text-decoration: none;
    }

    .endorsement-link {
      color: walaaColor.$white;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
