@use "../../styles/_colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

.login-modal-popup {
  background-color: rgb(0 0 0 / 50%);

  .login-container {
    padding: 0%;

    &.container {
      display: block !important;
    }

    .d-flex {
      flex-direction: row;
      align-items: center;
    }
  }

  .modal-content {
    border-radius: unset !important;
    background-color: unset !important;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }

  .know-more-custom {
    margin: 0px;
    padding: 0px;
    width: 50%;

    &.know-more-wrapper {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }

  .login-form-col {
    // display: flex;
    width: 50%;
    min-height: 480px;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid $light-grey-300-utility;
    background: $themeWhite;
    box-shadow: $dark-Grey-500;
    gap: 24px;

    .form-modal {
      .form-label {
        margin: 0;
      }
    }

    .password-info-container {
      display: flex;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      margin-top: 24px;
      margin-bottom: 24px;

      img {
        width: 16px;
        height: 16px;
      }

      p {
        flex: 1 0 0;
        color: $darkestGrey;
        @extend .walaa-regular-400;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.loginform-container {
  display: flex;
  justify-content: end;
  color: $primary-blue-500;
}

.change-mobile-container,
.forgot-password-container,
.set-password-container {
  margin: 0 0 20px;

  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    a.back-button {
      background: url(../../assets/Login/BackBtn.svg) left no-repeat;
      padding-left: 25px;
      color: $primary-blue-500;
      cursor: pointer;
    }
  }
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;

  .form-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    justify-content: space-between;

    .signup-title {
      color: $darkestGrey;
      font-size: 14px;
      line-height: 22px;
      @extend .walaa-regular-400;

    }

    .form-title {
      color: $primary-blue-500;
      font-size: 24px;
      line-height: 36px;
      @extend .walaa-medium-500;
    }

    .modal-close-icon {
      color: $primnary-blue-600;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .formelements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .iqamano {
      border-right: 1px solid $light-grey-200-utility;
      margin-right: 32px;
      padding-right: 32px;
    }

    .existingMobNo {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .title {
      color: $darkGrey;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400
    }

    .value {
      color: $primaryBlue-900;
      font-size: 16px;
      @extend .walaa-medium-500;
    }

  }

  .warning-message {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border-left: 2px solid $Secondary6---Crimson-Red-Secondary6---Crimson-Red-500;
    background: $crimson-red-50;

    .warning-text {
      background-image: url("../../assets/common/Warning.svg");
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;
      color: $requiredRed;
      padding-left: 30px;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400;
    }
  }

  .modal-login-form {
    align-self: stretch;

    .text-labels {
      color: $dark-Grey-500;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400;
    }

    .input-wrapper {
      flex-direction: column !important;
      align-items: flex-start !important;
    }

    .user-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      position: relative;

      .input-placeholder {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $dark-grey-200;
        -webkit-background-clip: text;
        background-clip: text;
      }

      .input-wrapper {
        position: relative;

        input {
          display: flex;
          justify-content: center;
          padding: 16px 0 16px 48px;
          align-self: stretch;
          color: $dark-Grey-500;
          font-size: 16px;
          line-height: 24px;
          border-bottom: 1px solid $light-Grey-100;
          outline: none !important;
          @extend .walaa-regular-400;
        }
      }

      img.eyeIcon {
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 1;
        width: 20px;
        height: 20px;
      }

      .validation-error {
        font-weight: bold;
        color: $requiredRed;
        font-size: 12px;
        line-height: 18px;
        @extend .walaa-bold-700;
      }
    }

    .user-checkbox{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      position: relative;
      @extend .walaa-regular-400;
      input{
        width: 24px;
        height: 24px;
      }
    }

    .info-content {
      background-image: url("../../assets/Login/InfoIcon.svg") !important;
      background-repeat: no-repeat;
      color: $darkestGrey;
      padding-left: 20px;
      font-size: 12px;
      line-height: 18px;
      margin-top: 24px;
      @extend .walaa-regular-400
    }

    .form-submit-btn {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 48px;
      background: $primary-grey-50;
      margin-top: 24px;
      cursor: pointer;

      .form-btn {
        color: $dark-grey-200;
        font-size: 16px;
        line-height: 24px;
        @extend .walaa-medium-500;
        outline: none;
      }

      .form-btn-active {
        color: $themeWhite;
      }
    }

    .form-submit-btn-active {
      background: $primary-blue-500;
    }
  }

  .forgot-signup {
    justify-content: left;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    .forgot-block {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding-bottom: 16px;

      .forgot-title {
        color: $primary-blue-500;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        @extend .walaa-regular-400;
      }
    }

    .sign-up-block {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      .sign-up-title {
        color: $primary-blue-500;
        ;
        font-size: 16px;
        line-height: 24px;
        gap: 8px;
        @extend .walaa-regular-400;
        cursor: pointer;

        a {
          color: $primnary-blue-600;
          justify-content: center;
          align-items: center;
          gap: 2px;
          padding-left: 2px;
        }
      }
    }
  }
}


[dir="rtl"]
{
 .form-modal .modal-login-form .user-id input {
    background-position: center left 16px;
  }
  .form-modal .modal-login-form .user-pwd img {
    right: 300px;
   
  }
}

@include media(lg) {
  .login-modal-popup {
    .login-container {
      .left-content {
        display: none !important;
      }

      .login-form-col {
        width: 100%;
      }
    }
  }
}

@media (max-width: 424px) {
  .form-modal .modal-login-form input {
    font-size: 13px;
  }
}