@use "../../styles/colors" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.blue-form-footer-main {

    .footer {
      z-index: 2;
      display: flex;
      height: 76px;
      padding: 0px 575px 0px 72px;
  
      justify-content: space-between;
      align-items: center;
      background: $Primary1---Blue-primary1---blue-500;
  
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: $white;
      text-align: center;
  
      .footer-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
  
        .back-btn {
          background: transparent;
          text-decoration: none;
          color: $white;
          display: flex;
          border: 2px solid $white;
        }
  
        .back-btn:hover {
        }
  
        .form-btn-container {
          font-size: 16px;
          line-height: 24px;
          border-radius: 40px;
          text-decoration: none;
  
          &.form-btn-disabled {
            color: $Utility---Dark-Grey-dark-grey-200;
            background: $Utility---Dark-Grey-dark-grey-50;
          }
  
          &.form-btn-enabled {
            color: $white;
            background: $btn-gray-color-600;
            display: flex;
            align-items: center;
            &:hover {
              border: none;
            }
          }
        }
      }
    }
  }