@use "../../../../../../styles/colors" as *;

.register-new-claim-left-card { 
  background-color: $white;
  .travel-form-group {
    .calendar-switch-consumer {
      position: relative;
    }
  } 
.fieldsbody {
      display: flex;
      flex-direction: column;  
      padding: 24px;
      gap: 16px;
      border-radius: 16px;
      border: 1px solid $light-blue-00;
      background-color: $light-blue-50;
      margin: 16px 24px 24px 24px;
      .form-check-label { font-size: 16px;
        line-height: 22px;
        color: $dark-grey-500;
        display: flex;
        padding-bottom: 8px;} 
        .switch-checkbox , .switch-label { display: none;}
        .date-picker-input input {  width: 90%;}
  }
  .mandate_star { color:$input-error ;}
  .pt-2{ padding-top: 0px  !important;}
}
.max-height{
  max-height: fit-content !important;
}
