@use '../../../styles/color.scss' as *;
@use '../../../styles/fonts' as walaaFont;

.register-new-claim-comprehensive-ModalDialogBox {
  .modal-content {
    display: flex;
    width: 636px;
    max-width: 856px;
    .modal-header{
      color: $dark-Grey-500; 
      } 
    .container {
      display: block !important;
      padding: 0px;
      span{
        color:$dark-Grey-500;
        font-size: 16px;
      }
    }
  }
  .register-new-claim-comprehensive-warning {
    display: inline-flex;
    align-items: flex-start;
  }
  .theme-textbox-wrapper{
    display: flex;
    width: 286px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    button {
      position: absolute;
      right: 32px;
    }
  }


}

//Modal Dialog box case reference No.
.register-new-claim-GetQuoteWidget-ModalDialogBox {
  .modal-dialog.modal-lg {
    .modal-content {
      display: flex;
      max-width: 856px;
      width: 636px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 16px;
      background: $themeWhite;
      box-shadow: 0px 2px 20px 0px $black;

      div.reference-container {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        max-width: 100%;
        margin: auto;
        h2 {
          padding: 24px 24px 16px 24px;
          margin: 0px;
        }
      }
    }
    .modal-header {
      display: flex;
      padding: 24px 24px 16px 24px;
      align-self: stretch;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      position: absolute;
      right: 16px;
      top: 16px;
      border: 0;
  .btn-close
  {
    width: 24px;
      height: 24px;
      position: absolute;
      right: 7px;
      top: 8px;
      background-size: 16px 12px;
  }

    }
    h2 {
      color: $dark-Grey-500;
      @extend .walaa-medium-500;
      font-size: 24px;
      line-height: 36px; /* 150% */
    }
    .reference-case-type-body {
      display: flex;
      padding: 0px 24px 24px 24px;
      align-items: center;
      gap: 40px;
      align-self: stretch;
    }
  }
}

[dir="rtl"] {
  .register-new-claim-GetQuoteWidget-ModalDialogBox
    .modal-dialog.modal-lg
    .modal-header {
    right: auto;
    left: 0;
  }
}