@use "../../../../styles/colors" as *;
@use "../../../../styles/fonts" as *;

@mixin flex(
  $direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

%cardText {
  @include flex(row, flex-start, flex-start, 0.25rem);
  align-self: stretch;
}

.container {
  @include flex(row, flex-start, flex-start, 1.5rem);
  margin: auto;
}

.leftPanel {
  @include flex(column, flex-start, flex-start, 1rem);
  flex: 1;
  width: 53.5rem;
}

.mainContainer {
  @include flex(row, flex-start, flex-start, 1.5rem);
  padding: 1.5rem 0rem;
  border-radius: 1.25rem;
  border: 1px solid var(--Utility---Light-Grey-utility---light-grey-300, $light-grey-300);
  background: var(--Utility---White-white-500, $white);
}

.rightPanel {
  @include flex(column, center, flex-start);
  width: 100%;
}

.btspace
{

  width:100%; 
  padding-bottom: 7px;

}
