@use "../../../../../styles/fonts" as *;
@use "../../../../../styles/_colors" as *;

@mixin fontStyle($size, $line-height, $weight, $fontColor) {
  font-size: $size;
  line-height: $line-height;
  color: $fontColor;

  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.docContainer {
  display: flex;
  width: 26rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.5rem;
  border: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
  background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
}

