@use "../../../../../styles/fonts" as walaaFont;
@use "../../../../../styles/_colors" as walaaColor;

@mixin fontStyle($size, $line-height, $weight, $fontColor) {
  font-size: $size;
  line-height: $line-height;
  color: $fontColor;

  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.doc-download {

  border-radius: 8px;
border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
background: walaaColor.$light-blue-50;

display: flex;
padding: 16px;
align-items: flex-start;

margin-bottom: 16px;

.doc-down-link {
  cursor: pointer;

  img{width: 20px}

  .doc-down-txt{

    @include fontStyle(16px, 24px, 400, walaaColor.$Primary1---Blue-primary1---blue-600);
  }

}
}

