@use '../../../../styles/colors' as *;
@use '../../../../styles/fonts' as *;
@use '../../../../styles/utils' as *;


.container {
    @include flex(row, center, 0, stretch);
    justify-content: space-between;
    margin-top: -2.5rem;
}

.welcomeTextContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    flex: 1 0 0;
}

.welcomeText {
    color: $Primary1---Blue-primary1---blue-500;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 380px;
    @include font(1.125rem, 400, 1.75rem);
}

.nameText {
    color: $Primary1---Blue-primary1---blue-500;
    @include font(var(--Responsive-Typography-Heading-Headings-Size-H6, 1.25rem), 500, var(--Responsive-Typography-Heading-line-height-H6, 1.875rem));
}

.subText {
    color: $darkest-grey;

    @include font(0.875rem, 500, 1.375rem);
}

.callTextContainer {
    @include flex(row, center, 0.25rem);
}

.textContainer {
    @include flex(column, center, 0.625rem);
}

.callTextLabel {
    @include flex(row, center, 0.625rem, stretch);
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &:hover {
        border-bottom: 1px solid $Primary1---Blue-primary1---blue-600;
    }
}

.callText {
    color: $Primary1---Blue-primary1---blue-600;
    @include font(0.875rem, 400, 1.375rem);
}