@use "../../styles/_colors.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;


@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.vision_section {
  background: $ice-blue;
  display: flex;
  padding: 96px 0px 96px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;

  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;

    .about-heading {
      width: 40%;

      h2 {
        @include fontStyle(32px, $primaryBlue);

        padding-bottom: 24px;
      }

      p {
        @include fontStyle(18px, $darkestGrey);

        margin: 0px;
      }
    }

    .about-us {
      background: $primary-blue-500 url(../../assets/vision/vissionBG.svg) ;
      background-position: right center; 
      background-size: auto;
      background-repeat: no-repeat; 
      border-radius: 24px 0px 0px 24px;
      padding: 48px 48px 32px 48px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      width: 722px;
      position: absolute;
      right: 0px;
      top: -150px;

      h3 {
        color: $themeWhite;
        font-size: 24px;
        padding-bottom: 24px;
        margin: 0px;
      }

      ul {
        list-style-type: none;
        width: 100%;
        padding: 0px;

        li {
          font-size: 18px;
          padding: 16px 0;
          border-bottom: 1px solid $steel-blue;

          a {
            color: $themeWhite;
            text-decoration: none;
            cursor: pointer;

            .arrowForwardwhite {
              background: url(../../assets/vision/arrow-right.png) left top
                no-repeat;
              color: $themeWhite;
              width: 22px;
              display: inline-flex;
              height: 22px;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

  .customer-ratio {
    text-align: center;
    width: 100%;

    ul {
      display: inline-flex;
      align-items: center;

      li {
        padding: 0 65px;
        border-right: 1px solid $aliceBlue;

        &:last-child {
          border-right: none;
        }

        .ratio-heading {
          color: $red-utility;
          font-size: 32px;
        }

        .ratio-subheading {
          color: $dark-Grey-500;
          font-size: 18px;
        }
      }
    }
  }
}

[dir="rtl"] {
  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;

    .about-heading {
      width: 40%;

      h2,
      p {
        text-align: right;
      }
    }

    .about-us {
      border-radius: 0px 24px 24px 0px;
      left: 0px !important;
      right: unset;
      top: -150px;

      li {
        text-align: justify;
      }
    }
  }

  .customer-ratio {
    text-align: center;
    width: 100%;

    ul {
      display: inline-flex;
      align-items: center;

      li {
        padding: 0 65px;
        border-left: 1px solid $aliceBlue;
        border-right: none;

        &:last-child {
          border-left: none;
        }
      }
    }
  }

  .vision_section .mid-container .about-us {
    left: 0px;
    text-align: left;
    right: unset;
  }
}

// @media (max-width: 1200px) {
@include media(xl) {
  .vision_section {
    .mid-container {
      width: 100% !important;

      .about-heading {
        width: 40%;

        h2 {
          padding-bottom: 0px;
        }
        p{
          margin-top: 24px;
        }
      }

      .about-us {
        padding: 48px 48px 32px 48px;
        width: 522px;
        position: absolute;
        right: 0px;
        top: -150px;

        h3 {
          padding-bottom: 24px;
          margin: 0px;
        }
      }
    }

    .customer-ratio {
      text-align: center;
      width: 100%;

      ul li {
        padding: 0 50px;
      }
    }
  }
}

// Tablet Styles
// @media (max-width: 1024px) {
@include media(lg) {
  .vision_section {
    padding: 96px 0px 96px 0px;

    .mid-container {
      width: 100% !important;

      .about-heading {
        width: 45%;
      }

      .about-us {
        h3 {
          padding-bottom: 24px;
          margin: 0px;
        }
      }
    }

    .customer-ratio {
      text-align: center;
      width: 100%;

      ul li {
        padding: 0 23px;
      }
    }
  }
}

// Mobile Styles
// @media (max-width:768px) {
@include media(md) {
  .vision_section {
    gap: 0;
    padding: 48px 0px 48px 0px;

    .mid-container {
      padding: 0px !important;

      .about-heading {
        padding-bottom: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 16px !important;
        padding-right: 16px !important;
      }

      .about-us {
        width: auto;
        position: relative;
        right: auto;
        top: auto;
        margin-left: 16px !important;
      }
    }

    .customer-ratio {
      align-items: center;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 16px 0 16px;

        li {
          padding: 32px 0;
          width: 100%;
          border-right: 0px;
          border-bottom: 1px solid $aliceBlue;

          &:first-child {
            padding-top: 0px;
          }

          &:last-child {
            padding-bottom: 0px;
            border-bottom: none !important;
          }
        }
      }
    }
  }
}
