@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.bordered-btn {
  padding: 8px 16px;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
  background: walaaColor.$white;

  @include fontStyle(14px,
    22px,
    walaaColor.$Primary1---Blue-primary1---blue-800 );
  @extend .walaa-medium-500 !optional;
}

.photo-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 120px;

  .files-row {
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-50;
    border-radius: 15px;
    
    .action {
      position: absolute;
      top: 7px;
      right: 6px;
      padding: 4px;
      cursor: pointer;

      img {
        vertical-align: text-bottom;
        border-radius: 15px;
      }
    }

    .action:hover {
      border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-900;
    }
  }
}

.property-photos {
  border: 1px dashed walaaColor.$Utility---Dark-Grey-dark-grey-50;
  margin-bottom: 16px;
  padding: 20px;

  .drag-opacity {
    opacity: 0.5;
    pointer-events: none;
  }

  .drag-drop {
    input[type="file"] {
      display: none;
    }

    .drag-head {
      @include fontStyle(18px, 24px, walaaColor.$darkest-grey);
    }

    .drag-supporting-label {
      padding-top: 5px;
      @include fontStyle(12px, 24px, walaaColor.$darkest-grey);
    }

    .or-label {
      padding: 10px 0 0 0;
      @include fontStyle(14px, 24px, walaaColor.$dark-grey);

    }

    .butn-div {
      margin-left: 16px;
      margin-top: 15px;

      .btn {
        @extend .bordered-btn;
        border: 1px soild walaaColor.$text-hyperlink;
        color: walaaColor.$text-hyperlink;

        &:disabled {
          background: walaaColor.$Utility---White-white-500;
          border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
          color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
        }
      }
    }
  }

  .errorMessage {
      border: 1px solid walaaColor.$light-grey-100-utility;
      color: walaaColor.$Utility---Error-Red-Error-Red;
  }

  .files-wrapper {
    padding-top: 20px;

    .files-row {
      display: flex;
      padding: 8px 16px;
      border: 1px solid walaaColor.$light-grey-100-utility;
      border-radius: 8px;
      margin-bottom: 16px;
      align-items: center;
      flex-direction: row;

      .action {
        margin-left: auto;
        cursor: pointer;
      }

      .file-name {
        padding: 0px 10px 0 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 75%;
        @include fontStyle(15px, 24px, walaaColor.$Primary1---Blue-primary1---blue-50);
        @extend .walaa-medium-500 !optional;
      }

      .fileSize {
        @include fontStyle(10px, 24px, walaaColor.$black);
      }
    }

    .files-row.recent-added {
      border-radius: 8px;
      border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
      background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;
    }
  }
}

.property-photos-btn {
  margin-bottom: 20px;

  .btn {
    @extend .bordered-btn;
    color: walaaColor.$Utility---White-white-500;
    background: walaaColor.$Primary1---Blue-primary1---blue-800;

    &:hover {
      color: walaaColor.$Utility---White-white-500;
      background: walaaColor.$Primary1---Blue-primary1---blue-600;
      border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
    }
  }
}