@use "../../styles/_colors" as walaaColor;

.coverage-existing-premium {
  border-radius: 20px 20px 0px 0px;
  border: 1px solid walaaColor.$light-grey-300;
  background: walaaColor.$Utility---White-white-500;
  h2 {
    padding: 0px;
    button {
      padding: 0px;
    }
  }
}
.coverage-existing-premium-footer {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: url('../../assets/CommonSVG/order-summary-bg.svg') no-repeat walaaColor.$Primary1---Blue-primary1---blue-50 !important;
  border-radius: 0 0 20px 20px;
  .left{width: 65%;}
  .right{width: 35%;}
  .left,
  .right {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }
}
.order-summary-premium-breakup {
  display: flex;
  width: 100%;
  padding-top: 24px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid walaaColor.$light-grey-300;
  background: walaaColor.$white;

  &.card {
    box-shadow: none;
    margin-bottom: 72px;
  }
  &.exist{

    border-radius: 20px 20px 0px 0px;
    margin-bottom: 0px;

    .order-body{padding-top: 16px;}
  }

  .order-header {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-left: 4px solid walaaColor.$red-utility;

    .order-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;

      color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
      text-align: left;
      font-size: 20px;
      line-height: 30px;
    }

    .order-sub-title {
      display: flex;
      color: walaaColor.$dark-grey;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      align-items: center;

      .apply-promo-container {
        display: flex;
        align-items: center;

        div.mx-0.form-check.form-check-inline.form-switch {
          @extend .apply-promo-container;
        }
      }
    }
  }

  .horizontal-line {
    width: 100%;
    border: 1px solid walaaColor.$light-grey-300;
    margin: 0;
  }

  .header-border {
    border-bottom: 1px solid walaaColor.$dark-grey-900;
  }

  .order-body {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    color: walaaColor.$Primary1---Blue-primary1---blue-50;
    font-size: 18px;
    line-height: 28px;

    .order-body-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      color: walaaColor.$black;

      .order-body-package-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: walaaColor.$dark-grey-500;
        font-size: 16px;
        line-height: 24px;
        div:first-child {
          width: 65%;
          color: walaaColor.$dark-grey-500;
          font-size: 16px;
        }
        div:last-child {
          width: 35%;
          color: walaaColor.$dark-grey-500;
          font-size: 14px;
        }
      }
    }
  }

  .order-summary-footer {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: walaaColor.$Primary1---Blue-primary1---blue-500;
    border-radius: 0 0 20px 20px;

    .left {
      color: walaaColor.$white;
      font-size: 18px;
      line-height: 24px;
      width: 60%;
    }

    .right {
      color: walaaColor.$white;
      font-size: 18px;
      line-height: 28px;
      width: 40%;
    }
  }
}

// premium styles
.coverage-vehicleinfo-existing {
  @mixin default-title {
    font-size: 16px;
    font-weight: 400;
  }
  div.accordion-item {
    width: 100%;
    background: inherit;
    border: none;
    border-radius: inherit;
    h2.accordion-header {
      background-color: inherit;
      border-radius: inherit;
      button.accordion-button {
        background-color: inherit;
        padding: 0.8rem 0.9rem 0px 0px;
        border-radius: inherit;
        box-shadow: none;
        div.logo-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
          padding: 0.32rem;
          border-radius: 2.5rem;
          background: walaaColor.$white;
        }
        //header title
        div.vehicle-title {
          @include default-title;
          color: walaaColor.$dark-grey;

        }
        //header value
        div.vehicle-content {
          font-size: 16px;
          font-weight: 500;
          color: walaaColor.$darkest-grey;
        }
      }
      button.accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6992 9.6998L11.6992 15.6998L5.69922 9.6998L7.09922 8.2998L11.6992 12.8998L16.2992 8.2998L17.6992 9.6998Z' fill='%23467B97'/%3E%3C/svg%3E");
      }
    }
  }
  // accordion body
  div.accordion-collapse.collapse.show {
    .vehicle-infor-title {
      @include default-title;
    }
  }
}

.coverage-vehicleinfo-existing.accor-close{
  padding: 7px 7px 15px 7px;
  margin: 0px;
}
.coverage-vehicleinfo-existing.accor-open{
  padding: 7px 7px 0px 7px;
}
