@use './../../styles/_fonts' as walaaFont;
@use './../../styles/_colors' as walaaColor;

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: walaaColor.$dark-grey;
  }

  .errorMessage {
    font-size: 2rem;
  }