@use "styles/_global";
@use "./styles/color.scss" as *;
@use "./styles/media-queries" as *;
@use './styles/fonts' as walaaFont;
@use "styles/colors";
@use "styles/reset";
@use "styles/toaster";


:root {
  .container-fluid {
    padding: 0px 72px !important;
  }

  .dropdown .dropdown-menu li a {
    border-bottom: 5px solid $themeBlue;
  }

  .btn {
    border-radius: 48px;
    background-color: $primaryBlue-800;
    border-color: $primaryBlue-800;
    color: $themeWhite;
    font-size: 16px;
  }

  .crimson-red {
    color: $crimsonRed;
  }

  .bs-tooltip-top {
    .tooltip-arrow {
      display: none;
    }

    .tooltip-inner {
      color: $darkestGrey;
      background-color: $themeWhite;
    }
  }

  a {
    text-decoration: none;
  }
  input::placeholder {
    @extend .walaa-regular-400;
  }
}

 
  @include media(md) {
  :root {

    .container-fluid {
      padding: 0px 16px !important;
    }

    .dropdown .dropdown-menu li a {
      border-bottom: 5px solid #002873;
    }

    .btn {
      border-radius: 48px;
      background-color: #0D3245;
      border-color: #0D3245;
      color: #fff;
      font-size: 16px;
    }

    .crimson-red {
      color: $crimsonRed;
    }

    .bs-tooltip-top {
      .tooltip-arrow {
        display: none;
      }

      .tooltip-inner {
        color: $darkestGrey;
        background-color: $themeWhite;
        box-shadow: 0 4px 8px $shadow-box-blue-200;
      }
    }

    a {
      text-decoration: none;
    }
  }
}