@use "./../../../../../styles/colors" as *;
@use "./../../../../../styles/fonts" as *;

.happy-card-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;

  .happy-card {
    display: flex;
    width: 100%;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px dashed
      $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-100;
    background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
    position: relative;

    .happy {
      display: flex;
      padding: 19px 24px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;

      .happy-logo-video {
        width: 96px;
        height: 96px;
        aspect-ratio: 1/1;
        mix-blend-mode: multiply;
      }
    }

    .happy-vector {
      width: 416px;
      height: 133px;
      position: absolute;
      bottom: 0px;
      fill: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-300;
      opacity: 0.25;
    }

    .happy-trust {
      color: $Primary1---Blue-primary1---blue-500;
      font-size: 14px;
      line-height: 22px;
    }

    .happy-union {
      width: 369px;
      height: 228px;
      position: absolute;
      right: 0px;
      top: 0px;
      border-top-right-radius: 16px;
      background: linear-gradient(
        223deg,
        var(
            --primary-band-colors-group-primary-colors-primary-2-light-blue-500-core,
            rgba(91, 198, 241, 0.05)
          )
          13.47%,
        rgba(91, 198, 241, 0) 49.23%
      );
    }
  }
}
