@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}
.email-modal{
    .modal-dialog {
        .modal-content {
          padding: 24px 24px 16px 24px;
          border-radius: 24px;
          gap: 16px;
          .modal-header {
            padding: 0;
            .modal-title {
              font-size: 24px;
              line-height: 36px;
              @extend .walaa-medium-500;
            }
          .btn-close {
            display: none;
          }
          .close-icon{
            width: 24px;
            height: 24px;
            position: absolute;
            right: 16px;
            top: 16px;
            cursor: pointer;
            svg {
              width: 24px;
              height: 24px;
              fill: walaaColor.$Primary1---Blue-primary1---blue-500;
            }
          }
        }
          .modal-body {
            padding: 0;
            .email-container{
                gap: 16px;
                .label{ 
                    color: walaaColor.$dark-grey;
                    line-height: 24px;
                    font-size: 16px;
                    @extend .walaa-regular-400;
                }
                .theme-textbox-container{
                    flex-direction: column;
                    .email{
                        padding: 12px 16px;
                    }
                   
                }
            }
                
          }
          .modal-footer {
            justify-content: flex-end;
            margin: 0;
            .email-cancel{
              border-radius: 48px;
              font-size: 16px;
              line-height: 24px; /* 150% */
              background: walaaColor.$white;
              color: walaaColor.$Primary1---Blue-primary1---blue-800;
              padding: 10px 20px;
            }
            .email-action {
              border-radius: 48px;
              font-size: 16px;
              line-height: 24px; /* 150% */
              background: walaaColor.$Primary1---Blue-primary1---blue-500;
              border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-500;
              padding: 10px 20px;
              &.disabled {
                background: walaaColor.$dark-grey-50 ;
                color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
                border: 1px solid walaaColor.$dark-grey-50;
              }
            }
          }
        }
      }
      
}