@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

.quality-container {
  background-color: $primaryBlue-800;
  h3 {
    color: $themeWhite;
    text-align: left;
    font-size: 32px;
    line-height: 48px;
    @extend .walaa-medium-500;
  }

  p {
    color: $themeWhite;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    @extend .walaa-regular-400;
  }
  .heading-text {
    color: $themeWhite;
    text-align: left;
    padding-bottom: 24px;
  }

  .desc-text {
    color: $themeWhite;
    text-align: left;
    padding-bottom: 48px;
  }
  .empty-column {
    outline: none;
    border: none;
  }

  .header-row {
    color: $themeWhite;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
  }

  .inner-layout {
    display: flex;
    padding: 96px 72px;
    align-items: flex-start;
    align-self: stretch;
  }

  .content-title {
    color: $themeWhite; 
    font-size: 32px;
    line-height: 48px; /* 150% */
    @extend .walaa-medium-500;
  }

  .outer-div {
    background-color: $primaryBlue-800;
    padding: 96px 30px 96px 30px;
  }

  .how-section1 {
    padding: 96px 0px;

    .quality-content{

      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    

    ul{ 
      
      gap: 16px;
    display: flex;
    flex-direction: column;

      li {
      display: flex;
      color: $themeWhite;
      text-align: justify;
      
    }
    }

    ul li::before {
      content: url("../../assets/Quality/Tick_Thick.png");
      margin-right: 8px;
      position: relative;
      top: 3px;
    }
  }
  .how-section1 h4 {
    color: $themeWhite;
    /* Desktop/H4 */
    font-size: 32px;
    line-height: 48px; /* 150% */
    @extend .walaa-medium-500;
  }

  .how-img {
    padding-top: 78px;
    padding-left: 73px;
    text-align: left;
    .rounded-img {
      border-radius: 24px;
      padding: 0 24px 24px 0px;
    }
  }

  .text-content {
    color: $themeWhite;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    @extend .walaa-regular-400;
  }
  .text-points {
    color: $themeWhite;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 8px;
    display: inline-flex;
    @extend .walaa-regular-400;
  }
  .icon {
    color: $blue-tick;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding-right: 8px;
    align-self: stretch;
  }

  .rounded-img {
    border-radius: 24px;
    padding: 0 24px 24px 0px;
  }
}

// @media (max-width: 786px) {
@include media(md) {

  .quality-container{ 
  .how-section1{
    padding:48px 0px 24px 0px;
    .how-img {
      padding-top: 24px;
      padding-left: 0;
      .rounded-img{padding: 0 6px 20px 6px}
    }
  }
  } 

}

@include media(sm) {

  .quality-container {
    .how-section1 {
      .how-img {
        .rounded-img {
          padding: 0 24px 24px 0px
        }
      }
    }
  }
}


  
