@use "./../../styles/colors" as walaaColors;
@use "./../../styles/fonts" as walaaFonts;

.track-claim {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---White-white-500;
  border-radius: 3rem;
  background: walaaColors.$Primary1---Blue-primary1---blue-800;

  &.disabled {
    background: walaaColors.$Utility---Dark-Grey-dark-grey-50;
    border-color: walaaColors.$Utility---Dark-Grey-dark-grey-50;
    color: walaaColors.$Utility---Dark-Grey-dark-grey-200;
    &:hover{background-color: walaaColors.$Utility---Dark-Grey-dark-grey-50;
      color: walaaColors.$Utility---Dark-Grey-dark-grey-200;
    }
  }

  &:hover {
    background: walaaColors.$Primary1---Blue-primary1---blue-600;
    color: walaaColors.$Utility---White-white-500;
  }
}

.outlineBtn {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  background: walaaColors.$Utility---White-white-500;

  &:hover {
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.outline-vehicle-details {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  background: walaaColors.$Utility---White-white-500;

  &:hover {
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.remove-no {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;

  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  background: walaaColors.$Utility---White-white-500;
  color: walaaColors.$Primary1---Blue-primary1---blue-800;
}

.remove-yes {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 3rem;
  border: none;
  background: walaaColors.$Utility---Error-Red-Error-Red;
  color: walaaColors.$Utility---White-white-500;
}

.add-driver {
  display: flex;
  padding: 0.125rem 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;

  color: walaaColors.$Utility---White-white-500;
  background: walaaColors.$sky-blue;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  border: none;
}

.policy-primary-right {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---White-white-500;

  border-radius: 3rem;
  background: walaaColors.$Primary2---Light-Blue-primary2---light-blue-600;

  &:hover {
    color: walaaColors.$Utility---White-white-500;
    background: walaaColors.$Primary2---Light-Blue-primary2---light-blue-600;
    border: 1px solid
      walaaColors.$Primary2---Light-Blue-primary2---light-blue-600;
  }
}

.policy-download {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---White-white-500;

  border-radius: 3rem;
  background: walaaColors.$Primary1---Blue-primary1---blue-800;

  &:hover {
    color: walaaColors.$Utility---White-white-500;
    background: walaaColors.$Primary1---Blue-primary1---blue-800;
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.linked {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Primary1---Blue-primary1---blue-800;
  border-radius: 3rem;
  background: walaaColors.$Utility---White-white-500;
  border: 1px solid transparent; // Initial border

  // Hover effect
  &:hover {
    color: walaaColors.$Primary1---Blue-primary1---blue-800;
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }

  // Retain border when active
  &:active {
    color: walaaColors.$Primary1---Blue-primary1---blue-800;
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.policy-link {
  width: 74%;
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---White-white-500;

  border-radius: 3rem;
  background: walaaColors.$Primary1---Blue-primary1---blue-800;

  &:hover {
    background: walaaColors.$Primary1---Blue-primary1---blue-800;
    color: walaaColors.$Utility---White-white-500;
  }
}

.policy-details {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 3rem;
  background: walaaColors.$Primary1---Blue-primary1---blue-800;

  color: walaaColors.$Utility---White-white-500;

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;

  &:hover {
    background: walaaColors.$Primary1---Blue-primary1---blue-800;
    color: walaaColors.$Utility---White-white-500;
  }

  .claim-upload {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: 3rem;
    background: walaaColors.$Primary2---Light-Blue-primary2---light-blue-50;
  }
}

.renew-outline {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  border: 1px solid walaaColors.$secondary-colors-group-secondary-6-red-500-core-secondary-6-red-500;
  background: walaaColors.$Utility---White-white-500;
  color: walaaColors.$secondary-colors-group-secondary-6-red-500-core-secondary-6-red-500;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.dashboardSlideBtn {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
  background: walaaColors.$Utility---White-white-500;
}

.addEmail {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid walaaColors.$secondary-colors-group-secondary-6-red-500-core-secondary-6-red-500;
  background: walaaColors.$Utility---White-white-500;
}

.filterBtnsActive {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---White-white-500;

  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-500;
  background: walaaColors.$Primary1---Blue-primary1---blue-500;

  &:hover {
    background: walaaColors.$Primary1---Blue-primary1---blue-800;
    color: walaaColors.$Utility---White-white-500;
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;
  }
}

.filterBtnsInactive {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Primary1---Blue-primary1---blue-500;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-500;

  border-radius: 3rem;
  background: walaaColors.$Utility---White-white-500;

  &:hover {
    background: walaaColors.$Utility---White-white-500;
    color: walaaColors.$Primary1---Blue-primary1---blue-800;
    border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-800;

  }
}

.filterBtnsDisabled {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Utility---Dark-Grey-dark-grey-200;
  border-radius: 3rem;
  background: walaaColors.$Utility---White-white-500;
  border: 1px solid walaaColors.$light-grey-100;
}

.endoCancelBtn {
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: walaaColors.$Primary1---Blue-primary1---blue-500;

  border-radius: 3rem;
  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-500;
  background: walaaColors.$white;
}

.endoConfirmBtn {
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid walaaColors.$Primary1---Blue-primary1---blue-500;
  border-radius: 3rem;
  background: walaaColors.$Primary1---Blue-primary1---blue-500;
}

.register-call2action {
  
}