@use '../../styles/_colors.scss' as *;
@use'../../styles/fonts.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin half-circle($top, $right, $bottom, $left, $background-url) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    background: url($background-url) no-repeat;
}

.custom-carousel-wrapper {
    background-color: $primary-blue-500 !important;
    position: relative;
    background: url(../../assets/MotorInsuranceProducts/vector-top.svg) no-repeat top right, 
    url(../../assets/MotorInsuranceProducts/Vector-bottom.svg) no-repeat bottom left ;

    .custom-content-wrapper {
        padding-top: 48px;
        padding-bottom: 75px;



        .custom-title {
            @include utils.font-setting($themeWhite, 32px, 48px);
        }

        .custom-carousel {
            padding-top: 24px;

            .carousel-item {
                flex-direction: column;
                gap: 8px;
                padding: 24px;
                cursor: pointer;
                border-right: 1px solid $cool-blue;
                align-self: stretch;

                .header-content {
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 24px;

                    span {
                        @include utils.font-setting($themeWhite, 20px, 30px);
                        @include utils.display-ellipse(1);
                    }

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                .description-content {
                    @include utils.font-setting($themeWhite, 18px, 28px);
                    @include utils.display-ellipse(3);
                }
            }
        }
    }

    .news-carousel-button-group{
        top: 48px;
    }
    // Custom Dot Styles (Circle for Inactive, Rectangle for Active)
    .custom-carousel .react-multi-carousel-dot-list {
        bottom: 10px; // Adjust the position if needed
   
        .react-multi-carousel-dot {
          button {
            background-color: $light-Grey-100; // Default color for inactive dot
            width: 12px; // Default circle size
            height: 12px;
            border-radius: 50%; // Makes it circular
            transition: all 0.3s ease;
            margin: 0 6px;
          }
   
          &.react-multi-carousel-dot--active {
            button {
              background-color: $red-utility; // Red color for active dot
              width: 20px; // Make active dot a rectangle
              height: 12px;
              border-radius: 4px; // Rounded rectangle
            }
          }
        }
      }
}