@use "../../../styles/color.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use '../../../../../app-shell/src/styles/media-queries' as *;

.form-success-block {
  display: flex;
  min-height: 410px;
  align-items: center;
  text-align: center;
  .login-success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1 0 0;
  
  .success-icon{
    width: 48px;
    height: 48px;
    padding: 25px 0px;
    background-image: url("../../../assets/Login/success.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
  .success-message{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-Grey-500;
    font-size: 16px;
    line-height: 24px;
    @extend .walaa-regular-400;
  }
  .success-button{
    display: flex;
    justify-content: center;
    @extend .walaa-regular-400;
    button{
      color: $themeWhite;
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 48px;
      background-color: $primary-blue-500;
      border: 1px solid $primary-blue-500;
    }

  }
  }
}

