.changecustvehcontainer {
  padding: 96px 0px 96px 0px;

  .right-card-policy {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 30%;
  }
}