@use "../../styles/colors" as *;

.personal-dashboard-bg{
    overflow-x: hidden;
    background: $Utility---Light-Grey-utility---light-grey-50;
    padding-bottom: 96px;
}

@media (min-width: 1440px) {
    .personal-dashboard-bg .container-fluid {
        width: 1440px;
        .dashboard-container { padding: 0px;}
    }
}