@use "../../../styles/colors" as walaaColor;
@use "../../../styles/_fonts" as *;

.acc-body {
    .container {
        .acc-body-sr-warning {
            display: flex;
            padding: 16px;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px;
            border-left: 2px solid walaaColor.$Secondary4-tulip-dark-100;
            background: walaaColor.$Secondary4-tulip-light-100;
            .acc-body-sr-warning-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                .sr-warning-icon {
                    size: 24px;
                    color: walaaColor.$Secondary4-tulip-dark-500;
                }
            }
            .sr-warning-content {
                flex: 1 0 0;
                color: walaaColor.$Secondary4-tulip-dark-500;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                @extend .walaa-regular-400; 
            }
        }
}
}