@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.indi-ent-section {
    background-color: $light-grey-50-utility;
    display: flex;
    padding: 48px 72px 192px 72px;
    position: relative;
    bottom: -65px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
        .highlighter-content {
            background: $primaryBlue-800 url(../../assets/HighlighterCard/walaa-mask-logo.png) right top no-repeat;
            width: 856px;
            padding: 32px;
            border-radius: 16px;

            .register-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 16px;

                p {
                    text-align: center;
                    @include utils.font-setting($aliceBlue, 20px, 30px);
                }

                .blue-button-grp {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    gap: 24px;
                }

            }

            .newsletter-wrapper {
                width: 80%;
                p {
                    @include utils.font-setting($primary-blue-200, 16px, 24px);
                    padding-bottom: 16px;
                }

                .form-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;

                    input {
                        border: 1px solid $dark-grey-200;
                        height: 48px;

                        &::placeholder {
                            @include utils.font-setting($dark-grey-200, 16px, 24px);
                        }
                    }
                }
            }

            .action-button {
                padding: 10px 20px;
                border-radius: 48px;
                background-color: $primarySkyBlue;
                @include utils.font-setting($aliceBlue, 16px, 24px);
            }

        }
}

.walaa-academy-change-story-about{
    ul{
        width: 100% !important;
        li{
            a{
                color: $primaryBlue !important;
            }
        }
    }
}



// @media (max-width: 1024px) {
@include media(lg) {
    .indi-ent-section .dark-blue { width: 100%;}
    
}