@use "../../styles/utils" as utils;
@use "../../styles/colors" as *;


.calendar-icon{
  cursor: pointer;
}
.calendar-icon-right {
  direction: rtl;
  text-align: end;
}
.calendar-icontoggle {
  width: 100%;
}
.calendar-icontoggle:focus-visible {
  outline: none;
  box-shadow: none;
}
.calendar-icon-right + svg.icon.icon-tabler.icon-tabler-calendar-event {
    right: 2.5px !important;
}

.calendar-switch {
  justify-content: space-between;
  padding: 0px;  
  input.rmdp-input{
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  .disabled-label {
    @include utils.font-setting($Utility---Dark-Grey-dark-grey-200, 12px, 18px);
    padding-left: 5px;
  }

  .label {
    @include utils.font-setting($blue, 12px, 18px);
    padding-left: 6px;
  }

  // date picker icon when input with no-icon class
  .date-picker-icon {
    &:focus-visible {
      outline: none;
    }
  }
}
