@use "../../../../styles/_colors.scss" as *;
@use "../../../../styles/_fonts.scss" as walaaFont;

@mixin flex($direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}


.home-claim-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding: 40px 72px 72px 72px;
  margin-bottom: 20px;

  .policy-claim-left-card {
    @include flex(column, flex-start, flex-start, 1rem);
    width: 67%;
    background: transparent;
    border: 0;
    padding: 0px;

    .policy-claim-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 0;
      border-radius: 20px;
      width: 100%;
      border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
      background: $white;

      .horizontal-line {
        width: 100%;
        margin: 0;
        color: $light-grey-300;
        opacity: 0.5;
      }

      .policy-list {
        display: flex;
        width: 50% !important;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: var(--Auto-Number, 0px) 24px;
        align-self: stretch;

        .form-select {
          width: 100% !important;
          height: 48px !important;
          padding: 12px 16px !important;
        }
      }

      .select-policy-header {
        display: flex;
        padding: var(--Auto-Number, 0px) 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-left: 4px solid $red-utility;
        color: $Primary1---Blue-primary1---blue-800;
        font-size: 20px;
        line-height: 30px;
      }

      .endorsement-box-container {
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        .endorsement-box-wrapper {
          display: flex;
          width: 258.667px;
          padding-bottom: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          border-radius: 16px;
          border: 2px solid $Utility---Light-Grey-utility---light-grey-300;
          background: $white;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
          position: relative;

          &.selected {
            border: 2px solid $blue;
            background: $light-blue-50;

            .label-name {
              color: $text-hyperlink !important;
            }

            .policy-radio-box {
              background: #185a7d !important;

              .policy-radio-box-circle {
                background: $white !important;
                width: 9px !important;
                height: 9px !important;
              }
            }
          }

          .add-benefits-background {
            width: 255px;
            height: 171px;
            background: url('../../../../assets/Claims/add-benefits.png') no-repeat;
            opacity: 1;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
          }

          .add-beneficiary-background {
            width: 254px;
            height: 171px;
            background: url('../../../../assets/Claims/add-beneficiary.png') no-repeat;
            opacity: 1;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
          }

          .radio-box-content {
            position: absolute;
            bottom: 15px;
            left: 20px;

            .label-name {
              font-size: 20px;
              line-height: 30px;
              padding-left: 10px;
              color: $Utility---Dark-Grey-dark-grey-200;
              @extend .walaa-medium-500;
            }

            .policy-radio-box {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              background: $light-grey-300;

              .policy-radio-box-circle {
                background: $white;
                border-radius: 50%;
                width: 23px;
                height: 23px;
              }
            }
          }
        }
      }

      .benefits-box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0 24px;

        .small-card,
        .small-card-selected {
          background-color: $white;
          border-radius: 16px;
          padding: 32px 16px 16px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          border: 1px solid $light-grey-100;
          position: relative;

          .most-frequently {
            background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-600;
            border-bottom-left-radius: 16px;
            border-top-right-radius: 16px;
            padding: 4px 8px;
            font-size: 12px;
            line-height: 18px;
            color: $white;
            position: absolute;
            top: 0;
            right: 0;
          }

          &.small-card-selected {
            border-color: $Primary1---Blue-primary1---blue-50;
            background-color: $Primary2---Light-Blue-primary2---light-blue-50;
          }

          .card-headerr {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .card-header-content {
              display: flex;
              gap: 8px;
              align-items: center;
            }

            .card-title-content {
              font-size: 16px;
              line-height: 24px;
              color: $dark-grey-500;
            }

            .card-description {
              font-size: 14px;
              line-height: 22px;
              color: $dark-grey-400;
            }
          }

          .card-footerr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;

            .price {
              color: $Primary1---Blue-primary1---blue-700;
            }

            .add-btn,
            .remove-btn {
              font-size: 14px;
              line-height: 22px;
              padding: 8px 16px;
              cursor: pointer;
            }

            .add-btn {
              border: 1px solid $Primary1---Blue-primary1---blue-800;
              color: $Primary1---Blue-primary1---blue-800;
            }

            .remove-btn {
              border: 1px solid $red-utility;
              color: $red-utility;
            }
          }
        }
      }
    }
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .home-claim-details{
    display: block;
    .policy-claim-left-card {
      width: 100%;
      padding: 10px 0px;
    }
  }
}

/* Extra Small Screens */
@media (max-width: 480px) {
  .home-claim-details{
    display: block;
    .policy-claim-left-card {
      width: 100%;
      padding: 10px 0px;
    }
  }
}
