@font-face {
	font-family: 'Graphik Arabic Web';
	src: url('GraphikArabic-Super-Web.woff2') format('woff2'),
		 url('GraphikArabic-Super-Web.woff') format('woff');
	font-weight: 1000;
	font-style: normal;
	}

.GraphikArabic-Super-Web {
	font-family: 'Graphik Arabic Web';
	font-weight: 1000;
	font-style: normal;
	}
