@use "./../../../styles/_colors" as walaaColor;

.model-text {
    color: walaaColor.$Primary1---Blue-primary1---blue-600;
    cursor: pointer;
}

.terms-and-conditions-container {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: walaaColor.$dark-grey-500;

    .only-text {
        font-size: 16px;
        color: walaaColor.$Primary1---Blue-primary1---blue-500;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    .wrapper {
        .form-check-input {
            height: 24px;
            width: 24px;
        }

        .form-check-input:focus {
            box-shadow: none;
        }

        .form-check-input:checked {
            background-color: walaaColor.$Primary1---Blue-primary1---blue-500;
            border-color: walaaColor.$Primary1---Blue-primary1---blue-500;
        }
    }
}