@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.bordered-btn {
  padding: 8px 16px;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
  background: walaaColor.$white;

  @include fontStyle(14px,
    22px,
    walaaColor.$Primary1---Blue-primary1---blue-800 );
  @extend .walaa-medium-500 !optional;
}

/* Reusable classes */
.manage-benefits {
  .benef-row {
    display: flex;
    padding: 8px 16px;
    border: 1px solid walaaColor.$light-grey-100-utility;
    border-radius: 8px;
    margin-bottom: 16px;
    align-items: center;

    .line {
      margin-right: 24px;
    }

    .benef-content {
      width: 40%;

      .bene-head {
        @include fontStyle(16px, 24px, walaaColor.$dark-black-100);
        @extend .walaa-medium-500 !optional;
      }

      .bene-val {
        @include fontStyle(16px,
          24px,
          walaaColor.$dark-grey-500);
        @extend .walaa-regular-400 !optional;
      }
    }

    .action {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .benef-row.recent-added {
    border-radius: 8px;
    border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
    background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;
  }
}

.add-bene-heading {
  @include fontStyle(18px, 28px, walaaColor.$dark-grey-500);
  @extend .walaa-medium-500 !optional;

  padding-top: 0px;
  padding-bottom: 16px;
  border: none;
}

.content-benefits {
  display: flex;
  padding-bottom: 15px;

  .benefits-column {
    padding-right: 15px;
    width: 50%;

    .bene-head {
      padding-bottom: 10px;
      @include fontStyle(16px, 24px, walaaColor.$dark-grey-500);
    }

    .content-benefits-textbox-wrapper {
      width: 100%;
      border-radius: 4px;
      border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
      padding: 12px 16px;
      &:focus {
        border: 1px solid walaaColor.$dark-grey-500;
        box-shadow: none;
      }
    }
  }

  .butn-div {
    margin-top: 44px;

    .btn {
      @extend .bordered-btn;

      &:disabled {
        background: walaaColor.$Utility---White-white-500;
        border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
        color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
      }
    }
  }
}

.content-benefits-btn {
  padding-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  border-top: 1px solid walaaColor.$light-grey-100-utility;

  .btn {
    @extend .bordered-btn;
    color: walaaColor.$Utility---White-white-500;
    background: walaaColor.$Primary1---Blue-primary1---blue-800;

    &:hover {
      color: walaaColor.$Utility---White-white-500;
      background: walaaColor.$Primary1---Blue-primary1---blue-600;
      border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
    }

    &:disabled {
      background: walaaColor.$Utility---White-white-500;
      border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
      color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
    }
  }
}