@use "../../styles/color.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.ceo-section-container {
  padding: 96px 72px 0px 72px !important;
  .ceo-main {
    padding: 96px 72px 0px 72px;
    .ornament-board-bottom {
      position: absolute;
      top: 732px;
      left: -47px;
      background: url(../../assets/boardofmanagement/ornament-top.png) no-repeat;
      width: 216px;
      height: 345px;
      z-index: 0;
    }
    .ceo-image {
      object-fit: cover;
      max-width: 100%;
      position: relative;
      z-index: 1 !important;
    }
    .heading-name {
      text-align: left;
      color: $primaryBlue;
    }
    .heading-position {
      text-align: left;
      padding-left: 0px;
      color: $dark-Grey-500;
    }
    .description-section {
      padding: 0px;
      position: relative;

      .ornament-board-top {
        position: absolute;
        top: -218px;
        left: 635px;
        background: url(../../assets/boardofmanagement/ornament-top.png)
          no-repeat;
        width: 156px;
        height: 345px;
        z-index: 0;
      }
      .heading-description {
        text-align: left;
        color: $darkestGrey;
      }
    }
  }
}

// @media only screen and (max-width: 1200px)
@media (min-width: 992px) and (max-width: 1200){

}
@include media(xl) {
  .board-of-managemnet-main {
    .ceo-section-container .ceo-main {
      flex: 0 0 auto;

      padding: 48px 64px 0px 64px;
      width: 100% !important;
      justify-content: space-between;

      .heading-description {
        margin-bottom: 20px;
      }
      .ornament-board-top {
        position: absolute;
        top: -190px;
        left: 116%;
        transform: translateX(-50%);
        background: url(../../assets/boardofmanagement/ornament-top.png)
          no-repeat;
        width: 156px;
        height: 345px;
        z-index: 0;
      }
    }
  }
}

// @media only screen and (max-width: 768px)
@include media(md) {
  .ceo-section-container {
    .ceo-main {
      .ornament-board-bottom {
        top: 534px;
        left: 92px;
        transform: rotate(270deg);
        background: url(../../assets/boardofmanagement/ornament-top.png)
          no-repeat;
      }
    }
  }

  .ornament-board-top {
    display: none;
  }

  .team-container .team-outer .semi-circle-bottom {
    display: none;
  } // Temporary

  .team-container .team-outer .semi-circle-top {
    position: absolute;
    top: 0px;
    background: url(../../assets/boardofmanagement/semi-circle-top.png)
      no-repeat;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0 !important;
    background-size: 490px;
  }

  .ceo-section-container {
    .ceo-main {

      .ornament-board-bottom {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 542px;
      }

      .heading-name {
        text-align: center;
        @include utils.font-setting($primaryBlue, 28px, 42px);
        margin-top: 24px !important;
      }
      .heading-position {
        text-align: center;
        @include utils.font-setting($primaryBlue, 18px, 28px);
      }

      .description-section {
        padding-bottom: 48px;
        .heading-description {
          text-align: center;

          @include utils.font-setting($primaryBlue, 18px, 28px);
        }
      }

      .ceo-image {
        max-width: 306px;
      }
    }
  }
}

@include media(sm){
  .ceo-section-container {
    .ceo-main {
      padding: 48px 0px 0px 0px !important;
    }
  }
}


@include media(min1540) {
  .ceo-section-container{ 
    .ceo-main { 
      width: 1440px;  
      margin: 0 auto;
      display: flex;
      height: auto;
      flex-direction: row;
    } 
  } 
}

