// Base Colors
$blue: #185A7D;
$sky-blue: #609BCF;
$dark-blue: #12394C;
$light-blue: #F0F7FC;
$alice-blue: #E8EFF2;
$white: #fff;
$Ocean-Haze: #84d8ef;

// Grey Scale
$light-grey-100: #BABABA;
$light-grey-100-utility: #EFEFEF;
$light-grey-400-utility: #D6D6D6;
$dark-grey: #6A6A6A;
$darkest-grey: #4D4D4D;
$dark-grey-500: #202020;

// Accent Colors
$crimson-red: #D7395C;
$red-utility: #CD0833;