// Common Colors

$themeBlue: #002873;
$primarySkyBlue: #609BCF;
$primaryBlue: #185A7D;
$darkBlue: #12394C;
$lightBlue: #F0F7FC;
$themeWhite: #fff;
$light-Grey-100: #BABABA;
$darkestGrey: #4D4D4D;
$dark-Grey-500: #202020;
$light-grey-100-utillity: #EFEFEF;
$light-grey-400-utility: #D6D6D6;
$aliceBlue: #E8EFF2;
$crimsonRed: #D7395C;
$requiredRed: #F20000;
$red-utility: #CD0833;
$darkGrey: #6A6A6A;
$boxShadowColor: #ECEDEE;
$themeLightGrey: #c9c1c1;
$themeDarkGrey: #6A6A6A;
$themeBackground: #faf9f9;
$themeBlack: #121517;
$darkest-blue : #032030;
// New-color - Please add below if you encounter new set of colors
$primaryBlue-800: #0D3245;
$primaryBlue-900: #0A2635;
$dark-grey-200: #989898;
$dark-grey-300: #6A6A6A;
$primary-blue-300: #6490A8;
$primary-blue-500: #02487B;
$primnary-blue-600: #165272;
$primnary-blue-100:  #B7CCD7;
$primary-blue-700: #114059;
$primary-grey-50: #E9E9E9;
$penumbraBlue:#173666;
$scroll-bar-blue: #D1DEE5;
$light-grey-50-utility: #FAFAFA;
$light-grey-200-utility: #E8E8E8;
$light-grey-800-utility: #707070;
$light-grey-300-utility: #DDDDDD;
$primary-blue-200: #95B3C3;
$primaryBlue-400: #467B97;
$primaryBlue-100: #D1E5F7;
$primary-blue-100: #D1E5F7;
$primary-blue-400: #467B97;
$east-icon-color: #467B97;
$blue-tick: #6AAAE4;
$shadow-box-blue-40: #0e3448cc;
$shadow-box-blue-100: #207cab00;
$iconYes: #698F43;
$primary-blue-light-200: #BAD8F3;
$dark-black:#0000001f;
$light-blue-200 : #bad8f3 ;
$tulip-tree-500 : #E0A230;
$tulip-tree-800: #7B591A;
$asparagus-50: #F1F5ED;
$dark-charcoal:#333333;
$shadow-box-blue-10: #0000001a;
$shadow-box-blue-70: rgba(0, 30, 46, 0.7);
$shadow-box-blue-50: rgba(1, 40, 60, 0);
$shadow-box-blue-60: rgba(10, 38, 53, 0);
$linear-gradient-blue-10: #0a263500;
$Secondary2---Asparagus-Shade-secondary2---asparagus-700: #526F35;
$Secondary2---Asparagus-secondary2---asparagus-500: #739d4a;
$crimson-red-900:#560315;
$Primary2---light-blue-800: #3A5E7D;
$black: #000000;
$Ocean-Haze: #84d8ef;
$Secondary6---Crimson-Red-Secondary6---Crimson-Red-500: #CD0633;