@use "../../styles/_colors.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.layout-switch {
  align-items: center;
  border: 1px solid $primary-blue-500;
  border-radius: 80px;
  background-color: $themeWhite;
  padding: 3px;

  .icon-wrapper {
    cursor: pointer;
    padding: 4px;

    img {
      padding: 3px 12px;
    }

    &.active-layout {
      transition: background-color 0.6s ease-in-out;
      background-color: $Light-Sky-Blue;
      border-radius: 24px;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
