@use '../../../styles/_colors' as *;

.ChangePolicyStartDateModal{

  .modal-dialog{
    .modal-content{
      width: 310px;
      height: 250px;
      .modal-header{
        .btn-close{
          display: none;
        }
      }
    }
  }
}