@use "./../../styles/_colors" as walaaColor;

.did-you-know-card-container {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  background-color: walaaColor.$Utility---Light-Grey-utility---light-grey-50;
  border-radius: 8px;
  border: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;

  .head {
    color: walaaColor.$dark-grey-500;
    font-size: 14px;
    line-height: 22px;
    padding-top: 5px;
  }
  .content-box {
    color: walaaColor.$dark-grey-400;
    font-size: 12px;
    line-height: 18px;
    .content {
      padding: 0.25rem 0 0 0.75rem;
      
      ol{ 
        list-style: decimal;
      li{
        color: walaaColor.$darkest-grey;
        font-size: 16px;
        line-height: 24px;
        a {
          color: walaaColor.$Blue-Shades-primary1---blue-600;
        }
      }
    }
    }
  }
}
