@use "../../styles/color" as *;

.common-offcanvas {
  //common styling for offcanvas
}

.custom-offcanvas {
  display: flex;
  width: 416px;
  height: 934px;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px 0px 0px 16px;
  border: 1px solid $light-grey-300-utility;
  background: $themeWhite;

  .offcanvas-header {
    border-bottom: 1px solid $light-grey-100-utillity;
    width: 100%;
    padding: 24px 24px 16px 24px;
  }

  .offcanvas-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
