@use "../../styles/color.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;


@include media(xl) {
    .sustainability-wrapper{
        .midContainer{
            padding: 0px 64px 0px 64px !important;
            margin-bottom: unset;
        }
    }
}

@include media(md) {
    .sustainability-wrapper{
        .midContainer{
            padding: 0px 16px 0px 16px !important;
            margin-bottom: unset;
        }
    }
}