@use "../../styles/_colors.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use '../../styles/utils' as utils;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.insurance-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  @include utils.sectionPadding(96px,0px);

  background-color: $light-grey-50-utility;
  background-image:  url(../../assets/downloadapp/MobileLeft.svg),
   url(../../assets/downloadapp/MobileRight.svg);
  background-size: auto , auto ;
  background-position: left bottom , right top;
  background-repeat: no-repeat , no-repeat;

  .content {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

      &.container{ padding-top:0!important;padding-bottom:0!important}



    .insurance-image {
      width: 100%;
      max-width: 416px;
      background-image: url(../../assets/downloadapp/Phone.png), url(../../assets/downloadapp/PhoneShadow.png);
      background-position: center top, center top; /* Position for each image */
      background-size: 304px , 100%; /* Size for each image */
      background-repeat: no-repeat, no-repeat;
      height: 671px;

      .carousel-container {
        left: 80px;
      }

      .phone-banner {
        padding-top: 25px;

        .phone-banner-img {
          width: 255px;
          height: 540px;
          border-radius: 30px;
        }
      }
    }

    .text-content {
      flex: 1;
      text-align: left;
      padding-top: 64px;


      h2 {
        margin-bottom: 8px;
        @include utils.font-setting($primaryBlue, 32px, 48px);

      }

      h2,
      p {
        max-width: 100%;
      }

      p {
        @include utils.font-setting($dark-grey-500, 18px, 28px);
      }

      .feature {
        padding: 48px 0;
        display: flex;


        .carousel-container {
          padding: 4px 0 4px 32px;

          h3 {
            @include fontStyle(20px, $dark-Grey-500);

            margin-bottom: 12px;
          }

          p {
            @include fontStyle(14px, $darkestGrey);
          }
        }

        .custom-dot-list-style {
          text-align: left !important;
          display: block;
          padding-top: 2px;
          bottom: 0px;
          position: relative;

          .react-multi-carousel-dot {
            cursor: none;
            border: none;

            &::before {
              content: "";
              border-left: 1px solid $light-Grey-100;
              position: relative;
              left: 3.1px;
              top: -6px;
              transition: border-left 0.3s ease;
            }

            .button-dots {
              position: relative;
              z-index: 1;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              cursor: none;
              background-color: none;
              transition: background-color 0.3s ease, width 0.3s ease,
                height 0.3s ease;
            }

            .button-dots-active {
              z-index: 1;
              border: 1px solid $red-utility;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              cursor: none;
              position: relative;
              left: 0px;
              background-color: $red-utility;
              transition: background-color 0.3s ease, width 0.3s ease,
                height 0.3s ease;
            }

            &.visited {
              .current_active {
                left: -2px;
                width: 15px;
                height: 15px;
              }

              &::before {
                border-left: 1px solid $red-utility;
                transition: border-left 0.3s ease;
              }
            }
          }

          &:first-child {
            .react-multi-carousel-dot {
              position: relative;
              left: 1px;

              &::before {
                border-left: none;
              }
            }
          }
        }
      }

      .download-section {
        margin-top: 20px;
        display: flex;

        .qr-code {
          width: auto;
          height: auto;
        }

        .app-links {
          align-items: center;
          gap: 10px;
          margin-left: 16px;

          h3 {
            font-size: 16px;
            margin-bottom: 16px;
            color: $dark-charcoal;
          }

          .download-link {
            display: flex;
            padding: 0px;

            img{
              width: 120px;
            }

            li {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .insurance-experience {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding-right: 72px;

      .carousel-container {
        right: -35px;
        padding-right:62px!important;
      }

      .phone-banner {
        padding-left: 44px;
      }

      .text-content {
        text-align: right;


        h2 {
          max-width: 96%;
        }

        p {
          max-width: 71%;
        }

        .feature {
          padding: 52px 0;
          display: flex;

          .custom-dot-list-style {
            text-align: right !important;

            .react-multi-carousel-dot {
              cursor: none;
              border: none;

              &::before {
                border-right: 1px solid $light-Grey-100;

                right: 2.9px;
              }

              .button-dots-active {
                right: 1px;
              }

              &.visited {
                .current_active {
                  right: -2px;
                }

                &::before {
                  border-right: 1px solid $red-utility;
                }
              }
            }

            &:first-child {
              .react-multi-carousel-dot {
                right: 1px;

                &::before {
                  border-right: none;
                }
              }
            }
          }
        }

        .app-links {
          margin-right: 16px;

          h3 {
            margin-right: 10px;
          }

          li {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

// rtl end

// @media (max-width: 1200px) {
@include media(xl) {
  .insurance-experience {
    @include utils.sectionPadding(64px,0px);
    .content {
      width: 100%;
      &.container{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
      }
    }
    .download-section {
      margin-top: 0px !important;
    }
  }
}

@include media(lg){
  .insurance-experience{
    .download-section {
      align-items: center;
      .app-links {
        .download-link {
          flex-wrap: wrap;
          li {
            margin-bottom: 10px;

            &:last-child {
              flex-basis: 100%;
            }
          }
        }
      }
    }

  }
}

// @media (max-width: 786px) {
@include media(md) {
  .insurance-experience {
    @include utils.sectionPadding(48px,48px);

    .content {
      flex-direction: column;
      justify-content: center;
      padding: 0 39px;
      align-items:center;

      .insurance-image{
         .carousel-container{
            max-width: 255px;
            left:0px;
            right:0px;
            margin-left: auto;
            margin-right: auto;
         }
      }

      .text-content {
        padding: 0;
        width: 100%;

        .feature {
          width: 100%;
          position: relative;
        }

        h2 {
          @include utils.fontStyle(24px, 36px);

          max-width: 100%;
        }

        p {
          max-width: 100%;
          @include utils.fontStyle(16px, 24px);

        }

        .download-section {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 10px;

          .app-links {
            margin-left: 0px;
            .download-link{
              .download-icon{
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 550px) {
@include media(sm) {
  .insurance-experience {



    .content {

      &.container{ padding-top:0!important;padding-bottom:0!important}

      .text-content {
        .feature {
          .carousel-container {
            height: 150px;
          }

          .custom-dot-list-style {
            bottom: auto !important;
          }
        }
      }
    }
  }
}


@include media(min1440) {
  .insurance-experience .content.container { width: 1440px;}
}