@use "../../../../../../styles/colors" as *;

.autosuggest-card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $Secondary2---Asparagus-secondary2-asparagus-200;

  .autosuggest-icn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    background: $green-500-medium;
  }

  .autosuggest-card-footer {
    background-color: $fade-black;

    .most-cust {
      color: $dark-black-100;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      padding: 0px 16px 0px 8px;
    }
  }

  .additional-text {
    color: $Utility---Dark-Grey-dark-grey-500;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  span.comp-repair-text {
    color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
  }

  span.cur-text {
    color: $dark-grey-500;
  }

  .card-footer {
    border-top: none;
    padding: 8px 16px 8px 72px;

  }

  button.register-call2action {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    background: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;
    font-weight: 500;

    &:hover {
      background: $Primary1---Blue-primary1---blue-800;
    }
  }
}

.comprehensive-content {
  width: 100%;
}

@media (max-width: 768px) {
  .autosuggest-card {
    .flex-icon-container {
      align-items: flex-start;
    }

    .autosuggest-card-footer {
      .apply-recommend {
        flex-direction: column;
      }
    }
  }
}