@use "../../styles/color.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.newsroom-wrapper {
  .newsroom-container {
    background-color: $themeWhite;
    margin-top: 48px;

    .heading {
      padding-bottom: 8px;
      font-size: 32px;
      line-height: 48px;
      color: $primaryBlue;
    }
  }

  .highlighter-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
  }
}

/*Responsive of highlighter banner on news page*/

// @media only screen and (max-width: 1200px)
@include media(xl) {
  .newsroom-container.container-fluid {
    padding: 48px 64px 132px 64px !important ;
    margin-top: 0px;
  }
  .heading {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .highlighter-wrapper {
    gap: 32px;
    padding: 48px 64px 132px 64px;
    margin-top: -180px;
  }
  .newsroom-wrapper {
    .indi-ent-section {
      padding: 0px 0px 0px 0px;
    }
  }
  
  .indi-ent-section .highlighter-content {
    width: 100%;
  }
}

@include media(md){
  .newsroom-container.container-fluid {
    padding: 24px 16px 132px 16px !important ;
  }
  .shared-card-wrapper {
    &.card {
      width: 100%;
      margin-top: 18px;
    }
  }
  .highlighter-wrapper {
    gap: 32px;
    padding: 48px 16px 132px 16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .newsroom-wrapper {
    .highlighter-content {
      max-width: 398px;
      padding: 24px 16px;

      .newsletter-wrapper {
        width: 100%;

        .form-wrapper {
          flex-direction: column;
        }
      }
    }
  }
}

// responsive styles

@media (max-width: 443px) {
  .newsroom-wrapper {
    .highlighter-wrapper {
      bottom: 0;
      padding-bottom: 24px;

      .indi-ent-section {
        background-color: $themeWhite;
        padding: 32px 16px 16px 16px;
        bottom: 0;

        .highlighter-content {
          width: 100%;
          padding: 30px 16px 24px;

          .newsletter-wrapper {
            width: 100%;

            .form-wrapper {
              flex-direction: column;
            }
          }
        }
      }
    }

    .newsroom-container.container-fluid {
      padding: 48px 16px 132px 16px!important;

      .heading {
        padding-top: 5px;
      }

      .row {
        flex-direction: column;
      }

      .shared-card-wrapper {
        &.card {
          width: 100%;
          margin-top: 18px;
        }

        .card-body {
          height: auto;
        }
      }
    }
  }
}
