@use "../../styles/_colors.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use "../../styles/fonts.scss" as walaaFont;


@mixin half-circle($top, $right, $bottom, $left, $background-url) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    background: url($background-url) no-repeat;
    height: 503px;
}

.document-library {
    background-color: $themeWhite;   
    position: relative;
    top: 50px;
    bottom: 0px;

    .document-library-wrapper {
        position: relative;
        z-index: 1;
        padding-top: 48px;
        padding-bottom: 48px;

        .header-wrap {
            align-items: center;
            justify-content: space-between;
            padding: 0 72px;
            height: 100px;

            .heading-innerhtml {
                flex-direction: column;
                gap: 5px;

                h2 {
                    @include utils.font-setting($primaryBlue, 24px, 36px);
                    @extend .walaa-medium-500;
                }

                p {
                    @include utils.font-setting($darkestGrey, 16px, 24px);
                }
            }
        }

        .card-wrapper {
            padding-top: 24px;
            padding-bottom: 150px !important;
            background-color: $ice-blue;  
            margin-bottom: 2px; 

            .row {
                .list {
                    width: 100% !important;
                }
            }
        }
    }
}