@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.additional-benefits-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-radius: 20px;
  border: 1px solid $light-grey-300;
  background: $white;

  .header {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-left: 4px solid $red-utility;
    color: $dark-grey-500;
    font-size: 16px;
    line-height: 24px;
  }

  .horizontal-line {
    width: 100%;
    margin: 0;
  }

  .horizontal-line-card {
    width: 100%;
    margin: 8px 0;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 24px;
  }

  .small-card,
  .small-card-selected {
    background-color: $white;
    border-radius: 16px;
    padding: 32px 16px 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid $light-grey-100;
    position: relative;

    .most-frequently {
      background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-600;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      padding: 4px 8px;
      font-size: 12px;
      line-height: 18px;
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
    }

    &.small-card-selected {
      border-color: $Primary1---Blue-primary1---blue-50;
      background-color: $Primary2---Light-Blue-primary2---light-blue-50;
    }

    .card-headerr {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .card-header-content {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      .card-title-content {
        font-size: 16px;
        line-height: 24px;
        color: $dark-grey-500;
      }

      .card-description {
        font-size: 14px;
        line-height: 22px;
        color: $dark-grey-400;
      }
    }

    .card-footerr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;

      .price {
        color: $Primary1---Blue-primary1---blue-700;
      }

      .add-btn,
      .remove-btn {
        font-size: 14px;
        line-height: 22px;
        padding: 8px 16px;
        cursor: pointer;
      }

      .add-btn {
        border: 1px solid $Primary1---Blue-primary1---blue-800;
        color: $Primary1---Blue-primary1---blue-800;
      }

      .remove-btn {
        border: 1px solid $red-utility;
        color: $red-utility;
      }
    }
  }
}

.show-more-container {
  padding: 0 24px;

  .show-more-btn {
    color: $Primary1---Blue-primary1---blue-600;

    &:hover {
      color: $Primary1---Blue-primary1---blue-700;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
