@use "../../styles/_colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;


.template-wrapper {
  position: relative;
  overflow: visible;
}

.visiblityWrap {
  position: relative;
   overflow: visible;
  }

.tab-buttons-product {
  flex-direction: row;
  display: flex;
  border-bottom: 1px solid $primnary-blue-100;
  width: 100%;
  color: $themeWhite;
  padding: 111px 0 0 72px;
  top: -48px;
  background-image: url(../../assets/MotorInsuranceProducts/Vector.svg);
  background-position: top;
  background-color: $white;
  position: sticky;
  z-index: 2;
   .tab-mid {
    display: flex;
    flex-direction: row;
   }
  .tab-list {
    background-color: transparent;
    border: none;
    padding: 16px;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    font-size: 16px;
    color: $cool-blue;
    @extend .walaa-regular-400;

    &:hover {
     color:$primary-blue-500
    }

    &.active {
      border-bottom: 2px solid $red-utility;
      color: $primary-blue-500;
      font-weight: bold;
    }
  }
}



// Resposive Styles

@include media(xl){
  .tab-buttons-product{
    top: -70px !important;
    margin-top: -20px;
    padding-top: 282px;
}
}

@include media(lg) {
  .tab-buttons-product{
    padding:0 0 0 72px;
    margin-top: 264px;

  .get-quote-intro-text {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@include media(md) {
  .tab-buttons-product{
    margin-top: 310px;
  }


}

@include media(sm) {

  .tab-buttons-product {
    background-color: $themeWhite;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 0 16px;
    top: 70px;
    margin-top: 170px;

    &.getQuoteWidget {
      margin-top: 292px;
    }
  }
}

@include media(max430) {

.tab-buttons-product {

  &.getQuoteWidget {
      margin-top: 352px;
    }
  }
}

[dir="rtl"]{
  .tab-buttons-product{
    padding: 144px 72px 0 0;
  }

  @include media(lg) {
    .tab-buttons-product{
      margin-top: 0px;
    }
  }

  @include media(md) {
    .tab-buttons-product{
      margin-top: 40px;
    }
  }

  @include media(sm) {
    .tab-buttons-product{
      margin-top: 86px;
    }
  }

}

@include media(min1540) {
.tab-buttons-product {
  .tab-mid{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    height: auto;
    flex-direction: row;
  }
}

}

