@use "../../../styles/_colors.scss" as *;
@use "../../../../../app-shell/src/styles/media-queries" as *;

.frame-objective {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 1363px;
  background-color: $primary-blue-500 !important;
  background:                                
    url(../../../assets/Academy/Vector-left.svg) no-repeat top right,
    url(../../../assets/Academy/Vector-right.svg) no-repeat bottom left;

  .components-card {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 48px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .WalaaObjective-title {
      color: $white;
      font-size: 32px;
      font-weight: 500;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
      margin-top: 72px;
    }
  }

  .objective-carousel {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: flex-end;
    position: relative;
    margin-top: 160px; 

    .WalaaObjective-buttons-action {
      align-items: center;
      border: 1px solid;
      border-color: $light-grey-100;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: $ice-blue;
      }
    }

    .icons-material-icons {
      height: 22px !important;
      position: relative !important;
      width: 22px !important;
      color: $Sky-Blue;
    }

    .icons-material-icons-wrapper {
      align-items: center;
      border: 1px solid;
      border-color: $ice-blue;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: $ice-blue;
      }
    }
  }

  .WalaaObjective-cards {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    margin-top: 48px;
    padding-bottom: 72px;
    margin: 72px 0 72px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .cards-icon-cards {
      align-items: center;
      align-self: stretch;
      background-color: $white;
      border: 1px solid;
      border-color: $light-grey-300-utility;
      border-radius: 16px;
      box-shadow: 0px 0px 4px $shadow-box-blue-10;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 575px;
      overflow: hidden;
      padding: 32px;
      position: relative;
      width: 416px;

      .icon {
        align-items: center;
        background-color: $ice-blue;
        border-radius: 100px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        padding: 16px;
        position: relative;
      }

      .WalaaObjective-content {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: 100%;

        .contact-us {
          align-self: stretch;
          color: $deep-navy;
          margin-top: -1px;
          position: relative;
          text-align: center;
        }
      }
    }
  }

  .support {
    height: 48px !important;
    position: relative !important;
    width: 48px !important;
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 8px;
    z-index: 10;
    margin-top: 16px;

    .carousel-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $light-grey-100;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background-color: $red-utility;
        width: 20px;
        height: 12px;
        border-radius: 4px;
      }

      &:hover {
        background-color: $ice-blue;
      }
    }
  }
}

@include media(xl) {
  .frame-objective {
    width: unset;

    flex: 0 0 auto;

    .WalaaObjective-cards {
      flex-wrap: nowrap; 
      justify-content: flex-start;
      
      .cards-icon-cards {
        flex: 0 0 48%;
        width: 48%; 
      }
      
      overflow-x: auto; 
    }
  }
}

@include media(md) {
  .frame-objective {
    flex: 0 0 auto;
    width: unset;
    margin-left: 64px;
    margin-right: 64px;
    .WalaaObjective-title {
      padding-top: 78px;
    }
    .WalaaObjective-cards {
      flex-wrap: nowrap; 
      justify-content: flex-start; 
     
      .cards-icon-cards {
        flex: 0 0 100%; 
        width: 100%; 
        max-width: 100%;
        display: flex;
      }
      
      overflow-x: auto; 
    }
  }
}
