@use '../../styles/_colors.scss' as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.headofc-wrapper.container {
  padding-bottom: 0 !important;
  flex-direction: column;

  > :last-child>div {
    padding-bottom: 175px !important;
  }

  .view-branches-section {
    width: 100%;
    .view-branch-container.container-fluid {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.office-outer {
    display: flex;
    width: 100%;
    min-width: 856px;
    max-width: 1460px;
    padding: 48px;
    align-items: flex-start;
    gap: 48px;
    border-radius: 20px;
    margin: 96px 0;
    background: $primary-blue-500 url(../../assets/HeadOfficeWidget/BranchLocator-BG.svg) no-repeat;
    background-position: top;
    background-size: auto;

    .inner-frame {
        display: flex;
        align-items: flex-start;
        gap: 48px;
        flex: 1 0 0;

        .icon-position {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            border-radius: 120px;
            background: $primaryBlue-400;

            .left-icon {
                color: $themeWhite;
                height: 80px;
                width: 80px;
                padding: 16px;
            }
        }

        .office-content {
            .widget-title {
                align-self: stretch;
                color: $themeWhite;
                font-size: 32px;
                line-height: 48px;
            }

            .inner-content {
                display: flex;

                .first-block,
                .secont-block {
                    padding-right: 24px;
                    border-right: 1px solid $primary-blue-350;
                }

                .block-title {
                    color: $primary-blue-200;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 20px;
                }

                .block-content {
                    color: $white;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height:  24px;
                }

                .secont-block {
                    padding-left: 24px;

                    .hours {
                        display: flex;
                    }

                    .info-align {
                        cursor: pointer;
                        color: $themeWhite;
                        padding-left: 5px;
                    }
                }

                .third-block {
                    padding: 0 24px;

                    .block-align {
                        display: flex;
                        align-items: flex-start;
                    }

                    .text-content {
                        color: $white;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                    }
                }

                .icon-setup {
                    padding-right: 8px;
                    color: $Sky-Blue;
                    float: none;

                }
            }
        }
    }
}

// Media query
@include media(xl) {
    .container {
      padding: 48px 64px !important;
      max-width: 100% !important;
    }
    .office-outer {
      padding: 24px;
      margin: 48px 0;
      min-width: auto;
      width: 100%;

      .inner-frame {
        flex-direction: column;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        gap: 16px !important;
      }

      .info-align {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }

      .info-icon {
        margin-left: auto;
      }

      .block-content {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
      }
    }

    .third-block {
      padding: 12px 0;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  @include media(md) {
    .container {
      padding: 48px 16px !important;
      max-width: 100% !important;
    }

    .inner-content {
      display: block;

      .first-block,
      .secont-block {
        border-bottom: 1px solid $primary-blue-350;
        margin: 10px 0;
        border-right: none !important;
        padding: 0 !important;
        margin-top: 24px;
      }
    }
  }