@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}


$border-radius-container: 16px;

.radio-card {
  border-radius: $border-radius-container;
  --border-radius-inerit: 16px;

  .img-card {
    border-top-left-radius: calc(var(--border-radius-inerit) - 2px);
    border-top-right-radius: calc(var(--border-radius-inerit) - 2px);
  }
  .icon-saudi_riyal { font-size: 16px;}
  // card body content
  .body-card {
    .body-card-btn-title {
      font-size: 20px;

      input[type="radio"].form-check-input {
        &:checked {
          background-color: $Primary1---Blue-primary1---blue-50;
          border-color: $Primary1---Blue-primary1---blue-50;
        }
      }
    }

    .card-box-title h5 {
      @include fontStyle(20px, 30px, $text-hyperlink);
      @extend .walaa-medium-500;
    }

    // radio similar component
    .radio-dummy-container {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: var(--bs-border-width) solid var(--bs-border-color);
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &:hover {
        cursor: pointer;
      }

      .radio-dummy-inner-circle {
        width: 9px;
        height: 9px;
        background: $white;
        border-radius: 50%;
      }
    }

    .radio-dummy-container.radio-dummy-container-checked {
      background: $Primary1---Blue-primary1---blue-500;
      outline: 0;

      .radio-dummy-inner-circle.radio-dummy-inner-circle-checked {
        background: $white;
        border-radius: 50%;
      }
    }

    .radio-dummy-container.radio-dummy-container-unchecked+.card-box-title h5 {
      color: $Utility---Dark-Grey-dark-grey-200;
    }

    .radio-card-view-details {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 0.3em;
      }
    }
  }

  // card footer content
  .footer-card-checked {
    height: 80px;
    display: flex;
    align-items: center;
    border-top: 1px solid $light-blue-00;
    background-color: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
    border-bottom-left-radius: calc(var(--border-radius-inerit) - 2px);
    border-bottom-right-radius: calc(var(--border-radius-inerit) - 2px);
    color: $dark-grey-500;
    font-size: 14px;
  }


  .footer-card-unchecked {
    height: 80px;
    display: flex;
    align-items: center;
    border-top: 1px solid $Utility---Light-Grey-utility---light-grey-50;
    background-color: $Utility---Light-Grey-utility---light-grey-50;
    border-bottom-left-radius: calc(var(--border-radius-inerit) - 2px);
    border-bottom-right-radius: calc(var(--border-radius-inerit) - 2px);
    // color: $dark-grey;
    font-size: 14px;
  }



  .footer {
    .footer-denomination {
      font-size: 14px;
    }

    .footer-amount {
      font-size: 20px;
    }

    .footer-vat {
      color: $dark-grey;
    }
  }
}

// when one card selected
.radio-card.card-checked {
  background-color: $light-blue;
  border: 2px solid $blue;
  .img-card {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

// when loaded/no-card is selected
.radio-card.card-unchecked.nothing-selected {
  .img-card {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

// left over card when one card selected
.radio-card.card-unchecked {
  .img-card {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.card-disabled {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .radio-card {
    width: 100% !important;
  }
}