@use "../../styles/_colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use "../../styles/utils" as utils;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}
.bottom-back {
  position: absolute;
  top: 238px;
  left: -127px;
  width: 345px;
  height: 235px;
  z-index: 0;
  background-position: -40px 0px;
}
.top-back {
  position: absolute;
  top: 10px;
  right: 0;
  width: 286px;
  height: 172px;
  z-index: 0;
}
.About_section {
  background: $themeWhite;
  display: flex;
  padding: 0px 0px 0 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  .visiblityWrap{
    width: 100%;
  }
  .quality-container {
    .how-section1{padding-top: 87px;}
  }

  .about-content {
    @include utils.sectionPadding(48px, 96px);
    background: url(../../assets/boardofmanagement/AboutWalaa-BG-header.png) repeat-x;
    background-position: top;
    background-size: 1440px 288px;
  }

  .tab-buttons-product {
    padding-top: 0;
    top: 68px;
    background-color: $themeWhite;
    background-image: none;
  }

  .mid-container.container-fluid {
    padding: 0 !important;
  }

  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;



    .training-section {
      .support_section {
        .support {
          .support_card {
            p {
              -webkit-line-clamp: unset;
              overflow: unset;
              text-overflow: unset;
              white-space: unset;
              line-height: 25px;
            }
          }
          .support_head {
            max-width: 90%;
          }
        }
      }
    }

    // About Content starts
    .two-column-section {
      display: flex;
      .row {
        position: relative;
        z-index: 1;
      }
      .heading-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
        z-index: 1;

        h2 {
          @include utils.font-setting($primaryBlue, 32px, 48px);

          margin: 0px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
        }
        h3 {
          @include utils.font-setting($primaryBlue, 32px, 48px);
          margin: 0px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
        }
        p {
          @include utils.font-setting($darkestGrey, 18px, 28px);
          margin: 0px;
          font-family: "Walaa Arabic Regular";
          font-weight: 400;
          font-style: normal;
          a {
            color: $primnary-blue-600;
          }
        }
      }

      .story-about {
        align-items: flex-start;
        justify-content: flex-start;

        h3 {
          padding-bottom: 24px;
          margin: 0px;
          color: $dark-Grey-500;
          font-size: 20px;
          text-transform: capitalize;
          line-height: 30px;
        }

        ul {
          list-style-type: none;
          display: flex;
          width: 100%;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          border-radius: 16px;
          border: 1px solid $primaryBlue-100;
          background: $lightBlue;

          li {
            width: 100%;
            font-size: 18px;
            border-bottom: 1px dotted $primnary-blue-100;
            .story-date {
              @include fontStyle(12px, $darkGrey);
            }
            .story-link-para {
              padding: 5px 0;
              a {
                @include fontStyle(16px, $primaryBlue);
              }
            }
            .story-reads {
              @include fontStyle(12px, $darkGrey);
            }

            a {
              color: $themeWhite;
              text-decoration: none;
            }

            &:last-child {
              border-bottom: none;
              padding-bottom: 0px;
            }
          }
        }
      }
    }

    .team-container {
      .team-header {
        text-align: left;
        padding-bottom: 8px !important;
        position: relative;
        z-index: 1;
      }
      .card-desc {
        padding-bottom: 24px;
        position: relative;
        z-index: 1;
      }
    }

    // About Content ends
  }
  .ornament-btm {
    background-image: none;
  }
  .ornament-top {
    background-image: none;
  }
}

@include media(xl) {
  .About_section {
    .mid-container {
      .about-content {
        @include utils.sectionPadding(48px, 64px);
      }
    }
  }
}

@include media(lg) {
  .About_section .tab-buttons-product {
    padding-left: 16px;
  }
}

// @media (max-width: 786px) {
@include media(md) {
  .About_section {
    .mid-container {
      .about-content {
        @include utils.sectionPadding(48px, 48px);
      }

      .two-column-section {
        .heading-section {
          h3 {
            @include utils.fontStyle(24px, 36px);
          }
          p {
            @include utils.fontStyle(16px, 24px);
          }
        }
        .row {
          flex-direction: column;
        }
        .story-about {
          margin-top: 24px;
        }
      }

      .training-section {
        .support_section {
          .support {
            .container-fluid {
              padding: 0 16px !important;
              .row {
                width: auto;
              }
            }
            .support_head {
              max-width: 100%;
              position: relative;
              align-items: flex-start;
              .glob-walaa-subheading-text {
                text-align: center;
                align-self: stretch;
              }
            }
          }
        }
      }
    }
  }
}

@include media(sm) {
  .About_section
    .mid-container
    .training-section
    .support_section
    .support
    .container-fluid
    .row.career-cards-container
    .col-12 {
    margin-top: 24px;

    .support_card {
      margin-top: 0;
    }
  }
}

@include media(min1540) {
  .about-content {
    .container-fluid {
      width: 1440px;
      padding: 0px !important;
    }
  }
}
