@use "../../../styles/fonts" as walaaFont;
@use "../../../styles/_colors" as walaaColor;

@mixin fontStyle($size, $line-height, $weight, $fontColor) {
  font-size: $size;
  line-height: $line-height;
  color: $fontColor;

  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.contact-cards {
  background: walaaColor.$white;
  border: 1px solid walaaColor.$light-grey-300;
  border-radius: 16px;
  width: 100%;
  padding-bottom: 24px;

  .contact-card-heads {
    border-bottom: 1px solid walaaColor.$light-grey-300;
    padding-bottom: 16px;
    margin-bottom: 16px;
    padding: 24px;

    @include fontStyle(18px, 28px, 500, walaaColor.$dark-grey-500);
  }

  .shuffle-card-headers {
    padding-left: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .contact-view-style {
      border-radius: 8px;
      padding: 8px 16px;
      background: walaaColor.$Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
    }

    small {
      font-size: 10px;
      color: walaaColor.$dark-grey;
      line-height: 16px;
    }

    span {
      @include fontStyle(
        24px,
        36px,
        500,
        walaaColor.$Primary1---Blue-primary1---blue-600
      );
    }
  }

  .shuffle-card-content-items {
    display: flex;
    align-items: center;
    padding-top: 16px;
    gap: 8px;
    padding-left: 24px;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      color: walaaColor.$Primary1---Blue-primary1---blue-500;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
