@use "../../styles/_colors.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;
@use "../../styles/utils" as utils;
@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.privacy_section {
  background: $themeWhite;
  display: flex;
  @include utils.sectionPadding(64px, 96px);
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;

  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;

    .heading-section {
      .para-content {
        h3 {
          padding-bottom: 10px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
          @include utils.font-setting($Admiral-Blue, 32px, 48px);
        }
        p {
          padding-bottom: 30px;
          @include utils.font-setting($darkestGrey, 18px, 28px);
          width: 94%;
        }
      }
    }

    .about-privacy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;

      h3 {
        color: $dark-Grey-500;
        font-size: 24px;
        padding-bottom: 24px;
        margin: 5px;
      }

      ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $lightBlue;
        border-radius: 16px;
        padding: 32px 24px;
        gap: 18px;
        margin-top: -4px;

        li {
          .east-icon-color {
            color: $east-icon-color;
          }

          a {
            color: $primnary-blue-600;
            text-decoration: none;
            @include fontStyle(16px, $primnary-blue-600);
            .arrowForwardwhite {
              background: url(../../assets/vision/arrow-right.png) left top
                no-repeat;
              color: $themeWhite;
              width: 22px;
              display: inline-flex;
              height: 22px;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@include media(xl) {
  .privacy_section {
    @include utils.sectionPadding(64px, 64px);
  }
}

@include media(lg) {
  .privacy_section {
    .mid-container {
      .heading-section {
        .para-content {
          p {
            width: 100% !important;
            margin-bottom: -48px;
          }
        }
      }
    }
  }
}

@include media(md) {
  .privacy_section {
    padding: 72px 0px 96px 0px;
    .mid-container {
      .heading-section {
        .para-content {
          h3 {
            @include utils.fontStyle(24px, 36px);
          }
          p {
            @include utils.fontStyle(16px, 24px);
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .heading-section {
    .para-content {
      h3,
      p {
        text-align: right;
      }
    }
  }

  .about-privacy {
    ul {
      text-align: right;
    }
  }
}
