@use "../../../styles/colors" as walaaColor;
@use "../../../styles/_fonts" as font;

.footer-section {
  .footer-content-next {
    background-color: walaaColor.$Primary1---Blue-Shades-primary1---blue-900;
    position: relative;

    .footer-content-wrapper {
      padding-top: 30px;

      .logo-container {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        line-height: 18px;
        color: walaaColor.$light-grey-100;
        white-space: pre-wrap;
      }
    }
    .social-wrapper {
      padding-bottom: 24px;

      .social-title {
        font-size: 16px;
        line-height: 24px;
        color: walaaColor.$light-grey-100;
        padding-top: 24px;
      }

      .social-icons-wrapper {
        padding-top: 5px;
      }

      .download-app-wrapper {
        .download-app {
          cursor: pointer;
          padding-top: 8px;
          object-fit: contain;
          width: 121px;

          &:not(:last-child) {
            padding-right: 8px;
          }
        }

        .social-icons {
          cursor: pointer;
          background-color: walaaColor.$primary-blue-400;
          padding: 9px;
          border-radius: 20px;
          margin-top: 8px;

          &:not(:last-child) {
            margin-right: 8px;
          }
        }
      }
    }

    .copyright-links {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      border-top: 1px solid walaaColor.$primary-blue-400;
      padding: 24px 0;

      .copyright-text {
        flex: 1;
        color: walaaColor.$light-grey-100;
        line-height: 18px;
        font-size: 12px;
      }

      .copyright-hyperlinks-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .copyright-hyperlinks {
          cursor: pointer;
          margin-left: 10px;
          color: walaaColor.$Primary1---Blue-primary1---blue-100;
          font-size: 12px;
          line-height: 18px;

          &:not(:last-child):after {
            content: "•";
            padding-left: 10px;
          }
        }
      }
    }
  }
}
