.testbox-width {
    width: min-content;
}

.theme-textbox-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .theme-textbox-input {
    padding-right: 24px; /* Adjust padding to make space for the icon */
  }
  
  .theme-textbox-icon {
    position: absolute;
    right: 8px;
  }