@use "../../../styles/colors" as walaaColor;
@use "../../../styles/_fonts.scss" as walaaFont;
.row-class {
  height: 100%;
      width: 100%;
  .col-booster {
    position: relative;
    overflow: hidden;
    height: 480px;
    .boost-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      position: absolute;
    }
    .card-class {
      max-width: 500px;
      padding: 24px;
      position: relative;
      z-index: 1;
      top: 280px;
      left:24px;
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.17); 
      background: rgba(255, 255, 255, 0.90); 
      backdrop-filter: blur(14.399999618530273px); 
    
      .btn-class {
        background-color: walaaColor.$btn-gray-color-600; 
        color: white;
        border: none;
    
        &:hover {
          background: walaaColor.$blue;
        }
    
       
        font-size: 14px;
        line-height: 22px;
        
      }
    
      .boost-header {
        font-size: 24px;
        font-weight: 500;
        color: walaaColor.$Primary1---Blue-primary1---blue-900;
        line-height: 36px;
         @extend .walaa-medium-500;
          padding-bottom: 8px;
      }
    
      .boost-desc {
        font-size: 16px;
        font-weight: 400;
        color: walaaColor.$darkest-grey;
        line-height: 24px;
          @extend .walaa-regular-400;
          padding-bottom: 16px;
      }
    }
  }
}


