@use "../../styles/_colors" as *;
@use "../../styles/typography" as *;
.safe-secure {
    display: flex;
    padding: 16px;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
    background: $light-grey-100-utility;
    .safe-secure-content {
        color: $dark-grey;
        @extend .body-b3;
    }
}