@use "../../../../styles/_colors.scss" as *;
@use "../../../../styles/_fonts.scss" as walaaFont;
@use "../../../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

@mixin flex($direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}

.home-claim-details {
  .select-policy-right-card {
    @include flex(column, flex-start, flex-start, 1rem);
    width: 32%;
    position: sticky;
    align-self: auto;
    top: 75px;

    .policy-claim-info {
      @mixin default-title {
        font-size: 16px;
        font-weight: 400;
        color: $Utility---Light-Grey-utility---light-grey-800;
      }

      border-radius: 16px;
      background-color: $light-blue-50;
      border: 1px solid $light-blue-200;
      padding: 24px;
      width: 100%;

      .policy-logo {
        background-color: $white;
        border-radius: 40px;
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
      }

      .policy-content-label {
        font-size: 16px;
        line-height: 24px;
        color: $dark-grey;
        @extend .walaa-regular-400;
      }

      .policy-content-label-value {
        font-size: 16px;
        line-height: 24px;
        color: $dark-grey;
        color: $Primary1---Blue-Shades-primary1---blue-900;
        @extend .walaa-medium-500;
      }

      .policy-header {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        margin-bottom: 15px;
        flex-wrap: wrap;

        .policy-inner-container {
          display: flex;
          align-items: center;
          gap: 16px;
          flex: 1 0 0;
        }

        img {
          max-width: 35px;
        }
      }

      .policy-label {
        color: $dark-grey;
        font-size: 16px;
        @extend .walaa-regular-400;
      }

      .policy-header-number {
        font-size: 16px;
        line-height: 24px;
        color: $dark-black-100;
        @extend .walaa-medium-500;
      }

      .horizontal-line {
        width: 100%;
        height: 1px;
        margin: 0;
        opacity: 1;
        color: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
      }

      .policy-header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
        font-size: 14px;
        line-height: 24px;
      }

      .policy-header-planname {
        display: flex;
        flex-basis: 100%;
        padding-left: 68px;

        .policy-palnname {
          display: flex;
          padding: 4px 8px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 6px;
          background-color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
          color: $white;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .policy-claim-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 0;
      border-radius: 20px;
      width: 100%;
      border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
      background: $white;

      .horizontal-line {
        width: 100%;
        margin: 0;
        color: $light-grey-300;
        opacity: 0.5;
      }

      .select-policy-header {
        display: flex;
        padding: var(--Auto-Number, 0px) 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-left: 4px solid $red-utility;
        color: $Primary1---Blue-primary1---blue-800;
        font-size: 20px;
        line-height: 30px;
      }

      &.order-summary-container {
        padding: 24px 0 0 0;
      }

      .order-summary-footer {
        background: url('../../../../assets/CommonSVG/order-summary-bg.svg') no-repeat $Primary1---Blue-primary1---blue-50 !important;
        border-radius: 0 0 20px 20px;
        color: $white;
        padding: 20px 24px;
        display: flex;
        align-items: center;
        width: 100%;
        @extend .walaa-medium-500;

        .left {
          font-size: 16px;
          line-height: 24px;
        }

        .right {
          font-size: 16px;
          line-height: 24px;
          text-align: right;
        }
      }

      .order-summary-list {
        padding: 0 24px;

        .order-summary-title {
          color: $Primary1---Blue-primary1---blue-500;
          font-size: 18px;
          line-height: 28px;
          @extend .walaa-medium-500;
        }

        .order-summary-label {
          font-size: 14px;
          line-height: 24px;
          color: $dark-grey-500;
        }

        .order-summary-label-right {
          font-size: 14px;
          line-height: 24px;
          color: $dark-grey-500;
          text-align: right;
        }

        .order-summary-total {
          font-size: 16px;
          border-top: 1px solid $light-grey-100-utility;
          border-bottom: 1px solid $light-grey-100-utility;
          padding: 10px 0;
          @extend .walaa-medium-500;
        }

      }
    }
  }

  .payment-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;

    .btn-container {
      width: 100%;
    }
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .home-claim-details {
    .select-policy-right-card {
      width: 100%;
      padding: 10px 0px;
    }
  }
}

/* Extra Small Screens */
@media (max-width: 480px) {
  .home-claim-details {
    .select-policy-right-card {
      width: 100%;
      padding: 10px 0px;
    }
  }
}
@media (max-width: 1024px) {
  .home-claim-register-details .summary-drawer .select-policy-right-card {
    width:100% !important;
    }
}