@use "../../styles/color.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.sustainability-wrapper {
  > :last-child > div {
    padding-bottom: 175px !important;
  }
  .productCat {
    background-image: none;
    background-color: $ice-blue;
    padding-top: 0px;
    padding-bottom: 0px;

    .midContainer {
      &.container-fluid {
        @include utils.sectionPadding(96px, 96px, "!important");

        h2 {
          @include utils.font-setting($primary-blue-500, 32px, 48px);
          width: calc(100% - 90px);
        }
        p {
          padding-bottom: 0;
        }
      }
    }
  }
}

@include media(xl) {
  .sustainability-wrapper {
    .productCat {
      padding-top: 0px;
      .midContainer {
        &.container-fluid {
          @include utils.sectionPadding(64px, 64px, "!important");
        }
        margin-bottom: unset;
      }
    }
  }
}

@include media(md) {
  .sustainability-wrapper {
    .productCat {
      padding-top: 0px;
      .midContainer {
        margin-bottom: unset;

        &.container-fluid {
          @include utils.sectionPadding(48px, 48px, "!important");

          h2 {
            @include utils.fontStyle(24px, 36px);
          }
        }

        h2 {
          margin-top: 0px;
          @include utils.fontStyle(24px, 36px);
        }
      }
    }
  }
}
