@import 'styles/colors';

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f4f8;
    color: #333;
    padding: 2rem;

    h1 {
        color: $dark-blue;

        span {
            color: $crimson-red;
            font-family: 'Walaa Arabic Medium';
        }
    }

    .lead {
        max-width: 600px;
        text-align: center;
        line-height: 1.6;
        color: $crimson-red;
        font-size: 22px;
    }
}