@use '../../styles/_colors' as *;
@use '../../../../app-shell/src/styles/utils' as utils;

.property-map-modal {
    .modal-content {
        border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
        border-radius: 18px;

        .modal-header {
            padding: 25px 25px 0px 25px;
            border-bottom: none;

            .property-location-title {
                @include utils.font-setting($dark-grey-500, 24px, 36px);
            }

            .btn-close {
                background-image: url('../../assets/CommonSVG/cancelIcon.svg') !important;
                background-repeat: no-repeat;
                opacity: 1;
                width: 14px;
                height: 14px;
                background-size: contain;
            }
        }

        .modal-body {
            padding: 16px 25px 25px 25px;
        }
    }
}

.property-map-container {
    border: 1px solid $Utility---Dark-Grey-dark-grey-200;
    border-radius: 18px;
    height: 385px;
    width: 100%;

    .custom-marker-icon {
        background-color: $red-utility;
        padding: 3px;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        box-shadow: 0px 0px 16px 4px $red-utility;
    }
}