@use "../../../../../../styles/colors" as *;
@use "../../../../../../styles/_fonts" as font;

.endorsement-traveler-Add-travelinfo {
    @mixin default-title {
      font-size: 16px;
      font-weight: 400;
      color: $Utility---Light-Grey-utility---light-grey-800;
    }
    @mixin fontStyle($size, $lnheight, $fontColor) {
      font-size: $size;
      line-height: $lnheight;
      color: $fontColor;
    }
    border-radius: 16px;
    background-color: $fade-black;
    border: 1px solid $btn-bg-color;
    padding: 8px;
  
    div.accordion-item {
      background: inherit;
      border: none;
      h2.accordion-header {
        background-color: inherit;
        border-left:0px;
        border-right:0px;
        button.accordion-button {
          background-color: inherit;
          padding: 0.5rem;
          div.logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;
            padding: 0.32rem;
            border-radius: 2.5rem;
            background: $white;
          }
          //header title
          div.tranvelinfo-title {
            @include default-title;
          }
          div.trvl-padding
          {
            padding-bottom: 4px;
          }
  
          //header value
          div.tranvelinfo-content {
            font-size: 16px;
            font-weight: 500;
            color: $darkest-grey;
          }
        }
        button.accordion-button::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6992 9.6998L11.6992 15.6998L5.69922 9.6998L7.09922 8.2998L11.6992 12.8998L16.2992 8.2998L17.6992 9.6998Z' fill='%23467B97'/%3E%3C/svg%3E");
        }
        button.accordion-button:focus
        {
    
           outline: none !important;
           box-shadow: none;
        }
        .travel-infor-content {
          color: $darkest-grey;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
        
      }
    }
    // accordion body
    div.accordion-collapse.collapse.show {
      .travel-info-title {
        @include default-title;
      }
    }
  
   
  }

.endorsement-traveler-travelinfo {
    @mixin default-title {
      font-size: 16px;
      font-weight: 400;
      color: $Utility---Light-Grey-utility---light-grey-800;
    }
    @mixin fontStyle($size, $lnheight, $fontColor) {
      font-size: $size;
      line-height: $lnheight;
      color: $fontColor;
    }
    border-radius: 16px;
    background-color: $crimson-red-50;
    border: 1px solid $crimson-red-50;
    padding: 16px;
  
    div.accordion-item {
      background: inherit;
      border: none;
      h2.accordion-header {
        background-color: inherit;
        border-left:0px;
        border-right:0px;
        button.accordion-button {
          background-color: inherit;
          padding: 0.5rem;
          div.logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;
            padding: 0.32rem;
            border-radius: 2.5rem;
            background: $white;
          }
          //header title
          div.tranvelinfo-title {
            @include default-title;
          }
          div.trvl-padding
          {
            padding-bottom: 4px;
          }
  
          //header value
          div.tranvelinfo-content {
            font-size: 16px;
            font-weight: 500;
            color: $darkest-grey;
          }
        }
        button.accordion-button::after {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6992 9.6998L11.6992 15.6998L5.69922 9.6998L7.09922 8.2998L11.6992 12.8998L16.2992 8.2998L17.6992 9.6998Z' fill='%23467B97'/%3E%3C/svg%3E");
        }
        button.accordion-button:focus
        {
    
           outline: none !important;
           box-shadow: none;
        }
        .travel-infor-content {
          color: $darkest-grey;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
    // accordion body
    div.accordion-collapse.collapse.show {
      .travel-info-title {
        @include default-title;
      }
    }
  
   
  }
  
  // case 1: if accordion opened
  .coverage-vehicleinfo.accor-open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  //driverinformation component
  .driver-information-card {
    // padding: 16px 0px 0px 0px;
    gap: 8px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
    background-color: $Utility---Light-Grey-utility---light-grey-50;
    .additional-driver-title {
      font-size: 14px;
      font-weight: 500;
      color: $darkest-grey;
    }
    .add-driver-container {
      .add-driver-icon {
        svg {
          width: 22px;
          height: 22px;
          color: $primary-blue-400;
        }
      }
      .add-driver-title {
        font-size: 14px;
        font-weight: 400;
        color: $Primary1---Blue-primary1---blue-600;
      }
    }
  }

  .endorsement-accor-close {
    margin-bottom: -10px
  }

  .endorsement-refund-section {
    font-size: 12px;
  }

  .endorsement-section-add-header-padding {
    margin-left: 28px;
  }
  
  .endorsement-price-section {
    color: $cherry-red-color;
    font-size: 14px;
    font-weight: 600;
    padding-left: 27px;
  }

  .endorsement-price-section-header {
    color: $cherry-red-color;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
  }

  .endorsement-price-section-add {
    color: $dark-grey-500;
    font-size: 14px;
    font-weight: 600;
    padding-left: 8px;
  }

  .benefits-section {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    padding-top: 50px;
  }

  .row-gap-for-pricing {
    padding-top: 18px;
  }

  .endorsement-travel-add-benefit {
    display: flex;
    padding: 0px 7px 0px 10px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: $pale-green;
    
  }
  .endorsement-travel-benefit-bg {
    background: $btn-bg-color;
    border:1px solid $pale-green;
    max-width: 40%;
  } 

  .endorsement-travel-add-section-details {
    padding:20px;
    font-size: 12px;
  }