@use "../../styles/_colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

 
.template-wrapper {
  position: relative;  
  overflow: visible;  
}

.visiblityWrap {  
  position: relative; 
   overflow: visible;
  }

.tab-buttons-product {
  display: flex;
  border-bottom: 1px solid $primnary-blue-100;
  width: 100%;
  color: $themeWhite;
  padding: 144px 0 0 72px;
  top: -71px;
  // overflow: hidden;
  background: url(../../assets/MotorInsuranceProducts/Vector.svg);
  background-position: top; 
  background: $white;
  position: sticky;
  z-index: 2;
  .tab-list {
    background-color: transparent;
    border: none;
    padding: 16px;
    cursor: pointer;
    position: relative;
    bottom: -3px;
    font-size: 16px;
    color: $cool-blue;
    @extend .walaa-regular-400;

    &:hover {
      border-bottom: 5px solid $red-utility;
    }

    &.active {
      border-bottom: 5px solid $red-utility;
      color: $primary-blue-500;
      font-weight: bold;
    }
  }
}



// Resposive Styles 

@include media(xl){
  .tab-buttons-product{
    padding: 120px 0 0 72px;
  }
}

@include media(md) {
  .tab-buttons-product{
    padding:0 0 0 72px;
  
  }
}

@media (max-width: 711px) {
  .tab-buttons-product{
    padding: 0px 0 0 72px;
  }
}

@include media(sm) {

.tab-buttons-product{
  background-color: $themeWhite;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0px 0 0 16px;
}

} 

[dir="rtl"]{
  .tab-buttons-product{
    padding: 144px 72px 0 0;
  }
}
