@use "../../styles/colors" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;



.theme-steps-progress {
    width: 100%;
    display: flex;
    gap: 8px;
    position: sticky;
    top: 70px;
    align-self: auto;
    background-color: $white;
    z-index: 1;
    padding: 18px 0px 4px 0;

    .active {
        background-color: $red-utility;
    }

    .progress-title.disabled {
        background-color: transparent;
        color: $light-grey-100;
    }

    .step-column {
        gap: 8px;
        align-items: center;
    }

    .step-progress-bar {
        width: 24px;
        border-radius: 4px;
        background: $Utility---Light-Grey-utility---light-grey-500;
        display: block;
        height: 1px;
    }
}

@include media(xl) {
    .theme-steps-progress {

        &::-webkit-scrollbar {
            height: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: $Utility---Light-Grey-utility---light-grey-500;
        }
    }
}

@include media(xl) {
    .theme-steps-progress {
        .step-progress-bar{
            min-width: 8px;
        }
    }
}