@use '../../../../../styles/fonts' as walaaFont;
@use '../../../../../styles/_colors' as walaaColor;


// Mixins
@mixin flex-setting ($justifyPos: center, $alignPos: center) {
    display: flex;
    justify-content: $justifyPos;
    align-items: $alignPos;
}

.register-contact {
    width: 100%;
    .register-contact-title {
        font-size: 14px;
        line-height: 22px;
    }
    .register-contact-sub-title {
        font-size: 12px;
        line-height: 18px;
        @extend .walaa-regular-400;
    }
    .register-contact-card{
        padding: 24px;
        border-radius: 8px;
        background: walaaColor.$Utility---White-white-500;
        box-shadow:none;
    }
    .uploadfncontainer {
        padding: 0 16px;
        align-items: center;
        gap: 40px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-200;
        background: walaaColor.$Utility---Light-Grey-utility---light-grey-50;
    .upload-title {
            font-size: 14px;    
            .upload-icon-error {
                color: red;
                font-size: 16px;
            }
        }
    }
    .upload-white {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-color: walaaColor.$Utility---White-white-500;
        border-radius: 48px;
        background: walaaColor.$Utility---White-white-500;
        color: walaaColor.$Primary1---Blue-primary1---blue-800;
        @extend .walaa-medium-500;
        font-size: 14px;
        line-height: 22px;
    }
    .upload-white:hover {
        border-color: walaaColor.$Primary1---Blue-primary1---blue-800;
    }
    .upload-white:focus {
        background-color: none !important;
    }

    .upload-white-icon {
        svg{
            width: 20px;
            height: 20px;
        }
        :hover {
            cursor: pointer;
        }
    }

    .button-right {
        display: flex;
        justify-content: flex-end;
        padding-top: 16px;
    }
    .content-right {
        display: flex;
        justify-content: flex-end;
    }
    .justify-content-around {
        justify-content: right!important;
    }

}