@use "../../styles/color.scss" as *;
@use '../../styles/utils' as utils;

.branch-card {
    position: relative;
    padding: 24px;
    border-radius: 24px;
    cursor: pointer;


    &.default {
        background-color: $light-grey-50-utility;

        &.active-card {
            border: 1px solid $primaryBlue;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
        }
    }

    &.custom-card {
        background-color: $lightBlue;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 28px;
        background: $red-utility;
    }

    .branch-card-text-title {
        font-size: 20px;
        line-height: 30px;
        color: $primaryBlue;
    }

    svg {
        color: $primary-blue-300;
        font-size: 20px;
    }

    .branch-card-text-light {
        font-size: 12px;
        line-height: 18px;
        color: $darkestGrey;
    }

    .contact-wrapper {
        padding: 16px 0 24px 0;
    }
    .branch-card-text-bold {
        color: $dark-Grey-500;
    }
    .working-days-wrapper {
        padding-top: 16px;
        .branch-card-text-light {
            color: $dark-grey-200;
        }
    }
        .working-hours-wrapper {
            .expand-wrapper {
                .branch-card-text-light {
                    color: $dark-grey-200;
                }
            }
    
    }

    .expand-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .branch-expand {
        font-size: 12px;
        color: $darkestGrey;
        background-color: $themeWhite;
        border: 1px solid $primnary-blue-100;
        border-radius: 15px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding .5s ease-out;

        &.expanded {
            margin-top: 8px;
            padding: 8px;
            max-height: 500px;
            opacity: 1;
        }
    }
}

[dir="rtl"] {

    .branch-card {

        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            width: 4px;
            height: 28px;
            background: $red-utility;
        }
    }
}