@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.containertravelquote .rmdp-input {
    width: 100%;
}

.btn-width {
    width: 100px !important;
}

.info-modal-main {
    .modal-dialog {
        .modal-content {
            border-radius: 20px;

            .info-modal-head {
                border-bottom: unset;

                .add-modal-title {
                    padding: 16px 16px 1px 24px;;
                }
            }

            .info-modal-body {
                padding: 0 32px 16px 32px;
                align-self: stretch;

                h1 {
                    color: walaaColor.$dark-grey-500;
                    font-size: 24px;
                    line-height: 36px;
                    @extend .walaa-medium-500;
                }

                p {
                    align-self: stretch;
                    color: walaaColor.$dark-grey-500;
                    font-size: 16px;
                    line-height: 24px;
                    @extend .walaa-regular-400;
                }
            }
        }
    }

    .add-modal-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        .add-modal-info {
            padding: 16px 0px;
            color: walaaColor.$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
            @extend .walaa-medium-500;
        }

        .add-traveler-popup {
            display: flex;
            align-items: center;
            gap: 32px;
            align-self: stretch;

            .age-input-warp {
                display: flex;
            }

            .age-input-label {
                color: walaaColor.$dark-grey-500;
                font-size: 16px;
                line-height: 18px;
                @extend .walaa-regular-400;

                span {
                    font-size: 12px;
                }
            }

            .counter-component .minusbtn,
            .counter-component .plusbtn {
                padding-top: 2px;
                background-color: walaaColor.$primary-blue-500;
            }

            .counter-component .minusbtn:disabled,
            .counter-component .plusbtn:disabled {
                cursor: none;
                color: walaaColor.$white;
                background: walaaColor.$Utility---Dark-Grey-dark-grey-200;
            }
        }
    }

    .modal-footer {
        border-top: unset;
    }

    .add-cancel-btn {
        background: walaaColor.$white;
        color: walaaColor.$Primary1---Blue-primary1---blue-800;
        font-size: 14px;
        line-height: 22px;
        @extend .walaa-medium-500;
    }
}

@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
}

.winter-travel-benefit-all {
    .modal-dialog {
      .modal-content {
        border-radius: 20px;
        height: 292px;
        width: 416px !important;
        margin-left:128px !important;
        .info-modal-head {
          border-bottom: unset;
        }
  
        .info-modal-body {
          padding: 0 32px 16px 32px;
          align-self: stretch;
  
          h1 {
            color: walaaColor.$dark-grey-500;
            font-size: 24px;
            line-height: 36px;
            @extend .walaa-medium-500;
          }
  
          p {
            align-self: stretch;
            color: walaaColor.$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
            @extend .walaa-regular-400;
          }
        }
      }
    }
  
    .add-modal-body {
      display: flex;
      padding: 0px 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px 32px;
  
      .add-modal-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px;
        color: walaaColor.$dark-grey-500;
        font-size: 16px;
        line-height: 24px;
        @extend .walaa-medium-500;
        .warning-icon {
          width: 72px;
          height: 72px;
          color: walaaColor.$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-600;
        }
        .content-align{
          color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
          h1{
              font-size: 24px;
              text-align: center;
              color: walaaColor.$Utility---Light-Grey-utility---light-grey-900;
             padding-top: 12px;
          }
          p{
              text-align: center;
              padding-top: 12px;
              font-size: 16px;
          }
        }
       
      }
  
      .add-traveler-popup {
        display: flex;
        align-items: center;
        gap: 32px;
        align-self: stretch;
  
        .age-input-warp {
          display: flex;
        }
  
        .age-input-label {
          color: walaaColor.$dark-grey-500;
          font-size: 16px;
          line-height: 18px;
          @extend .walaa-regular-400;
  
          span {
            font-size: 12px;
          }
        }
  
        .counter-component .minusbtn,
        .counter-component .plusbtn {
          padding-top: 2px;
          background-color: walaaColor.$primary-blue-500;
        }
  
        .counter-component .minusbtn:disabled,
        .counter-component .plusbtn:disabled {
          cursor: none;
          color: walaaColor.$white;
          background: walaaColor.$Utility---Dark-Grey-dark-grey-200;
        }
      }
    }
  
    .modal-footer {
      display: flex;
      justify-content: center !important;
      border-top: unset;
      gap: 1rem;
      flex-wrap: wrap;
    }
  
    .add-cancel-btn {
      background: walaaColor.$white;
      color: walaaColor.$Primary1---Blue-primary1---blue-800;
      font-size: 14px;
      line-height: 22px;
      @extend .walaa-medium-500;
    }
  }
.traveler-detail-wrapper {
    width: 100%;
    background-color: walaaColor.$white;

    .traveler-detail-content {
        .accor-close {
            margin-bottom: 20px;
        }

        .traveler-section {
            border: 1px solid walaaColor.$light-grey-300;
            border-radius: 20px;
            padding: 24px 0;

            .accordion-space{
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                width: 100%;
            }

            .traveler-footer {
                display: flex;
                padding: 16px 24px;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                border-top: 1px solid walaaColor.$light-grey-300;

                .footer-btn {
                    display: flex;
                    padding: 8px 16px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;
                    border-radius: 48px;
                    border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
                    ;
                    background: walaaColor.$white;
                    ;

                    .traveler-add-btn {
                        color: walaaColor.$Primary1---Blue-primary1---blue-800;
                        ;
                        font-size: 14px;
                        line-height: 22px;
                        @extend .walaa-medium-500;

                        .traveler-add-btn {
                            size: 22px;
                            color: walaaColor.$Primary1---Blue-primary1---blue-800;
                            ;
                        }
                    }
                }
            }
        }

        .traveler-heading {
            padding: 0px 24px 16px 24px;
            border-bottom: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-200;
            position: relative;

            @include fontStyle(22px,
                30px,
                walaaColor.$Primary1---Blue-primary1---blue-800 );
            @extend .walaa-medium-500;

            &::before {
                content: "";
                height: 30px;
                width: 4px;
                background: walaaColor.$red-utility;
                position: absolute;
                left: 0;
            }
        }

        .traveler-content {
            padding: 16px 20px 0px 20px;

            .details-title {
                color: walaaColor.$dark-grey-500;
                font-size: 16px;
                line-height: 24px;
                @extend .walaa-regular-400;
            }
            .alert-primary{
                background-color: walaaColor.$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-100;
                border:0px solid walaaColor.$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-100;
                box-shadow: -2px 0px 0px walaaColor.$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-600;
                color:walaaColor.$Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-600;
              } 

            .acc-body {
                background-color: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;

                .container {
                    display: flex;
                    padding: 12px;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 1.5rem;
                    .form-width{
                        width: 100%;
                    }
                    .form-seprator {
                        padding-top: 8px;
                        border-bottom: 1px solid walaaColor.$light-grey-400-utility;
                    }

                }

                .form-info {
                    cursor: pointer;
                    font-size: 20px;
                    color: walaaColor.$Primary1---Blue-primary1---blue-600;
                }

                .form-block-1 {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    .calendar-switch {
                        .rmdp-container {
                            padding: 12px 16px;
                            border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;

                            .date-picker-input {
                                display: flex;
                            }
                        }
                    }

                    .form-element {
                        .form-element-label {
                            display: flex;
                            gap:6px;
                            color: walaaColor.$dark-grey-500;
                            font-size: 16px;
                            line-height: 24px;
                            padding-bottom: 8px;
                            @extend .walaa-regular-400;
                        }

                        .form-element-field {
                            display: flex;
                            padding: 12px 16px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;
                            align-self: stretch;
                            border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200
                        }
                    }

                    .calendar-icon {
                        font-size: 20px;
                        color: walaaColor.$primary-blue-400;
                        position: relative;
                        //transform: translateY(-80%);
                        //left: 100%;  
                    }
                }

                .form-block-2 {
                    display: flex;
                    flex-direction: row;

                    .seprator {
                        border-left: 1px solid walaaColor.$light-blue-00;
                    }

                    .form-block-2-elements {
                        align-items: flex-start;
                        align-content: flex-start;
                        gap: 24px;
                        align-self: stretch;

                        .form-block-2-element-label {
                            color: walaaColor.$darkest-grey;
                            font-size: 14px;
                            line-height: 22px;
                            @extend .walaa-regular-400;
                        }

                        .form-block-2-element-value {
                            color: walaaColor.$dark-grey-500;
                            font-size: 16px;
                            line-height: 24px;
                            @extend .walaa-medium-500;
                        }
                    }
                }

                .form-block-3 {
                    display: flex;
                    flex-direction: row;
                    padding-top: 16px;

                    .form-block-3-title {
                        align-self: stretch;
                        padding-bottom: 16px;
                        color: walaaColor.$darkest-grey;
                        font-size: 18px;
                        line-height: 28px;
                        @extend .walaa-medium-500;
                    }

                    .form-block-3-col {
                        display: flex;
                        align-items: flex-start;
                        gap: 8px;

                        .form-block-3-values {
                            display: flex;

                            .checkbox-container {
                                .form-block-3-checked {
                                    font-size: 24px;
                                    color: walaaColor.$blue;
                                }

                                .form-block-3-not-checked {
                                    font-size: 24px;
                                    color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
                                }
                            }

                            .chk-label {
                                color: walaaColor.$dark-grey-500;
                                font-size: 16px;
                                line-height: 24px;
                                @extend .walaa-medium-500;

                                .chk-label-sub {
                                    color: walaaColor.$dark-grey;
                                    font-size: 12px;
                                    line-height: 18px;
                                    @extend .walaa-regular-400;
                                }
                            }
                        }
                    }

                }
            }

            .coverage-travelinfo {
                border-radius: 1px;
                border-top: 1px solid walaaColor.$light-grey-300;
                background-color: walaaColor.$white;
                padding: 12px 0px 0px 0px;

                .accordian-item {

                    .accordion-header {
                        padding-right: 16px;
                        align-self: stretch;
                        border: none;

                    }
                }

                div.accordion-item h2.accordion-header button.accordion-button {
                    padding-right: 16px !important;
                }

                .acc-head {
                    width: 90%;
                    display: flex;
                    padding: 0 16px 0 8px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    font-size: 18px;
                    line-height: 28px;
                    color: walaaColor.$dark-grey-500;
                    @extend .walaa-medium-500;
                }

                .acc-delete {
                    display: flex;
                    width: auto;
                    justify-content: flex-end;
                }

                .acc-delete-sr {
                    display: flex;
                    width: auto;
                    justify-content: flex-end;
                }

                .text-incomplete {
                    display: flex;
                    height: 10%;
                    width: auto;
                    padding: 4px 8px;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    border-radius: 6px;
                    background: walaaColor.$Secondary4-tulip-light;
                    color: walaaColor.$Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
                    font-size: 12px;
                    line-height: 18px;
                    @extend .walaa-medium-500;

                    .acc-warning-icon {
                        font-size: 18px;
                        color: walaaColor.$Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
                    }

                    .acc-warning-icon-blue {
                        font-size: 18px;
                        color: walaaColor.$blue;
                    }
                }

                .acc-head-strip {
                    color: walaaColor.$dark-grey-500;
                    font-size: 18px;
                    line-height: 28px;
                    @extend .walaa-medium-500;
                }

                .acc-head-strip-sub {
                    color: walaaColor.$dark-grey;
                    font-size: 14px;
                    line-height: 22px;
                    @extend .walaa-regular-400;
                }
            }

            .coverage-travelinfo.accor-close {
                border-radius: 16px;
                padding: 12px 0px 12px 0px;
            }
            // sub-accordion css
            .sub-accordion {
                display: flex;
                width: 95%;
                padding: 12px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                border-radius: 0px 0px 20px 20px;
                border: 1px solid walaaColor.$light-grey-300;
                background: walaaColor.$Utility---Light-Grey-utility---light-grey-50;
                margin: 0 30px 24px 18px;
            }

            .accor-close {
                margin-bottom: 20px;
            }

            .accor-open {
                background-color: walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
                border-radius: 8px;
            }

            .sub-accor-open {
                display: block;
                padding: 0px;
            }

            .sub-accor-close {
                display: none;
            }

            .benfit-block {
                display: flex;
                gap: 8px;
                align-self: stretch;
                flex-direction: column;

                .benfit-block-title {
                    color: walaaColor.$darkest-grey;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    @extend .walaa-medium-500;
                }

                .benfit-content {
                    display: flex;
                    flex-direction: row;

                    .benfit-one {
                        display: flex;
                        padding: 16px;
                        align-items: flex-start;
                        gap: 16px;
                        flex: 1 0 0;
                        border-radius: 16px;
                        border: 1px solid walaaColor.$light-grey-100;
                        background: walaaColor.$white;
                        ;

                        .left-icon {
                            color: walaaColor.$blue;
                            display: flex;
                            width: 40px;
                            height: 40px;
                            padding: 4px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 80px;
                            background: walaaColor.$light-blue-00;
                        }

                        .benfit-data {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: max-content;

                            .benfit-title {
                                color: walaaColor.$dark-grey-500;
                                font-size: 16px;
                                line-height: 24px;
                                @extend .walaa-medium-500;
                            }

                            .benfit-sub-title {
                                color: walaaColor.$Primary1---Blue-primary1---blue-700;
                                font-size: 14px;
                                line-height: 22px;
                                @extend .walaa-regular-400;
                            }
                        }

                        .benfit-data-right {
                            width: 50%;
                        }

                        .benfit-right {
                            .benfit-button {
                                cursor: pointer;
                                display: flex;
                                padding: 8px 16px;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                border-radius: 48px;
                                border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
                                ;
                                background: walaaColor.$white;
                                ;

                                .benfit-button-text {
                                    color: walaaColor.$Primary1---Blue-primary1---blue-800;
                                    ;
                                    font-size: 14px;
                                    line-height: 22px;
                                    @extend .walaa-medium-500;
                                }
                            }

                            .benfit-remove-btn {
                                cursor: pointer;
                                display: flex;
                                padding: 8px 16px;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                border-radius: 48px;
                                border: 1px solid walaaColor.$red-utility;
                                background: walaaColor.$white;

                                .benfit-button-text {
                                    color: walaaColor.$red-utility;
                                    font-size: 14px;
                                    line-height: 22px;
                                    @extend .walaa-medium-500;
                                }
                            }
                        }
                    }

                    .benfit-one-select {
                        border: 2px solid walaaColor.$blue;
                        background: walaaColor.$light-blue-50;
                    }

                    .benfit-content-space {
                        padding-right: 16px;
                    }
                }

            }
        }
    }
}