@use "../../../styles/colors" as walaaColor;
@use "../../../styles/_fonts" as font;

.dashboard-banner-container {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;

  .dashboard-main-banner {
    background-color: walaaColor.$dark-blue-primary;
    border-radius: 16px;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .dashboard-carousel-image-overlay {
      height: 200px;
      position: relative;

      .dashboard-carousel-banner-image {
        height: 200px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .ashboard-carousel-gradient-overlay {
        background: linear-gradient(
          90deg,
          rgba(21, 40, 86, 0) 0%,
          walaaColor.$lavender-color 35.7%
        );
        height: 200px;
        left: 111px;
        position: absolute;
        top: 0;
        width: 745px;
      }

      .dashboard-carousel-empty-overlay {
        background: none;
        color: none;
        height: 200px;
        left: 111px;
        position: absolute;
        top: 0;
        width: 745px;
      }

      .dashboard-carosel-first-slider-text-body,
      .dashboard-carosel-second-slider-text-body,
      .dashboard-carosel-third-slider-text-body {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 24px;
        left: 397px;
        position: absolute;
        top: 32px;
        width: 420px;

        .dashboard-carosel-first-slider-body,
        .dashboard-carosel-second-slider-body {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex: 0 0 auto;
          flex-direction: column;
          gap: 8px;
          position: relative;
          width: 100%;

          .dashboard-first-slider-title {
            color: walaaColor.$white;
            margin-top: -1px;
            position: relative;
            white-space: nowrap;
            width: fit-content;
          }
          .dashboard-second-slider-title {
            color: walaaColor.$white;
            margin-top: 24px;
            position: relative;
            white-space: nowrap;
            width: fit-content;
          }

          .dashboard-first-slider-description,
          .dashboard-second-slider-description {
            align-self: stretch;
            color: walaaColor.$white;
            position: relative;
          }
        }
      }

      .dashboard-carosel-slider-button {
        align-items: center;
        background-color: walaaColor.$white;
        border: 1px solid;
        border-color: walaaColor.$cherry-red-color;
        border-radius: 48px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 8px;
        justify-content: center;
        padding: 8px 16px;
        position: relative;
        cursor: pointer;

        .dashboard-slider-button-get-quote {
          align-items: center;
          display: inline-flex;
          flex: 0 0 auto;
          gap: 8px;
          justify-content: center;
          position: relative;

          .dashboard-carosel-slider-button {
            all: unset;
            box-sizing: border-box;
            color: walaaColor.$cherry-red-color;
            margin-top: -1px;
            position: relative;
            white-space: nowrap;
            width: fit-content;
          }
        }

       .dashboard-carousel-arrow-icons {
          height: 24px !important;
          position: relative !important;
          width: 24px !important;
        }
      }
    }
  }

  .dashboard-carousel-pagination-dots {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 56px;

    .active-dot {
      background-color: walaaColor.$cherry-red-color;
      border-radius: 8px;
      height: 8px;
      position: relative;
      width: 24px;
    }

    .inactive-dot {
      background-color: walaaColor.$light-grey-100;
      border-radius: 20px;
      height: 8px;
      position: relative;
      width: 8px;
    }
  }
}
