@use "../../styles/colors" as *;
@use "../../styles/_fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
}

.motor-vehical-heading {
    display: flex;
    padding: 24px 24px 16px 24px;
    border-bottom: 1px solid $Utility---Light-Grey-utility---light-grey-300;
    position: relative;
    width: 100%;
    @include fontStyle(20px,
        30px,
        $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800 );
    @extend .walaa-medium-500;

    &::before {
        content: "";
        height: 30px;
        width: 4px;
        background: $red-utility;
        position: absolute;
        left: 0;
    }
}