@font-face {
	font-family: 'Graphik Arabic Web';
	src: url('GraphikArabic-Bold-Web.woff2') format('woff2'),
		 url('GraphikArabic-Bold-Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	}

.GraphikArabic-Bold-Web {
	font-family: 'Graphik Arabic Web';
	font-weight: 700;
	font-style: normal;
	}
