@use "../../styles/colors" as *;

.alert-warning {
  background: $Secondary-Colors-Group-Secondary5---Metallic-Gold-Shade-Secondary5---metallic-gold-200;
  color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
}

.alert-danger{
  background: $Utility---Error-Red-Error-Red;
  color: $Utility---White-white-500;
}

.home-renewal-warning {
  background: $Secondary-Colors-Group-Secondary5---Metallic-Gold-Shade-Secondary5---metallic-gold-100;
  color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-800;
}