@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.custom-error-modal-content {

    .modal-content{
        border-radius: 20px; 
        width: 462px;
    }

    .error-dialog-box-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        padding: 40px 24px;

        .error-dialog-box-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .error-dialog-box-body-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                align-self: stretch;

                .main-body-header {
                    color: $dark-grey-500;
                    font-size: 20px;
                    line-height: 30px;
                }

                .main-body-content {
                    color: $dark-grey-400;
                    text-align: center;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        .error-dialog-box-footer {
            align-items: center;
            .filterBtnsActive{
                padding: 10px 20px;
                font-size: 16px;
                line-height: 24px;
                @extend .walaa-regular-400;
            }
        }
    }
}
