@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

/* Reusable classes */
.no-radius {
  border-radius: 0px;
}
.shadow {
  box-shadow: 0 0 0 0.1rem
    rgba(walaaColor.$Primary1---Blue-primary1---blue-50, 0.25);
}

.form-control::placeholder {
  color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
}

// Vehical detail

.card-section {
  border: 1px solid walaaColor.$light-grey-300;
  border-radius: 20px;
  padding: 24px;
  .error-input{
    color: walaaColor.$input-error;
    font-size: 12px;
    line-height: 18px;
  }
}
.card-heading {
  padding: 0px 24px 16px 24px;
  border-bottom: 1px solid
    walaaColor.$Utility---Light-Grey-utility---light-grey-200;
  position: relative;

  @include fontStyle(
    20px,
    30px,
    walaaColor.$Primary1---Blue-primary1---blue-50
  );
  @extend .walaa-medium-500 !optional;

  &::before {
    content: "";
    height: 30px;
    width: 4px;
    background: walaaColor.$red-utility;
    position: absolute;
    left: 0;
  }
}

.email-wrap {
  display: flex;
  flex-direction: column;
  p {
    @include fontStyle(16px, 24px, walaaColor.$dark-grey-500);
    @extend .walaa-regular-400 !optional;
    margin-bottom: 16px;
  }
  label{margin-bottom: 8px;}
  input{border:1px solid walaaColor.$light-grey-300; max-width: 306px; padding: 12px 16px; max-height: 48px;
  
  
    @include fontStyle(16px, 24px, walaaColor.$dark-grey-500);
    @extend .walaa-regular-400 !optional;
  }
  .red-required{color:walaaColor.$Utility---Error-Red-Error-Red;}
}
