@use "./../../../styles/_colors" as walaaColor;

.model-text{
    color: walaaColor.$Primary1---Blue-primary1---blue-600;
    cursor: pointer;
}

.terms-and-conditions-container{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .only-text{
        font-size: 16px;
        color: walaaColor.$Primary1---Blue-primary1---blue-500;
        cursor: pointer;
    }
    
    .wrapper{
        .form-check-input{
            height: 24px;
            width: 24px;
        }
    }
}