@use "../../styles/colors" as *;

$border-radius-container: 16px;

.radio-card {
  border-radius: $border-radius-container;
  --border-radius-inerit: 16px;
  .img-card {
    border-top-left-radius: calc(var(--border-radius-inerit) - 2px);
    border-top-right-radius: calc(var(--border-radius-inerit) - 2px);
  }
  // card body content
  .body-card {
    .body-card-btn-title {
      font-size: 20px;
      input[type="radio"].form-check-input {
        border: 1px solid $blue-gradient-two !important;
        &:checked {
          background-color: $Primary1---Blue-primary1---blue-50;
          border-color: $Primary1---Blue-primary1---blue-50;
        }
      }
    }
    .radio-card-view-details {
      font-size: 14px;
      color: $Primary1---Blue-primary1---blue-600;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 0.3em;
      }
    }
  }
  // card footer content
  .footer-card-checked {
    background-color: $light-blue-00;
    border-bottom-left-radius: calc(var(--border-radius-inerit) - 2px);
    border-bottom-right-radius: calc(var(--border-radius-inerit) - 2px);
  }
  .footer {
    .footer-denomination{
      font-size: 14px;
    }
    .footer-amount{
      font-size: 20px;
    }
    .footer-vat {
      color: $dark-grey;
    }
  }
}

// when one card selected
.radio-card.card-checked {
  background-color: $light-blue;
  border: 2px solid $blue;
}
// when loaded/no-card is selected
.radio-card.card-unchecked.nothing-selected {
  .img-card {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
// left over card when one card selected
.radio-card.card-unchecked {
  .img-card {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
