@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.list-item-container {
  .list-item-icn {
    padding: 3px 0px;
    svg {
      font-size: 20px;
    }
  }

  .list-item-title {
    font-size: 20px;
  }
  .list-item-sub-title {
    padding: 5px 0px;
    @include fontStyle(14px, 22px, $darkest-grey);
  }
}
