@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;
 
@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}
 
.coastal-line {
  padding: 0px 20px 15px 20px ; 
}

/* Reusable classes */
.no-radius {
  border-radius: 0px;
}
.shadow {
  box-shadow: 0 0 0 0.1rem
    rgba(walaaColor.$Primary1---Blue-primary1---blue-50, 0.25);
}
 
.form-control::placeholder {
  color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
}
 
.card-section-declare {
  border: 1px solid walaaColor.$light-grey-300;
  border-radius: 20px;
  padding: 24px 0;
  .declare-wrap {
    .welcome-message {
      padding: 10px 24px 0  24px;
    }
    .show-more-btn {
      padding: 0 24px;
      color: walaaColor.$Primary1---Blue-primary1---blue-600;
 
      &:hover {
        color: walaaColor.$Primary1---Blue-primary1---blue-700;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
  }
}
.motor-card-heading {
  padding: 0px 24px 16px 24px;
  border-bottom: 1px solid
    walaaColor.$Utility---Light-Grey-utility---light-grey-200;
  position: relative;
 
  @include fontStyle(
    20px,
    30px,
    walaaColor.$Primary1---Blue-primary1---blue-800
  );
  @extend .walaa-medium-500 !optional;
 
  &::before {
    content: "";
    height: 30px;
    width: 4px;
    background: walaaColor.$red-utility;
    position: absolute;
    left: 0;
  }
}

.declare-container {
  display: flex;
  padding: 0px 24px;
  &:first-child{ padding-top: 16px;}
  &:last-child{padding-bottom: 0;}

  .declare-txt {
    @include fontStyle(16px, 24px, walaaColor.$black);
    @extend .walaa-regular-400 !optional;
    padding-top: 8px;
 
    .declare-bold {
      @include fontStyle(18px, 28px, walaaColor.$black);
 
      @extend .walaa-medium-500 !optional;
    }
  }
  .declare-toggle {
    margin-left: auto;
 
    ._container*{ padding: 0!important }
 
    .product-toggle {
      margin-right: 10px;
      display: inline-flex;
      align-items: center;
      padding: 2px;
      flex: 0 0 auto;
      background-color: walaaColor.$white;
      border-radius: 80px;
      border: 1px solid;
      border-color: walaaColor.$white;
 
      @include fontStyle(
        14px,
        22px,
        walaaColor.$Primary1---Blue-primary1---blue-50
      );
      @extend .walaa-regular-400 !optional;
 
      font-size: 16px;
      line-height: 24px;
 
      .selected {
        padding: 8px 16px;
        background-color: walaaColor.$Primary1---Blue-primary1---blue-50;
        border-radius: 20px;
        color: walaaColor.$white;
        cursor: pointer;
      }
 
      .default {
        padding: 4px 16px;
        border-radius: 20px;
        color: walaaColor.$Primary1---Blue-primary1---blue-50;
        cursor: pointer;
      }
    }
  }
}
