@use '../../styles/_colors' as *;


.policystart-card {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
  background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-50;
.light-txt {color:$darkest-grey; font-size: 12px; line-height: 18px; padding:10px 0 0 10px; }
  .card-body {
    // for renew coverage plan
    .existing-policy {
      color: $Utility---Light-Grey-utility---light-grey-800;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
    }

    .existing-policy-val {
      color: $dark-grey-500;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
    }
    .startdate_text {  
      font-size: 12px; 
      line-height: 20px; 
      padding-left: 8px;
      padding-top: 5px;
    }
    .policy-label{
      color:$dark-grey-400;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      span.policy-date{
        color:$dark-grey-500;
      }
    }
    .policystart-icn-container {
      cursor: pointer;
      .alert-text {
        border-radius: 8px;
        display: flex;
        padding: 4px 8px;
        align-items: center;
        gap: 8px;
        color: $Utility---White-white-500;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
        margin: 0px;
      }
    }
    .travel-policy-start-text
    {
      color: $darkest-grey;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; 
      padding-left:9px;
    }
    .policydate {
      color: $darkest-grey;

      span {
        color: $dark-grey-500;
      }
    }
  }
}

// for ChangePolicyStartDateModal component
.ChangePolicyStartDateModal {
  .ChangePolicyStartDateContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .calendar-switch {
      flex-direction: column-reverse;
      gap: 5px;

      .switchContainer {
        position: absolute;
        top: 23px;
        right: 22px;
      }
    }
  }
}

// Policy Date Home screen
.latestPolicyDateModal{
  &.show {
    .modal-content {
      width: 416px;
      height: 274px;
      padding: 16px 16px 16px 16px;
      border-radius: 20px;
    }
  }

    .title {
      padding-bottom: 8px;
    }
  
  .latestPolicyDateContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .error-message{
      font-size: 13px;
      color: $crimson-red;
    }
  }
}