@use "../../styles/color.scss" as *;
@use "../../styles/utils" as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.sharedfaq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 96px;
  padding-bottom: 80px;
  #faq-shared {
    width: 1076px;
    .heading-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex-shrink: 0;
      text-align: center;
      h3 {
        @include fontStyle(32px, $primaryBlue);
        margin: 0px;
        font-family: "Walaa Arabic Medium";
        font-weight: 500;
        font-style: normal;
      }
      p {
        @include fontStyle(18px, $darkestGrey);
        margin: 0px;
        font-family: "Walaa Arabic Regular";
        font-weight: 400;
        font-style: normal;
      }
    }
    .row {
      .accordian-wrapper {
        padding: 48px 0 0 0;
        .accordion-item button.collapsed {
          font-weight: 500 !important;
        }
      }
    }
  }
}

@include media(md) {

  .sharedfaq-wrapper #faq-shared .row .accordian-wrapper { width:100%; }

}

// @media (max-width: 443px) {
@include media(sm) {  
  .sharedfaq-wrapper{ 
    padding-top:48px;
    padding-bottom: 48px;
    #faq-shared{ 
      &.container-fluid{max-width: 100%; padding: 0 16px!important;} 
      .accordian-wrapper {max-width: 100%;} 
    }
}

}

@include media(xl) {
  .sharedfaq-wrapper{ 
    padding-top:48px;
    padding-bottom: 48px;
    #faq-shared{ 
      &.container-fluid{max-width: 100%; padding: 0 16px!important;} 
      .accordian-wrapper {max-width: 100%;} 
    }
}
}

@include media(lg) {
  .sharedfaq-wrapper{ 
    padding-top:48px;
    padding-bottom: 48px;
    #faq-shared{ 
      &.container-fluid{max-width: 100%; padding: 0 16px!important;} 
      .accordian-wrapper {max-width: 100%;} 
    }
}
}