@use "../../../styles/colors" as *;

.review-qutation-section {
    border-radius: 20px;
    width: 100%;
    border:1px solid $Utility---Light-Grey-utility---light-grey-300;
    position: relative;
    
}
.background-color-white {background-color: $white;}
.Quote-bottom {
    border-radius: 20px;
    width: 100%;
    .terms-condition-click {
        cursor: pointer;
        color: $Primary1---Blue-primary1---blue-600;
        
    }
    .red-required {
        color: $red-utility;
    }
}
.addtravellerbtn { justify-content: flex-end; display: flex; padding: 8px 16px;
    position: absolute; top:14px;
    right:20px;
    justify-self: end;
    align-items: center;
    gap: 8px; 
    border-radius: 40px;
    color: $blue-gradient-two;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid  $blue-gradient-two;
    background: $white;}

    .register-new-claim-modal { 
        h3 { padding: 20px 0 0 0; font-weight: 500; font-size: 16px; line-height: 16px; color: $darkest-grey;}
        p { padding: 10px 0; font-size: 16px; line-height: 22px; font-weight: 400; color: $darkest-grey;}
    }