 @use "../../../../styles/fonts" as walaaFont;
 @use "../../../../styles/colors" as walaaColor;

 .tycMainContainer {
     display: flex;
     padding: 1.5rem 0rem;
     flex-direction: column;
     align-items: center;
     gap: 1.5rem;
     align-self: stretch;

     border-radius: 1.25rem;
     border: 1px solid walaaColor.$light-grey-300;
     background: walaaColor.$white;
 }

 @media (max-width: 768px),
 (max-width: 576px) {
     .tycMainContainer {
         width: 100%;
         display: flex;
         padding: 16px 0px 20px 0px;
         flex-direction: column;
         align-items: flex-start;
         gap: 24px;
         align-self: stretch;
         .tycLeftPanel {  padding-bottom:24px; width: 100%;}
     }
    
 }
 