@use "../../styles/colors" as *;
@use "../../styles/_fonts" as font;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
}

@mixin flex-center($flex-direction: row,
    $justify: center,
    $align: center,
    $gap: 0) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

.coverage-option-container {
    padding: 0px 13px;
    width: 100%;

    .pearl-bg {
        background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-50;
    }

    .blue-bg {
        background-color: $blue-light;
    }

    .coverage-col {
        padding: 40px 24px 16px 24px;
        position: relative;

        .coverage-block {
            display: flex;
            align-items: center;
            gap:4px;
        }
    }

    .border-first {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
    }

    .border-last {
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
    }

    .border-none {
        border-radius: 0px;
    }

    .coverage-option-check {
        display: block;
        min-height: 23px;
        padding-left: 34px;
        margin-bottom: 0px;
        font-size: 20px;
        

        input[type="radio"].form-check-input { 
            border: 1px solid $blue-gradient-two !important;
            cursor: pointer;
            &:checked {
                background-color: $Primary1---Blue-primary1---blue-50;
                border-color: $Primary1---Blue-primary1---blue-50;
                cursor: auto;
            }
        }

        .form-check-label {
            color: $Primary1---Blue-primary1---blue-800;
            font-size: 16px;
        }

        
        .coverage-option-label {
            padding-left: 8px;
        }
        .butt-margin
        {
            margin:0px;
        }
    }

    .price-wrapper {
        padding-left: 64px;

        .coverage-type-price {
            @include fontStyle(14px, 24px, $dark-grey-500);
            @extend .walaa-regular-400 !optional;
        }
        .applicable-text
    {
        @include fontStyle(12px, 18px, $dark-grey-500);
        @extend .walaa-regular-400 !optional;
    }
    .view-benefit-link
    {
        @include fontStyle(14px, 22px, $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-600);
        @extend .walaa-regular-400 !optional;
    }
    .coverage-price
    {
        @include fontStyle(20px, 30px, $dark-grey-500);
        @extend .walaa-regular-400 !optional;
        font-weight: bold;
    }
    }

    .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .travel-tooltip-icon {
            color: $primary-blue-400;
            margin-right: 24px;
            height: 24px;
            cursor: pointer;
        }
    }

    .most-popular-badge {
        position: absolute;
        top: 0px;
        display: inline-block;
        padding: 7px 9px;
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
        color:$Utility---White-white-500;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0px 0px 10px 10px;
        background-color: $red-utility;
    }

    .right-pos-one {
        right: 167px;
    }

    .right-pos-two {
        right: 98px;
    }

    .compare_benefit_main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .coverage-option-text {
            @include fontStyle(16px, 24px, $dark-grey-500);
            @extend .walaa-medium-500 !optional;
        }
    }
    .coverageplan-text
    {
        @include fontStyle(16px, 24px, $darkest-grey);
        @extend .walaa-regular-400 !optional;
        padding:0px 0px 13px 0px;
    }
}

.compare-modal-custom {
    .compare_modal-close-icon {
        position: absolute;
        top: 11px;
        right: 8px;
        width: 31px;
        height: 25px;
        cursor: pointer;
        color: $dark-grey-500;
    }

    .modal-header {
        border-bottom: none;
    }
    .view_header
    {
        padding:24px 24px 10px 12px;
    }
    .compare_header
    {
        padding:24px 24px 10px 24px;
    }
    .modal-content {
      .actual-content {
            padding: 0 24px 24px 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            .repair-type-travel {
                @include flex-center(column, flex-start, flex-start, 16px);
                gap: 16px;

                .repair-type-travel-header {
                    color: $dark-grey-500;
                    font-size: 18px;
                    line-height: 28px;
                    align-self: stretch;
                    font-weight: 500;
                }

                .repair-type-travel-body {
                    color: $darkest-grey;
                    font-size: 16px;
                    line-height: 24px;
                    align-self: stretch;

                    
                }
            }

            .mainHeading {
                @include fontStyle(24px, 36px, $dark-grey-500);
                @extend .walaa-medium-500;
            }

            .subHeading {
                padding: 16px 0;
                @include fontStyle(18px, 28px, $dark-grey-500);
                @extend .walaa-medium-500;
            }

            .content {
                @include fontStyle(16px, 24px, $darkest-grey);
                @extend .walaa-regular-400;
            }
        }
    }
}

.custom_modal_title {
    color: $dark-grey-500;
	padding:0px;
}

.custom_tooltip_title {
    color: $dark-grey-500;
}

.compare_outer {
    padding: 20px;

    .compare_row {
        margin-bottom: 0px;
        text-align: center;

        .col-bg-one {
            display: flex;
            background-color: $Primary1---Blue-primary1---blue-700;
            border-top-left-radius: 10px;
            height: 86px;
            padding: 21px 24px 21px 24px;
            @include fontStyle(20px, 30px, $alice-blue);
            @extend .walaa-medium-500 !optional;
        }

        .col-bg-two {
            background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-50;
            height: 86px;
            padding: 16px 24px 16px 24px;
        }

        .col-bg-three {
            background-color: $blue-light;

            height: 86px;
            padding: 16px 24px 16px 24px;
        }

        .col-bg-rounded {
            border-top-right-radius: 10px;
        }

        .col-planname {
            @include fontStyle(16px, 24px, $Primary1---Blue-primary1---blue-800);
            @extend .walaa-medium-500 !optional;
        }

        .col-pricetype {
            @include fontStyle(14px, 22px, $dark-grey-500);
            @extend .walaa-regular-400 !optional;
        }

        .col-price {
            @include fontStyle(20px, 30px, $dark-grey-500);
            @extend .walaa-medium-500 !optional;
        }
    }

    .empty-row {
        border: 1px solid $alice-blue;
        margin-top: 0px;
        display: flex;

        .empty-col {
            border-right: 1px solid $alice-blue;
            height: 50px;
            background-color: $Utility---Light-Grey-utility---light-grey-50;
        }

        .empty-col-text-first {
            padding: 16px 0px;
            text-align: center;
            @include fontStyle(16px, 24px, $dark-grey-500);
            @extend .walaa-regular-400 !optional;
        }

        .empty-col-text-second {
            padding: 16px 0px;
            text-align: center;
            @include fontStyle(16px, 24px, $dark-grey-500);
            @extend .walaa-medium-500 !optional;
            font-weight: 500;
        }
    }

    .compare_accordian {
        border: 1px solid $alice-blue;
        margin-top: 0px;

        .compare_col {
            border-right: 1px solid $alice-blue;
        }

        .compare_li {
            margin: 10px;
            @include fontStyle(16px, 24px, $dark-grey-500);
            @extend .walaa-regular-400 !optional;
        }

        .compare_ul_two {
            padding-top: 38px;
        }

        .compare_li_two {
            margin: 10px;
        }

        .accordion-item {
            border: none;

            .accordion-button.collapsed {
                @include fontStyle(16px, 24px, $dark-grey-500);
                @extend .walaa-medium-400 !optional;
                font-weight: 500;
            }
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
            background-color: transparent !important;
            color: $dark-grey-500;
            font-weight: 500;
        }

        .button:focus:not(:focus-visible) {
            outline: none;
        }

        .accordion-button:focus {
            outline: none !important;
            box-shadow: none;
        }
    }
}