.reference-container {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 565px;
    margin: auto;
    h2 {
      margin-bottom: 20px;
      padding: 24px 32px 24px 32px;
    }
    .reference-case-type-body {
      padding: 32px;
      .reference-case-type {
        margin-bottom: 20px;
        p {
          font-size: 16px;
          margin-bottom: 8px;
        }
        p.case-type1 {
          margin-left: 20px;
          margin-top: -7px;
        }
        table {
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          border-radius: 8px;
          overflow: hidden;
          th {
            background-color: #d3e5f7;
            color: #333;
          }
          th,
          td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          td {
            background-color: #eaf3fb;
          }
        }
      }
    }
  }
  