.register-claim-info {
  .register-row-spacing-top {
    margin-top: calc($--small-sized - 8px);
  }
  .register-row-spacing-bottom {
    margin-bottom: calc($--small-sized - 8px);
  }
  .register-claim-inform-card {
    padding: $--small-sized;
    border-radius: 16px;
    // border: 1px solid $--Primary2---Light-Blue-primary2---light-blue-100;
    background: $--Primary1---Blue-primary1---blue-800;

    .info-box {
      display: flex;
      padding: 8px;
      align-items: center;
      justify-content: space-around;
      gap: 10px;

      border-radius: 100px;
      background: $white;
    }

    .register-contact-title {
      color: $dark-grey-500;
      /* Desktop/H5 */
      font-size: 20px;
      line-height: 30px; /* 150% */
    }

    .color-2 {
      color: $dark-grey-500 !important;
    }

    .radio-button-group-cust {
      border-radius: 80px;
      border: 1px solid $blue;
      background: var(--Utility---White-white-500, #fff);
      padding: 4px;

      label.not-selected {
        border: transparent !important;
        background: var(--Utility---White-white-500, #fff) !important;
        color: var(--Primary1---Blue-primary1---blue-500, #185a7d);
        padding-right: 1px;
        margin-right: 12px;
        padding-left: 1px;
        margin-left: 12px !important;
        &:hover {
          color: #185a7d !important;
        }
      }
      label.selected {
        border: 1px solid var(--Primary1---Blue-primary1---blue-500, #185a7d) !important;
        background: var(
          --Primary1---Blue-primary1---blue-500,
          #185a7d
        ) !important;
        border-radius: 20px;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        &:hover {
          color: #fff !important;
        }
      }
      label.selected-2 {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
      }
    }

    .register-claim-info-estimate {
      .register-claim-info-estimate-title {
        color: $--Primary1---Blue-primary1---blue-200;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .register-claim-info-estimate-value {
        color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
    }
  }

  .register-comp-claim-inform-card-bg-blue {
    background: #f0f7fc;
    .register-claim-info-estimate-title,
    .register-claim-info-estimate-value {
      color: #4d4d4d !important;
    }
  }

  .register-claim-inform-card-compe {
    // padding: $--small-sized;
    // border-radius: 16px;
    // border: 1px solid $--Primary2---Light-Blue-primary2---light-blue-100;
    // background: $--Primary1---Blue-primary1---blue-800;
    border: none;

    .info-box {
      display: flex;
      padding: 8px;
      align-items: center;
      justify-content: space-around;
      gap: 10px;

      border-radius: 100px;
      background: $white;
    }

    .register-contact-title {
      color: $dark-grey-500;
      /* Desktop/H5 */
      font-size: 20px;
      line-height: 30px; /* 150% */
    }

    .color-2 {
      color: $dark-grey-500 !important;
    }

    .radio-button-group-cust {
      border-radius: 80px;
      border: 1px solid $blue;
      background: var(--Utility---White-white-500, #fff);
      padding: 4px;

      label.not-selected {
        border: transparent !important;
        background: var(--Utility---White-white-500, #fff) !important;
        color: var(--Primary1---Blue-primary1---blue-500, #185a7d);
        padding-right: 1px;
        margin-right: 12px;
        padding-left: 1px;
        margin-left: 12px !important;
        &:hover {
          color: #185a7d !important;
        }
      }
      label.selected {
        border: 1px solid var(--Primary1---Blue-primary1---blue-500, #185a7d) !important;
        background: var(
          --Primary1---Blue-primary1---blue-500,
          #185a7d
        ) !important;
        border-radius: 20px;
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        &:hover {
          color: #fff !important;
        }
      }
      label.selected-2 {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
      }
    }

    .register-claim-info-estimate {
      .register-claim-info-estimate-title {
        // color: $--Primary1---Blue-primary1---blue-200;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .register-claim-info-estimate-value {
        // color: $white;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
      }
    }
  }
  .card-background-2 {
    background: $light-blue !important;
  }

  @media (max-width: 767px) {
    .register-row-spacing-top-sm {
      margin-top: calc($--small-sized - 8px);
    }
    .register-row-spacing-bottom-sm {
      margin-bottom: calc($--small-sized - 8px);
    }
  }
}
