@use "../../../styles/colors" as *;
@use "../../../styles/_fonts" as font;
@use "../../../../../app-shell/src/styles/media-queries" as *;
@mixin fontStyle($size, $lnheight, $fontColor) {
    font-size: $size;
    line-height: $lnheight;
    color: $fontColor;
}
.table-view-benefit{
    display:flex;
    flex-direction: column;
    width:100%;
    .header-row
{
    display:flex;
    border-bottom: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    font-weight: bold;
}

.header-cell
{
    padding:10px;
    border:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    text-align:left;
    flex:1;
    color:black;
}
.col-bg-one {
    display: flex;
    background-color: $Primary1---Blue-primary1---blue-700;
    border-top-left-radius: 10px;
    height: 86px;
    padding: 21px 24px 21px 24px;
    @include fontStyle(20px, 30px, $alice-blue);
    @extend .walaa-medium-500 !optional;
}
.col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
    border-right:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}
.col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-bg-two {
    background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-50 !important;      
}

.col-bg-three {
    background-color: $blue-light;
}

.col-bg-rounded {
    border-top-right-radius: 10px;
}
.pearl-bg {
    background-color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-50;
}

.blue-bg {
    background-color: $blue-light;
}

.acc-button{
    cursor: pointer;
    padding:10px;
    text-align: left;
    width:100%;
    .trvel-benefit-blod{
        @extend .walaa-medium-500;
    }
}
.accordion-section{
    border-bottom:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}
.accordion-section-benefit-popup {
    div.accordion-collapse.collapse.show {
        .browcol-one {
                border-left: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
            }
        }
        .browcol-two {
            border-right: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
        }
.accordion-header
{
       
    border-left:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    border-right:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    border-bottom:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    border-top:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    padding: 0px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content: space-between;  
    
}
}
.benefit-row
{
    display:flex;
}
.benefit-cell{
    padding:10px;
    text-align:left;
    flex:1;
}
.benefit-cell-first{
   
    border-right:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
    border-left:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}
.txt-align{
text-align: center;
}
.benefit-cell-empty-left{
    border-left:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}
.benefit-cell-last{
    border-right:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}
.btm-underline
{
    border-bottom:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}

.btm-underline-top{
    border-top:1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-50;
}

.last-row .benefit-cell:nth-last-child(2),
.last-row .benefit-cell:last-child {
  text-align: center;
  font-weight: bold;
}

.table-view-benefit>:not(caption)>*>*{
    background-color: inherit;
    
}
.white-text {
    color: white !important; /* 1st column text is white */
  }
  
  .split-text {
    text-align: center;
  }
  
  .first-word {
    display: block;
    font-weight: bold; 
  }
  
  .remaining-words {
    display: inline; 
    white-space: nowrap;
  }
  
  .small-text {
    font-size: 0.8rem;
    font-weight: normal; 
    padding-right: 4px;
  }
  .last-row{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
}
