@use "../../../../../styles/fonts" as *;
@use "../../../../../styles/colors" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

/* Reusable classes */
.no-radius {
  border-radius: 0px;
}
.shadow {
  box-shadow: 0 0 0 0.1rem rgba($Primary1---Blue-primary1---blue-50, 0.25);
}

.form-control::placeholder {
  color: $Utility---Dark-Grey-dark-grey-200;
}

// Vehical detail

.vehical-detail-content {
  .vehical-bread {
    display: flex;
    padding: 16px 0;
    margin: 0;

    .bread {
      display: flex;
      align-items: center;
      justify-content: center;
      @include fontStyle(14px, 22px, $Primary1---Blue-primary1---blue-50);
      @extend .walaa-regular-500 !optional;

      /* 150% */
      span {
        background: $Primary1---Blue-primary1---blue-50;
        border-radius: 80px;
        padding: 4px;
        width: 24px;
        height: 24px;
        font-style: normal;
        font-weight: 500;

        @include fontStyle(16px, 24px, $white);
        @extend .walaa-regular-500 !optional;

        display: flex;
        align-items: center;
        margin-right: 8px;
        justify-content: center;
      }
      &::after {
        content: "";
        width: 24px;

        height: 1px;
        margin-left: 8px;
        margin-right: 8px;
        background: $Utility---Light-Grey-utility---light-grey-500;
      }
      &:last-child::after {
        display: none;
      }

      &.active span {
        background: $red-utility;
      }

      &.inactive {
        color: $light-grey-100;
        span {
          background: $Utility---Light-Grey-utility---light-grey-500;
        }
      }
    }
  }

  .product-toggle-wrapper {
    padding: 0 0 24px 0;
    .product-toggle {
      border-radius: 80px;
      border: 1px solid $Primary1---Blue-primary1---blue-50;

      .selected,
      .default {
        padding: 8px 16px;
      }
    }
  }

  .vehical-section {
    border: 1px solid $light-grey-300;
    border-radius: 20px;
    padding: 24px 0;
  }
  .vehical-heading {
    padding: 0px 24px 16px 24px;
    border-bottom: 1px solid $Utility---Light-Grey-utility---light-grey-200;
    position: relative;

    @include fontStyle(20px, 30px, $Primary1---Blue-primary1---blue-50);
    @extend .walaa-regular-500 !optional;

    &::before {
      content: "";
      height: 30px;
      width: 4px;
      background: $red-utility;
      position: absolute;
      left: 0;
    }
  }
  .vehical-content {
    padding: 16px 32px 0px 32px;

    .vehical-radio {
      padding-bottom: 24px;

      .form-check {
        label {
          cursor: pointer;
        }
      }

      .form-check-input {
        height: 20px;
        width: 20px;
        margin-right: 8px;
        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
        &:disabled,
        &:disabled ~ .form-check-label {
          opacity: 0.3;
        }
        &:focus {
          @extend .shadow;
        }
        &:checked {
          background-color: $Primary1---Blue-primary1---blue-50;
          border-color: $Primary1---Blue-primary1---blue-50;
        }
      }

      .tooltip-icon {
        color: $primary-blue-400;
        margin-right: 24px;
        height: 24px;
      }
    }
    .vehical-fields {
      .drop-container {
        max-width: 244px;
      }

      .input-container {
        max-width: 330px;
      }

      .form-check-input {
        cursor: pointer;
      }

      .form-control:focus,
      .form-select:focus {
        @extend .shadow;
      }

      .form-control,
      .form-select {
        @extend .no-radius;
      }

      .register-call2action.btn-link {
        background: $Utility---Light-Grey-utility---light-grey-500;
        color: $Utility---Dark-Grey-dark-grey-200;
      }
    }
  }
}

// User Card
.user-details {
  border: 1px solid $light-blue-200;
  padding: 24px 0;
  border-radius: 20px;
  background: $Primary2---Light-Blue-primary2---light-blue-50;

  .user-top {
    padding: 0 24px 16px 24px;
    border-bottom: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;
    display: flex;
    .user-content {
      padding-left: 16px;
      .heading {
        @include fontStyle(16px, 24px, $darkest-grey);
        @extend .walaa-regular-500 !optional;
      }
      .sub-head {
        @include fontStyle(
          14px,
          22px,
          $Utility---Light-Grey-utility---light-grey-800
        );
        @extend .walaa-regular-500 !optional;
      }
    }
  }

  .user-bot {
    padding: 16px 24px 0 24px;
    .user-labl {
      @include fontStyle(
        14px,
        22px,
        $Utility---Light-Grey-utility---light-grey-800
      );
      @extend .walaa-regular-500 !optional;
    }
    .user-val {
      @include fontStyle(16px, 24px, $darkest-grey);
      @extend .walaa-regular-500 !optional;
    }
  }
}

.manage-travel-details-card-wrap {
  width: 100%;
  padding: 0px;
  .trav-details-card {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $Primary2---Light-Blue-primary2---light-blue-50;
    border-radius: 16px;
    border: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;

    .trav-top {
      width: 100%;
      display: flex;
      border-bottom: unset !important;
      .label-container:nth-last-child(3) {
        min-width: 164px;
      }
      .label-container:nth-last-child(2) {
        border-right: unset;
        max-width: 120px;
      }
      .col:nth-last-child(1) {
        max-width: 30px;
        padding: 0px;
      }
      .travle-logo {
        display: flex;
        align-items: center;
        max-height: 48px;
        width: 100%;
      }
      .user-logo {
        max-width: 40px;
      }

      .label-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0 0 16px;
        border-right: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;
        &:last-child {
          border: 0px;
        }
      }
      .trav-label {
        @include fontStyle(14px, 24px, $dark-grey);
        @extend .walaa-regular-400 !optional;
      }
      .trav-value {
        @include fontStyle(14px, 24px, $dark-grey-500);
        @extend .walaa-medium-500 !optional;
      }
    }

    .vehi-bot {
      display: flex;
      .popup-link {
        display: flex;
        align-items: center;
        padding-right: 16px;
        @include fontStyle(16px, 24px, $Primary1---Blue-primary1---blue-600);
        @extend .walaa-regular-400 !optional;
        cursor: pointer;

        img {
          margin-right: 4px;
        }
        &:hover {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-underline-position: from-font;
          color: $Primary1---Blue-primary1---blue-800;
          text-decoration: underline;
        }
      }
    }
  }

  .traveladdon-details {
    border-radius: 0px 0px 20px 20px;
    border: 1px solid $Utility---Light-Grey-utility---light-grey-200;
    background: $Utility---Light-Grey-utility---light-grey-50;
    margin: 0 24px;
    padding: 12px 0px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .poli-detail-container {
      padding: 0px;
      flex: 1;
      display: flex;
      .poli-label {
        @include fontStyle(14px, 24px, $dark-grey);
        @extend .walaa-regular-400 !optional;
      }
    }
    .poli-detail-container-left {
      padding: 0px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: auto;
      align-self: flex-end;
      max-width: max-content;
      .tra-info-btn {
        display: flex;
        padding: 5px 10px;
        height: 38px;
        width: auto;
        text-align: center;
        text-wrap: nowrap;
        border-radius: 8px;
        border: 1px solid $light-grey-100;
        background: $white;
        @include fontStyle(14px, 24px, $dark-grey);
      }
    }
  }
}

.benfit-block {
  display: flex;
  gap: 8px;
  align-self: stretch;
  flex-direction: column;

  .benfit-block-title {
    color: $darkest-grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    @extend .walaa-medium-500;
  }
  .benfit-content {
    display: flex;
    flex-direction: row;
    .benfit-one {
      display: flex;
      padding: 16px;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      flex: 1 0 0;
      border-radius: 16px;
      border: 1px solid $light-grey-100;
      background: $white;
      .left-icon {
        color: $blue;
        display: flex;
        width: 40px;
        height: 40px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 80px;
        background: $light-blue-00;
      }
      .benfit-data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: max-content;
        .benfit-title {
          display: block !important;
          color: $dark-grey-500;
          font-size: 16px;
          line-height: 24px;
          @extend .walaa-medium-500;
          .sub-title {
            color: $dark-grey-400;
            font-size: 12px;
          }
          .info-align {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
          }
        }
        .benfit-sub-title {
          color: $Primary1---Blue-primary1---blue-700;
          font-size: 14px;
          line-height: 22px;
          @extend .walaa-regular-400;
        }
      }
      .benfit-data-right {
        width: 50%;
      }
      .benfit-right {
        .benfit-button {
          cursor: pointer;
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid $Primary1---Blue-primary1---blue-800;
          background: $white;
          .benfit-button-text {
            color: $Primary1---Blue-primary1---blue-800;
            font-size: 14px;
            line-height: 22px;
            @extend .walaa-medium-500;
          }
        }
        .benfit-remove-btn {
          cursor: pointer;
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid $red-utility;
          background: $white;
          .benfit-button-text {
            color: $red-utility;
            font-size: 14px;
            line-height: 22px;
            @extend .walaa-medium-500;
          }
        }
      }
    }
    .benfit-one-select {
      border: 2px solid $blue;
      background: $light-blue-50;
    }
    .benfit-content-space {
      padding-right: 16px;
    }
  }
}
.edit_col {
  display: flex;
  align-items: center;
  justify-content: center;
}
