@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;
@use "../../styles/utils" as *;


// Base styles for the notification
.custom-notification {
    display: flex;
    align-items: flex-start;
    width: 100%;
    
    .notification-icon {
      margin-right: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
    
    .notification-content {
      flex: 1;
      
      .notification-title {
        align-self: stretch;
        @include font(16px, 400, 24px);
      }
      
      .notification-description {
        align-self: stretch;
        @include font(16px, 400, 24px);
      }
    }
    
    // Type-specific styles
    &.success {
      .notification-icon {
        color: $Utility---White-white-500;
      }
      
      .notification-title {
        color: $Utility---White-white-500;
      }
      
      .notification-description {
        color: $Utility---White-white-500;
      }
    }
    
    &.error {
      .notification-icon {
        color: $Utility---White-white-500;;
      }
      
      .notification-title {
        color: $Utility---White-white-500;;
      }
      
      .notification-description {
        color: $Utility---White-white-500;;
      }
    }
    
    &.info {
      .notification-icon {
        color: $Utility---White-white-500;;
      }
      
      .notification-title {
        color: $Utility---White-white-500;;
      }
      
      .notification-description {
        color: $Utility---White-white-500;;
      }
    }
    
    &.warning {
      .notification-icon {
        color: $Utility---White-white-500;;
      }
      
      .notification-title {
        color: $Utility---White-white-500;;
      }
      
      .notification-description {
        color: $Utility---White-white-500;;
      }
    }
  }
  
  // Type-specific wrappers for the toast
  .notification-wrapper {
    display: flex;
    width: 650px;
    padding: 16px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    
    &.success {
        border-left: 4px solid $green-700-dark;
        background: $green-500-medium;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    }
    
    &.error {
        // update the style when error
    }
    
    &.info {
        // update the style when info
    }
    
    &.warning {
        // update the style when warning
    }
  }
  
  /*commented for future: Custom classes can be defined here or in your main stylesheet if needed*/
  /* For example:
  .custom-content {
    padding: 10px;
  }
  
  .custom-title {
    font-weight: 700;
    font-size: 18px;
  }
  
  .custom-description {
    font-style: italic;
  }
  
  .custom-icon {
    font-size: 28px;
  }
  */