@use '../../styles/_colors.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.claim-wrapper {
    .claim-content {
        padding: 60px 0px 30px 0px;
        background-color: $themeWhite;

        .content-header {
            justify-content: space-between;
            align-items: center;

            .claim-title {
                @include utils.font-setting($primaryBlue, 32px, 48px);
            }

            .claim-navigation {
                cursor: pointer;
                @include utils.font-setting($primary-blue-500, 18px, 28px);
                justify-content: space-between;
                align-items: center;
                gap: 5px;
            }
        }

        .custom-widget {
            padding: 0 !important;
            position: inherit !important;
            transform: none !important;
            margin-top: 32px;
        }

        .get-a-quote-widget .sticky-bar .getquote-widget-form {
            max-width: 1296px;

        }

        .container-fluid{
            .get-a-quote-widget{
                .getquote-widget-form{
                    .textfield, .number{
                        input[name="national_id_iqama_no"], input[name="case_reference_no"]{
                           padding: 15px 40px 12px 45px;
                            -webkit-background-clip: text;
                            background-clip: text;
                        }
                    }
                }
            }
        }
    }
    .claim-second-page{
        background-color: $light-grey-50-utility;
    }
}

@include media(xl) {
    .claim-wrapper{
        .container-fluid{
            padding: 0px 64px !important;
        }
    }

}

// @media only screen and (max-width: 768px) {
@include media(md) { 
    .claim-wrapper{
        .banner-graphic{
            height: 245px;
        }
        .container-fluid{
            padding: 0px 16px !important;
        }
    }
     
    .claim-wrapper .claim-content { 
        padding-bottom: 24px;

        .content-header {
            flex-direction: column;
            text-align: left;
            align-items: unset;

            .claim-title {
                padding-bottom: 16px;
            }

            .claim-navigation{
                justify-content: flex-start;
            }
        }

        .custom-widget {
            margin-top: 0px;
        }
    }

    .get-a-quote-widget.container-fluid {
        .sticky-bar {
            .widget-options {
                background-color: transparent;
                padding-left: 0px;
            }

            .getquote-widget-form {
                border-radius: 20px !important;

                .form-wrapper {
                    gap: 24px;

                    .form-input-field {
                        width: 100% !important;
                    }

                    .right-quote-btn {
                        width: 100%;
                    }

                    .right-quote-btn button {
                        width: 100%;
                        display: flex;
                        padding: 12px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;
                        border-radius: 40px;
                        border: 1px solid $red-utility !important;
                        background: $themeWhite !important;
                    }

                    .right-quote-btn .getquote-button .button-label {
                        color: $red-utility;
                    }

                    .right-quote-btn .getquote-button .icon svg {
                        color: $red-utility;
                    }
                }

            }
        }
    }

}