@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.dashboard-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 0px 72px;

  .policies-spacing {
    padding: 30px 0 0 0 !important;
  }

  .policies-section {
    flex: 0 0 68%;
    padding: 50px 0 0 0;

    display: flex;
    flex-direction: column;
    gap: 32px;

    .policies-list-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;

      .policies-header {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: space-between;
        align-items: flex-start;

        .policies-title {
          display: flex;
          gap: 24px;
          width: 100%;
          color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;
          font-size: 20px;
          line-height: 30px;

          .policies-count{

          }

          .policies-filter{
            display: flex;
            gap:8px;

            .btns-content{
              font-size: 12px;
              line-height: 18px;
            }

          }
        }

        .scroll-navigation {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 8px;

          .prev-button,
          .next-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 48px;
            background: $white;
          }
        }
      }

        .policies-cards-container{
          display: grid;
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
          gap: 24px;
          overflow-y: hidden;

        }
    }
  }

  .ads-section-spacing {
    padding: 85px 0 24px 0 !important;
  }

  .ads-section {
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 0 24px 0;
  }
}
