@import 'styles/colors';
@import 'styles/reset';


:root {

    .container-fluid {
        padding: 0px 72px !important;
    }

    .dropdown .dropdown-menu li a {
        border-bottom: 5px solid #002873;
    }

    .btn {
        border-radius: 48px;
        background-color: #0D3245;
        border-color: #0D3245;
        color: #fff;
        font-size: 16px;
    }
    a {
        text-decoration: none;
    }

}