@use "../../styles/_fonts" as walaaFont;
@use "../../styles/_colors" as walaaColor;


.feedbackEmojiSection {
  display: flex;}

.openslider{
  .emojipopuptext {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    .curved-grey-boxText{
      color : #fff;
      font-size: 12px;
      background:walaaColor.$darkest-grey;
      border-radius: 20px;
      padding: 2px;
      margin-top: 5px;
    }
  }
  .howfeel{
    padding: 20px 0px 15px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: walaaColor.$dark-grey-500;
  }
  .your-input-text{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 16px;
    color: walaaColor.$darkest-grey;
  }
  .char-text{
    font-size: 12px;
    padding-bottom: 20px;
    color: walaaColor.$darkest-grey;
    span{
      font-weight: 600;
    }
  }
  .feedback-textarea{
    border-color: $Utility---Dark-Grey-dark-grey-200;
  }
  .themetextarea-cust.feedback-textarea:focus {
    outline: none;
    border-color: $Utility---Dark-Grey-dark-grey-200;
    box-shadow: none;
  }
}


.innerContainerFeedback {
  display: flex;
  width: 100%;
  // width: 1076px;
  padding: 24px 100px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: linear-gradient(0deg, walaaColor.$blue-gradient-one 0%, walaaColor.$blue-gradient-two 100%);

  @media (min-width: 933px) and (max-width: 1024px) {
    padding: 24px 64px;
  }
  @media (max-width: 932px) {
    padding: 24px 16px;
  }

  .FeebackText {
    @extend .walaa-regular-400;
    color: walaaColor.$white;
    text-align: center;

    /* Body/B1/Regular */
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
  }

  .feedbackEmojiSection {
    display: flex;
    @media (max-width: 430px) {
      width: 230px;
      height: 230px;
      display: ruby;
    }
  }

  .emojiContainer {
    width: 76px;
    height: 77px;
    text-align: center;

    label {
      @extend .walaa-regular-400;
      width: 76px;
      color: walaaColor.$light-grey-100;
      text-align: center;

      /* Body/B3/Regular */
      font-size: 14px;
      line-height: 22px;
      /* 157.143% */
    }

    img {
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }

    .selectedLbl {
      color: walaaColor.$white;
    }
  }
}

/*Travel css*/
.innerContainerSurvey {
  display: flex;
  width: 100%;
  padding: 0px 13px 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: walaaColor.$white;

  @media (min-width: 933px) and (max-width: 1024px) {
    padding: 24px 64px;
  }
  @media (max-width: 932px) {
    padding: 24px 16px;
  }

  .FeebackText {
    @extend .walaa-regular-400;
    color: walaaColor.$dark-grey-500;
    text-align: center;

    /* Body/B1/Regular */
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
  }

  .feedbackEmojiSection {
    @media (max-width: 430px) {
      width: 230px;
      height: 230px;
      display: ruby;
    }
  }

  .emojiContainer {
    width: 62px;
    height: 54px;
    text-align: center;

    label {
      @extend .walaa-regular-400;
      width: 76px;
      color: walaaColor.$light-grey-100;
      text-align: center;

      /* Body/B3/Regular */
      font-size: 14px;
      line-height: 22px;
      /* 157.143% */
    }

    img {
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }

    .selectedLbl {
      color: walaaColor.$white;
    }
  }
}

.feedback-pop-heading {
  text-align: center;
}
.button-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .feedbackbtn{
    width: 100%;
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

  @media (max-width: 768px) {
    padding: 16px;
  }

  .modal-body {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
    .emojipopuptext {
      display: flex;
      padding-bottom: 38px;
    }

    .curved-grey-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.625px;
      padding: 0.25rem 1rem 0.25rem 0.5rem;
      right: 1.02081rem;
      top: 3.0625rem;
      border-radius: 6px;

      background: walaaColor.$Primary2---light-blue-800;

      .curved-grey-boxText {
        color: walaaColor.$Utility---White-white-500;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.375rem;
      }
    }

    .emojiContainer {
      width: 76px;
      height: 77px;
      text-align: center;

      label {
        @extend .walaa-regular-400;
        width: 76px;
        color: walaaColor.$light-grey-100;
        text-align: center;

        /* Body/B3/Regular */
        font-size: 14px;
        line-height: 22px;
        /* 157.143% */
      }
    }
  }
}

/*Travel css*/
.innerContainerSurvey {

    display: flex;
    width: 100%;
    padding: 0px 13px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: walaaColor.$white;
    
    @media  (min-width: 933px) and (max-width: 1024px) {
        padding: 24px 64px;
    }
    @media (max-width: 932px) {
        padding: 24px 16px;
    }
    
    .FeebackText {
        @extend .walaa-regular-400;
        color: walaaColor.$dark-grey-500;
        text-align: center;
    
        font-size: 18px;
        line-height: 28px;
            
    }
    
    .feedbackEmojiSection {
        @media (max-width: 430px) {
            width: 230px;
            height: 230px;
            display: ruby;
        }
    }
    
    .emojiContainer {
        width: 62px;
        height: 54px;
        text-align: center;
    
        label {
            @extend .walaa-regular-400;
            width: 76px;
            color: walaaColor.$light-grey-100;
            text-align: center;
    
            font-size: 14px;
            line-height: 22px;
            
        }
    
        img {
            width: 56px;
            height: 56px;
            flex-shrink: 0;
        }
    
        .selectedLbl {
            color: walaaColor.$white;
        }
    }
    }

    /*Travel css*/
.innerContainerSurvey {

    display: flex;
    width: 100%;
    padding: 0px 13px 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: walaaColor.$white;

    @media (min-width: 933px) and (max-width: 1024px) {
        padding: 24px 64px;
    }

    @media (max-width: 932px) {
        padding: 24px 16px;
    }

    .FeebackText {
        @extend .walaa-regular-400;
        color: walaaColor.$dark-grey-500;
        text-align: center;

        /* Body/B1/Regular */
        font-size: 18px;
        line-height: 28px;
        /* 155.556% */

    }

    .feedbackEmojiSection {
 

        @media (max-width: 430px) {
            width: 230px;
            height: 230px;
            display: ruby;
        }
    }

    .emojiContainer {
        width: 62px;
        height: 54px;
        text-align: center;

        label {
            @extend .walaa-regular-400;
            width: 76px;
            color: walaaColor.$light-grey-100;
            text-align: center;

            /* Body/B3/Regular */
            font-size: 14px;
            line-height: 22px;
            /* 157.143% */
        }

        img {
            width: 56px;
            height: 56px;
            flex-shrink: 0;
        }

        .selectedLbl {
            color: walaaColor.$white;
        }
    }
}

.feedback-pop-heading {
    text-align: center;
}

.button-align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

    @media (max-width: 768px) {
        padding: 16px;
    }



    .modal-body {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-bottom: 24px;

        .emojipopuptext {
            display: flex;
            padding-bottom: 38px;


        }



        .curved-grey-box {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:space-around;
            gap: 0.625px;
            padding: 0px 0px 0px 4px;
            right: 1.02081rem;
            top: 3.0625rem;
            border-radius: 6px;
            background: walaaColor.$Primary2---light-blue-800;

            .curved-grey-boxText {

                color: walaaColor.$Utility---White-white-500;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.375rem;

            }
        }

        .emojiContainer {
            width: 76px;
            height: 77px;
            text-align: center;

            label {
                @extend .walaa-regular-400;
                width: 76px;
                color: walaaColor.$light-grey-100;
                text-align: center;

                /* Body/B3/Regular */
                font-size: 14px;
                line-height: 22px;
                /* 157.143% */
            }
        }
    }


}