@use "../../../../../../styles/colors" as *;

.new-logo{
    display: flex;
    height: 70px;
    width: 70px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 200px;
    aspect-ratio: 1 / 1;
    position: absolute;
    right: 24px;
    background: #ccedfb;
}

.new-right-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: inherit;
    padding: 24px;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid $light-blue-200;
    background: white url(../../../../../../../../consumer-portal/src/assets/common/UnionCard.svg) no-repeat !important;
    background-position: right top !important;
    background-size: contain !important;

    .header {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      flex-wrap: wrap;
      align-self: stretch;
      border-radius: 8px;
      border: none;

      .header-content {
        display: flex;
        align-items: center;
        gap: 16px;
        flex: 1;

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;

          .policy-number {
            color: $dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
}