@use "./../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.main-footer {
  display: flex;
  height: 76px;
  padding: 0px 512px 0px 72px;

  justify-content: space-between;
  align-items: center;
  background: walaaColor.$Primary1---Blue-primary1---blue-900;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: walaaColor.$white;
  text-align: center;

  .footer-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    &.justify-end {
      justify-content: flex-end; 
    }

    .back-btn {
      background: walaaColor.$Primary1---Blue-primary1---blue-900 !important;
      text-decoration: none;
      color: walaaColor.$white;
      display: flex;
      border: 2px solid walaaColor.$white;
      &.disabled{
        background-color: walaaColor.$dark-grey-50 !important;
        border-color: walaaColor.$dark-grey-50 !important;
        color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
        img{
          filter: brightness(0.6);
        }
      }
    }

    .back-btn:hover {
      border: 2px solid walaaColor.$white;
    }

    .submit-btn {
      background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-600;
      text-decoration: none;
      display: flex;
      border: 2px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-600;
      
      @include fontStyle(16px,
      22px,
      walaaColor.$white );
      @extend .walaa-regular-400;

      &.disabled{
        background-color: walaaColor.$dark-grey-50 !important;
        border-color: walaaColor.$dark-grey-50 !important;
        color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
        img{
          filter: brightness(0.6);
        }
      }

      &.disabled:hover{
        background-color: walaaColor.$dark-grey-50 !important;
      }
    }

    .submit-btn:hover {
      background: walaaColor.$Primary2---light-blue-500 !important;
    }

    .payment-btn {
      color: walaaColor.$white;
      font-size: 16px;
      line-height: 24px;
      border-radius: 40px;
      background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-600 !important;
      text-decoration: none;
    }

    .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}

@include media(xl) {
  .main-footer {
    padding: 0px 40px 0 20px !important;
  }
}