@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;


@include media(md){
    .template-wrapper{
        .carousel-content{
            gap: 7px;
            .content-header{
                line-height: 47px !important;
            }
            &.highlighter-banner{
            top: 50%;
        }}
    }
}

@media (max-width:420px){
    .template-wrapper .carousel-content.highlighter-banner{
        top: 50%;
        gap: 4px;
        .content-header{
            font-size: 35px;
        }
        .content-subheader{
            font-size: 15px;
            line-height: 25px;
        }
    }
}