@use "../../styles/_colors" as *;

.share-container {
  .share-content {
    color: $Primary1---Blue-primary1---blue-600;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      color: $Primary1---Blue-primary1---blue-700;
      text-decoration: underline;
      text-underline-offset: 5px;
      cursor: pointer;
    }
  }
}