@use "../../styles/_colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/utils" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.privacy-container {
  .frame__content {
    margin-top: 0px;
    .frame__text-section {
      h3 {
        @include fontStyle(24px, 36px);
      }
      h5 {
        padding-bottom: 8px;
        @include font-setting($primary-blue-500, 18px, 28px);
        @extend .walaa-medium-500;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
        padding-bottom: 10px;
      }
      ul.list_style_disc {
        margin-left: 24px;
      }
    }
    .frame__sidebar {
      margin-top: 48px;

      .know-more {
        position: sticky;
        top: 92px;
        background-color: $ice-blue !important;
        border: 1px solid $light-blue-100 !important;
        border-radius: 16px;
        padding: 8px 10px 8px 0;

        .related-links {
          margin-top: 0px !important;
          height: 544px;
          overflow-y: scroll;
          position: sticky !important;
          top: 0px;
          border: none !important;
          background-color: $ice-blue !important;

          /* width of the scrollbar */
          &::-webkit-scrollbar {
            width: 6px;
          }

          /* Track (background) */
          &::-webkit-scrollbar-track {
            background: $primary-grey-50;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $cool-blue; /* scrollbar color */
            border-radius: 5px; /* rounded corners */
            width: 3px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background-color: $cool-blue;
          }

          .frame__text-section {
            margin-top: 0px !important;

            .main_ul,
            .sub_ul,
            .subsub_ul {
              list-style: none;
            }
            .main_ul {
              margin-top: 0px;
              padding-bottom: 0px;
              font-size: 20px;

              .sub_ul {
                font-size: 18px;

                .subsub_ul {
                  font-size: 16px;
                  padding-left: 24px !important;
                  padding-bottom: 8px;
                }
              }
            }

            .main_ul,
            .sub_ul,
            .subsub_ul {
              display: flex;
              margin-top: 8px;
              flex-direction: column;
              padding-left: 0px;
              li {
                padding-bottom: 4px;
                a {
                  color: $primary-blue-500;
                  line-height: 28px;
                  @extend .walaa-regular-400;
                }
              }
            }
          }
        }
      }
    }
  }
}
