@use "../../styles/colors" as *;

.list-item-container {
  .list-item-icn {
    svg {
      font-size: 20px;
    }
  }
  .list-item-title {
    font-size: 20px;
  }
  .list-item-sub-title {
    font-size: 14px;
    color: $darkest-grey;
  }
}
