@use "../../styles/color.scss" as *;
@use "../../styles/_utils.scss" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.shared-card-wrapper {
  width: 100%;
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: 32px;

  .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 215px;
    object-fit: cover;
  }

  .card-body {
    border: 1px solid $light-grey-200-utility;
    border-bottom: none;
    border-top: none;
    padding: 24px 24px 16px 24px;
    height: 230px;

    .card-date {
      @include utils.font-setting($light-grey-800-utility, 14px, 22px);
    }

    .card-title {
      @include utils.font-setting($dark-Grey-500, 20px, 30px);
      @include utils.display-ellipse(2);
      padding-top: 8px;
      margin-bottom: 0px;
    }

    .card-text {
      @include utils.font-setting($darkestGrey, 16px, 24px);
      @include utils.display-ellipse(3);
      padding-top: 16px;
    }
  }

  .card-footer {
    padding: 0px 24px 24px 24px;
    border: 1px solid $light-grey-200-utility;
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: $themeWhite;

    .card-readmore {
      @include utils.font-setting($primnary-blue-600, 18px, 28px);
      cursor: pointer;

      svg {
        padding-left: 2px;
      }
    }
  }
}

// @media only screen and (max-width: 1200px)
@include media(xl) {
  .shared-card-wrapper {
    width: auto !important;
  }
}

@include media(md){
  .shared-card-wrapper{
    margin: auto;
  }
}

[dir="rtl"] {

  .shared-card-wrapper .card-footer .card-readmore .MuiSvgIcon-root {
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
  }
}