@use '../../../styles/_colors' as *;
@use'../../../styles/fonts.scss' as *;
@use '../../../styles/utils' as utils;
@use '../../../../../app-shell/src/styles/media-queries' as *;



.get-quote-modal {

  .modal-header {
    background-color: $ice-blue;
    border-bottom: 1px solid $light-grey-100;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    width: 601px;
    .modal-title {
      color: $primary-blue-500;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .modal-body {
    padding: 24px;
    background: white;
    width: 601px;


    .col-md-6 , .col-md-12 { padding-bottom: 24px;
      label.form-label {
        padding: 0px;
        margin: 0px 0 8px 0;
      }
    }
   .modal-content {
      background-color: $white;
      border-radius: 16px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
      padding: 0px;
    }
    .lastBtnDiv{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }


    .get-quote-button {
      background-color: $white;
      border-top: 1px solid $light-grey-100;
      margin: 16px 24px 0px 347px;
      padding: 10px 20px;
      border: 1px solid $dark-grey-200;
      border-radius: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;



      &::after {
        content: '→';
        font-size: 16px;
        margin-left: 8px;
        color: $Secondary6---Crimson-Red-Secondary6---Crimson-Red-500;
      }


      &.active {
        background-color: $primary-blue-500;
        color: $white;

        &::after {
          color: $white;
        }
      }
    }

  }
  .get-quote-form-container {
    .col-md-6 {
      .form-control , .form-select { border: 1px solid $dark-grey-200;}
      .product-toggle-wrapper-Ui-Tabs {
        padding-bottom:0px ;
        .product-toggle 
        {
          .selected , .default {
             padding: 3px 11px;
          } 
        }
      }
    }
    .col-md-12 {
      .form-control {border: 1px solid $dark-grey-200;}
    }

  }
}



@include media(lg) {
  .get-quote-modal{
    padding-left: 0px;
    .modal-body,.modal-header{width:100%}

    .modal-body{
      .get-quote-button{ margin:0}
    }
  }

}

[dir="rtl"] {
  .get-quote-modal {
    .modal-header {
      .btn-close {
        margin: 0;
      }
    }
  }
}




