@use "../../styles/_colors.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;
@use '../../styles/utils' as utils;

.team-container {
      background-color: $ice-blue;

      &.container-fluid{
        @include utils.sectionPadding(96px,96px,'!important');
      }

    .semi-circle-top {
        position: absolute;
        left: 24px;
        background: url(../../assets/boardofmanagement/AboutWalaaDiamondsLeft.svg) no-repeat;
        background-position: bottom left;
        width: 698px;
        height: 674px;
        z-index: 0;
    }

    .team-header {
        text-align: center;
        @include utils.font-setting($primaryBlue, 32px, 48px);
        position: relative;
        z-index: 1;

    }

    .card-desc{
        @include utils.font-setting($darkest-grey, 18px, 28px);
    }

    .team-outer {

        .walaa-team-card {
            z-index:1;

            .team-card {
                border-radius: 20px;

                .team-body {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    min-height: 355px;
                    padding: 32px;
                    .team-image {
                        position: relative;
                        padding-bottom: 24px;
                        width: 140px;
                        height: 160px;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 50%;
                    }

                    .card-title {
                        text-align: center;
                        color: $dark-Grey-500;
                        font-size: 20px;
                    }
                    .title-padding {
                        padding-top: 24px;
                    }

                    .card-text {
                        text-align: center;
                        color: $darkestGrey;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .team-image {
                        position: relative;
                        padding-bottom: 24px;
                    }
                    .card-desc {
                        padding-bottom: 24px;
                        p {
                            color: $darkestGrey;
                            font-size: 18px;
                        }
                    }
                    .card-icon-position {
                        border-radius: 200px;
                        background: $lightBlue;
                        display: flex;
                        padding: 20px;
                        align-items: center;
                        gap: 16px;
                    }


                }
            }
        }

        .semi-circle-bottom {
            position: absolute;
            bottom: -96px;
            right: 24px;
            background: url(../../assets/boardofmanagement/AboutWalaaDiamondsRight.svg) no-repeat;
            background-position: top right;
            background-size: auto;
            width: 698px;
            height: 674px;
            z-index: 0;
        }
    }
}

@include media(xl) {
    .team-container {

        &.container-fluid{
        @include utils.sectionPadding(64px,64px,'!important');
      }
    }
}

@include media(md) {

    .team-container {
        &.container-fluid {
            @include utils.sectionPadding(64px, 64px, '!important');
        }

        .semi-circle-top {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 0;
            left: 0;
            background-size: 0;
            background-position: 40% 0px;
        }
        .team-header {
            @include utils.fontStyle(24px, 36px);
        }

        .card-desc {
            @include utils.fontStyle(16px, 24px);
        }



        .team-outer {
            .walaa-team-card {
                margin-top: 24px;

                .team-card {
                    .team-body {
                        padding: 32px;
                    }
                }
            }

            .semi-circle-bottom {
                display: none;
            }


        }
    }
}


@include media(min1540) {
    .team-container {
      .container-fluid {
        width: 1440px;
        padding: 0px !important;
      }
    }
  }

