@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.estimate-wrapper {
  width: 100%;
  background-color: walaaColor.$white;

  .estimate-content {
    .accor-close {
      margin-bottom: 20px;
    }

    .estimate-section {
      border: 1px solid walaaColor.$light-grey-300;
      border-radius: 20px;
      padding: 24px 0;

      .traveler-content {

        .details-title {
          padding-bottom: 32px;
          color: walaaColor.$dark-grey-500;
          font-size: 16px;
          line-height: 24px;
          @extend .walaa-regular-400;
        }

        .container {
          display: flex;
          padding: 16px;
          flex-direction: row;
          align-items: flex-start;
          gap: 1.5rem;

          .form-seprator {
            padding-top: 8px;
            border-bottom: 1px solid walaaColor.$light-grey-400-utility;
          }

        }

        .form-info {
          cursor: pointer;
          font-size: 20px;
          color: walaaColor.$Primary1---Blue-primary1---blue-600;
        }

        .form-block-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          .calendar-switch {
            .rmdp-container {
              padding: 12px 16px;
              border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;

              .date-picker-input {
                display: flex;
              }
            }
          }

          .form-element {
            .form-element-label {
              color: walaaColor.$dark-grey-500;
              font-size: 16px;
              line-height: 24px;
              padding-bottom: 8px;
              @extend .walaa-regular-400;
            }

            .form-element-field {
              display: flex;
              padding: 12px 16px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              align-self: stretch;
              border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200
            }
          }

          .calendar-icon {
            font-size: 20px;
            color: walaaColor.$primary-blue-400;
            position: relative;
            //transform: translateY(-80%);
            //left: 100%;  
          }
        }

      }

      .estimate-accordion {
        padding: 0px 22px 22px 22px;
        border-radius: 10px;

        .accordion-item {
          border-radius: 10px;
          background: walaaColor.$light-blue-50;


          .accordion-button {
            background: walaaColor.$light-blue-50;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .ac-content {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 16px;
              flex: 1;

              .ac-head {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 16px;
                padding: 0px;

              }


              .del-col {
                display: flex;
                justify-content: flex-end;
                flex: 2;

                .icons-delete {
                  width: 20px;
                  height: 20px;
                  flex-shrink: 0;
                }
              }



            }

          }

          .label-text {

            color: walaaColor.$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 8px;
            @extend .walaa-regular-400;

          }


          .accordion-collapse {
            .accordion-body {
              .checkbox-container {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .filter-checkbox {
                  .form-check-label {
                    color: walaaColor.$darkest-grey;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    @extend .walaa-medium-500;
                  }
                }

                .theme-check-button {
                  flex: 1 1 45%;
                  box-sizing: border-box;
                }
              }
            }
          }


        }

        .sub-accor-open {
          .estimate-block {
            display: flex;
            gap: 8px;
            align-self: stretch;
            flex-direction: column;
            padding: 10px 0px 10px 0px;

            .estimate-block-title {
              color: walaaColor.$darkest-grey;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              @extend .walaa-medium-500;
            }

            .estimate-content {
              display: flex;
              padding: 8px 7px 7px 12px;
              align-items: flex-start;
              gap: 16px;
              flex: 1 0 0;
              border-radius: 16px;
              border: 1px solid walaaColor.$light-grey-100;
              background: walaaColor.$white;

              @include fontStyle(16px,
                24px,
                walaaColor.$Primary1---Blue-primary1---blue-800 );
              @extend .walaa-medium-500;

              .f-upload {
                padding: 0px 0px 0px 248px;
                @include fontStyle(16px,
                  24px,
                  walaaColor.$Primary1---Blue-primary1---blue-800 )
              }
            }
          }
        }

      }

      .estimate-footer {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-top: 1px solid walaaColor.$light-grey-300;
        .estimate-footer-btn-disabled {
          border: 1px solid walaaColor.$light-grey-200 !important;
        }
        .estimate-footer-btn {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
          ;
          background: walaaColor.$white;

          .traveler-add-btn {
            color: walaaColor.$Primary1---Blue-primary1---blue-800;
            ;
            font-size: 14px;
            line-height: 22px;
            @extend .walaa-medium-500;

            .traveler-add-btn {
              size: 22px;
              color: walaaColor.$Primary1---Blue-primary1---blue-800;
              ;
            }
            .travelbutton-disabled {
						 
              color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
              background: walaaColor.$white !important;
              cursor: none;
            }
          }
        }
      }

      .estimate-heading {
        padding: 0px 24px 16px 24px;
        border-bottom: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-200;
        position: relative;

        @include fontStyle(22px,
          30px,
          walaaColor.$Primary1---Blue-primary1---blue-800 );
        @extend .walaa-medium-500;

        &::before {
          content: "";
          height: 30px;
          width: 4px;
          background: walaaColor.$red-utility;
          position: absolute;
          left: 0;
        }



        .travel-tooltip-icon {
          color: walaaColor.$primary-blue-400;
          margin-left: 6px;
          height: 24px;

        }
      }
    }
  }
}