@use '../../styles/_colors.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin anchorStyling($color, $fontColor) {
    background-color: $color;
    border: 1px solid $color;
    color: $fontColor;
}

@mixin anchorPosition($right, $top: null) {
    .left-anchor {
        right: $right;

        @if $top {
            top: $top;
        }
    }

    @if $top {
        .right-anchor {
            top: $top;
        }
    }
}

@mixin contentStyles($headerFontSize, $headerLineHeight, $subheaderFontSize, $subheaderLineHeight) {
    .content-header {
        font-size: $headerFontSize;
        line-height: $headerLineHeight;
    }

    .content-subheader {
        font-size: $subheaderFontSize;
        line-height: $subheaderLineHeight;

    }
}

.carousel-container {
    position: relative; 
    .carousel-content-container {
        position: relative;
        height: 704px;

        &.regular-banner {
            height: 600px;

            &:after {
                background: linear-gradient(51deg, rgba(0, 30, 46, 0.7) 43.34%, rgba(1, 40, 60, 0) 79.03%);
                mix-blend-mode: multiply;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(97deg, rgba(1, 30, 52, 0.70) 15%, rgba(1, 40, 60, 0.00) 50%),linear-gradient(0deg, $dark-teal-80-opacity 15%, rgb(10 38 53 / 0%) 50%);
            pointer-events: none;
            z-index: 1;
        }

        .banner-graphic {
            position: relative;
            z-index: 0;
            height: 704px;
            object-fit: cover;
            width: 100%;
        }
    }

    .carousel-content {
        position: absolute;
        top: 45.8%;
        line-height: 2;
        width: 57%;
        transform: translateY(-50%);
        color: $aliceBlue;
        padding-left: 24px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 4px;
            background-color: $crimsonRed;
            border-radius: 4px;
        }

        .carouselButton {
            background-color: $themeWhite;
            width: fit-content;
            border: 1px solid $primaryBlue-800;
            color: $primaryBlue-800;
            display: flex;
            gap: 8px;
            padding: 10px 20px;
        }

        &.highlighter-banner {
            max-width: 570px;
            top: 51%;

            .content-header {
                font-size: 40px;
                line-height: 60px;
            }

            .content-subheader {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .content-header {
            font-size: 48px;
            line-height: 72px;
        }

        .content-subheader {
            font-size: 24px;
            line-height: 36px;
            width: 540px;
            @include utils.display-ellipse(4);
        }
    }

    .carousel-navigation-button {
        border-radius: 50%;
        position: absolute;
        top: 20%;
        transform: translateY(-50%);
        padding: 5px;

        svg {
            display: block;
            margin: 0 auto;
            font-size: 28px;
        }
    }

    .right-anchor {
        right: 10%;
    }

    .left-anchor {
        right: 14%;
    }

    .active-navigation {
        @include anchorStyling($Sky-Blue, $themeWhite);
        cursor: pointer;
    }

    .disabled-navigation {
        @include anchorStyling($themeWhite, $light-Grey-100);
        cursor: not-allowed;
    }
}


.aboutHeroBanner {
    position: relative; 
    .carousel-content-container {
      position: relative;

        &.regular-banner {

            &:after {
               background: unset;
            }
        }
    }
}

@media (max-width: 1024px) {
    .carousel-container {
        .carousel-content {
          width: 95%; 
          .content-header {
            font-size: 40px;
        }
          .content-subheader {
            font-size: 20px;
            width: 100%;
          }
        }
      }
    .carousel-content-container .container {
        max-width: 95% !important;
    }
}

@include media(lg) {
    .carousel-container {
        @include anchorPosition(15%, 20%);
    } 
    .carousel-container {
       

        @include anchorPosition(16%);
    }
}

// @media (max-width: 740px) {
@include media(md) {
    .carousel-container {
        @include anchorPosition(15%);

        .carousel-content-container {
            &::after {
                background-image: linear-gradient(51deg, rgba(0, 30, 46, 0.7) 43.34%, rgba(1, 40, 60, 0) 79.03%);
            }
           @include contentStyles(36px, 42px, 20px, 24px);
           .carousel-content {
            width: 80%;
           }
        }

        .carousel-navigation-button {
            padding: 1px;
 
            svg {
                font-size: 24px;
            }
        }
    }
}

[dir="rtl"] {
    .banner-graphic {
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
    }
    .carousel-container .carousel-content:before {
        left: 102%
    }
    .carousel-container .right-anchor {
        right: 79%;
    }
    .carousel-container .left-anchor {
        right: 83%;
    }

    @include media(md) {
        .carousel-container .left-anchor {
            margin-right: 16px;
        }
    }

}

@media (max-width: 630px) {
    .carousel-container {
        @include anchorPosition(16%);

        .carousel-content-container {
            height: 630px;

            .banner-graphic {
                height: 600px;
            }
        }

        .carousel-content {
            top: 35%;
            width: 73%;
        }
    }
}

@media (max-width: 460px) {
    .carousel-container {
        @include anchorPosition(18%);

        .carousel-content {
            @include contentStyles(28px, 42px, 16px, 24px);
        }
    }
}

@media (max-width: 375px) {
    .carousel-container {
        @include anchorPosition(21%);
    }
}
