@use '../../styles/color.scss' as *;
@use '../../styles/_fonts.scss' as *;

.switch input {
    display: none;
}

.form-select {
    --bs-form-select-bg-icon: none !important;
}

.form-control:invalid {
    --bs-form-select-bg-icon: none;
    background-image: none !important;
}

.form-control:valid {
    background-image: none !important;
}

.switch {
    padding: 0;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 8px;
    position: relative;
}

.slider {
    background: $primaryBlue-800;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $themeWhite;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateX(30px);
    background: $themeWhite;
}

.dark-input-border {
    border-color: $dark-grey-200;
}

.input-text, .input-textarea{
    span {
        color: $requiredRed;
    }
}

.noScroll::-webkit-outer-spin-button,
.noScroll::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noScroll {
  -moz-appearance: 'textfield';
}