@use "../../styles/_colors" as *;
@use "../../styles/_fonts" as *;

@mixin flex(
  $direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}

.payment-insurance {
  margin-top: 69px;
  height: calc(100% - 60px - 66px);
  background: linear-gradient(0deg, $background-grey 0%, $background-grey 100%),
    $white;

  .payment-buy-container {
    display: flex;
    padding: 24px 72px;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    border: 1px solid $light-grey-300;

    .background-color-white {
      background-color: $white;
    }

    .leftPanel {
      @include flex(column, flex-start, flex-start, 0rem);
      width: 67%;
      border-radius: 20px;
      background-color: $white;
      .motor-vehical-heading {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-top: 1px solid $light-grey-300;
        border-left: 1px solid $light-grey-300;
        border-right: 1px solid $light-grey-300;
      }
      .payment-option-container {
        border-bottom: 1px solid $light-grey-300;
        border-left: 1px solid $light-grey-300;
        border-right: 1px solid $light-grey-300;

        background-color: $white;
      }
      .payment-option-container:last-child {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      .payment-options {
        width: 100%;
        .option-selected {
          background: $light-blue-50;
          label {
            color: $blue !important;
          }
        }
        .payment-option {
          padding: 24px;
          width: 100%;
          display: flex ;
          justify-content: space-between;
          .image-options {
            img {
              margin-left: 8px;
            }
          }
          .form-check-input:focus {
            box-shadow: none;
          }
          .form-check-input:checked {
            background-color: $blue;
            border-color: $blue;
          }
          label {
            color: $Utility---Dark-Grey-dark-grey-200;
            font-size: 18px;
            line-height: 28px;
            @extend .walaa-medium-500;
          }
        }
        
      }
    }

    .rightPanel {
      @include flex(column, center, flex-start);
      width: 32%;
      position: sticky;
      align-self: auto;
      top: 75px;
      gap: 16px;
    }
  }
}
