@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.add-driver-pop {
  .available-benefits {
    width: 100%;
  }
  .selected-benefits {
    width: 100%;
  }
}

.bordered-btn {
  padding: 8px 16px;
  gap: 8px;
  border-radius: 48px;
  border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
  background: walaaColor.$white;

  @include fontStyle(14px,
    22px,
    walaaColor.$Primary1---Blue-primary1---blue-800 );
  @extend .walaa-medium-500 !optional;
}




/* Reusable classes */
.no-radius {
  border-radius: 0px;
}

.shadow {
  box-shadow: 0 0 0 0.1rem rgba(walaaColor.$Primary1---Blue-primary1---blue-50, 0.25);
}

.form-control::placeholder {
  color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
}



.add-benefits-pop,
.manage-benefits, .selected-benefits {

  .benef-row {
    display: flex;
    padding: 8px 16px;
    border: 1px solid walaaColor.$light-grey-100-utility;
    border-radius: 8px;
    margin-bottom: 16px;
    align-items: center;
    .freecover-container
    {
      display: flex;
      align-items:center;
      gap:4px;
      .free-cover-text
      {
        color:walaaColor.$text-hyperlink;
        span
        {
          font-weight:bold;
        }
      }
    }
    .remove-btn {
      border: 1px solid walaaColor.$red-utility;
      color: walaaColor.$red-utility;
    }
    .benef-img {
      max-height: 40px;
      max-width: 40px;
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 80px;
      background-color: walaaColor.$light-blue-00;
      margin-right: 8px;
    }

    .benef-content {
      &.additional {
        width: 60%;
      }
      .bene-head {
        @include fontStyle(16px, 24px, walaaColor.$dark-grey-500);
        @extend .walaa-medium-500 !optional;
      }

      .bene-val {
        @include fontStyle(16px,
          24px,
          walaaColor.$Primary1---Blue-primary1---blue-700 );
        @extend .walaa-regular-400 !optional;


      }
    }

    .action {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .benef-row.recent-added {
    border-radius: 8px;
    border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
    background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;
  }
}

.add-bene-heading {
  @include fontStyle(18px, 28px, walaaColor.$dark-grey-500);
  @extend .walaa-medium-500 !optional;

  padding-top: 13px;
  padding-bottom: 16px;
  border-top: 1px solid walaaColor.$light-grey-200;
}

.aditional-row {
  display: flex;
  padding: 16px;
  align-items: center;

  border-radius: 16px;
  border: 1px solid walaaColor.$light-grey-100;
  background: walaaColor.$white;
  margin-bottom: 16px;

  .benef-img {
    max-height: 40px;
    max-width: 40px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 80px;
    background-color: walaaColor.$light-blue-00;
    margin-right: 8px;
  }

  .bene-head {
    @include fontStyle(16px, 24px, walaaColor.$dark-grey-500);
    @extend .walaa-medium-500 !optional;
  }

  .bene-val {
    @include fontStyle(16px,
      24px,
      walaaColor.$Primary1---Blue-primary1---blue-700 );
    @extend .walaa-regular-400 !optional;
  }


  .bene-rght {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .butn-div {
    margin-left: 16px;

    .btn {
      @extend .bordered-btn;
    }
  }

}