@use "../../../../../styles/colors" as *;

.coverage-vehicleinfo {
  @mixin default-title {
    font-size: 16px;
    font-weight: 400;
    color: $dark-grey;
  }
  border-radius: 16px;
  background-color: $light-blue-50;
  border: 1px solid $light-blue-200;
  padding: 7px;

  div.accordion-item {
    background: inherit;
    border: none;

    h2.accordion-header {
      background-color: inherit;

      button.accordion-button {
        background-color: inherit;
        padding: 0.5rem;

        div.logo-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
          padding: 0.32rem;
          border-radius: 50%;
          background: $white;
        }

        img.vehicle-icon {
          border-radius: 50%;
          width: 48px; // Ensure the width is explicitly defined
          height: 48px; // Ensure the height is explicitly defined
        }

        // Header title
        div.vehicle-title {
          @include default-title;
        }

        // Header value
        div.vehicle-content {
          font-size: 16px;
          font-weight: 500;
          color: $dark-black-100;
        }
      }

      button.accordion-button::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6992 9.6998L11.6992 15.6998L5.69922 9.6998L7.09922 8.2998L11.6992 12.8998L16.2992 8.2998L17.6992 9.6998Z' fill='%23467B97'/%3E%3C/svg%3E");
      }
    }
  }

  // Accordion body
  div.accordion-collapse.collapse.show {
    .vehicle-infor-title {
      @include default-title;
    }
  }
}

// Case 1: If accordion is opened
.coverage-vehicleinfo.accor-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

// DriverInformation component
.driver-information-card {
  gap: 8px;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
  background-color: $Utility---Light-Grey-utility---light-grey-50;

  .additional-driver-title {
    font-size: 14px;
    font-weight: 500;
    color: $darkest-grey;
  }

  .add-driver-container {
    .add-driver-icon {
      svg {
        width: 22px;
        height: 22px;
        color: $primary-blue-400;
      }
       
    }

    .add-driver-title {
      font-size: 14px;
      font-weight: 400;
      color: $Primary1---Blue-primary1---blue-600;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &.disabledDriver {
      cursor: not-allowed;

      .add-driver-icon {
        opacity: 0.5;
        cursor: not-allowed;
      }

      .add-driver-title {
        color: grey;
        cursor: not-allowed;
      }
    }
  }
}