@use '../../styles/color.scss' as *;
@use'../../styles/fonts.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.esg-world-container{
    .esg-wrapper{
        padding-top: 96px;
        .esg-world-row{
            .big-image{
                @include utils.image-property(100%, 100%, cover, 2%);
            }
            .esg-world-content{
                flex-direction: column;
                gap: 24px;
                .small-image{
                    @include utils.image-property(213px, auto, cover);
                }
                .esg-title{
                    @include utils.font-setting($primaryBlue-800, 24px, 36px);
                }
                .esg-description {
                    text-align: justify;
                    white-space: normal;
                    @include utils.font-setting($primaryBlue-800, 17px, 28px);
                    a{
                        color: $primnary-blue-600 !important;
                        text-decoration: underline;
                    }
                }
            }
    
            &:not(:first-child){
                margin-top: 48px;
            }
            
            &.row-reverse {
                flex-direction: row-reverse;
              }
        }
    }
}