@use "./../../../styles/colors" as walaaColor;
@use "./../../../styles/fonts" as font;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.property-photos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0 0 0;
  border-radius: 20px;
  border: 1px solid walaaColor.$light-grey-300;
  background: walaaColor.$white;

  .horizontal-line {
    margin: 0px;
  }

  .guidelines {
    li {
      padding: 15px;
    }
  }

  .floors-dialog-box {
    .modal-dialog {
      .modal-content {
        div.floors-container {
          padding: 10px;
          @include fontStyle(16px,
            22px,
            walaaColor.$dark-grey-500 );
          @extend .walaa-regular-400;
        }
      }

      .modal-header {
        @include fontStyle(23px,
          22px,
          walaaColor.$black );
        @extend .walaa-medium-500;
      }
    }
  }

  .header {
    display: flex;
    padding: 0 24px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border-left: 4px solid walaaColor.$red-utility;
    color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
    font-size: 16px;
    line-height: 24px;

    svg {
      color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
      cursor: pointer;
    }
  }

  .content-description {
    padding: 0px 25px 0 25px;
    color:walaaColor.$dark-grey-500;
  }

  .bordered-btn {
    padding: 8px 16px;
    gap: 8px;
    border-radius: 48px;
    border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
    background: walaaColor.$white;

    @include fontStyle(14px,
      22px,
      walaaColor.$Primary1---Blue-primary1---blue-800 );
    @extend .walaa-medium-500 !optional;
  }

  .property-photos {
    border: 1px dashed walaaColor.$Utility---Dark-Grey-dark-grey-50;
    margin-bottom: 16px;
    padding: 20px;

    .drag-drop {
      input[type="file"] {
        display: none;
      }

      .drag-head {
        @include fontStyle(18px, 24px, walaaColor.$dark-grey-500);
      }

      .drag-supporting-label {
        padding-top: 5px;
        @include fontStyle(12px, 24px, walaaColor.$dark-grey-500);
      }

      .or-label {
        padding: 10px 0 0 0;
        @include fontStyle(16px, 24px, walaaColor.$darkest-grey);

      }

      .butn-div {
        margin-left: 16px;
        margin-top: 15px;

        .btn {
          @extend .bordered-btn;
          border: 1px soild walaaColor.$Primary1---Blue-primary1---blue-600;
          color: walaaColor.$Primary1---Blue-primary1---blue-600;

          &:disabled {
            background: walaaColor.$Utility---White-white-500;
            border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
            color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
          }
        }
      }
    }

    .errorMessage {
      border: 1px solid walaaColor.$light-grey-100-utility;
      color: walaaColor.$Utility---Error-Red-Error-Red;
    }

    .files-wrapper {
      padding-top: 20px;

      .files-row {
        display: flex;
        padding: 8px 16px;
        border: 1px solid walaaColor.$light-grey-100-utility;
        border-radius: 8px;
        margin-bottom: 16px;
        align-items: center;
        flex-direction: row;

        .action {
          margin-left: auto;
          cursor: pointer;
        }

        img {
          vertical-align: text-bottom;
          border-radius: 5px;
        }

        .file-name {
          padding: 0px 10px 0 5px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 75%;
          @include fontStyle(15px, 24px, walaaColor.$Primary1---Blue-primary1---blue-50);
          @extend .walaa-medium-500 !optional;
        }

        .fileSize {
          @include fontStyle(10px, 24px, walaaColor.$black);
        }
      }

      .files-row.recent-added {
        border-radius: 8px;
        border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
        background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;
      }
    }
  }
}