@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;

.board-of-managemnet-main {
    background: $themeWhite;
    .team-container {
        padding-bottom: 117px!important;
    }

    .container-main {
        margin-bottom: 0px;
    }

    .team-container .team-outer .walaa-team-card .team-card .team-body {
        min-height: 308px;
    }
}