@use "../../../../../../styles/colors" as *;
@use "../../../../../../styles/fonts" as *;
@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}
@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  @if $weight ==400 {
    @extend .walaa-regular-400;
  } @else if $weight ==500 {
    @extend .walaa-medium-500;
  }
}
%cardText {
  @include flex(row, flex-start, flex-start, 0.25rem);
  align-self: stretch;
}
.tycContainer {
  @include flex(column, center, flex-start);
  position: relative;
  width: 90%;
  border-radius: 0 0 1.25rem 1.25rem;
  border: 1px solid $light-grey-200;
  background: $Utility---Light-Grey-utility---light-grey-50;

  border-top: 0;
  [class~="accorUploadDocs"] {
    width: 100%;
    [class~="accordion-item"] {
      border: 0;
      background-color: transparent;
      [class~="accordion-button"] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        &::after {
          position: absolute;
          top: 16px;
          right: 16px;
          background-image: url("../../../../../../assets/TrackYourClaim/ChevronDown.svg");
        }
        &:focus {
          z-index: 3;
          outline: 0;
          box-shadow: 0 0 0 !important;
        }
        padding: 0;
      }
      [class~="accordion-button"]:not(.collapsed) {
        background-color: transparent;
        box-shadow: 0 0 0;
      }
    }
    [class~="accordion-body"] {
      padding: 0 !important;
    }
  }
}
.tycTitle {
  @include flex(row, center, space-between, 2.5rem);
  padding: 1rem 1rem 0.25rem 1rem;
  align-self: stretch;
}
.tycTitleText {
  width: 27rem;
  color: $darkest-grey;
  @include font(1rem, 400, 1.5rem);
}
.tycCloseIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.tycContents {
  @include flex(column, flex-start, flex-start, 1.5rem);
  padding: 0 1rem;
  align-self: stretch;
}
.tycFrame {
  @include flex(column, flex-start, flex-start, 1rem);
  align-self: stretch;
}
.tycFrameContents {
  @include flex(column, flex-start, flex-start, 1rem);
  align-self: stretch;
}
.tycFrameHeader {
  @include flex(column, flex-start, flex-start, 0.5rem);
  align-self: stretch;
  padding: 0rem 1rem 1rem 1rem;
}
.tycFrameHeaderText {
  color: $dark-grey-500;
  @include font(0.75rem, 500, 1.125rem);
}
.tycFrameHeaderValue {
  color: $dark-grey-500;
  @include font(0.75rem, 400, 1.125rem);
}
.tycFrameUpload {
  @include flex(column, flex-start, flex-start, 0.5rem);
  align-self: stretch;
}
.tycFrameUploadContent {
  @include flex(row, center, space-between, 0.5rem);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid $light-grey-200;
  background: $Utility---White-white-500;

  [class~="upload-btn-div"] {
    display: flex;
    align-items: center;
    label {
      cursor: pointer;
    }

    [class~="upload-btn"] {
      @include font(14px, 500, 22px);

      color: $Primary1---Blue-primary1---blue-800;
      padding-right: 16px;
      img {
        height: 22px;
        margin-right: 8px;
      }
    }
  }
  button.tycUploadButton {
    color: $Primary1---Blue-primary1---blue-800;
    font-size: 14px;
    img {
      height: 20px;
      position: relative;
      top: -1px;
    }
  }
  position: relative;
  .uploadErrorDiv {
    position: absolute;
    right: 20px;
    bottom: -20px;
    padding: 5px;
    background: $input-error;
    border-radius: 5px;
    color: $white;
    box-shadow: 1px 1px 8px $light-grey-300;
    font-size: 12px;
    z-index: 2;
  }
}
.tycFrameContentsText {
  @include flex(row, center, flex-start, 0.125rem);
  flex: 1 0 0;
}
.tycFrameContentsTextValue {
  color: $darkest-grey;
  @include font(1rem, 500, 1.5rem);
  max-width: 55%;
}
.tycFrameContentsTextStrick {
  color: $Utility---Error-Red-Error-Red;
  @include font(1rem, 400, 1.5rem);
}
.tycBottom {
  @include flex(column, flex-end, flex-start, 1.5rem);
  align-self: stretch;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
.tycBottomButtons {
  @include flex(row, center, flex-end, 1rem);
  align-self: stretch;
}
.buttonTextContainer {
  @include flex(row, center, flex-start, 1rem);
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 8px;
  background-color: $light-blue-50;
  border-radius: 48px;
  position: relative;
  max-width: 45%;
  [class="closeIcon"] {
    float: none;
    margin-left: 0;
    height: auto;
    width: auto;
  }
  label {
    display: flex;
    align-items: center;
    max-width: 84%;

    .buttonTextNameValue {
      display: flex;
      align-items: center;
      @include flex(row, center, flex-start, 0);
      @include font(0.875rem, 500, 1.375rem);
      margin-right: 4px;
      color: $blue;
      img {
        margin-right: 4px;
      }
      max-width: 80%;
    }
    .buttonTextNameSize {
      color: $dark-grey-500;
      @include font(0.75rem, 400, 1.125rem);
    }
  }
}
.buttonTextName {
  @include flex(row, center, flex-start, 0.25rem);
}

.buttonTextNameValue {
  display: flex;
  align-items: center;
  @include flex(row, center, flex-start, 0);
  @include font(0.875rem, 500, 1.375rem);
}

.buttonTextNameSize {
  color: $dark-grey-500;
  @include font(0.75rem, 400, 1.125rem);
}

.buttonTextIcon {
  &:hover {
    cursor: pointer;
  }
}
