@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.resume-jorney-parent-container {
  .modal-content {
    border-radius: 1.25rem;

    .resume-journey-container {
      display: flex;
      width: 600x;
      padding: 24px 0px 16px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      border-radius: 20px;
      border: 1px solid $light-grey-300;
      background: $white;

      .journey {
        display: flex;
        padding: 0px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: $dark-grey-500;
        font-size: 24px;
        line-height: 36px;
      }

      .journey-content {
        display: flex;
        padding: 0px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: $dark-grey-500;
        font-size: 16px;
        line-height: 24px;
      }

      .horizontal-line {
        width: 100%;
        border: 1px solid $light-grey-300;
        margin: 0;
      }

      .bottom-btns {
        display: flex;
        padding: 0px 24px;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        .continue-btn {
          display: flex;
          padding: 10px 26px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid $Primary1---Blue-primary1---blue-800;
          background: $white;
          color: $Primary1---Blue-primary1---blue-800;
          font-size: 16px;
          line-height: 24px;
        }

        .new-quotation-btn {
          display: flex;
          padding: 10px 26px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          background: $Primary1---Blue-primary1---blue-800;
          color: $white;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}




@media (max-width: 767px) {

  .resume-jorney-parent-container {
    .modal-content {
      border-radius: 1.25rem;
  
      .resume-journey-container {
        display: flex;
        width: auto;
        padding: 15px 0px 15px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 20px;
        border: 1px solid $light-grey-300;
        background: $white;
      }
    }
  }
}


@media (min-width: 300px) and (max-width: 600px) {

  .resume-jorney-parent-container {
    .modal-content {
      border-radius: 1.25rem;
  
      .resume-journey-container {
        display: flex;
        width: auto;
        padding: 10px 0px 10px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 20px;
        border: 1px solid $light-grey-300;
        background: $white;
  
      }
    }
  }

}