@use "./../../styles/_colors" as *;

.iban-parent {
  display: flex;
  justify-content: center;
}

// explicitly set padding for motor-claims case
.register-new-claim-left-card {
  .iban-parent{
    padding: 0px 1.5rem 0px 1.5rem;
  }
}

.iban-validation-container {
  display: flex;
  width: 760px;
  padding: 16px;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid $Utility---Light-Grey-utility---light-grey-200;
  background: $Utility---Light-Grey-utility---light-grey-50;

  .card-iban {
    width: 100%;
    border: none;
    border-radius: 0px 0px 20px 20px;
    background: $Utility---Light-Grey-utility---light-grey-50;

    .card-header-iban {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: space-between;
      border-bottom: none;
      background: none;

      .upload-bank-document-header {
        color: $dark-grey-400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .iban-validation-content {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }

  .upload-required-documents {
    display: flex;
    gap: 4px;
    align-items: center;

    .upload-required-documents-heading {
      color: $dark-grey-400;
      font-size: 12px;
      line-height: 18px;
    }
  }

  .container-accordion {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $Utility---Light-Grey-utility---light-grey-200;
    background: $white;

    .document-name-section {
      display: flex;
      align-items: center;
      gap: 2px;
      flex: 1 0 0;

      .document-heading {
        color: $dark-grey-400;
        font-size: 16px;
        line-height: 24px;
      }

      .important-mark {
        color: $Utility---Error-Red-Error-Red;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .upload-section {
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      .upload-section-header {
        color: $Primary1---Blue-primary1---blue-800;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .uploaded-files {
      display: flex;
      gap: 16px;
      padding: 8px;
      align-items: center;
      align-content: center;
      align-self: stretch;
      flex-wrap: wrap;
      border-radius: 48px;
      background: $Primary2---Light-Blue-primary2---light-blue-50;

      .files-container {
        display: flex;
        gap: 4px;
        align-items: center;

        .file-logo {
          .file-icon {
            height: 22px;
            width: 22px;
          }
        }

        .file-name {
          color: $Primary1---Blue-primary1---blue-50;
          font-size: 14px;
          line-height: 22px;
        }
        .file-size {
          color: $dark-grey-500;
          font-size: 12px;
          line-height: 18px;
        }
      }

      .delete-icon {
        cursor: pointer;
      }
    }
  }
}

.toggle-btn-iban {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.closed-iban-accordion {
  gap: 16px;
}

.open-iban-accordion {
  gap: 4px;
}
