@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;
.login-modal-popup {
  background-color: rgb(0 0 0 / 50%);
  .login-container{
    padding: 0%;
    &.container {
      display: block !important;
    }
    .d-flex{
      flex-direction: row;
      align-items: center;
    }
  }
  .modal-content {
    border-radius: unset !important;
    background-color: unset !important;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }
  .know-more-custom {
    margin: 0px;
    padding: 0px;
    width: 50%;
    &.know-more-wrapper {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
  .login-form-col{
    width: 50%;
    padding: 32px;
    border-radius: 16px;
    background: $themeWhite;
    min-height: 460px;
    .form-modal{
      .form-label{
        margin: 0;
      }
    }
  }
}

.change-mobile-container,
.forgot-password-container,
.set-password-container {
  margin: 0 0 20px;
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    a.back-button {
      background: url(../../assets/Login/BackBtn.svg) left no-repeat;
      padding-left: 25px;
    }
  }
}

.form-modal {
  align-items: flex-start;
  flex-shrink: 0;
  .form-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    .form-title {
      color: $primaryBlue;
      font-size: 24px;
      line-height: 36px;
      @extend .walaa-medium-500;
    }
    .modal-close-icon {
      color: $primnary-blue-600;
      top: 12px;
      right: 16px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
  .formelements {
    display: flex;
    margin: 24px 0 0;
    .iqamano {
      width: 50%;
      .title {
        display: flex;
        align-items: center;
        align-self: stretch;
        color: $dark-grey-300;
        font-size: 16px;
      }
      .value {
        color: $primaryBlue-900;
        font-size: 16px;
        @extend .walaa-medium-500;
      }
    }
    .existingMobNo {
      width: 50%;
      .title {
        display: flex;
        align-items: center;
        align-self: stretch;
        color: $dark-grey-300;
        font-size: 16px;
        gap: 5px;
      }
      .value {
        color: $primaryBlue-900;
        font-size: 16px;
        @extend .walaa-medium-500;
      }
    }
  }
  .modal-login-form {
    .text-labels {
      color: $dark-Grey-500;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400;
    }
    .input-wrapper {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
    .user-id {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      padding-top: 24px;
      input {
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        color: $dark-Grey-500;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid $dark-grey-200;
        border-radius: 4px;
        @extend .walaa-regular-400;
        background-image: url("../../assets/Login/ID.svg") !important;
        background-repeat: no-repeat;
        background-position: center right 16px;
      }
      input:focus {
        background-blend-mode: difference;
      }
      .validation-error {
        font-weight: bold;
        color: $requiredRed;
        font-size: 12px;
        line-height: 18px;
        @extend .walaa-bold-700;
      }
    }
    .user-pwd {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      padding-top: 16px;
      .input-wrapper {
        position: relative;
      }
      input {
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        border: 1px solid $dark-grey-200;
        border-radius: 4px;
        padding-right: 40px !important;
      }
      img {
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 1;
        width: 20px;
        height: 20px;
      }
      input:focus {
        border: 1px solid $dark-grey-200;
        background-blend-mode: difference;
      }
      .validation-error {
        font-weight: bold;
        color: $requiredRed;
        font-size: 12px;
        line-height: 18px;
        @extend .walaa-bold-700;
      }
    }

    .form-submit-btn {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 48px;
      background: $primary-grey-50;
      margin: 24px 0px 24px 0px;
      .form-btn {
        color: $dark-grey-200;
        font-size: 16px;
        line-height: 24px;
        @extend .walaa-medium-500;
      }
      .form-btn-active {
        color: $themeWhite;
      }
    }
    .form-submit-btn-active {
      background: $primaryBlue-800;
    }
  }
  .forgot-signup {
    justify-content: left;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    .forgot-block {
      color: $primnary-blue-600;
      display: flex;
      align-items: center;
      align-self: stretch;
      padding-bottom: 16px;
      .forgot-title {
        color: $primnary-blue-600;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
        @extend .walaa-regular-400;
      }
    }
    .sign-up-block {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      .sign-up-title {
        color: $primnary-blue-600;
        font-size: 16px;
        line-height: 24px;
        gap: 8px;
        @extend .walaa-regular-400;
        cursor: pointer;
        a {
          color: $primnary-blue-600;
          justify-content: center;
          align-items: center;
          gap: 2px;
          padding-left: 2px;
        }
      }
    }
  }
}


@include media(lg) {
  .login-modal-popup{
    .login-container{
      .left-content{
        display: none !important;
      }
      .login-form-col{
        width: 100%;
      }
    }
  }
}
@media  (max-width: 424px) {
  .form-modal .modal-login-form input{
    font-size: 13px;
  }
}
