@use '../../styles/_colors.scss' as *;
@use'../../styles/fonts.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.esg-world-container{
    &.container-fluid{
        @include utils.sectionPadding(96px,96px,'!important');
        }
    .esg-wrapper{
        .esg-world-row{
            .big-image{
                @include utils.image-property(100%, 480px, cover, 2%);
            }
            .esg-world-content{
                flex-direction: column;
                gap: 24px;
                .small-image{
                    @include utils.image-property(213px, auto, cover);
                    margin-left: 12px;
                }
                .esg-title{
                    @include utils.font-setting($primary-blue-500, 24px, 36px);
                }
                .esg-description {
                    text-align: justify;
                    white-space: normal;
                    @include utils.font-setting($darkest-grey, 18px, 28px);

                    ul{ padding: 18px 0;
                        padding-left: 25px;
                         li
                            {list-style-type: disc;}
                        }
                    a{
                        color: $primnary-blue-600 !important;
                        text-decoration: underline;
                    }
                }
            }

            &:not(:first-child){
                margin-top: 48px;
            }

            &.row-reverse {
                flex-direction: row-reverse;
              }
        }
    }
.big-img-container {
    position: relative;
    .esg-world-button {
        position: absolute;
        bottom:0px;
        width: 97%;
        left: 12px;
        background: linear-gradient(to bottom, $white ,$primarySkyBlue ); ;
        color: $black;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;

        cursor: pointer;
        &:hover{
            transition: all 0.3s ease-in-out;
        }
    }
}

}

@include media(xl) {
.esg-world-container{
    &.container-fluid{
        @include utils.sectionPadding(64px,64px,'!important');
        }
    }
}


@include media(md) {
.esg-world-container{
    &.container-fluid{
        @include utils.sectionPadding(48px,48px,'!important');
        }
    }
}