@use "../../../../styles/colors" as *;
@use "../../../../styles/fonts" as *;
@use "../../../../styles/utils" as *;

.zeroStateContainer {
    display: flex;
    width: 856px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;  
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 7rem 0;
}

.textContainer {
    color: $dark-grey;

    @include font(1rem, 400, 2rem);
}

.happyLogoVideo {
    width: 96px;
    height: 96px;
    aspect-ratio: 1/1;
    mix-blend-mode: multiply;
  }