@use '../../../../../styles/fonts' as walaaFont;
@use '../../../../../styles/_colors' as walaaColor;

.treeContainer {
    .pageTitle {
        font-size: 20px;
        line-height: 30px;
        @extend .walaa-medium-500;
        color:$dark-grey-500;
    }
}
.mainTree {
    list-style: none;
    position: relative;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    @extend .walaa-regular-400;
}

.mainTree:before {
    content: ' ';
    background: gray;
    position: absolute;
    left: 6px;
    width: 2px;
    height: 99%;
}

.mainTree>li {
    margin: 20px 0;
    padding-left: 20px;
}

.mainTree>li:before {
    content: ' ';
    position: absolute;
    background: gray;
    border-radius: 20px;
    left: 0px;
    width: 15px;
    height: 15px;
}

.mainTree>li:first-child:before {
    content: ' ';
    position: absolute;
    background: url(/src/assets/greenmark.png) 100% 100% no-repeat;
    left: 20px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.mainTree>li:last-child:before {
    content: ' ';
    position: absolute;
    background: url(/src/assets/usermark.png) 100% 100% no-repeat;
    left: 20px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.mainTree li>.subTree {
    position: relative;
    list-style: none;
    left: 100px;
}

.mainTree li>.subTree li:before {
    content: ' ';
    background: url(/src/assets/arrow.png) 100% 100% no-repeat;
    position: absolute;
    left: -10px;
    width: 39px;
    height: 20px;
    background-size: cover;
}