@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.big-font {
  color: $alice-blue;
  font-size: 20px;
  line-height: 30px;
}

.font {
  color: $white;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.dark-blue {
  color: $Primary1---Blue-primary1---blue-800;
}

.blue {
  background: $Primary1---Blue-primary1---blue-700;
}

.compare-benefit-container {

  .modal-content {
    width: 100%;
  }

  .header {
    display: flex;
    padding: 24px 32px 16px 32px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .header-content {
      color: $dark-grey-500;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 0px 24px 24px 24px;
    align-items: flex-start;

    .footer-content-top {
      display: flex;
      border-radius: 16px 16px 0px 0px;
      border: 1px solid $light-grey-300;
      width: 100%;

      .benefit-container {
        width: 25.67%;

        .benefit {
          display: flex;
          // width: 260px;
          height: 56px;
          padding: 16px 24px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
        }
      }

      .comprehensive-container {
        width: 57.33%;

        .comprehensive {
          display: flex;
          height: 56px;
          padding: 16px 24px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          background: $Primary1---Blue-primary1---blue-700;
        }
      }

      .third-party {
        display: flex;
        width: 17%;
        height: 112px;
        padding: 16px 24px;
        border-radius: 0 16px 0 0;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: $Primary1---Blue-primary1---blue-700;
      }

      .repair {
        display: flex;

        .agency-repair {
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 16px;
          flex: 1 0 0;
          align-self: stretch;
          background: $Secondary-Colors-Group-Secondary5---Metallic-Gold-Shade-Secondary5---metallic-gold-50;
        }
        .mawthoq-repair{
          background: $Secondary-Colors-Group-Secondary4---Boston-Blue-Shade-secondary4---boston-blue-50;
        }
        .workshop-repair{
          background: $Utility---Light-Grey-utility---light-grey-50;
        }
      }
    }

    .footer-content-bottom {
      width: 100%;
      .footer-content-bottom-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $alice-blue;

        .footer-head {
          display: flex;
          padding: 16px 24px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          width: 25.67%;
          border-left: 1px solid $alice-blue;
          border-right: 1px solid $alice-blue;
        }

        .footer-content-bottom-header-content {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 19.11%;
          padding: 16px 0px;
          gap: 10px;
          align-self: stretch;
        }

        .footer-content-bottom-header-content-tp {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 17%;
          padding: 16px 0px;
          gap: 10px;
          align-self: stretch;
        }

        .border-right {
          border-right: 1px solid $alice-blue;
        }
      }
    }
  }
}
