@use '../../styles/color.scss' as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

.content-container {
    position: relative;
    // height: 278px;

    .banner-graphic {
        position: absolute;
        width: 100%;
    }

    .image-title-height {
        height: 314px;
    }

    .banner-title {
        height: 100%;
    }

    .image-input-height {
        background: $primary-blue-500; 
        height: 100%;
    }

    .content-container-padding {
        padding-top: 72px;
        position: relative;
        width: 100%;
        padding-bottom: 24px;

        .breadcrumb-wrapper {
            position: relative;
            padding-top: 16px;
        }

        .title-paddding {
            margin-top: 26px !important;
        }

        .policy-title {
            margin: 24px 72px;
            color: $themeWhite;
            position: relative;
            display: flex;
            padding: 0px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            border-left: 4px solid $red-utility;
            font-size: 32px;
            line-height: 48px;
           
        }

        .content-header {
            padding-top: 72px;
            color: $red-utility;
            padding-left: 72px;
        }

        &.is-motor {
            .policy-title {
                
            }
        }
    }

    .motor-banner {
        height: 100%;
        background: $primary-blue-500;
    }
}

 

.register-claim-wrapper{
    .image-input-height { 
        height: 100%;
    }
    .content-container 
    { height: auto;
        .content-container-padding .policy-title 
        { 
            font-size: 32px;
            line-height: 48px;
            
        }
    }
}

@include media(xl) {
    .content-container {
        .content-container-padding .policy-title {
            margin-top: 48px;

        }
    }
}

@include media(md) {
    .content-container {
        .content-container-padding .policy-title {
            margin-left: 16px;
            font-size: 28px;
            margin-top: 35px;
        }
    }
}

[dir="rtl"] {
    .content-container {
        .content-container-padding .policy-title {
            border-left: unset;
            margin-right: 72px;
            border-right: 4px solid $red-utility;
        }
    }
}

@include media(min1540) {
    .content-container {
        .content-container-padding {
            .outer-mid {
                padding: 0px !important;
            }

            .container-fluid,
            h1.policy-title {
                width: 1440px;
                margin: 0 auto;
                display: flex;
                height: auto;
                flex-direction: row;
            }
        }
    }
}

@media (max-width: 768px),
(max-width: 576px) {
    .content-container .motor-banner {
        width: 100%;
    }
}

.product-page-banner {
    height: 704px !important;
  }