@use "../../styles/colors" as *;

.alert-warning {
  background: $Secondary-Colors-Group-Secondary5---Metallic-Gold-Shade-Secondary5---metallic-gold-200;
  color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-900;
}

.alert-danger{
  background: $crimson-red-50; 
  color: $input-error; 
  border-left: 2px solid $input-error; 
  border-radius: 8px;
  font-size: 16px;
  svg{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
  }
}

.home-renewal-warning {
  background: $Secondary-Colors-Group-Secondary5---Metallic-Gold-Shade-Secondary5---metallic-gold-100;
  color: $Secondary3---Tulip-Tree-secondary3---tulip-tree-800;
}