@font-face {
	font-family: 'Graphik Arabic Web';
	src: url('GraphikArabic-Black-Web.woff2') format('woff2'),
		 url('GraphikArabic-Black-Web.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	}

.GraphikArabic-Black-Web {
	font-family: 'Graphik Arabic Web';
	font-weight: 900;
	font-style: normal;
	}
