@use '../../../../../styles/colors' as *;
@use '../../../../../styles/fonts' as *;

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin font($size, $weight, $line-height) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;

    @if $weight ==400 {
        @extend .walaa-regular-400;
    }

    @else if $weight ==500 {
        @extend .walaa-medium-500;
    }
}

%cardText {
    @include flex(row, flex-start, flex-start, 0.25rem);
    align-self: stretch;
}

.tycMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}