@use '../../../styles/_fonts' as walaaFont;
@use '../../../styles/_colors' as walaaColor;

// Mixins
@mixin flex-setting ($justifyPos: center, $alignPos: center) {
    display: flex;
    justify-content: $justifyPos;
    align-items: $alignPos;
}


.outContainer {
    display: flex;
    // padding: 40px 72px 96px 72px;
    padding: 72px;
    margin: 60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 16px;

    .innerContainerMain {
        display: flex;
        width: 1076px;
        width: 100%;
        padding: 24px 0px 24px 0px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        border-radius: 20px;
        border:1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
        background: walaaColor.$white;
    }

    .innerCard{
        margin: 0px 0px 0px 40px;
    }
    
    .layout3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border:1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
        .layout3Inner {
            display: flex;
            padding: 0px 32px;
            padding-left: 0px;
            align-items: center;
            gap: 40px;
            align-self: stretch;
        }
        .layout3Inner2 {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            border-right: 1px solid walaaColor.$light-grey-100;
            padding: 12px 125px 12px 0px;
        }
        .layout3Inner2:last-child {
            border-right: none;
        }
        .innerContent {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            background: walaaColor.$Primary2---Light-Blue-primary2---light-blue-50;
            @extend .walaa-medium-500;
        }
        .innerText {
            color: walaaColor.$Utility---Light-Grey-utility---light-grey-800;
            font-size: 14px;
            line-height: 22px;
            @extend .walaa-regular-400;
        }
        .innerTextData {
            color: walaaColor.$darkest-grey;
            font-size: 16px;
            line-height: 24px; /* 150% */
            @extend .walaa-medium-500;
        }
    }

    .footerLayout {
        // display: flex;
        padding: 24px 32px 0px 16px;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-top: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-200;
    }

    .footerBtn {
        color: walaaColor.$Primary1---Blue-primary1---blue-800;
        font-size: 16px;
        line-height: 24px;
        border: none;
        background: walaaColor.$Utility---White-white-500;
        @extend .walaa-medium-500;
    }

    .footerBtn:focus {
        background: none;
    }

    .btnContainerInWidth .footerBtn:hover {
        color: walaaColor.$blue;
        border: 1px solid walaaColor.$dark-blue;
        border-radius: 48px;
    }

    .footerRightBtn {
        color: walaaColor.$Primary1---Blue-primary1---blue-800;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid walaaColor.$dark-blue;
        border-radius: 48px;
        background: walaaColor.$Utility---White-white-500;
        @extend .walaa-medium-500;
    }

    .footerRightBtn:focus {
        background: none;
    }

    .btnContainerIn .footerRightBtn:hover {
        color: walaaColor.$blue;
        border: 2px solid walaaColor.$dark-blue;
        border-radius: 48px;
    }

    .titleLayout {
        display: flex;
        padding: 0px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-left: 4px solid walaaColor.$red-utility;
        .titleClaims {
            color: walaaColor.$Primary1---Blue-primary1---blue-800;
            text-align: center;
            font-size: 24px;
            line-height: 36px;
            @extend .walaa-medium-500;
        }
    }


    .popupStatusSection {
        display: flex;
        padding: 0px 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 20px;
        background: walaaColor.$white;
    }

    .GreenIcon {
        width: 96px;
        height: 96px;

    }

    .messageGreenSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    .messageGreenSectionLbl {
        @extend .walaa-medium-500;
        color: walaaColor.$dark-grey-500;
        font-size: 20px;
        line-height: 30px;
    }

    .messageSection {
        @extend .walaa-regular-400;
        align-self: stretch;
        color: walaaColor.$darkest-grey;
        text-align: center;

        font-size: 16px;
        line-height: 24px;
    }

    .cardSectionContainer1{
        padding: 0px 40px 0px 40px;
    }
    .cardSectionContainer {
        display: flex;
        padding: 24px;
        align-items: center;
        align-content: center;
        /* gap: 24px 40px; */
        align-self: stretch;
        flex-wrap: wrap;
        border-radius: 8px;
        border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
        background: walaaColor.$light-blue;
        
    }

    .cardSectionContainerBlue {
        display: flex;
        padding: 24px;
        align-items: center;
        align-content: center;
        /* gap: 24px 40px; */
        align-self: stretch;
        flex-wrap: wrap;
        border-radius: 16px;
        border: 1px solid walaaColor.$Primary2---Light-Blue-primary2---light-blue-100;
        background: walaaColor.$dark-blue;
        .cardCircle {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            background: walaaColor.$Utility---White-white-500;
        }
        .cardCircalOuter {
            display: flex;
            padding: 8px 0px 8px 8px;
            align-items: center;
            gap: 10px;
        }
        .cardContent {
            align-items: center;
            align-self: stretch;
            gap: 16px;
            border-right: 1px solid walaaColor.$light-grey-100;
            padding: 12px 24px 12px 20px;
        }
        .cardContent:last-child {
            border-right: none;
        }
        .cardLabel {
            color: walaaColor.$Primary1---Blue-primary1---blue-100;
            font-size: 14px;
            line-height: 22px;
            @extend .walaa-regular-400;
        }
        .cardLabelContent {
            color: walaaColor.$Utility---White-white-500;
            font-size: 16px;
            line-height: 24px;
            @extend .walaa-medium-500;
        }
    }

    .cardSection {
        display: flex;
        align-items: center;
        gap: 16px;
        border-right: 1px solid walaaColor.$light-grey-100;
        padding: 12px 20px 12px 20px;
    }


    .cardSection:last-child {
        border-right: none;
    }

    .cardIconContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        min-width: 60px;
        max-width: 61px;
    }

    .cardIconContainerIn {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: walaaColor.$white;
    }

    .cardIconContainer img {
        @include flex-setting;
        width: 40px;
        height: 40px;
        padding: 7.143px 4.286px 7.31px 4.286px;
    }

    .cardText {
        @include flex-setting(center, flex-start);
        flex-direction: column;
        gap: 8px;
    }

    
    .cardTextRight{
        @include flex-setting(center, flex-end);
            flex-direction: column;
            gap: 8px;
    }

    .cardTextLbl {
        @extend .walaa-medium-500;
        color: walaaColor.$darkest-grey;

        /* Body/B2/Regular */
        font-size: 14px;
        line-height: 24px;
        /* 150% */
    }

    .cardTextValue {
        @extend .walaa-medium-500;
        color: walaaColor.$dark-grey-500;

        /* Body/B1/Medium */
        font-size: 20px;
        line-height: 30px;
        /* 155.556% */
    }


    .btnSection {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;
        align-self: stretch;
        border-radius: 16px;

        .btnContainer {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        .btnContainerIn {
            @include flex-setting;
            padding: 10px 20px;
            gap: 8px;
            border-radius: 48px;
            // border: 1px solid walaaColor.$blue-800;
            background: walaaColor.$white;
        }

        .btnSection .btn {
            @extend .walaa-medium-500;
            @include flex-setting;
            gap: 8px;
            // color: walaaColor.$blue-800;

            /* Body/B2/Medium */
            font-size: 16px;
            line-height: 24px;
            /* 150% */
        }
    }
    .btnContainerInRadius {
        border-radius: 48%;
        border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
        background: walaaColor.$Utility---White-white-500;
    }
    .btnContainerInWidth {
        width: 83%;
    }
}

