@use "../../styles/colors" as walaaColor;
@use "../../styles/_fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}
@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $weight ==400 {
    @extend .walaa-regular-400;
  }

  @else if $weight ==500 {
    @extend .walaa-medium-500;
  }
}

.travel-estimate-wrapper {
  width: 100%;
  background-color: walaaColor.$white;

  .calendar-switch-consumer {
    overflow: visible !important;
    position: absolute;
  }
  .theme-textbox-container {
    padding-top: 4px;
  }
  .estimate-content {
    .accor-close {
      margin-bottom: 20px;
    }

    .estimate-section {
      border: 1px solid walaaColor.$light-grey-300;
      border-radius: 20px;
      padding: 24px 0;

      .traveler-content {

        .details-title {
          padding-bottom: 32px;
          color: walaaColor.$dark-grey-500;
          font-size: 16px;
          line-height: 24px;
          @extend .walaa-regular-400;
        }

        .container {
          display: flex;
          padding: 16px;
          flex-direction: row;
          align-items: flex-start;
          gap: 1.5rem;

          .form-seprator {
            padding-top: 8px;
            border-bottom: 1px solid walaaColor.$light-grey-400-utility;
          }

        }

        .form-info {
          cursor: pointer;
          font-size: 20px;
          color: walaaColor.$Primary1---Blue-primary1---blue-600;
        }

        .form-block-1 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          .calendar-switch {
            .rmdp-container {
              padding: 12px 16px;
              border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;

              .date-picker-input {
                display: flex;
              }
            }
          }

          .form-element {
            .form-element-label {
              color: walaaColor.$dark-grey-500;
              font-size: 16px;
              line-height: 24px;
              padding-bottom: 8px;
              @extend .walaa-regular-400;
            }

            .form-element-field {
              display: flex;
              padding: 12px 16px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              align-self: stretch;
              border: 1px solid walaaColor.$Utility---Dark-Grey-dark-grey-200;
            }
          }

          .calendar-icon {
            font-size: 20px;
            color: walaaColor.$primary-blue-400;
            position: absolute;
          }
        }
      }

      .estimate-accordion {
        padding: 0px 22px 22px 22px;
        border-radius: 10px;

        .accordion-item {
          border-radius: 10px;
          background: walaaColor.$light-blue-50;

          .accordion-button {
            background: walaaColor.$light-blue-50;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .ac-content {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 16px;
              flex: 1;
              color: walaaColor.$black;
              .ac-headers {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .ac-head {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 16px;
                  padding: 6px 0px;
                  font-weight: 700;
                  font-size: 22px;
                }
                .ac-head-lower {
                  display: flex;
                  align-items: center;
                  gap: 20px;
                  color: walaaColor.$black-transparency-50;
                }
              }

              .del-col {
                display: flex;
                justify-content: flex-end;
                flex: 2;
                padding-right: 10px;

                .icons-delete {
                  width: 28px;
                  height: 28px;
                }
              }
            }

          }
          .accordion-button:focus {
            box-shadow: none;
            outline: none;
          }

          .label-text {

            color: walaaColor.$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 8px;
            @extend .walaa-regular-400;

          }

          .accordion-collapse {
            .accordion-body {
              .checkbox-container {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .filter-checkbox {
                  .form-check-label {
                    color: walaaColor.$darkest-grey;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    @extend .walaa-medium-500;
                  }
                  .form-check-input:checked {
                    background-color: walaaColor.$Primary1---Blue-primary1---blue-800;
                  }
                }

                .theme-check-button {
                  flex: 1 1 45%;
                  box-sizing: border-box;
                }
              }
            }
          }
        }

        .sub-accor-open {
          .approve-text {
            color: walaaColor.$darkest-grey;
            font-size: 12px;
            font-weight: 500;
            line-height: 24px;
            @extend .walaa-medium-500;
          }
          .estimate-block {
            display: flex;
            gap: 8px;
            align-self: stretch;
            flex-direction: column;
            padding: 10px 0px 10px 0px;

            .estimate-block-title {
              color: walaaColor.$darkest-grey;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              @extend .walaa-medium-500;
            }

            .estimate-content {
              display: flex;
              padding: 8px 7px 7px 12px;
              align-items: flex-start;
              gap: 16px;
              flex: 1 0 0;
              border-radius: 16px;
              border: 1px solid walaaColor.$light-grey-100;
              background: walaaColor.$white;
              justify-content: space-between;
              @include fontStyle(16px,
                24px,
                walaaColor.$Primary1---Blue-primary1---blue-800 );
              @extend .walaa-medium-500;

              .f-upload {
                padding: 0px 0px 0px 248px;
                @include fontStyle(16px,24px,walaaColor.$Primary1---Blue-primary1---blue-800)
              }
               .upload-btn {
                @include font(14px, 500, 22px);

                color: walaaColor.$Primary1---Blue-primary1---blue-800;
                padding-right: 16px;

                img {
                  height: 22px;
                  margin-right: 8px;
                }
              }

              .upload-img-text {
                display: flex;
                justify-content: flex-end;
                flex: 2;
              }
            }

            .buttonTextContainer {
              @include flex(row, center, flex-start, 1rem);
              align-content: center;
              align-self: stretch;
              flex-wrap: wrap;
              padding: 4px;
              background-color: walaaColor.$light-blue-50;
              border-radius: 48px;
              position: relative;
              max-width: 45%;

              label {
                display: flex;
                align-items: center;
                max-width: 84%;
                
                .buttonTextNameValue {
                  display: flex;
                  align-items: center;
                  @include flex(row, center, flex-start, 0);
                  @include font(12px, 500, 1.375rem);
                  margin-right: 4px;
                  color: walaaColor.$blue;

                  img {
                    margin-right: 4px;
                  }

                  max-width: 80%;
                }

                .buttonTextNameSize {
                  color: walaaColor.$dark-grey-500;
                  @include font(0.75rem, 400, 1.125rem)
                }

                .filecloseIcon {
                  cursor: pointer;
                  float: right;
                  height: 13px;
                  margin-left: 5px;
                  width: 13px;
                }

                .buttonTextIcon {
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }

      }

      .estimate-footer {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-top: 1px solid walaaColor.$light-grey-300;
        .estimate-footer-btn {
          color: walaaColor.$Primary1---Blue-primary1---blue-800;
          font-size: 14px;
          line-height: 22px;
          @extend .walaa-medium-500;
          display: flex;
          padding: 8px 40px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-800;
          background: walaaColor.$white;
        }
        .estimate-footer-btn-disabled {
          border: 1px solid walaaColor.$light-grey-200 !important;
					color: walaaColor.$Utility---Dark-Grey-dark-grey-200;
        }
      }

      .estimate-heading {
        padding: 0px 24px 16px 24px;
        border-bottom: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-200;
        position: relative;
        display: flex;

        .estimate-details {
          align-items: center;
          justify-content: center;
          display: flex;
          padding: 4px;
          cursor: pointer;
        }

        @include fontStyle(22px,
          30px,
          walaaColor.$Primary1---Blue-primary1---blue-800 );
        @extend .walaa-medium-500;

        &::before {
          content: "";
          height: 30px;
          width: 4px;
          background: walaaColor.$red-utility;
          position: absolute;
          left: 0;
        }

        .travel-tooltip-icon {
          color: walaaColor.$primary-blue-400;
          margin-left: 6px;
          height: 24px;
          padding-left:4px;

        }
      }
    }
  }
}
