@use "../../styles/color.scss" as *;
@use '../../styles/_utils.scss' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

#claimCard-content{
  display: flex;
  padding: 48px 0 96px 0;

  .card-section {
    border:0px;
    padding: 0;
    padding-top: 32px;
    .shared-utility-cards {
      padding: 32px 32px;
      border-radius: 20px;
      border: 1px solid $light-grey-200-utility;
      background: $themeWhite;
      box-shadow: 0px 4px 8px 0px $light-Grey-100;
      display: flex;
      justify-items: center;
      align-items: center;
      text-align: center;
      height: 248px;

      &:hover{
        border-color: $primaryBlue;
      }

      .circlebox {
        display: flex;
        align-items: center;
      }
      .card-body {
        padding: 24px 0 0 0;
        text-align: center;
        .card-title {
          @include fontStyle(20px, $dark-Grey-500);
        }
        .card-text {
          @include fontStyle(16px, $darkestGrey);
          padding-bottom: 24px;
        }
      }
    }
  }
}

@include media(xl) {
  #claimCard-content{
    .shared-utility-cards{
      height: 300px !important;
    }
  }
}

@include media(sm) {
  #claimCard-content{
    .shared-utility-cards{
      height: auto !important;
    }
  }
}
