@use "../../../styles/colors" as *;
@use "../../../styles/fonts" as *;

.review-qutation-section {
    border-radius: 20px;
    width: 100%;
    
}
.Quote-bottom {
    .terms-condition-click {
        cursor: pointer;
        color: $Primary1---Blue-primary1---blue-500 !important;
        @extend .walaa-medium-500;
        
    }
    .red-required {
        color: $red-utility;
    }
}

.terms-condition-link {
    padding: 0px 4px;
}
