@use "../../../../styles/colors" as *;
@use "../../../../styles/fonts" as *;

.alert-popup-container {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: flex-end;
  gap: 16px;
  border-radius: 8px;
  border-left: 2px solid $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-700;
  background: $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-100;
  position: relative;

  .alert-container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;

    .alert-left-panel {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      .content-icon {
        width: 24px;
        height: auto;
      }
    }

    .alert-right-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      flex: 1 0 0;

      .content-title {
        color: $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-800;
        font-size: 16px;
        line-height: 24px;
      }

      .content-message {
        color: $Secondary-Colors-Group-Secondary3---Tulip-Tree-Shade-secondary3---tulip-tree-800;
        font-size: 16px;
        line-height: 24px;
      }

      .nav-button {
        font-size: 14px;
        line-height: 22px;

        button {
          color: $cherry-red-color;
        }
      }
    }
  }

  .close-email-box-icon {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
  }
}