@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

.esg-commitment-wrapper {
    background-color: $themeWhite;

    .content-wrapper {
        padding-top: 96px;
        padding-bottom: 96px;

        .esg-commitment-heading {
            @include utils.font-setting($primaryBlue, 32px, 48px);

        }

        .content-wrapper-row {
            padding-top: 24px;

            .esg-commitment-description {
                @include utils.font-setting($darkestGrey, 18px, 28px);
               
            }

            .esg-commitment-image {
                @include utils.image-property(100%, 85%, cover, 5%);
            }
        }
    }
}

@include media(lg) {
    .esg-commitment-wrapper {

        .content-wrapper{
            padding-top: 24px;
            padding-bottom: 24px;
            .esg-commitment-image{
                height: 350px;
                border-radius: 30px;
            }
        }

        
        .content-wrapper-row {
            flex-direction: column-reverse;
            gap: 24px;

            .col-lg-6,
            .col-lg-6 {
                width: 100%;
            }

            .esg-commitment-image {
                height: 325px;
                border-radius: 25px;
            }
        }
    }

    .esg-wrapper{
        padding-top: 48px;
        .esg-world-row{
            gap: 24px;
        }
    }
}