@use '../../styles/_colors.scss' as *;
@use'../../styles/fonts.scss' as *;
@use '../../styles/utils' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;


.get-quote {
  align-items: flex-end;
  background-color: $white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 1076px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  left:0;
  right: 0;
  margin-top: -87px;
  z-index: 4;
  position: absolute;

  .get-quote-container {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
    z-index: 3;

  .get-quote-content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
}

  .get-quote-header {
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    position: relative;


  .get-quote-icon-wrapper {
    background-color: $Blue-Shades-primary1-blue-50;
    border-radius: 80px;
    gap: 10px;
    padding: 8px;
    position: relative;
  }

}

  .get-quote-product-icon {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
  }


  .get-quote-intro {
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    position: relative;
  }

  .get-quote-intro-text {
    color: $primary-blue-500;
    margin-top: -1px;
    position: relative;
    width: fit-content;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height:36px;
    font-family: Walaa Arabic Medium, sans-serif;
  }

  .get-quote-button-section {
    align-items: center;
    background-color: $white;
    border: 1px solid $Secondary6---Crimson-Red-Secondary6---Crimson-Red-500;
    border-radius: 40px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 10px 24px;
    position: relative;
    cursor: pointer;

    .get-quote-button-label {
      gap: 8px;
      justify-content: center;
      position: relative;
    }
  }

  .get-quote-button {
    all: unset;
    box-sizing: border-box;
    color: $Secondary6---Crimson-Red-Secondary6---Crimson-Red-500;
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .get-quote-footer {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 8px;
    padding: 8px 0px 0px;
    position: relative;
    width: 100%;
  }

  .get-quote-verified-icon-wrapper {
    height: 16px;
    position: relative;
    width: 16px;
  }

  .get-quote-verified-icon {
    height: 18px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 18px !important;
  }

  .get-quote-disclaimer {
    color: $dark-grey;
    flex: 1;
    margin-top: -1.00px;
    position: relative;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
  }
}

//Responsive design for tab
@include media(xl) {
  .get-quote {
    width: auto;
    margin-left: 64px;
    margin-right: 64px;

    .get-quote-intro-text {
      font-size: 20px;
      line-height: 28px;
    }

    .get-quote-container {
      .get-quote-content {
        align-items: flex-start;
        flex-direction: row;
        gap: 24px;
      }
   }
  }
}

@include media(lg) {
  .get-quote {
    width: auto;
    margin-left: 64px;
    margin-right: 64px;

    .get-quote-intro-text {
      font-size: 20px;
      line-height: 28px;
    }

    .get-quote-container {
      .get-quote-content {
        align-items: flex-start;
        flex-direction: row;
        gap: 20px;
      }
    }
  }
}

@include media(md) {
  .get-quote {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;

    .get-quote-intro-text {
      font-size: 18px;
      line-height: 24px;
    }

    .get-quote-button-section {
      width: auto;
    }
    .get-quote-container {
      .get-quote-content {
        align-items: flex-start;
        flex-direction: row;
        gap: 16px;
      }
    }

  }
}

@include media(sm) {
  .get-quote {
  height: auto;
  align-items: center;
  justify-content: center;

  .get-quote-button-section {
    width: 100%;
  }
  .get-quote-container {
    .get-quote-content {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .get-quote-intro-text {
    font-size: 16px;
    line-height: 20px;
  }
  }
}

[dir="rtl"] {
  .get-quote {
        margin-top:  -87px;
  }
  .get-quote-button-section {
    img{
       transform: rotate(180deg);
    }
  }
}

@include media(min1540) {
  .get-quote-mid {
    width: 1440px;
    padding: 0px !important;
   }

}
