@use "../../../../styles/_colors.scss" as *;
@use '../../../../../../app-shell/src/styles/media-queries' as *;


.register-new-claim-comprehensive .register-new-claim-container-main {
  @media (max-width: 1024px) {
    padding: 20px 64px 96px 64px;
  }

  @media (max-width: 932px) {
    padding: 20px 0 96px 0 !important;
  }

  .register-claim-left-card-top-message-container {
    background: none !important;
  }
}

.register-new-claim-comprehensive .select-policy {
  padding: 64px 64px 96px 64px !important;
}

.register-new-claim-comprehensive {
  .register-new-claim-left-card-main {
    width: 70%;
    gap: 24px;
    margin: 0;
  }
  .right-card-container {
    display: flex;
    position: sticky;
    top: 100px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 34%;

    .policy-card-containers {
      .right-card {
        .policy-card-body-section {
          .policyDocucard {
            gap: 0px;
          }
        }
      }
    }
  }
  .right-card-background-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: inherit;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid $light-grey-200;
    background: $Utility---Light-Grey-utility---light-grey-50;

    .header {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
      align-self: stretch;
      border-radius: 8px;

      .header-content {
        display: flex;
        align-items: center;
        gap: 16px;
        flex: 1;

        .content {
          display: flex;
          align-items: flex-start;
          gap: 4px;

          .policy-number {
            color: $dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }

          .modal-link {
            color: $Primary1---Blue-primary1---blue-600;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.register-new-claim-comprehensive .select-policy {
  padding: 64px 64px 96px 64px !important;
}

.register-new-claim-comprehensive {
  .register-new-claim-left-card-main {
    width: 70%;
    gap: 24px;
    margin: 0;
  }
  .right-card-container {
    display: flex;
    gap: 24px;
    position: sticky;
    top: 100px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 34%;

    .policy-card-containers {
      .right-card {

        .policy-card-body-section {
          .policyDocucard {
             gap: 0px;
          }
        }
      }
    }

  }
  .right-card-background-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: inherit;
    padding: 24px;
    // gap: 16px;
    border: 1px solid $light-blue-200;
    background: $light-blue-50;
    border-radius: 8px;
    border: 1px solid $light-grey-200;
    background: $Utility---Light-Grey-utility---light-grey-50;

    .header {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
      align-self: stretch;
      border-radius: 8px;

      .header-content {
        display: flex;
        align-items: center;
        gap: 16px;
        flex: 1;

        .content {
          display: flex;
          align-items: flex-start;
          gap: 4px;

          .policy-number {
            color: $dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }

          .modal-link {
            color: $Primary1---Blue-primary1---blue-600;
            font-size: 16px;
          }
        }
      }
    }
  }

}
