@use "../../../../../styles/_colors" as *;

.validate-seq-no-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
    background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;

    .car-logo {
        width: 48px;
        height: 48px;

        .img-logo {
            width: 32px;
            height: 32px;
        }
    }

    .vehicleSeqNo-textbox {
        width: 35%;
    }

    .custom-number {
        display: flex;
        gap: 4px;
        flex-direction: column;

        .title {
            color: $dark-grey;
            font-size: 16px;
            line-height: 24px;
        }

        .value {
            color: $Primary1---Blue-Shades-primary1---blue-900;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .arrow-icon
    {
        color:$black;
    }
}

@media (max-width: 768px),
(max-width: 576px) {
    .validate-seq-no-card {
        flex-direction: column;

        .custom-number {

            .title {
                padding-top: 0px;
            }
        }

        .vehicleSeqNo-textbox {
            width: 100%;
        }
    }
}