@use '../../styles/color.scss' as *;
@use '../../styles/utils' as utils;

.shared-accordian-wrapper .accordion-item {
    border-bottom: 1px solid $primnary-blue-100 !important;

    button {
        font-family: 'Walaa Arabic Medium';
        font-weight: 500;
        @include utils.font-setting($dark-Grey-500, 18px, 28px);
        background-color: $themeWhite !important;
        position: inherit;

        &.collapsed {
            font-family: 'Walaa Arabic Regular';
            font-weight: 400;
            @include utils.font-setting($dark-Grey-500, 18px, 28px);

            &::after {
                background-image: url('../../assets/Accordian/Plus.svg') !important;
            }
        }

        &::after {
            content: "";
            background-image: url('../../assets/Accordian/Minus.svg') !important;
            background-size: 32px;
            width: 32px;
            height: 32px;
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            background-color: $light-grey-100-utillity !important;
        }

        svg {
            color: $primary-blue-400;
            transition: 0.2s ease-in-out;
            margin-left: auto;
        }
    }
    .accordion-body {
        .iterable-accordian-wrapper div {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

[dir="rtl"] {
    .shared-accordian-wrapper .accordion-button::after {
        margin-left: 0;
        margin-right: auto;
    }
}
