@use "../../../../../styles/fonts" as walaaFont;
@use "../../../../../styles/_colors" as walaaColor;

@mixin fontStyle($size, $line-height, $weight, $fontColor) {
  font-size: $size;
  line-height: $line-height;
  color: $fontColor;

  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

.contact-card {
  background: walaaColor.$white;
  padding: 24px;
  border: 1px solid walaaColor.$light-grey-300;
  border-radius: 8px;

  .contact-card-head {
    border-bottom: 1px solid walaaColor.$Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
    padding-bottom: 16px;
    margin-bottom: 16px;

@include fontStyle(18px, 28px, 500, walaaColor.$Primary1---Blue-Shades-primary1---blue-900);

  }

  .shuffle-card-header {
    small {
      font-size: 10px;
      color: walaaColor.$dark-grey;
      line-height: 16px;
    }

    span {

      @include fontStyle(24px, 36px, 500, walaaColor.$Blue-Shades-primary1---blue-600);
    }
  }

  .shuffle-card-content-item {
    display: flex;
    align-items: center;
    padding-top: 16px;
    gap: 8px;
    cursor: pointer;


    img {
      width: 20px;
      height: 20px;
    }

    span {
      color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
