@use "../../../styles/colors" as walaaColor;

.vehical-card {
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    .card-header {
        display: flex;
    justify-content: space-between;
        background: walaaColor.$dark-black-100;
        padding: 24px;
        border-radius: 20px 20px 0px 0px;
        .vehical-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vehicallogo{
                margin-right: 8px;
            }
            .vehicalinnerdetails{
                h1{
                    color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-100;
                    font-size: 18px;
                }
                p{
                    color: walaaColor.$dark-grey-50;
                    font-size: 18px;
                }
            }
        }
        .sponsername{
            h1{
                color: walaaColor.$Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-100;
                font-size: 18px;
            }
            p{
                color: walaaColor.$dark-grey-50;
                font-size: 18px;
            }
        }
    }
    .card-body{
        .driver-details{
            border: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
            background: walaaColor.$Utility---Light-Grey-utility---light-grey-50;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            padding: 12px;
            margin-bottom: 24px;
            .verticle-driver-line {
                border-right: 1px solid walaaColor.$light-grey-300;
            }
            .driverbox{
                .drviericonimg{
                    margin-right: 8px;
                }
                .diverhead{
                    color: walaaColor.$dark-grey-500;
                    font-size: 14px;
                }
                .driverinnerdetails{
                    color: walaaColor.$dark-grey-500;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
        .card-bottom-download {
            display: flex;
            div{
                display: flex;
                color:walaaColor.$Primary1---Blue-primary1---blue-500;
                font-size: 16px;
                padding-right: 40px;
            }
            
        }
    }
    
}