@use "../../styles/_colors.scss" as *;
@use "../../styles/_fonts.scss" as walaaFont;

.alert-box-modal {
  padding: 0px;

  .modal-content {
    border-radius: 8px;
    padding: 0px;
  }

  .modal-body {
    padding: 0px;
  }

  .alert-box-container {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .alert-frame{
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 16px;
      max-width: 87%;
    }

    .material-icons-warning {
      width: 48px;
      height: 48px;
    }

    .vector {
      position: relative;
      width: 48px;
      height: 48px;
      background: url(./Warning.png) no-repeat center;
      background-size: 100% 100%;
      z-index: 2;
    }

    .frame-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      width: inherit;
    }

    .information {
      color: $Secondary2---Asparagus-secondary2---asparagus-50;

      /* Body/B1/Medium */
      @extend .walaa-medium-500;
      font-size: 18px;
      line-height: 28px;
      /* 155.556% */
    }

    .simple-alert {
      color: $white;
      word-wrap: break-word;
      width: inherit;

      /* Body/B2/Regular */
      @extend .walaa-regular-400;
      font-size: 16px;
      line-height: 24px;
      /* 150% */
    }

    .icons-material-icons-close {
      flex-shrink: 0;
      position: relative;
      width: 24px;
      height: 24px;
      z-index: 6;
      overflow: hidden;
    }

    .vector-2 {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 5.656px 0 0 5.655px;
      background: url(./Close.png) no-repeat center;
      background-size: 100% 100%;
      z-index: 7;
    }
  }
}

.alert-box-modal.type-warning {
  .modal-content {
    border-left: 4px solid $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
    background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
  }
}

.alert-box-modal.type-success {
  .modal-content {
    border-left: 4px solid $Secondary2---Asparagus-Shade-secondary2---asparagus-700;
    background: $Secondary2---Asparagus-secondary2---asparagus-500;
  }
}

.alert-box-modal.type-error {
  .modal-content {
    border-left: 4px solid $crimson-red-900;
    background: $red-utility;
  }
}

.alert-box-modal.type-info {
  .modal-content {
    border-left: 4px solid $Primary2---light-blue-800;
    background: $Primary2---light-blue-500;
  }
}
