@use "../../styles/colors" as *;
@use "../../styles/fonts" as walaaFont;
@use "../../../../app-shell/src/styles/utils" as utils;


.common-offcanvas{
    .offcanvas-header{padding-top: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .offcanvas-title{
            @include utils.font-setting($dark-grey-500, 20px, 30px);
            @extend .walaa-medium-500;
        }
        button{
            background-image: url('../../assets/CommonSVG/cancelIcon.svg');
            background-repeat: no-repeat;
            opacity: 1;
        }
    }
}