@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160%; 
    left: 50%;  
    transform: translateX(-50%); 
    z-index: 100;
    border-radius: 2.5rem;
    background: $Primary1---Blue-primary1---blue-600;
    border-radius: 2.5rem;
    background: $Blue-Shades-primary1---blue-600;
    min-width: 200px; 
    opacity: 0; 
    transform: translateX(-50%) translateY(-20px);
    animation: dropIn 0.2s ease-out forwards; 
    padding: 0.5rem 1rem;
    gap: .5rem;
}

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
