@use "../../styles/color.scss" as *;
@use "../../styles/utils" as utils;

.faq-wrapper {
  .search-box {
    .content-container {
      .content-container-padding {
        position: inherit;
      }
    }
  }

  .row {
    padding: 72px 0 108px 0;

    .topic-title {
      @include utils.font-setting($dark-Grey-500, 20px, 30px);
      padding-bottom: 24px;
    }
    .faq-dropdown-wrapper.col-sm-12 {
      margin-bottom: 24px;
  
      .dropdown {
        .dropdown-toggle.btn {
          border-radius: 16px;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 12px 20px 11px 20px;
          border-bottom: 0;
          color: $primaryBlue;
          border: 1px solid $primaryBlue-100;
          background-color: $lightBlue;
          img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
          }
  
          .faq-drop-txt-wrap {
            align-items: center;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            justify-content: space-between;
            display: flex;
  
            span.walaa-semibold-600.faq-drop-txt {
              margin-right: 8px;
              flex-grow: 1;
              max-width: 80%;
              display: flex;
              align-items: center;
              text-wrap: initial;
              justify-content: flex-start;
              text-align: left;
            }
          }
        }
        .dropdown-toggle::after {
          display: none;
        }
  
        .dropdown-menu {
          overflow-y: scroll;
          max-height: 230px;
          width: calc(100% - 40px);
          top: -15px !important;
          left: 20px !important;
  
          &::-webkit-scrollbar {
            width: 5px;
          }
  
          &::-webkit-scrollbar-track {
            background: $themeWhite;
          }
  
          &::-webkit-scrollbar-thumb {
            opacity: 0.2;
            background: $scroll-bar-blue;
            border-radius: 3.5px;
          }
  
          a.faq-dropdown-label.dropdown-item {
            padding: 16px;
            color: $primaryBlue;
            &:active{ background-color: transparent;}
  
  
            .drop-item-wrap {
              display: flex;
  
              .drop-img {
                img {
                  height: 25px;
                  width: 25px;
                  margin-right: 16px;
                }
              }
              .drop-txt {
                word-wrap: break-word;
                word-break: break-word;
                text-wrap: initial;
              }
            }
          }
        }
      }
    }

    .result-title {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;

      .faq-title-icon {
        width: 57px;
        height: 57px;
        padding: 7px;
        background-color: $aliceBlue;
        border-radius: 100%;
      }
      

      span {
        @include utils.font-setting($primnary-blue-600, 20px, 30px);
      }
    }

    .accordian-wrapper {
      margin-top: 10px;
    }
  }
}

@media (max-width: 443px) {
  .faq-wrapper {
    .row .accordian-wrapper {
      margin-top: 7px;

      .no-result-found {
        padding: 44px 20px 44px 20px;
        h1 {
          color: $primaryBlue;
          padding-top: 42px;
        }
        span {
          text-align: center;
          padding-top: 19px;
        }
      }
    }

    .content-container {
      position: relative;
      .image-input-height {
        height: 262px;
      }
    }
    #accordian-faq.container-fluid {
      .faq-trim-padding{
          padding-left: 0px !important;
        padding-right: 0px !important;
      }
      .row {
        padding-top: 20px;
        padding-bottom: 30px;
      }
    }

    .search-box {
      .content-container-padding {
        .container-fluid {
          padding: 0 16px !important;
        }

        .search-wrapper {
          padding: 32px 16px 48px 16px;
          justify-content: flex-start;
          .search-input-container {
            width: auto;
            flex-grow: 1;
          }
        }
      }
    }
  }

  .faq-dropdown-wrapper.col-sm-12 {
    margin-bottom: 24px;

    .dropdown {
      .dropdown-toggle.btn {
        border-radius: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px 20px 11px 20px;
        border-bottom: 0;
        color: $primaryBlue;
        border: 1px solid $primaryBlue-100;
        background-color: $lightBlue;
        img {
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }

        .faq-drop-txt-wrap {
          align-items: center;
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px;
          justify-content: space-between;
          display: flex;

          span.walaa-semibold-600.faq-drop-txt {
            margin-right: 8px;
            flex-grow: 1;
            max-width: 80%;
            display: flex;
            align-items: center;
            text-wrap: initial;
            justify-content: flex-start;
            text-align: left;
          }
        }
      }
      .dropdown-toggle::after {
        display: none;
      }

      .dropdown-menu {
        overflow-y: scroll;
        max-height: 230px;
        width: calc(100% - 40px);
        top: -15px !important;
        left: 20px !important;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: $themeWhite;
        }

        &::-webkit-scrollbar-thumb {
          opacity: 0.2;
          background: $scroll-bar-blue;
          border-radius: 3.5px;
        }

        a.faq-dropdown-label.dropdown-item {
          padding: 16px;
          color: $primaryBlue;
          &:active{ background-color: transparent;}


          .drop-item-wrap {
            display: flex;

            .drop-img {
              img {
                height: 25px;
                width: 25px;
                margin-right: 16px;
              }
            }
            .drop-txt {
              word-wrap: break-word;
              word-break: break-word;
              text-wrap: initial;
            }
          }
        }
      }
    }
  }
}
