@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.policy-history-card-wrapper {
  .policy-history-container {
    display: flex;
    padding: 72px 72px 240px 72px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;

    .policy-history {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .policy-history-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .policy-history-main-card {
          display: flex;
          width: 100%;
          padding: 24px 0;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          border-radius: 20px;
          border: 1px solid $light-grey-300;
          background: $white;

          .policy-history-main-card-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .title-content {
              display: flex;
              padding: 0 24px;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              align-self: stretch;
              border-left: 4px solid $red-utility;

              .title {
                color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
                font-size: 20px;
                line-height: 30px;
              }
            }

            .horizontal-line {
              margin: 0;
              align-self: stretch;
              stroke-width: 1px;
              stroke: $light-grey-300;
            }
          }

          .policy-history-main-card-body {
            display: flex;
            padding: 0 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .main-card-header {
              color: $dark-grey-400;
              font-size: 16px;
              line-height: 24px;
            }

            .main-card-body {
              display: flex;
              padding: 24px;
              align-items: flex-start;
              gap: 16px;
              align-self: stretch;
              border-radius: 16px;
              border: 1px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
              background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;

              .left-logo-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .logo {
                  display: flex;
                  width: 44px;
                  height: 44px;
                  padding: 16px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border-radius: 200px;
                  background: $Utility---White-white-500;
                  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
                }
              }

              .right-content-section-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;

                .first-question {
                  padding-bottom: 16px;
                  border-bottom: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-100;
                }

                .other-questions {
                  padding: 16px 0px;
                }

                .last-question {
                  border-bottom: none;
                }

                .right-content-section {
                  align-self: stretch;
                  display: flex;
                  align-items: flex-start;
                  gap: 16px;
                  flex: 1 0 0;
                  border-bottom: 1px solid $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-100;

                  .left-section {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;
                    flex: 1 0 0;

                    .left-top-section {
                      color: $dark-grey-500;
                      font-size: 18px;
                      line-height: 28px;
                    }

                    .left-bottom-section {
                      .cmp {
                        color: $dark-grey-400;
                        font-size: 14px;
                        line-height: 22px;
                      }

                      .date {
                        color: $dark-grey-400;
                        font-size: 14px;
                        line-height: 22px;
                      }
                    }
                  }

                  .right-section {
                    color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
                    cursor: pointer;
                  }
                }

                .expanded-content {
                  display: flex;
                  align-self: stretch;
                  align-items: flex-start;
                  gap: 16px;
                  flex: 1 0 0;

                  .left-expanded-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;
                    flex: 1 0 0;

                    .left-top-expanded {
                      color: $dark-grey-500;
                      font-size: 18px;
                      line-height: 28px;
                    }

                    .left-bottom-expanded-container {
                      display: flex;
                      padding: 20px 0px 8px 0px;
                      align-items: center;
                      gap: 16px;

                      .left-bottom-expanded {
                        display: flex;
                        align-items: flex-start;
                        gap: 16px;

                        .label-content-container {
                          display: flex;
                          flex-direction: column;
                          align-items: flex-start;
                          gap: 4px;

                          .label {
                            color: $dark-grey;
                            font-size: 16px;
                            line-height: 24px;
                          }

                          .label-content {
                            color: $Primary1---Blue-Shades-primary1---blue-900;
                            font-size: 16px;
                            line-height: 24px;
                          }
                        }
                      }

                      .download-document {
                        display: flex;
                        align-items: center;
                        gap: 2px;

                        .download-document-text {
                          color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-500;
                          font-size: 14px;
                          line-height: 22px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .policy-history-right {
        width: 30%;
      }
    }
  }
}