@use '../../../../styles/colors' as *;
@use '../../../../styles/fonts' as *;

@mixin flex($direction: row, $align: center, $gap: 0, $alignSelf: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  gap: $gap;
  align-self: $alignSelf;
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

%cardText {
  @include flex(row, flex-start, 0.25rem);
  align-self: stretch;
}

.container {
  @include flex(column, center, 0, stretch);

  .cardSection {
    @include flex(row, center, 1rem, stretch);
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid $light-blue-00;
    background: $light-blue;

    .cardFrame {
      @include flex(column, flex-start, 1rem);
      flex: 1 0 0;

      .cardFrameContainer {
        @include flex(row, flex-start, 1rem, stretch);

        .vehicleHeading {
          @include flex(row, flex-start, 1rem);
          flex: 1 0 0;

          .logIcon {
            @include flex(column, center, 0.625rem);
            background: $white;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;
            padding: 0.32rem;
            border-radius: 2.5rem;
          }

          .vehicleIcon {
            border-radius: 50%;
            width: 48px;
            height: 48px;
          }

          .vehicleTitle {
            @include flex(column, flex-start);
            justify-content: center;

            .vehicleTitleContainer {
              @include flex(column, flex-start, 0.25rem);

              .vehicleTitleLabel {
                @extend %cardText;

                .vehicleTitleLabelText {
                  color: $dark-grey-500;
                  @include font(1rem, 500, 1.5rem);
                }

                .vehicleInputLabelText {
                  color: $dark-grey-500;
                  @include font(1rem, 500, 1.5rem);
                }
              }
            }
          }

          .vehicleInsurance {
            @include flex(row, center, 0.5rem);
            padding: 0.25rem 0.5rem;
            border-radius: 0.375rem;
            background: $Primary1---Blue-primary1---blue-800;

            .vehicleInsuranceText {
              color: $alice-blue;
              @include font(0.75rem, 500, 1.125rem);
            }
          }
        }

        .vehicleDeletIcon {
          cursor: pointer;
          @include flex(row, center, 1rem);
        }
      }

      .cardContentContainer {
        @include flex(row, center, 0.5rem, stretch);
        justify-content: space-between;
        flex-wrap: wrap;

        .cardValueContainer {
          @include flex(column, flex-start, 0.25rem);

          .cardLabel {
            @extend %cardText;
            color: $darkest-grey;
            @include font(0.875rem, 400, 1.375rem);
          }

          .cardInput {
            @extend %cardText;
            color: $dark-grey-500;
            @include font(1rem, 500, 1.5rem);
          }
        }
      }

      .cardBottomContainer {
        @include flex(row, center, 0.125rem);

        .bottomText {
          cursor: pointer;
          color: $Primary1---Blue-primary1---blue-600;
          @include font(0.875rem, 400, 1.375rem);
          border-bottom: 1px solid transparent;

          &:hover {
            border-bottom: 1px solid $Primary1---Blue-primary1---blue-600;
          }
        }
      }
    }
  }
  .popupBottomContent {
    gap: 0rem !important;
    border-radius: 0 !important;
    border: none !important;
    background: none !important;
    padding: 0 !important;
    width: 100% !important;
    .bottomContent {
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }
  .bottomSection {
    display: flex;
    width: 94%;
    padding: 0.75rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    border-radius: 0rem 0rem 1.25rem 1.25rem;
    border: 1px solid $light-grey-200;
    background: $Utility---Light-Grey-utility---light-grey-50;

    
    .bottomContent {
      @include flex(row, center, 0, stretch);
      justify-content: space-between;

      .bottomText {
        color: $darkest-grey;
        @include font(1rem, 400, 1.5rem);
      }
    }
  }
}
