@use '../../styles/color.scss' as *;

.office-outer {
    display: flex;
    width: 100%;
    min-width: 856px;
    max-width: 1460px;
    padding: 48px;
    align-items: flex-start;
    gap: 48px;
    border-radius: 20px;
    background: $primaryBlue-800;
    margin: 96px 0;

    .inner-frame {
        display: flex;
        align-items: flex-start;
        gap: 48px;
        flex: 1 0 0;

        .icon-position {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            border-radius: 120px;
            background: $primaryBlue-400;

            .left-icon {
                color: $themeWhite;
                height: 80px;
                width: 80px;
                padding: 16px;
            }
        }

        .office-content {
            .widget-title {
                align-self: stretch;
                color: $primary-blue-300;
                font-size: 32px;
                line-height: 48px;
            }

            .inner-content {
                display: flex;

                .first-block,
                .secont-block {
                    padding-right: 24px;
                    border-right: 1px solid $primnary-blue-600;
                }

                .block-title {
                    color: $primary-blue-200;
                    font-size: 16px;
                    line-height: 24px;
                    padding-top: 20px;
                }

                .block-content {
                    color: $themeWhite;
                    font-size: 18px;
                    line-height: 28px;
                }

                .secont-block {
                    padding-left: 24px;

                    .hours {
                        display: flex;
                    }

                    .info-align {
                        cursor: pointer;
                        color: $themeWhite;
                        padding-left: 5px;
                    }
                }

                .third-block {
                    padding: 0 24px;

                    .block-align {
                        display: flex;
                        align-items: flex-start;
                    }
                }

                .icon-setup {
                    padding-right: 8px;
                }
            }
        }
    }
}

// Media query
@media only screen and (max-width: 768px) {
    .office-outer {
        padding: 24px;
        margin: 48px 0;
        min-width: auto;

        .inner-frame {
            flex-direction: column;
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
            gap: 16px !important;
        }

        .info-align {
            cursor: pointer;
            width: 24px;
            height: 24px;
        }

        .info-icon {
            margin-left: auto;
        }

        .block-content {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }
    }

    .icon-position {
        align-items: center;
    }

    .office-content {
        width: 100%;

        .widget-title {
            font-size: 24px;
        }

        .inner-content {
            display: block;

            .first-block,
            .secont-block {
                border-bottom: 1px solid $primnary-blue-600;
                margin: 10px 0;
                border-right: none !important;
                padding: 0 !important;
                margin-top: 24px;
            }
        }

        .third-block {
            padding: 12px 0;
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .block-title {
            margin-top: 10px !important;
        }

        .info-align {
            position: relative;
            padding: 5px;
        }
    }
}
