 @use "../../../../styles/fonts" as walaaFont;
@use "../../../../styles/colors" as walaaColor;

.tycMainContainer {
    display: flex;
    padding: 1.5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    border-radius: 1.25rem;
    border: 1px solid walaaColor.$light-grey-300;
    background: walaaColor.$white;
}