@use "../../styles/colors" as *;

.success-container-main {
  display: flex;
  padding: 24px 72px 60px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  background: $Utility---Light-Grey-utility---light-grey-50;

  .cards-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    justify-content: center;
  }
  .right-card-containers{
    width: auto !important;
  }
}

.modal-wrapper {
  position: relative;
  padding-top: 520px;
}
.modal-feedback {
  .modal-content {
    display: flex;
    width: 430px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 0px 12px 0px 22px;
    position: fixed;
    bottom: 0;
    right: 20px;
  }

  .modal-body {
    padding: 0px;
  }
  .modal-header {
    display: flex;
    padding: 24px 24px 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
  }
}
