@use "../../../../../styles/colors" as *;
@use "../../../../../styles/fonts" as *;

.container {
    display: flex;
    height: 6.875rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: absolute;
    right: -15.2rem;
    bottom: -9rem;
    z-index: 100;

    border-radius: 1rem;
    background: $Blue-Shades-primary1---blue-600;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.30);

    opacity: 0; 
    transform: translateX(-50%) translateY(-20px);
    animation: dropIn 0.2s ease-out forwards; 
}

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
