@use '../../styles/_colors.scss' as *;
@use '../../../../app-shell/src/styles/media-queries' as *;
@use '../../styles/utils' as utils;


@mixin fontStyle ($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.serviceCat.hideBackgroundImage {

}

.serviceCat.hideBackColor {
  background-color: $themeWhite;
}

.serviceCat {
  background: $primary-blue-500 url(../../assets/service/walaa-logo-shape.png) right top -72px no-repeat;
  padding: 96px 0px 96px 0px;

  .midContainer {
    h2 {
      @include fontStyle(32px, $themeWhite);
      padding: 0px;
      padding-bottom: 12px;
    }

      

    p {
      @include fontStyle(18px, $themeWhite);
      padding-bottom: 40px;

    }

    .service-white-container {
      background-color: $themeWhite;
      border-radius: 16px;
      padding: 24px;

      .react-multi-carousel-item { padding-bottom: 20px;}
      // Sub tab Button style starts 
      .sub-tab-buttons {
        display: flex;
        border-bottom: 3px solid $primnary-blue-100;

        &::-webkit-scrollbar {
          display: none;
        }

        .sub-tab-list {
          background-color: transparent;
          border: none;
          padding: 10px 16px; 
          cursor: pointer;
          position: relative;
          bottom: -3px;
          font-size: 16px;
          cursor: pointer;
          color: $primaryBlue;

          &:hover {
            border-bottom: 3px solid $red-utility;
          }

          &.active {
            font-weight: 800;
            border-bottom: 3px solid $red-utility;
            color: $primary-blue-700;
          }
          &.disabled { cursor:no-drop;}
        }
      }

      // Sub tab Button style ends 

      .tab-content {

        position: relative;

        .mt-0 {
          margin-top: 0;
        }

        .carousel-container {
          margin-top: 24px;

          .carousel-padding {
            margin: 0 20px 0 0;
          }

          .product-item {
            position: relative; 
            margin: 0 24px 0 0;
            min-height: 390px;
            border-radius: 5%;
            overflow: hidden; 
           
            &.card {
              padding: 0px;
              -webkit-transform-style: preserve-3d;
              -webkit-transition: 0.5s;
              transform-style: preserve-3d;
              transition: 0.5s;
              background-color: $themeWhite;
              box-shadow: $boxShadowColor;
              -webkit-box-shadow:0px 4px 20px 0px $boxShadowColor;
              -moz-box-shadow:0px 4px 20px 0px $boxShadowColor;
              box-shadow: 0px 4px 20px 0px $boxShadowColor;
              .card-img { border-radius: 0px !important;}

              // .card-img { height: 238px;}
              .card-body {
                height: auto;
                padding: 15px 24px;

                .card-title {
                  @include fontStyle(16px, $primary-blue-500);
                  display: flex;
                  cursor: pointer;
                  .card-description{
                    @include utils.display-ellipse(2);
                  }
                  span {
                    display: block;
                  }

                  .arrow-right {
                    background: url(../../assets/service/arrow-right.png) left top no-repeat;
                    width: 24px;
                    height: 24px;
                    padding-right: 16px;
                    margin-left: 8px;
                    display: inline-flex;
                  }

                }

                .card-text {
                  @include fontStyle(14px, $darkestGrey);
                  color: $darkestGrey;
                  font-size: 14px;
                  padding-top: 10px;
                  // For 2 Lines text visible with 3 dots                 
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -moz-box-orient: vertical;
                  -ms-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  -moz-line-clamp: 2;
                  -ms-line-clamp: 2;
                  line-clamp: 2;
                  overflow: hidden;
                }
              }

            }


          }

        }

      }

    }

    // Parent tab Button style starts 
    .tab-buttons {
      display: flex;
      border-bottom: none;

      .tab-list {
        display: flex;
        padding: 24px;
        gap: 4px;
        border-radius: 16px 0px 0px 0px;
        border-bottom: none;
        background-color: $aliceBlue;
        color: $darkGrey;

        &:last-child {
          border-radius: 0px 16px 0px 0px;
          border-bottom: none;
        }

        &:hover {
          border-bottom: none;
        }

        &.active {
          background-color: $themeWhite;
          color: $primaryBlue;
          border-bottom: none;

        }
      }
    }

    // Parent tab Button style ends 

    // carousal next and previous button starts 
    .carousel-button-group {
      top: -52px;
      position: absolute;
      right: 0;
      width: auto;
      background-color: $themeWhite;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      box-shadow: 0px 4px 20px 0px $shadow-box-blue-10;
      
      .carousel-button-previous {
        left: auto !important;
        right: 10px !important;
        position: relative;
        width: 38px;
        height: 38px;
        border: none !important; 
        background: $themeWhite !important;
        border-radius: 50%;

        &:focus,
        &:focus-visible {
          outline: none !important
        }

        &:hover { 
          border: none !important;
          .ondisable {
            color: $themeWhite !important;
          }
        }


      }

      .carousel-button-next {
        right: 60px !important;
        left: auto !important;
        width: 38px;
        height: 38px;
        border: none !important; 
        background: $themeWhite !important;
        border-radius: 48%;

        &:focus,
        &:focus-visible {
          outline: none !important
        }

        &:hover { 
          border: none !important;
          .ondisable {
            color: $themeWhite !important;
          }
        }

      }


      .carousel-button-previous.disable,
      .carousel-button-next.disable {
        
        border: none !important;
        background-color: $themeWhite !important;
        color: $light-Grey-100 !important;
        cursor: pointer;

        .ondisable {
          color: $light-Grey-100 !important;

        }

        &:hover {
          cursor: none;
        }

      }
    }

  }
  .gols-title {
    h2 {
      @include fontStyle(32px, $primaryBlue);
      padding: 0 0 0 24px;
    }
  }
}

.parent-menu { display: flex; }

// personal and SME toggle starts

// personal and SME toggle ends

@include media(xl) {
  .support_section {
    .support {
      .support_head {
        h2 {
          justify-content: left;
          margin-left: 0px; 
        }
        p {
          text-align: left;
          margin-left: 0px; 
        }
      }
    }
  }   

    .product-toggle-wrapper-Ui-Tabs {
      padding: 0px 16px 16px 0px !important;
    }
    .serviceCat .midContainer p { 
      padding-bottom: 48px;
    }

    .serviceCat .midContainer h2 { 
      padding-bottom: 8px;
    }
    .active {
      border-bottom: 1px solid $red-utility;
    }
    .serviceCat .midContainer .service-white-container .sub-tab-buttons {
      border-bottom: 1px solid $primnary-blue-100;
    }

}
// @media only screen and (max-width: 768px) {
@include media(lg) {
  .serviceCat { 
    padding: 48px 0;
    .midContainer {
      p.walaa-regular-400 { padding-bottom: 24px;}
      .custom-dot-list-style {
        bottom: -40px;
    
        .react-multi-carousel-dot {
          border: none;
    
          button {
            background-color: $light-Grey-100;
            width: 8px;
            height: 8px;
            border: none;
            transition: width 0.3s ease;
            margin: 0px 5px;
          }
    
          &.react-multi-carousel-dot--active {
            button {
              background-color: $red-utility;
              width: 29px;
              height: 8px;
              border: none;
              border-radius: 20px;
            }
          }
        }
    
      } 
      .service-white-container { 
        padding: 24px 12px 60px 16px;
        .sub-tab-buttons {
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
      
          &::-webkit-scrollbar {
            display: none;
          }
      
        }
      }
      .carousel-button-group { top: -45px;
        .carousel-button-previous { right: -6px !important;}
      } 
    }
  }  
}

// @media only screen and (max-width: 600px) {
@include media(sm) { 
  .serviceCat .midContainer .service-white-container .tab-content .carousel-container .product-item { 
    height: auto;
    min-height: 350px;   
  }
  
  .serviceCat .midContainer .tab-buttons { display: block; } 
}

[dir="rtl"] {
  .serviceCat {
    .midContainer {
      .service-white-container {
        .tab-content {
          .carousel-container {
            .card-title {
              .arrow-right {
                  transform: rotate(180deg);
                  -webkit-transform: rotate(180deg);
                  -moz-transform: rotate(180deg);
                }
            }
          }
          //Elements Added for RTL start
          .carousel-button-group {
            right: calc(85% + 15px);
            width: 80px;
            padding: 0 !important;

            .carousel-button-previous {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
            }

            .carousel-button-next {
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
            }
          }
          //Elements Added for RTL end
        }
      }
    }
    //Elements Added for RTL start
    @include media(md) {
      .serviceCat {
        .midContainer {
          .service-white-container {
            .tab-content {
              .carousel-button-group {
                right: calc(83% + 23px);
                width: 76px;
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
    @include media(sm) {
      .serviceCat {
        .midContainer {
          .service-white-container {
            .tab-content {
              .carousel-button-group {
                right: calc(80% + 21px);
                width: 76px;
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
    //Elements Added for RTL end
  }
}