@use "../../styles/colors" as *;
@use '../../../../app-shell/src/styles/media-queries' as utils;

.custom-alert-wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    

    &.warning{
        background-color: $crimson-red-50;
        border-left: 2px solid $input-error;
        .alert-content{
            color: $input-error;
        }
    }

    .alert-content {
        font-size: 16px;
        line-height: 24px;

        a {
            padding-top: 8px;
            color: $Primary1---Blue-primary1---blue-600;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                color: $text-hyperlink !important;
            }
        }
    }
}