@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/utils" as utils;
@use "../../../../app-shell/src/styles/media-queries" as *;

.know-more-outer {
  border: none;
  border-radius: 16px;
  height: 592px;
  background-size: cover;
  background-position: center;

  .card-img {
    position: relative;
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    z-index: 0;
  }

  .layer {
    background: linear-gradient(
      0deg,
      $primaryBlue-900 4.39%,
      rgba(10, 38, 53, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83%;
    border-radius: 16px;
  }

  .widget-content-wrapper {
    height: 184px;
    width: 100%;
    bottom: 0;
    position: absolute;
    left: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(
      0deg,
      $primaryBlue-900 53.39%,
      rgba(10, 38, 53, 0) 100%
    );
    border-radius: 16px;
  }

  .widget-content {
    z-index: 1;
    position: absolute;
    border-left: 4px solid $crimsonRed;

    .content-title {
      padding-left: 16px;
      padding-bottom: 8px;
      align-self: stretch;
      color: $themeWhite;
      font-size: 24px;
      line-height: 36px;
      @extend .walaa-medium-500;
    }

    .content-desc {
      padding-left: 16px;
      padding-bottom: 16px;
      align-self: stretch;
      color: $themeWhite;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400;
    }

    .content-btn {
      margin-left: 16px;
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 48px;
      background: $primarySkyBlue;
      color: $themeWhite;
      font-size: 14px;
      line-height: 22px;
      @extend .walaa-medium-500;
    }
  }
}

// @media only screen and (max-width: 768px) {
@include media(md) {
  .know-more-outer {
    height: 20%;

    .card-img {
      display: none;
    }

    .layer {
      background-color: $primaryBlue-900;
      height: 93%;
    }

    .widget-content {
      height: 150px;

      .content-title {
        font-size: 16px;
        line-height: 23px;
      }

      .content-desc {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .card-body {
      height: 320px;
    }

    .content-btn {
      padding: 8px !important;
    }
  }
}

@include media(sm) {
  .know-more-outer {
    background-color: $primaryBlue-900;
    background-image: none;
    height: 158px;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    .widget-content-wrapper {
      background-color: $primaryBlue-900;

      .widget-content {
        height: 150px;

        .content-title {
          font-size: 24px;
          line-height: 30px;
        }

        .content-desc {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .card-body {
      height: 215px;
    }
  }
}

.login-carousel {
  margin: 0px;
  height: 420px;
  position: relative;

  .login-outer {
    border: 4px solid $aliceBlue;
    border-radius: 16px 0px 0px 16px;
    border-right: 0;
  }

  .login-card-img {
    position: relative;
    object-fit: cover;
    border-radius: 12px 0px 0px 12px;
    height: 420px;
    width: 100%;
    z-index: 0;
  }

  .login-overlay {
    display: flex;
    align-items: flex-end;
    border-radius: 12px 0px 0px 12px;
    width: 100%;
    background: linear-gradient(
      0deg,
      $primaryBlue-900 21.39%,
      rgba(10, 38, 53, 0) 55%
    );
    opacity: 0.8;
  }

  .login-widget-content {
    z-index: 1;
    position: absolute;
    border-left: 4px solid $crimsonRed;

    .login-content-title {
      padding-left: 16px;
      padding-bottom: 8px;
      align-self: stretch;
      color: $themeWhite;
      font-size: 18px;
      line-height: 28px;
      @extend .walaa-medium-500;
    }

    .login-content-desc {
      padding-left: 14px;
      padding-bottom: 16px;
      align-self: stretch;
      color: $themeWhite;
      font-size: 16px;
      line-height: 22px;
      max-width: 350px;
      @extend .walaa-regular-400;
      @include utils.display-ellipse(3);
    }
  }

  .news-carousel-button-group {
    top: 50%;
    width: 100%;
    padding-top: unset;

    .container-fluid {
      padding: 0px !important;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .carousel-button-previous {
        left: 15px !important;
      }

      .carousel-button-next {
        margin-right: 12px;

        &:focus,
        &:focus-visible {
          outline: none !important;
        }

        &:hover {
          border: 2px solid $penumbraBlue !important;

          .ondisable {
            color: $primaryBlue !important;
          }
        }
      }
    }
  }
}

.custom-dot-list-style {
  bottom: 16px;

  .react-multi-carousel-dot {
    border: none;

    button {
      background-color: $light-Grey-100;
      width: 8px;
      height: 8px;
      border: none;
      transition: width 0.3s ease;
      margin: 0px 5px;
    }

    &.react-multi-carousel-dot--active {
      button {
        background-color: $red-utility;
        width: 30px;
        height: 8px;
        border: none;
        border-radius: 30%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .know-more-outer {
    .widget-content-wrapper {
      height: 220px;
      padding-left: 10px;
    }
  }
}
