@use "../../../../../../app-shell/src/styles/media-queries" as *;

.register-new-claim-comprehensive {
  padding: 0px 0px 96px 0px;

  @media (max-width: 1024px) {
    padding: 20px 0 96px 0;
  }

  @media (max-width: 932px) {
    padding: 20px 0 96px 0 !important;
  }

  .space-top-4 {
    padding-top: $--vertical-spacing-40;
  }

  .register-new-claim-container-main {
    max-width: 100%;
    display: flex;
    gap: 24px;
    width: 100%;
    // padding: 88px 22px 72px 22px; for future reference
    margin: 0;
    padding-bottom: 72px;

    #hamburger-menu-btn,
    #close-btn {
      display: none;
    }

    .summaryTitle {
      display: none;
    }

    .register-new-claim-left-card-main {
      width: 65%;
      gap: 24px;
      margin: 0;
      // for scrollbar behavior for left content
      max-height: 61rem;
      overflow-y: auto;
      scrollbar-width: none;

      .register-claim-left-card-top-message-container {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        background: $Utility---Light-Grey-utility---light-grey-50;

        .Claim-infoIcon {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        .tooltip-icon {
          width: 24px;
          height: 24px;
          color: $primary-blue-400;
        }

        p {
          color: $dark-grey-500;
          font-size: 16px;
          line-height: 24px;

          span {
            color: $Primary1---Blue-primary1---blue-500;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            cursor: pointer;
          }
        }
      }

      .register-new-claim-left-card {
        width: 100%;
        display: flex;
        padding: 24px 0px;
        flex-direction: column;
        gap: 16px;
        border-radius: 20px;
        border: 1px solid $light-grey-300;
        margin: 0;

        .estimated-amount-title {
          font-size: 18px;
        }

        .container {
          display: block;
          padding: 0px;
        }

        // upload docs accordion
        div.uploadAccordion {
          div.accordion {
            div.accordion-item {
              border-radius: var(--Auto-Number, 0px) var(--Auto-Number, 0px)
                20px 20px;
              border: 1px solid $--Utility---Light-Grey-utility---light-grey-200;
              background: $--Utility---Light-Grey-utility---light-grey-50;

              h2.accordion-header {
                button.accordion-button {
                  background-color: transparent;
                }
              }

              div.accordion-collapse {
                div.accordion-body {
                  div.register-contact {
                    div.register-contact-estimate.uploadfncontainer {
                      border-radius: 8px;
                      border: 1px solid
                        $--Utility---Light-Grey-utility---light-grey-200;
                      background: $theme-white;
                    }
                  }
                }
              }
            }
          }
        }

        .radio-button-group-container {
          .radio-button-group-cust {
            z-index: 0;
            border-radius: 80px;
            border: 1px solid $blue;
            background: $white;
            padding: 4px;

            label.not-selected {
              border: transparent !important;
              background: $white !important;
              color: $blue;
              padding-right: 1px;
              margin-right: 12px;
              padding-left: 1px;
              margin-left: 12px !important;

              &:hover {
                color: $blue !important;
              }
            }

            label.selected {
              border: 1px solid $blue !important;
              background: $blue !important;
              border-radius: 20px;
              border-top-right-radius: 20px !important;
              border-bottom-right-radius: 20px !important;

              &:hover {
                color: $white !important;
              }
            }

            label.selected-2 {
              border-top-left-radius: 20px !important;
              border-bottom-left-radius: 20px !important;
            }
          }
        }

        .register-new-claim-header {
          padding: 0px 32px;
          border-left: 4px solid $red-utility;
        }

        .header-body {
          color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
          font-size: 20px;
          line-height: 30px;
        }

        .header-border {
          border-bottom: 1px solid
            $Utility---Light-Grey-utility---light-grey-300;
        }

        .compensation-type {
          display: flex;
          flex-direction: column;

          .radio-btns {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            padding: 0 32px;

            // card
            div.card {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 16px;
              flex-shrink: 0;
              border-radius: 16px;

              &.card-active {
                border: 2px solid $blue;
                background: $--Primary2---Light-Blue-primary2---light-blue-50;
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
              }

              img.card-img-top {
                border-top-left-radius: 6%;
                border-top-right-radius: 6%;
              }

              div.card-body {
                width: 100%;
                padding: 0px 24px 24px 24px;

                .compensationtyperadio {
                  label.form-check-label {
                    color: $--Utility---Dark-Grey-dark-grey-200;
                  }
                }

                .compensationtyperadioselected {
                  input[type="radio"] {
                    &:checked {
                      background-color: $Primary1---Blue-primary1---blue-50;
                      border-color: $Primary1---Blue-primary1---blue-500;
                    }
                  }

                  label.form-check-label {
                    color: $text-hyperlink;
                  }
                }
              }
            }
          }
        }

        .right-card-register {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: inherit;
          padding: 24px;
          gap: 16px;
          border-radius: 20px;
          border: 1px solid $light-blue-200;
          background: $light-blue-50;

          .header {
            display: flex;
            align-items: center;
            gap: 16px;
            flex-wrap: wrap;
            align-self: stretch;
            border-radius: 8px;
            border: none;

            .content {
              .policy-number {
                color: $dark-grey-500;
                font-size: 16px;
                line-height: 24px;
              }
            }

            .iban-textbox {
              width: 48%;
            }
          }

          //CompreTermsAndConditions
          .terms-and-con {
            .terms-and-con-checkbox {
              .register-compensate-radio.radio-check-cust {
                margin: 0px;

                input[type="checkbox"] {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }
    .rightSidePanel {
      display: flex;

      height: 100%;

      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      width: 35%;

      .rightcardcontainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .right-card {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: inherit;
          padding: 24px;
          gap: 16px;
          border-radius: 20px;
          border: 1px solid $light-blue-200;
          background: $light-blue-50;

          .header {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            flex-wrap: wrap;
            align-self: stretch;
            border-radius: 8px;
            border: none;

            .header-content {
              display: flex;
              align-items: center;
              gap: 16px;
              flex: 1;

              .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;

                .policy-number {
                  color: $dark-grey-500;
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
        }

        .right-card-background-2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          height: inherit;
          padding: 24px;
          border-radius: 8px;
          border: 1px solid $light-grey-200;
          background: $Utility---Light-Grey-utility---light-grey-50;

          .header {
            display: flex;
            align-items: center;
            gap: 16px;
            flex-wrap: wrap;
            align-self: stretch;
            border-radius: 8px;

            .header-content {
              display: flex;
              align-items: center;
              gap: 16px;
              flex: 1;

              .content {
                display: flex;
                align-items: flex-start;
                gap: 4px;

                .policy-number {
                  color: $dark-grey-500;
                  font-size: 16px;
                  line-height: 24px;
                }

                .modal-link {
                  color: $Primary1---Blue-primary1---blue-600;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  .register-new-claim-comp-ModalDialogBox {
    .modal-header {
      flex-direction: row;
    }

    .modal-footer {
      width: inherit;
    }

    .modal-content {
      .modal-body {
        .register-new-claim-comprehensive-alert {
          border-radius: 8px;
          border-left: 2px solid
            $--Primary2---Light-Blue-primary2---light-blue-500;
          background: $Primary2---Light-Blue-primary2---light-blue-100;
        }
      }
    }
  }
}

// footer content related styles
.register-new-claim-container-footer-main {
  .footer {
    z-index: 2;
    display: flex;
    height: 76px;
    padding: 0px 512px 0px 72px;
    justify-content: space-between;
    align-items: center;
    background: $Primary1---Blue-primary1---blue-500;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $white;
    text-align: center;

    .footer-btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px;
      flex: 1 0 0;

      .back-btn {
        background: $Primary1---Blue-primary1---blue-500;
        text-decoration: none;
        color: $white;
        display: flex;
        border: 2px solid $white;
      }

      .back-btn:hover {
        border: 2px solid $white;
      }

      .payment-btn {
        font-size: 16px;
        line-height: 24px;
        /* 150% */
        border-radius: 40px;
        text-decoration: none;

        &.register-disabled {
          color: $Utility---Dark-Grey-dark-grey-200;
          background: $dark-grey-50;
        }

        &.register-enabled {
          color: $white;
          background: $btn-gray-color-600;

          &:hover {
            border: none;
          }
        }
      }
    }
  }
}
  
 
  
@include media(xl) {
  .register-claim-wrapper {
    .content-container {
      height: 270px;
    }
  }

  .register-new-claim-comprehensive {
    padding: 0px;
    .register-new-claim-container-main {
      padding: 0px;
      .register-new-claim-left-card-main {
        width: 100%;
        .register-new-claim-left-card {
          .compensation-type {
            .radio-btns {
              .card {
                width: 47%;
              }
            }
          }
          .iban-parent {
            padding: 0px;
          }
          .w-75 {
            width: 100% !important;
          }
          .px-4 {
            padding: 0 5px !important;
          }
          .right-card {
            border-radius: 16px 16px 0 0;
            .date {
              > .d-flex {
                gap: 16px;
                .d-flex {
                  gap: 8px;
                }
              }
            }
          }
          .right-card-register {
            .col-md-6 {
              width: 47%;
            }
            .align-self-stretch {
              gap: 16px;
            }
            .iban-textbox {
              width: 48%;
            }
          }
        }
      }

      .rightSidePanel {
        position: fixed;
        top: 0;
        right: -440px;
        width: 440px;
        padding: 0 16px;
        height: 100%;
        background-color: $white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 9;
        overflow-y: auto;
        &.open {
          right: 0;
          padding-top: 100px;
          .summaryTitle {
            display: block;
            text-align: left;
            padding: 0 0 20px 0;
            color: $dark-grey-500;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            width: 100%;
          }
        }
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background: $verticle-scroller-tracker;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background: $verticle-scroller-thumb;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: $verticle-scroller-thumb-hover;
        }
        &.closed {
          right: -440px;
        }
      }

      #hamburger-menu-btn {
        display: block;
        position: fixed;
        top: 330px;
        right: 0px;

        cursor: pointer;
        z-index: 8;
        .summary-details-text {
          display: none;
          position: absolute;
          white-space: nowrap;
          overflow: hidden;
          opacity: 0;
          right: -100px;
          transition: all 0.3s ease-in-out;
        }
        &:hover .summary-details-text {
          opacity: 1;
          right: 30px;
        }
        &:hover img {
          transform: scale(1.1);
          transition: transform 0.3s ease-in-out;
        }
      }

      #close-btn {
        position: absolute;
        top: 100px;
        right: 10px;
        cursor: pointer;
        display: block;
      }
    }
  }
}
@include media(md) {
  .register-claim-wrapper {
    .content-container {
      height: 230px;
    }
  }
}

@include media(sm) {
  .register-claim-wrapper {
    .content-container {
      height: 230px;
    }
  }
  .register-new-claim-comprehensive {
    .register-new-claim-container-main {
      .register-new-claim-left-card-main {
        .register-new-claim-left-card {
          .right-card-register {
            .col-md-6 {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px), (max-width: 576px) {
  .register-new-claim-comprehensive
    .register-new-claim-container-main
    .register-new-claim-left-card-main {
    width: 100% !important;
  }
}
.register-new-claim-comprehensive{
  .right-card-register {
    .iban-textbox {
      width: 48%;
    }
  }
}