@use "../../styles/_colors.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;
@use '../../styles/utils' as utils;


.widget-layout {
  @include utils.sectionPadding(96px,96px);

  background: url(../../assets/coverageWidget/Branding-Image.svg);
  background-repeat: no-repeat;
  background-position: top right 10px;
  background-size: contain;
  background-color: $powder-blue;

  &.travelCoverageWidget {
    background-image: url(../../assets/coverageWidget/Branding-Image.svg),
      url(../../assets/coverageWidget/Branding-Image.svg);
   background-position:  top right 10px, bottom left 10px;
   background-repeat: no-repeat;
   background-color: $powder-blue;
  }
  .widget-title {
    text-align: center;
    @include utils.font-setting($primaryBlue, 32px, 48px);
  }
  .widget-description{
    text-align: center;
    color: var(--Primary1---Blue-primary1---blue-500, $primaryBlue);
    font-size: 18px;
    line-height: 28px;
  }
  .table-th {
    font-size: 20px;
    line-height: 30px;
  }
  .table-td {
    font-size: 16px;
    line-height: 24px;
    background-color: $themeWhite;
  }
  table {
    color: $dark-Grey-500;
    margin: auto;
    padding: 32px 20px 0 20px;
    border-collapse: separate;
    border-spacing: 0;
  }
  tr {
    border: 1px solid $aliceBlue;
  }
  td {
    border: 1px solid $aliceBlue;
    padding: 16px 24px 16px 24px;
  }

  tr:first-child td:first-child {
    background-color: $pale-blue;
    border-top-left-radius: 10px;
  }
  tr:first-child td:last-child {
    background-color: $pale-blue;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}


// Responsive Style

@include media(xl) {

.widget-layout{
  @include utils.sectionPadding(64px,64px);
  background-size:13%;
}

}

@include media(md) {

.widget-layout{
  @include utils.sectionPadding(48px,48px);
  background-size:13%;
  .widget-title{
      @include utils.fontStyle(24px, 36px);
  }
}

}

// @media (max-width: 443px) {
@include media(sm) {
    .widget-layout {
      padding: 34px 16px 24px 16px;

      table {
        padding: 0;
      }
    }
}

[dir="rtl"] {
  .widget-layout {
    table {
      .table-th {
        td {
          &:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 10px;
          }

          &:last-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 0px;
          }
        }

      }
      .table-td {
        &:last-child {
          .cell {
            &:first-child {
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 10px;
            }

            &:last-child {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 0px;
            }
          }
        }
      }
    }
  }
}
