@use '../../../../styles/colors' as *;
@use '../../../../styles/fonts' as *;

// Flexbox Mixin
@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  @if $gap != 0 {
    gap: $gap;
  }
}

// Typography Mixin
@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

// Card Border Mixin
@mixin card-border($radius: 0.5rem, $border-color: $light-grey-300) {
  border-radius: $radius;
  border: 1px solid $border-color;
}

// Left Border Accent Mixin
@mixin left-border-accent($color: $red-utility, $width: 4px) {
  border-left: $width solid $color;
}

.container {
  margin-top: 3rem;
  @include flex(column, flex-start, flex-start, 1.5rem);

  .infoContainer {
    @include flex(row, flex-start, flex-start, 0.5rem);
    align-self: stretch;
    border-radius: 0.5rem;
    background: $Utility---Light-Grey-utility---light-grey-50;

    .infoText {
      @include flex(column, flex-start, flex-start, 0.5rem);
      flex: 1 0 0;

      .infoTextValue {
        @include flex(column, flex-start, flex-start, 0.25rem);
        @include font(1rem, 400, 1.5rem);
        align-self: stretch;
        color: $dark-grey-500;
      }
    }
  }

  .frameContainer {
    @include flex(column, flex-start, center, 1.5rem);
    align-self: stretch;

    .frameArea {
      @include flex(column, center, flex-start, 1rem);
      @include card-border(1.25rem);
      padding: 1.5rem 0;
      align-self: stretch;
      background: $Utility---White-white-500;

      .cardTitle {
        @include flex(column, flex-start, flex-start, 1rem);
        align-self: stretch;

        .cardTitleValue {
          @include flex(column, flex-start, flex-start, 0.625rem);
          @include left-border-accent;
          padding: 0 1.5rem;
          align-self: stretch;

          .cardTitleInput {
            @include flex(row, center, flex-start, 0.25rem);
            align-self: stretch;

            .cardTitleInputValue {
              @include font(1.25rem, 500, 1.875rem);
              align-self: stretch;
              color: $Primary1---Blue-primary1---blue-800;
            }
          }
        }

        .horizontalLine{
          margin: 0;
          width: 100%;
          color: $light-grey-300
        }
      }

      .cardFrameContainer {
        @include flex(row, flex-start, flex-start, 1rem);
        padding: 0 1.5rem;
        align-self: stretch;
        max-width: 86vw;
        flex-wrap: wrap;
      }
    }
  }
}