@use '../../styles/fonts' as walaaFont;
@use '../../styles/colors' as walaaColor;

.componentpopupStatusSection {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: 20px;
    background: walaaColor.$white;

    .GreenIcon {
        width: 96px;
        height: 96px;

    }

    .messageGreenSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    .messageGreenSectionLbl {
        @extend .walaa-medium-500;
        color: walaaColor.$dark-grey-500;

        /* Mobile/H5 */
        font-size: 20px;
        line-height: 30px;
        /* 150% */
    }

    .messageSection {
        @extend .walaa-regular-400;
        align-self: stretch;
        color: walaaColor.$darkest-grey;
        text-align: center;

        /* Body/B2/Regular */
        font-size: 16px;
        line-height: 24px;
        /* 150% */
    }
}