@use "../../styles/_colors.scss" as *;
@use "../../styles/_fonts.scss" as *;
@use "../../styles/utils" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

.contactWrapperBoxOuter {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 24px 0 24px 72px;
  justify-content: flex-start;

  .contactWrapperBox {
    display: flex;
    align-items: center;
    gap: 24px;
    // align-self: stretch;

    .myTickets {
      display: flex;
      flex: 2;
      width: 70%;
      padding: 24px 0px;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      border-radius: 16px;
      border: 1px solid $light-grey-300;
      background: $white;

      .myTicketsHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        .myTicketsHeaderInner {
          display: flex;
          padding: 0px 24px;
          align-items: center;
          gap: 16px;
          align-self: stretch;
          border-left: 4px solid $cherry-red-color;

          .myTicketsHeaderText {
            flex: 1 0 0;
            color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;

            /* Desktop/H6 */
            @include font(20px, 500, 30px);
            font-style: normal;
          }

          .updatedDateOuter {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4px;

            .updatedDateText {
              color: $Utility---Dark-Grey-dark-grey-200;

              /* Body/B4/Regular */
              @include font(12px, 400, 18px);
              font-style: normal;
            }

            .updatedDate {
              color: $darkest-grey;

              /* Body/B4/Regular */
              @include font(12px, 400, 18px);
              font-style: normal;
            }
          }
        }

        .horizontalLine {
          width: 856px;
          height: 1px;
          background: $light-grey-300;
        }
      }

      .tabs {
        display: flex;
        width: 854px;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 8px;
        background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;

        .allButton {
          display: flex;
          width: 71px;
          padding: 4px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          flex-shrink: 0;
          border-radius: 48px;
          background: $Primary1---Blue-primary1---blue-500;

          .allLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .allText {
              color: $white;

              /* Body/B4/Medium */
              @include font(12px, 500, 18px);
              font-style: normal;
            }
          }
        }

        .enquiryButton {
          display: flex;
          padding: 4px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid $Primary1---Blue-primary1---blue-500;

          .enquiryLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .enquiryText {
              color: $Primary1---Blue-primary1---blue-500;

              /* Body/B4/Medium */
              @include font(12px, 500, 18px);
              font-style: normal;
            }
          }
        }

        .complaintsButton {
          display: flex;
          padding: 4px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid $Primary1---Blue-primary1---blue-500;

          .complaintsLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .complaintsText {
              color: $Primary1---Blue-primary1---blue-500;

              /* Body/B4/Medium */
              @include font(12px, 500, 18px);
              font-style: normal;
            }
          }
        }
      }

      .cardsHolder {
        display: flex;
        padding: 16px 24px 0px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .card {
          display: flex;
          width: 808px;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;
          height: 100px;
          padding: 24px 16px;
          border-radius: 16px;
          background: $Utility---Light-Grey-utility---light-grey-50;
          align-self: stretch;

          .iconOuter {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: $white;

            .iconInner {
              display: flex;
              width: 32px;
              height: 32px;
              justify-content: center;
              align-items: center;
              aspect-ratio: 1/1;

              .icon {
                width: 32px;
                height: 32px;
                flex-shrink: 0;
              }
            }
          }

          .cardDetails {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;

            .cardType {
              display: flex;
              width: 150px;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;

              .cardLabel {
                display: flex;
                align-items: flex-start;
                gap: 4px;
                align-self: stretch;

                .cardLabelText {
                  color: $dark-grey;

                  /* Body/B2/Regular */
                  @include font(16px, 400, 24px);
                  font-style: normal;
                }
              }

              .cardLabelValue {
                display: flex;
                align-items: center;
                gap: 4px;
                align-self: stretch;

                .cardLabelValueText {
                  color: $dark-black-100;

                  /* Body/B2/Medium */
                  @include font(16px, 500, 24px);
                  font-style: normal;
                }
              }
            }

            .cardStatus {
              display: flex;
              width: 250px;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;

              .cardStatusText {
                color: $dark-grey;

                /* Body/B2/Regular */
                @include font(16px, 400, 24px);
                font-style: normal;
              }

              .cardStatusIconValue {
                display: flex;
                align-items: center;
                gap: 4px;

                .cardStatusIcon {
                  width: 24px;
                  height: 24px;
                  
                  img {
                    vertical-align: unset;
                  }
                }

                .cardStatusValue {
                  color: $dark-black-100;

                  /* Body/B2/Medium */
                  @include font(16px, 500, 24px);
                  font-style: normal;
                }
              }
            }

            .cardNavigation {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 12px;
              flex: 1 0 0;

              .link {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;

                .linkTextOuter {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;

                  .linkTextInner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;

                    .linkText {
                      color: $Primary1---Blue-primary1---blue-500;
                      cursor: pointer;
                      /* Body/B3/Medium */
                      @include font(14px, 500, 22px);
                      font-style: normal;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }

                .linkArrow {
                  width: 22px;
                  height: 22px;
                  
                  img {
                    vertical-align: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
    .cardContainerWraper{
      width: 30%;
      margin-bottom: 10px;
      gap: 24px;
      flex: 1;
      display: flex;
      flex-direction: column;

      .cardContainer {
        display: flex;
        flex: 2;
        padding: 24px 0px;
        width: fit-content;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        border: 1px solid $light-grey-300;
        background: $white;
      
        .cardTitleOuter {
          display: flex;
          padding: 0px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
      
          .cardTitleInner {
            display: flex;
            align-items: flex-start;
            gap: 4px;
      
            .cardTitle {
              color: $dark-grey-500;
      
              /* Body/B1/Medium */
              @include font(18px, 500, 28px);
              font-style: normal;
            }
          }
        }
      
        .horizontalLine {
          width: 100%;
          height: 1px;
          background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
        }
      
        .submitTicketSection {
          display: flex;
          padding: 0px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
      
          .heading {
            align-self: stretch;
            color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-400;
      
            /* Body/B2/Medium */
            @include font(16px, 500, 24px);
            font-style: normal;
          }
      
          .statement {
            align-self: stretch;
            color: $dark-grey-500;
      
            /* Body/B2/Regular */
            @include font(16px, 400, 24px);
            font-style: normal;
          }
      
          .tags {
            display: flex;
            align-items: flex-start;
            gap: 8px;
      
            .tag {
              display: flex;
              padding: 8px;
              justify-content: center;
              align-items: center;
              gap: 8px;
              border-radius: 8px;
              background: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-50;
      
              .tagIcon {
                width: 24px;
                height: 24px;
      
                img {
                  vertical-align: unset;
                }
              }
      
              .tagLabel {
                color: $darkest-grey;
      
                /* Body/B3/Medium */
                @include font(14px, 500, 22px);
                font-style: normal;
              }
            }
          }
      
          .submitTicket {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
      
            .submitTicketIconOuter {
              display: flex;
              width: 24px;
              height: 24px;
              padding: 2.5px 2px;
              justify-content: center;
              align-items: center;
      
              .submitTicketIcon {
                width: 20px;
                height: 19px;
                flex-shrink: 0;
      
                img {
                  vertical-align: unset;
                }
              }
            }
      
            .submitTicketLabel {
              color: $Primary1---Blue-primary1---blue-500;
              cursor: pointer;
              /* Body/B2/Regular */
              @include font(16px, 400, 24px);
              font-style: normal;
            }
          }
        }
        
      }
      .contactBranch {
        flex: 1;
    
        .cardElement {
    
          &:not(:last-child) {
            padding-bottom: 24px;
            border-bottom: 1px solid $light-blue-200;
          }
    
          &:not(:first-child) {
            padding-top: 24px;
          }
    
          .branchCardTextLight {
            padding-top: 8px;
            font-size: 16px;
          }
        }
    
      }

    }

    
  }
  
}