// Base Colors
$blue: #185A7D;
$sky-blue: #609BCF;
$dark-blue: #12394C;
$light-blue-00: #D1E5F7;
$light-blue-50: #F0F7FC;
$Primary1---Blue-primary1---blue-50: #185a7d;
$Primary1---Blue-primary1---blue-100: #b7ccd7;
$Primary1---Blue-primary1---blue-800: #0d3245;
$light-blue-200: #BAD8F3;
$light-blue-700: #4B79A2;
$light-blue: #F0F7FC;
$alice-blue: #E8EFF2;
$white: #fff;
$black:  #000000;

// Grey Scale
$light-grey-100: #BABABA;
$light-grey-100-utility: #EFEFEF;
$light-grey-200: #E8E8E8;
$light-grey-300: #ddd;
$light-grey-400-utility: #D6D6D6;
$dark-grey: #6A6A6A;
$darkest-grey: #4D4D4D;
$dark-grey-50: #E9E9E9;
$dark-grey-400: #4D4D4D;
$dark-grey-500: #202020;

// Accent Colors
$crimson-red: #D7395C;
$red-utility: #CD0833;
$green-300-light: #ADDFB3;
$Secondary3---Tulip-Tree-secondary3---tulip-tree-500 : #e0a230;
