@use "../../../../styles/colors" as *;
@use "../../../../styles/fonts" as *;

.alert-popup-container {
  display: flex;
  padding: 16px;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  position: relative;
  &.warning {
    border: 1px solid $tulip-tree-100;
    background: $secondary-tulip-tree-50;
  }
    
  .alert-leftPanel{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    .contentIcon{
      width: 24px;
      height: auto;
    }
    .contentDesc{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;
      .contentTitle{
        font-size: 16px;
        font-weight: 500;
        color: $dark-grey-500;
        line-height: 24px;
        @extend .walaa-medium-500
      }
      .contentMessage{
        font-size: 14px;
        font-weight: 400;
        color: $tulip-tree-900;
        line-height: 22px;
        @extend .walaa-regular-400
      }
    }
  }
  .alert-rightPanel{
    .nav-button{
      display: flex;
      padding: 5px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 48px;
      border: 1px solid $cherry-red-color;
      background: $white;
      font-size: 16px;
      line-height: 24px;
      margin: 32px 10px 0px 10px;
      @extend .walaa-medium-500;
      button{
        color:$cherry-red-color;
      }
    }
  }
  .closeEmailBoxIcon{
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 12px;
  }
}

