@use "../../../styles/color.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use '../../../../../app-shell/src/styles/media-queries' as *;

.form-success-block {
  display: flex;
  min-height: 410px;
  align-items: center;
  text-align: center;

  .login-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1 0 0;

    .success-icon {
      width: 48px;
      height: 48px;
      display: flex;
      padding: 8px;
      align-items: center;
      gap: 10px;
      border-radius: 200px;
      background: $asparagus-500;
    }

    .progress-bar-container {
      display: flex;
      width: 320px;
      padding: 24px 10px 10px 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .progress-bar {
        width: 300px;
        height: 4px;
        flex-shrink: 0;
        border-radius: 8px;
        background: $light-blue-50;
      }

      .progress-bar-fill {
        height: 4px;
        flex-shrink: 0;
        border-radius: 8px;
        color: $light-blue-500;
        ;
        background: $light-blue-50;
        ;
      }

      .progress-bar-text {
        color: $dark-grey-300;
        @extend .walaa-regular-400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }

    .progress-bar-box {
      width: 100%;
    }

    .success-message {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark-Grey-500;
      font-size: 16px;
      line-height: 24px;
      @extend .walaa-regular-400;
    }

    .success-button {
      display: flex;
      justify-content: center;
      @extend .walaa-regular-400;

      button {
        color: $themeWhite;
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 48px;
        background-color: $primary-blue-500;
        border: 1px solid $primary-blue-500;
      }

    }
  }
}