@use './../../../../styles/colors' as *;
@use './../../../../styles/fonts' as *;

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  @if $weight == 400 {
    @extend .walaa-regular-400;
  } @else if $weight == 500 {
    @extend .walaa-medium-500;
  }
}

%card-text {
  @include flex(row, flex-start, flex-start, 0.25rem);
  align-self: stretch;
}

%dark-grey-text {
  color: $dark-grey-500;
}

.container {
  @include flex(row, center, flex-start, 1rem);
  width: 50.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;
  background: $Primary2---Light-Blue-primary2---light-blue-50;

  .frameContainer {
    @include flex(column, flex-start, flex-start, 1rem);
    flex: 1 0 0;

    .rowTitle {
      @include flex(row, flex-start, flex-start, 1rem);
      align-self: stretch;

      .titleContainer {
        @include flex(row, flex-start, flex-start, 1rem);
        flex: 1 0 0;

        .product {
          @include flex(row, center, flex-start, 1rem);

          .productIcon {
            @include flex(row, center, center, 0.625rem);
            padding: 0.5rem;
            border-radius: 2.5rem;
            background: $Utility---White-white-500;
          }

          .productLabel {
            @include flex(column, flex-start, flex-start, 0.25rem);

            .productLabeltitle {
              @extend %card-text;
              @extend %dark-grey-text;
              @include font(1rem, 400, 1.5rem);
            }

            .productLabeltitleInput {
              @extend %card-text;
              @extend %dark-grey-text;
              @include font(1rem, 500, 1.5rem);
            }
          }
        }
      }
    }

    .rowContent {
      @include flex(row, center, space-between, 0);
      align-self: stretch;

      .viewField {
        @include flex(column, flex-start, flex-start, 0.25rem);

        .viewFieldLabel {
          @extend %card-text;
          @extend %dark-grey-text;
          @include font(1rem, 400, 1.5rem);
        }

        .viewFieldInput {
          @extend %card-text;
          @extend %dark-grey-text;
          @include font(1rem, 500, 1.5rem);
        }
      }
    }
  }
}