@use '../../../styles/colors' as *;
@use '../../../styles/fonts' as *;
@import "../../../styles/registration/globals.scss";

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0, $alignSelf: stretch) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    align-self: $alignSelf;
}

@mixin font($size, $weight, $line-height) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    @if $weight == 400 {
        @extend .walaa-regular-400;
    } @else if $weight == 500 {
        @extend .walaa-medium-500;
    }
}

%cardText {
    @include flex(row, flex-start, flex-start, 0.25rem);
    align-self: stretch;
}

.mainContainer {
    :global(.modal-content) {
        background-color: transparent;
        border: transparent;
    }
}

.modalContainer {
    margin-left: -8rem;
    @include flex(column, flex-start, flex-start);
    position: relative;
    min-width: 48rem;
    border-radius: 1.25rem;
    border: 1px solid $Utility---Light-Grey-utility---light-grey-200;
    background: $Utility---White-white-500;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

    .frame {
        @include flex(row, center, space-between);
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        align-self: stretch;

        .heading {
            @include flex(column, flex-start, flex-start, 1.5rem);
            flex: 1 0 0;
            color: $dark-grey-500;
            @include font(1.5rem, 500, 2.25rem);
        }
    }

    .body {
        @include flex(column, flex-start, flex-start, 1rem);
        padding: var(--Auto-Number, 0rem) 1.5rem;

        .fixedContent {
            flex: none;
            width: 100%;
        }

        .scrollableContent {
            @include flex(column, flex-start, flex-start, 24px);
            flex: 1;
            overflow-y: auto;
            width: 100%;
            max-height: 40vh;
            padding: 0.5rem;

            &::-webkit-scrollbar {
                width: 0.38rem;
            }

            &::-webkit-scrollbar-track {
                background: #E8EFF2;
                border-radius: 0.5rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #185A7D;
                border-radius: 0.8rem;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #185A7D;
            }
        }
    }

    .frameBottom {
        @include flex(row, center, flex-end, 1rem);
        padding: 1rem 1.5rem;
        align-self: stretch;
    }

    .modalCloseIcon {
        cursor: pointer;
        @include flex(row, center, flex-start, 0.625rem);
        padding: 0.25rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border-radius: 3.75rem;
        background: $Utility---White-white-500;
    }
}