@use "../../../../styles/_colors.scss" as *;
@use "../../../../styles/_fonts.scss" as walaaFont;

@mixin flex($direction: row,
  $align: center,
  $justify: flex-start,
  $gap: 0,
  $alignSelf: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.home-claims-dialog-box {
  .modal-dialog {
    .modal-content {
      div.home-claims-container {
        padding: 10px;
        @include fontStyle(14px,
          22px,
          $dark-grey-500 );
        @extend .walaa-regular-400;

        ol {
          list-style: decimal;
          padding-left: 15px;

          li {
            padding-bottom: 5px;
          }
        }
      }
    }

    .modal-header {
      @include fontStyle(23px,
        22px,
        $black );
      @extend .walaa-medium-500;
    }
  }
}


.home-claim-register-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  padding-bottom: 120px;
  padding-top: 30px;


  .policy-claim-left-card {
    @include flex(column, flex-start, flex-start, 1rem);
    width: 67%;
    background: transparent;
    border: 0;
    padding: 0px;
    
    @media  (max-width: 1024px) {
      width: 100%;
    }
    
    .pl-3 {
      padding-left: 25px;
    }

    .attach_error {
      color: $red-utility;
      font-size: 12px;
      line-height: 20px;
      margin-top: 5px;
      padding: 0 24px;
      &.no_policy {
        padding: 0px;
      }
    }

    .home-claim-content {
      @include fontStyle(16px,
        24px,
        $dark-grey-500);

      button {
        padding-right: 5px;
      }

      .link-content {
        color: $Blue-Shades-primary1---blue-600;
      }
    }

    .policy-claim-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 0;
      border-radius: 20px;
      width: 100%;
      border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
      background: $white;

      .horizontal-line {
        width: 100%;
        margin: 0;
        color: $light-grey-300;
        opacity: 0.5;
      }

      .policy-list {
        display: flex;
        width: 50% !important;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: var(--Auto-Number, 0px) 24px;
        align-self: stretch;

        .form-select {
          width: 100% !important;
          height: 48px !important;
          padding: 12px 16px !important;
        }
      }

      .select-policy-header {
        display: flex;
        padding: var(--Auto-Number, 0px) 24px;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-left: 4px solid $red-utility;
        color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
        font-size: 20px;
        line-height: 30px;

        button {
          align-items: center;

          svg {
            color: $primary-blue-400;
          }
        }
      }

      .loss-details-box-container {
        display: flex;
        padding: 0px 24px;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        .calendar-switch-consumer {
          position: relative;
        }
        .disabled .calendar-switch {
          pointer-events: none;
          opacity: 0.5;
        }
        .policy-content-label {
          font-size: 16px;
          line-height: 24px;
          color: $dark-grey-500;
        }
      }
    }
  }
  
  .payment-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;

    .btn-container {
      width: 100%;
    }
  }
}