@mixin display-ellipse($lines) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@mixin font-setting($color, $size, $lineHeight) {
    color: $color !important;
    font-size: $size;
    line-height: $lineHeight;
}

@mixin image-property($width:100%, $height:auto, $objectFit:cover, $borderRadius: unset) {
    width: $width;
    height: $height;
    object-fit: $objectFit;
    border-radius: $borderRadius;
}