@use "../../../../styles/_colors" as *;
@use "../../../../styles/_fonts" as *;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.endoresment_container {

    .no-radius {
      border-radius: 0px;
    }
    .shadow {
      box-shadow: 0 0 0 0.1rem
        rgba($Primary1---Blue-primary1---blue-50, 0.25);
    }
    .form-control::placeholder {
      color: $Utility---Dark-Grey-dark-grey-200;
    }
    .search-icon {
      position: absolute;
      top: 39px;
      right: 5px;
      color: $primary-blue-400 !important;
    }
    .calendar-icon {
      color: $primary-blue-400 !important;
      margin-left: -9px;
      width: 16px !important;
    } 

    .blue-travel-container {
      padding:8px 16px;
      display: flex;
      flex-direction: column; 
      width: 100%;
      background: $Primary2---Light-Blue-primary2---light-blue-50;
      border-radius: 16px;
      border: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;
  
    }

  .travel-content {
    .para-travel {
      @include fontStyle(16px, 24px, $dark-grey-500);
      @extend .walaa-regular-400;
      padding-bottom: 24px;
    }
    .date-picker-input {
      display: flex;
      :focus-visible,
      :focus {
        border: none;
        outline: none;
      }
      input {width:100%;}
    }
    .product-toggle-wrapper {
      padding: 0px !important;
      .product-toggle {
        border-radius: 80px;
        border: 1px solid $Primary1---Blue-primary1---blue-50;

        .selected,
        .default {
          padding: 8px 16px;
        }
      }
    }
    .mandate_star {
      color: $Utility---Error-Red-Error-Red;
      display: flex;
      padding: 0 5px;
    }
    .rmdp-container,
    .field-country input.rbt-input-main,
    #cancellation-reason-dropdown {
      padding: 9px 11px;
      border: 1px solid $Utility---Dark-Grey-dark-grey-200;
    }
    .field-country {
      position: relative;
      input {
        border-radius: 4px;
        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
        background: $white;
      }
    }
    .travel-form-group {
      padding-bottom: 24px;
      .policy-list {
        padding: 9px 11px;
        border: 1px solid $Utility---Dark-Grey-dark-grey-200;
         &::placeholder {
          color:$Utility---Error-Red-Error-Red;
        }
      }
      .calendar-switch {
        .switch-label {
          display: none;
        }
      }

      .form-check-label  {
        @include fontStyle(16px, 22px, $dark-grey-500);
        @extend .walaa-regular-400;
        display: flex;
        padding-bottom: 8px;
      }
    }
    .row-3-travel {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    
  }


  .travel-form-group {
    padding-bottom: 24px;
    .policy-list {
      padding: 9px 11px;
      border: 1px solid $Utility---Dark-Grey-dark-grey-200;
       &::placeholder {
        color:$Utility---Error-Red-Error-Red;
      }
    }
    .calendar-switch {
      .switch-label {
        display: none;
      }
    }

    .form-check-label  {
      @include fontStyle(16px, 22px, $dark-grey-500);
      @extend .walaa-regular-400;
      display: flex;
      padding-bottom: 8px;
    }
  }
 
 
 
}