@use "../../styles/_colors" as walaaColor;
@use "../../styles/_fonts" as walaaFont;
@use "../../../../app-shell/src/styles/media-queries" as *;
@import "../../styles/registration/globals.scss";

// Mixins
@mixin flex-setting ($displayVal: flex, $justifyPos: center, $alignPos: center) {
    display: $displayVal;
    justify-content: $justifyPos;
    align-items: $alignPos;
}

.manage-driver-container {
    .driver-img {
        img {
            width: 40px;
            height: 40px;
        }
    }
    .driver-list-container {
        display: flex;
        width: 95%;
        padding: 12px 16px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: auto;
        border-radius: 0px 0px 20px 20px;
        border: 1px solid $--Utility---Light-Grey-utility---light-grey-200;
        background: $--Utility---Light-Grey-utility---light-grey-50;
        @extend .walaa-regular-400;
    }

    .card-accordion-1 {
        border-bottom: 0px !important;
        margin-bottom: 0px !important;
    }

    .main-accordion {
        gap: 0 !important;
    }

    .driver-sub1 {
        @include flex-setting(flex, space-between, center);
        align-self: stretch;

        .driver-sub1-head{
            display: flex;
            align-items: center;
            gap: 8px;
            flex: 1 0 0;
        }
        .driver-sub1-text{
            color: $darkest-grey;

            /* Body/B2/Regular */
            @extend .walaa-regular-400;
            font-size: 16px;
            line-height: 24px; /* 150% */
        }
        .driver-sub1-btn{
            @include flex-setting(flex, center, center);
            padding: 8px 16px;
            gap: 8px;
            border-radius: 48px;
            border: 1px solid walaaColor.$Primary1---Blue-primary1---blue-500;
            color: walaaColor.$Primary1---Blue-primary1---blue-500;
            font-weight: 500;
            background: $theme-white;
        }
        .disabled-sub1-btn{
            border: none;
        }

    }

    .driver-sub2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        color: walaaColor.$dark-grey;
        .driver-sub2-text{
            @extend .walaa-medium-500;
            font-size: 12px;
            line-height: 18px; /* 150% */
        }

        .driver-card {
            display: flex;
            padding: 2px 16px;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid $light-grey-100-utility;
            background: $theme-white;

            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .driver-card-add {
            display: flex;
            padding-top: 8px;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            color: $theme-dark-grey;

            /* Body/B4/Medium */
            @extend .walaa-medium-500;
            font-size: 12px;
            line-height: 18px; /* 150% */
        }
        .new-driver{
            border: 1px solid walaaColor.$Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-300;
        }

        .driver{
            display: flex;
            align-items: center;
            gap: 16px;
            flex: 2
        }
        .driver-name-sec{
            @include flex-setting(flex, center, flex-start);
            flex-direction: column;
        }
        .driver-name{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            color: $dark-grey-500;

            /* Body/B3/Medium */
            @extend .walaa-medium-500;
            font-size: 14px;
            line-height: 22px; /* 157.143% */
        }
        .detail{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            flex: 1;

            .detail-label{
                display: flex;
                align-items: flex-start;
                gap: 4px;
                align-self: stretch;
                color: $theme-dark-grey;

                /* Body/B4/Regular */
                @extend .walaa-regular-400;
                font-size: 12px;
                line-height: 18px; /* 150% */
            }
            .detail-value{
                display: flex;
                align-items: flex-start;
                gap: 4px;
                align-self: stretch;
                color: $dark-grey-500;

                /* Body/B3/Medium */
                @extend .walaa-medium-500;
                font-size: 14px;
                line-height: 22px; /* 157.143% */

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .detail-value.amount {
                gap: 0px;
            }
        }
        .premium{
            border-radius: 4px;
            background: walaaColor.$secondary-tulip-tree-50;
            padding: 5px;
        }

        .active-btn{
            display: flex;
            align-items: center;

            @include flex-setting(flex, center, center);
            padding: 8px 16px;
            gap: 8px;

            border-radius: 6px;
            background: $--Secondary2---Asparagus-secondary2---asparagus-200;

            color: $--Secondary2---Asparagus-secondary2---asparagus-900;

            /* Body/B4/Medium */
            @extend  .walaa-medium-500;
            font-size: 12px;
            line-height: 18px; /* 150% */
        }
        .driver-details{
            color: $primary-blue-600;
            gap: 10px;

            /* Body/B3/Regular */
            @extend  .walaa-regular-400;
            font-size: 14px;
            line-height: 22px; /* 157.143% */

            .link-div{
                text-decoration: underline;
                cursor: pointer;
                color: walaaColor.$Primary1---Blue-primary1---blue-600;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        padding-left: 30px;
    }
}

.container-form-select{
    width: 100%;
}

.vehicle-icon {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  @include media(sm) {
    .manage-driver-container {
      .driver-sub1 {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
      }
    }
  }

  @include media(md) {
    .manage-driver-container .driver-sub2 .new-driver {
      position: relative;
      padding-top: 16px;
    }
    .driver-card.new-driver .endosCrossIcon{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }