@use '.../../../../styles/colors' as *;

.Multiselect-cust {
    .searchWrapper {
      padding: 9px 16px 9px 8px;
      border: 1px solid $Utility---Dark-Grey-dark-grey-200;
      background-color: $white;
      justify-content: left;
      display: block;
      .chip {
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
        background-color: $primary-blue-400;
        color: $white;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .highlightOption {
      background: transparent;
      color: inherit;
    }
  }

  // specific to turn values set to no display
  .Multiselect-cust.show-no-values {
    .searchWrapper{
      .chip {
        display: none;
      }
    }
  } 
  