@use '../../styles/color.scss' as *;

// carousal next and previous button starts 
.carousel-button-group {
    right: 0;
    width: auto;

    .carousel-button-previous {
      left: auto !important;
      right: 10px !important;
      position: relative;
      width: 38px;
      height: 38px;
      border: 1px solid $penumbraBlue !important;
      background: $themeWhite !important;
      border-radius: 50%;
      box-sizing: border-box;

      &:focus,
      &:focus-visible {
        outline: none !important
      }

      &:hover {
        border: 2px solid $penumbraBlue !important;

        .ondisable {
          color: $themeWhite !important;
        }
      }

    }

    .carousel-button-next {
      right: 60px !important;
      left: auto !important;
      width: 38px;
      height: 38px;
      border: 1px solid $penumbraBlue !important;
      background: $themeWhite !important;
      border-radius: 48%;

      &:focus,
      &:focus-visible {
        outline: none !important
      }

      &:hover {
        border: 2px solid $penumbraBlue !important;

        .ondisable {
          color: $themeWhite !important;
        }
      }

    }



    .carousel-button-previous.disable,
    .carousel-button-next.disable {
      border: 1px solid #BABABA !important;
      background-color: $themeWhite !important;
      color: #BABABA !important;
      cursor: pointer;

      .ondisable {
        color: #BABABA !important;
      }

      &:hover {
        cursor: none;
      }

    }
  }

  // carousal next and previous button ends 