@use "../../styles/color.scss" as *;
@use "../../styles/fonts.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}
.bottom-back {
  position: absolute;
  top: 238px;
  left: -127px;
  background: url(../../assets/boardofmanagement/ornament-top.png) no-repeat;
  width: 345px;
  height: 235px;
  z-index: 0;
  background-position: -40px 0px;
}
.top-back {
  position: absolute;
  top: 10px;
  right: 0;
  background: url(../../assets/boardofmanagement/ornament-top.png) no-repeat;
  width: 286px;
  height: 172px;
  z-index: 0;
}
.About_section {
  background: $themeWhite;
  display: flex;
  padding: 0px 0px 0 0px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  .about-content {
    padding-top: 48px;
  }

  .tab-buttons-product {
    padding-top: 0;
    top: 70px;
  }

  .mid-container.container-fluid {
    padding: 0 !important;
  }

  .mid-container {
    width: 100% !important;
    align-items: center;
    text-align: left;
    position: relative;

    .training-section {
      .support_section { 
        .support { 
          .support_card {
            p{ -webkit-line-clamp:  unset;
                overflow: unset;  
               text-overflow: unset;  
               white-space: unset;}
          }
          .support_head {
            max-width: 90% ; 
          }
        }
      }
    }
    

    // About Content starts
    .two-column-section {
      display: flex;
      padding: 0px 0px 72px 0px;
      .row {
        position: relative;
        z-index: 1;
      }
      .heading-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
        z-index: 1;
       
        h2 {
          @include fontStyle(32px, $primaryBlue);
          margin: 0px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
        }
        h3 {
          @include fontStyle(32px, $primaryBlue);
          margin: 0px;
          font-family: "Walaa Arabic Medium";
          font-weight: 500;
          font-style: normal;
        }
        p {
          @include fontStyle(18px, $darkestGrey);
          margin: 0px;
          font-family: "Walaa Arabic Regular";
          font-weight: 400;
          font-style: normal;
          line-height: 28px;
          a {
            color: $primnary-blue-600;
          }
        }
      }

      .story-about {
        align-items: flex-start;
        justify-content: flex-start;

        h3 {
          padding-bottom: 24px;
          margin: 0px;
          color: $dark-Grey-500;
          font-size: 20px;
          text-transform: capitalize;
          line-height: 30px;
        }

        ul {
          list-style-type: none;
          display: flex;
          width: 100%;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          border-radius: 16px;
          border: 1px solid $primaryBlue-100;
          background: $lightBlue;

          li {
            width: 100%;
            font-size: 18px;
            border-bottom: 1px dotted $primnary-blue-100;
            .story-date {
              @include fontStyle(12px, $darkGrey);
            }
            .story-link-para {
              padding: 5px 0;
              a {
                @include fontStyle(16px, $primaryBlue);
              }
            }
            .story-reads {
              @include fontStyle(12px, $darkGrey);
            }

            a {
              color: $themeWhite;
              text-decoration: none;
            }

            &:last-child {
              border-bottom: none;
              padding-bottom: 0px;
            }
          }
        }
      }
    }

    .team-container {
      .team-header {
        text-align: left;
        padding-bottom: 8px !important;
        position: relative;
        z-index: 1;
      }
      .card-desc {
        padding-bottom: 24px;
        position: relative;
        z-index: 1;
      }
    }

    // About Content ends
  }
  .ornament-btm {
    height: 213px;
  }
  .ornament-top {
    height: 245px;
  }
}

// @media (max-width: 786px) {
@include media(md) {
  .About_section {
    .mid-container {
      .two-column-section {
        padding: 0px 0px 48px 0px;
        .row {
          flex-direction: column;
        }
        .story-about {
          margin-top: 24px;
        }
      }

      .training-section {
        .support_section { 
          .support {
            padding: 48px 0px 48px 0px;
            .container-fluid{padding:0 16px!important;
            .row{ width: auto;}
            }
            .support_card {
              margin: 24px 0 0 0;
            }
            .support_head {
              max-width: 100% ;
              position: relative;
              align-items: center;
              .glob-walaa-subheading-text{
                text-align: center;
                align-self: stretch;
              }
            }
          }
        }
      }
    }
  }
}

@include media(lg) {
  .About_section .tab-buttons-product {
    padding-left:16px;
  }
}
