@use "../../styles/_colors" as *;
@use "../../styles/_fonts" as *;

.cvv-container {
    .modal-header {
        padding: 24px 24px 0 24px;
        border-bottom: none;
        .modal-title {
            color: $dark-grey-500;
            font-size: 24px;
            line-height: 36px;
            @extend .walaa-medium-500;
        }
    }
    .modal-cvv {
        padding: 8px;
        img {
            width: 100%;
        }
        p {
            padding-top: 24px;
            color: $darkest-grey;
            font-size: 16px;
            line-height: 24px; /* 150% */
            @extend .walaa-regular-400;
        }
    }
}
.card-options {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .card-no-label {
        color: $dark-grey-500;
        font-size: 16px;
        line-height: 24px;
        @extend .walaa-regular-400;
    }
    .cvc-date-container {
        width: 50%;
        gap: 24px;
    }
    .card-no-input-short {
        width: 100% !important;
        input::-ms-reveal,
        input::-ms-clear {
            display: none;
        }
        img {
            cursor: pointer;
        }
        
    }

    .card-no-input {
        width: 50%;
        position: relative;
        margin-top: 8px;
        button {
            width: 100%;
        }
        input {
            padding: 12px 16px;
        }
        img {
            position: absolute;
            top: 12px;
            right: 16px;
        }
    }
    .card-button {
        padding: 0.625rem 1.25rem !important;
    }
}