@use "../../styles/color.scss" as *;
@use "../../styles/fonts";
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

#claim-widget-wrapper {
  .claim-widget {
    width: 100%;
    padding: 48px 0 0 0 !important;
    .claim-head {
      width: 100%;
      display: flex;
      padding: 50px 0 32px 0;

      .register-claim-icon {
        margin-left: 5px;
      }

      h3 {
        color: $primaryBlue;
        font-size: 32px;
      }
      a {
        color: $primnary-blue-600;
        font-size: 18px;
        text-align: right;
      }
    }

    .claim-body {
      justify-content: center;
      background: $aliceBlue;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 16px;
      background: $lightBlue;
      min-width: 856px;
      max-width: 1460px;
      padding: 48px;
      align-self: stretch;
      .claim-content {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        .claim-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .claim-text {
          display: flex;
          flex-direction: column;
          p {
            color: $darkestGrey;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
          }
          .form-claim-track {
            display: flex;
            gap: 16px;
            padding: 24px 0 0 0;
            label {
              color: $dark-Grey-500;
              font-size: 16px;
              padding-bottom: 10px;
              font-family: "Walaa Arabic Regular";
              font-weight: 400;
              font-style: normal;
            }
            .input-text {
              width: 350px;
              color: $dark-grey-200;
              font-size: 16px;
              input {
                font-size: 16px;
                padding-bottom: 10px;
                font-family: "Walaa Arabic Regular";
                font-weight: 400;
                font-style: normal;
              }
            }
            Button {
              border-radius: 48px;
              display: flex;
              padding: 10px 24px;
              justify-content: center;
              align-items: center;
              margin-top: 30px;
              width: 150px;
              height: 50px;
              border: none;
              color: $themeWhite;
              background: $primaryBlue-800;
              &.disabled-button {
                color: $dark-grey-200;
                background: $primary-grey-50;
              }
            }
          }
        }
      }
    }
  }
}

//Tablet View
@media (max-width: 1280px)  {
  #claim-widget-wrapper{
    .form-claim-track {
      flex-wrap: wrap;
      .form-group-fields{
        flex: 0 0 auto;
        width: 47%;
        .theme-button{
          margin-top: 15px !important;
        }
        .input-text{
          width: 100% !important;
        }
      }
    }
  }
}

@include media(xl){
  #claim-widget-wrapper{
    &.container-fluid{
      padding: 0px 64px !important;
      .claim-body{
        min-width: unset !important; 
      }
    }
  }
}

@include media(lg) {
  #claim-widget-wrapper{
    .form-claim-track {
      flex-wrap: wrap;
      .form-group-fields{
        width: 100%;
      }
    }
  }
}

// Mobile Styles
// @media only screen and (max-width: 768px) {
@include media(md) {
  #claimCard-content .card-section {
    padding-top: 16px;
    .shared-utility-cards {
      margin-bottom: 16px !important;
    }
  }

  #claim-widget-wrapper {
   &.container-fluid{
      padding: 0px 16px !important;
    }
    .claim-widget {
      .claim-head {
        flex-direction: column;
        padding-bottom: 16px;
        h3 {
          padding-bottom: 16px;
        }
        a {
          text-align: left;
        }
      }
      .claim-body {
        min-width: unset;
        width: 100%;
        padding: 24px;
        .claim-content {
          margin: 0px;
          gap: 16px;
          display: flex;
          flex-direction: column;
          .claim-icon {
            justify-content: left;
            padding: 0px;
          }
          .claim-text {
            text-align: left;
            padding: 0px;
            .form-claim-track {
              flex-direction: column;
              .input-text {
                width: 100%;
              }
              label {
                padding-bottom: 8px;
              }
              Button {
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
  }
}
