@use "../../styles/colors" as *;
@use "../../styles/_fonts" as font;
@use "../../styles/_utils" as utils;

@mixin fontStyle($size, $lnheight, $fontColor) {
  font-size: $size;
  line-height: $lnheight;
  color: $fontColor;
}

.renewal-policy-wrapper {
  border: 1px solid $light-grey-300;
  border-radius: 8px;
  padding: 16px;
  background-color: $white;

  .policy-number-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .policy-number-label {
      @include utils.font-setting($darkest-grey, 12px, 18px);
    }

    .policy-number-data {
      padding-top: 5px;
      @include utils.font-setting($dark-grey-500, 14px, 22px);
      @extend .walaa-medium-500;
    }

    .policy-number-expired-status {
      background-color: $input-error;
      border-radius: 8px;
      padding: 4px 8px;
      height: 100%;
      display: flex;
      align-items: center;
      span {
        @include utils.font-setting($white, 12px, 18px);
        @extend .walaa-medium-500;
      }
    }
  }

  .policy-number-benefits {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 5px 0px;

    .right-box {
      border-left: 1px solid $light-grey-100-utility;
      padding-left: 15px;
      width: 60%;
    }

    .left-box {
      padding-right: 15px;
    }

    .label {
      @include utils.font-setting($darkest-grey, 12px, 18px);
      padding-bottom: 8px;
    }
    .heading {
      @include utils.font-setting($darkest-grey, 14px, 22px);
      @extend .walaa-medium-500;
    }
    .content {
      @include utils.font-setting($darkest-grey, 14px, 22px);
    }
  }
}

