@use '../../styles/_colors' as *;

.summary-tab {
    position: fixed;
    right: 0;
    top: 27%;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px $box-shadow-grey;
    border-radius: 8px 0px 0px 8px;
    background-color: $red-utility;
    display: flex;
    cursor: pointer;
    z-index: 5;
    justify-content: center;
    align-items: center;

    img {
        width: 27px;
        height: 27px;
    }

    .widget-text-wrapper {
        overflow: hidden;
        width: 0;
        transition: width .8s ease;
    }

    &.preview {
        transition: background-color .8s ease;
        background-color: $white;

        .widget-text-wrapper {
            width: 138px;
            padding-left: 8px;
            .widget-text{
                color: $blue;
                white-space: nowrap;
            }
        }
    }
}