@use "../../styles/utils" as utils;
@use "../../styles/colors" as *;


.travel-component-calendar {
  position: relative;
  .register-input {
    padding: 9px 16px;
  }
  .calendar-icon{
    top: 10px !important;
    right: 18px !important;
  }
  .travel-calendar-icon{
    width: 16px;
  }
  .calendar-travel-input {
    padding: 12px 16px !important;
  }
}

.calendar-icon{
  cursor: pointer;
}
.calendar-icon-right {
  direction: rtl;
  text-align: end;
}
.calendar-icontoggle {
  width: 100%;
}
.calendar-icontoggle:focus-visible {
  outline: none;
  box-shadow: none;
}
.calendar-icon-right + svg.icon.icon-tabler.icon-tabler-calendar-event {
    right: 2.5px !important;
}

.calendar-switch-consumer {
  justify-content: space-between;
  padding: 0px;  
  .is-position-relative {
    position: relative;
  }
  input.rmdp-input{
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  .rmdp-wrapper {
    transform: translate(0, 50px);
    position: absolute;
    box-shadow: inset -1px -3px 5px #8798ad !important;
  }

  .calendar-icon {
    position: absolute;
    top: 18px;
    right: 10px;
  }

  .disabled-label {
    @include utils.font-setting($Utility---Dark-Grey-dark-grey-200, 12px, 18px);
    padding-left: 5px;
  }

  .label {
    @include utils.font-setting($blue, 12px, 18px);
    padding-left: 6px;
  }

  // date picker icon when input with no-icon class
  .date-picker-icon {
    &:focus-visible {
      outline: none;
    }
  }
}
.date-picker-input input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.calendarContainer {
	.rmdp-container {
		svg.icon-tabler-calendar-event {
			background-image: url("../../assets/CommonSVG/CalendarMonth.svg") !important;
			>* {
				display: none !important;
			}
		}
	}
}

.rmdp_range_calendar {
  width: 808px;
  border-radius: 16px;
  gap: 8px;

  &-header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 24px 24px 16px 24px;
    @extend .walaa-medium-500;
  }

  &-input_container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &>input {
      width: 100%;
    }

    &>input:focus-visible {
      outline: none;
      width: 100%;
    }
  }

  .rmdp-range {
    background-color: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-100;
    color: $dark-grey-500;
    box-shadow: none;
  }

  .rmdp-range:has(.rmdp-range-selection-start) {
    border-radius: 50%;
  }

  .rmdp-range:has(.rounded-week-end-border) {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .rmdp-range:has(.rounded-week-start-border) {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .start,
  .end {
    color: $white;

    span {
      background-color: $btn-gray-color-600;
      border-radius: 50%;
    }
  }

  .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
    background-color: $btn-gray-color-600;
    color: $dark-grey-500;
    border-radius: 50%;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 24px 24px 16px 0px;

    .footer-apply_btn {
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 48px;
      background: $Primary1---Blue-primary1---blue-500;
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      &:disabled {
        background-color: $dark-grey-50;
      }
    }
  }

  .rmdp-border-top {
    border-top: none;
    padding: 0 5px;
    justify-content: center;
  }

  .rmdp-calendar {
    width: 100%;
  }

  .rmdp-week-day,
  .rmdp-day {
    padding: 20px;
    margin-top: 8px
  }

  .rmdp-week-day {
    text-transform: uppercase;
    color: $darkest-grey;
    font-weight: 400;
  }

  &-today {
    border: 2px solid $light-blue-900;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
  }

  .range-picker {
    .hr-line {
      height: 1px;
      align-self: stretch;
      fill: $light-grey-100-utility;
    }
  }

  .button-icon {
    border: none;
    background: transparent;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      cursor: default;
      opacity: 0.5;
    }

    &.enabled {
      cursor: pointer;
      opacity: 1;
    }
  }

  .rmdp-day-picker {
    justify-content: space-around;

    .rmdp-week {
      font-weight: 500;
    }
  }
}
