@use "../../styles/color.scss" as *;

.team-container {
    background-color: $aliceBlue;
    position: relative;
    bottom: 0px;
    margin-bottom: -107px;

    .semi-circle-top {
        position: absolute;
        top: 0px;
        left: 0px;
        background: url(../../assets/boardofmanagement/semi-circle-top.png) no-repeat;
        width: 698px;
        height: 674px;
        z-index: 0;
    }

    .team-header {
        text-align: center;
        color: $primaryBlue;
        padding-top: 48px;
        padding-bottom: 48px;
        font-size:32px;
        line-height: 48px;
        position: relative;
        z-index: 1;
    }

    .team-outer {
        padding: 0px 0px 124px 0px;

        .walaa-team-card {
            padding-bottom: 24px;
            z-index:1;

            .team-card {
                border-radius: 20px;

                .team-body {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    min-height: 255px;
                    padding: 32px;
                    .team-image {
                        position: relative;
                        padding-bottom: 24px;
                        width: 140px;
                        height: 160px;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 50%;
                    }

                    .card-title {
                        text-align: center;
                        color: $dark-Grey-500;
                        font-size: 20px;
                    }
                    .title-padding {
                        padding-top: 24px;
                    }

                    .card-text {
                        text-align: center;
                        color: $darkestGrey;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .team-image {
                        position: relative;
                        padding-bottom: 24px;
                    }
                    .card-desc {
                        padding-bottom: 24px;
                        p {
                            color: $darkestGrey;
                            font-size: 18px;
                        }
                    }
                    .card-icon-position {
                        border-radius: 200px;
                        background: $lightBlue;
                        display: flex;
                        padding: 20px;
                        align-items: center;
                        gap: 16px;
                    }


                }
            }
        }

        .semi-circle-bottom {
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: url(../../assets/boardofmanagement/semi-circle-bottom.png) no-repeat;
            width: 698px;
            height: 674px;
            z-index: 0;
        }
    }
}

@media (max-width: 768px) {

    .team-container .team-outer .semi-circle-bottom{
        display: none;
    }

      .team-container{

        .semi-circle-top{    
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 0;
            left: 0 ;
            background-size: 698px;
            background-position: 40% 0px;
        }

        .team-header{
            padding: 48px 0 32px 0;
        }



        .team-outer {
            .walaa-team-card{
                .team-card{
                    .team-body{
                        padding: 32px;
                    }
                }
            }

            
        }
    }
}

