@use '../../../styles/_colors' as *;

.ChangePolicyStartDateModal{

  .modal-dialog{
    .modal-content{
      width: 416px;
      height: 250px;
      .modal-header{
        .modal-title { font-size: 24px; line-height: 36px; color:$dark-grey-500 ;}
        .btn-close{
          display: none;
        }
      }
    }
  }
}