 
.register-new-claim-comprehensive .register-new-claim-container-main {

  @media (max-width: 1024px) {
    padding: 113px 64px 96px 64px;
  }

  @media (max-width: 932px) {
    padding: 113px 16px 96px 16px !important;
  }
 
  .register-claim-left-card-top-message-container {background: none !important;}
}

.register-new-claim-comprehensive .select-policy {
  padding: 64px 64px 96px 64px !important;
}