@use "./fonts" as *;

@mixin display-ellipse($lines) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

@mixin font-setting($color, $size, $lineHeight) {
    color: $color !important;
    font-size: $size;
    line-height: $lineHeight;
}

@mixin fontStyle($fontSize,$lineHeight) {
  font-size:$fontSize;
  line-height: $lineHeight;
}

@mixin sectionPadding($padTop, $padBot, $imp: null) {
  @if $imp == '!important' {
    padding-top: $padTop !important;
    padding-bottom: $padBot !important;
  } @else {
    padding-top: $padTop;
    padding-bottom: $padBot;
  }
}



@mixin image-property($width:100%, $height:auto, $objectFit:cover, $borderRadius: unset) {
    width: $width;
    height: $height;
    object-fit: $objectFit;
    border-radius: $borderRadius;
}

@mixin font($size, $weight, $line-height) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
    @if $weight == 400 {
      @extend .walaa-regular-400;
    } @else if $weight == 500 {
      @extend .walaa-medium-500;
    }
  }