@use "../../../styles/color.scss" as *;
@use "../../../styles/fonts.scss" as *;
@use '../../../../../app-shell/src/styles/media-queries' as *;

.form-error-block {
  display: flex;
  min-height: 410px;
  align-items: center;
  text-align: center;
  .container{
    display: block !important;
  }
  .error-icon{
    padding: 20px 0px;
    background-image: url("../../../assets/Login/Error.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
  .error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-Grey-500;
    font-size: 16px;
    line-height: 24px;
    @extend .walaa-regular-400;
  }
  .error-button{
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    @extend .walaa-regular-400;
    color: $primary-blue-500;
    button{
      color: $themeWhite;
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 48px;
      background-color: $primary-blue-500;
      border: 1px solid $primary-blue-500;
    }

  }
}

