// Theme Colors
$theme-blue: #002873;
$theme-white: #fff;
$theme-light-grey: #c9c1c1;
$theme-dark-grey: #6a6a6a;
$theme-background: #faf9f9;
$theme-black: #121517;

// Primary Blues
$primary-sky-blue: #609bcf;
$primary-blue: #185a7d;
$primary-blue-100: #b7ccd7;
$primary-blue-300: #6490a8;
$primary-blue-600: #165272;
$primary-blue-700: #114059;
$primary-blue-800: #0d3245;
$primary-blue-900: #0a2635;

// Other Blues
$dark-blue: #12394c;
$light-blue: #f0f7fc;
$alice-blue: #e8eff2;
$penumbra-blue: #173666;
$scrollbar-blue: #d1dee5;

// Greys
$light-grey-100: #bababa;
$darkest-grey: #4d4d4d;
$dark-grey-500: #202020;
$dark-grey-200: #989898;
$light-grey-100-utility: #efefef;
$light-grey-400-utility: #d6d6d6;
$primary-grey-50: #e9e9e9;

// Reds
$crimson-red: #d7395c;
$crimson-red-50: #fae6eb;
$red-utility: #cd0833;
$red-error: #f20000;

$asparagus-100: #526f35;
$asparagus-700: #d4e1c7;
$asparagus-800: #3f5629;

$tulip-tree-100: #f5e2bf;
$tulip-tree-700: #9f7322;
$tulip-tree-800: #7b591a;

$light-blue-100: #d1e5f7;
$light-blue-500: #6aaae4;
$light-blue-800: #3a5e7d;

$shadow-box-blue-10: #0000001a;
