@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

@mixin flex-center($flex-direction: row,
  $justify: center,
  $align: center,
  $gap: 0) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0, $alignSelf: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  align-self: $alignSelf;
}

@mixin font($size, $weight, $line-height) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;

  @if $weight ==400 {
    @extend .walaa-regular-400;
  }

  @else if $weight ==500 {
    @extend .walaa-medium-500;
  }
}

.view-benefits-modal {
  .table-scroll {
    height: 586px;
  }

  :global(.modal-content) {
    background-color: transparent;
    border: transparent;
  }

  .sar-value {
    color: $dark-grey-500;
    font-size: 14px;
    font-weight: 400;
  
    .price1 {
      color: $dark-grey-500;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .modalContainer {
    margin-left: -10rem;
    @include flex(column, flex-start, flex-start);
    position: relative;
    min-width: 50rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Utility---Light-Grey-utility---light-grey-200);
    background: $white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

    .frame {
      @include flex(row, center, space-between);
      padding: 1.5rem 1.5rem 1rem 1.5rem;
      align-self: stretch;

      .heading {
        @include flex(column, flex-start, flex-start, 1.5rem);
        flex: 1 0 0;
        color: $dark-grey-500;
        @include font(1.5rem, 500, 2.25rem);
      }

      .btn-close-icon {
        cursor: pointer;
        @include flex(row, center, flex-start, 0.625rem);
        padding: 0.25rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border-radius: 3.75rem;
        background: $white;
      }
    }
  }

  .sub-heading {
    @include flex-center(column, flex-start, flex-start);
    padding: 0 24px 24px;
    width: 100%;

    .sub-sub-heading {
      display: flex;
      width: 100%;
      align-items: center;
      border-radius: 16px 16px 0 0;
      border: 1px solid $Utility---Light-Grey-utility---light-grey-300;
      background: $secondary-tulip-tree-50;

      .coverage {
        display: flex;
        height: 86px;
        width: 60%;
        padding: 21px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        border-radius: 16px 0 0 0;
        background: $Primary1---Blue-primary1---blue-700;
        color: $alice-blue;
        font-size: 20px;
        line-height: 30px;
      }

      .repair-right-side {
        display: flex;
        height: 86px;
        width: 40%;
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .repair-top {
          color: $Primary1---Blue-primary1---blue-800;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
        }

        .repair-bottom {
          color: $dark-grey-500;
          font-size: 14px;
          line-height: 22px;

          .price {
            color: $dark-grey-500;
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }

    .coverage-item {
      display: flex;
      width: 100%;
      border-left: 1px solid $alice-blue;
      border-right: 1px solid $alice-blue;
      border-bottom: 1px solid $alice-blue;

      .type {
        display: flex;
        padding: 16px 24px;
        width: 60%;
        align-items: flex-start;
        gap: px;
        color: $dark-grey-500;
        font-size: 14px;
        line-height: 22px;
        border-right: 1px solid $alice-blue;
      }

      .value {
        display: flex;
        width: 40%;
        height: 54px;
        padding: 16px 0;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
      }
    }

    .type-new1 {
      display: flex;
      font-size: 30px;
    }

    .benefits {
      background: $Utility---Light-Grey-utility---light-grey-50;

      div {
        font-size: 16px;
        color: $dark-grey-500;
        font-weight: 700;
      }
    }

    .text-value {
      font-size: 16px;
      align-items: center;
      justify-content: center;
    }

    .coverage-item-new {
      display: flex;
      width: 100%;
      border-left: 1px solid $alice-blue;
      border-right: 1px solid $alice-blue;
      border-bottom: 1px solid $alice-blue;
      position: relative;
      height: 64px;
      align-items: center;


      .coverage-item-sub {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        color: $dark-grey-500;

        .rows {
          top: 12px;
          position: absolute;
          right: 20px;
        }
      }

      .type-new {
        display: flex;
        padding: 16px 24px;
        width: 60%;
        align-items: flex-start;
        gap: 10px;
        color: $dark-grey-500;
        font-size: 16px;
        line-height: 22px;
        border-right: 1px solid $alice-blue;
      }

      .value-new {
        width: 40%;
        height: auto !important;
        display: block !important;
        text-align: center;
        padding: 16px 0;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        font-weight: 400;
        position: relative;

        .selected-item {
          font-size: 16px;
        }
      }
    }

    .repair-type {
      @include flex-center(column, flex-start, flex-start, 16px);
      gap: 16px;

      .repair-type-header {
        color: $dark-grey-500;
        font-size: 18px;
        line-height: 28px;
      }

      .repair-type-body {
        color: $dark-grey-400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 768px) {
.view-benefits-modal 
{
padding: 0px 8px 0px 156px !important;
.modalContainer
{
   min-width: 100%;
}
}
}