@use "../../../../styles/colors" as *;
@use "../../../../styles/fonts" as *;

// Mixins
@mixin flex-setting ($displayVal: flex, $justifyPos: center, $alignPos: center) {
  display: $displayVal;
  justify-content: $justifyPos;
  align-items: $alignPos;
}

.manage-traveler {
  .benefit-container {
    border-radius: 20px;
    border: 1px solid $light-grey-300;
    padding: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      padding: 0px 24px;
      border-left: 4px solid $red-utility;

      .header-list {
        overflow: hidden;
      }

      .header-body {
        color: $Primary1---Blue-primary1---blue-800;
        font-size: 20px;
        line-height: 30px;
        float: left;
      }
    }

    .header-right {
      float: right
    }

    .header-border {
      border-bottom: 1px solid $dark-grey-900;
    }

    .body-addons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      padding: 0 24px;
      border-radius: 20px;
      justify-content: space-between;
      .travel-tooltip-cantainer{
        display: flex;
        align-items: center;
        gap: 4px;
        flex-direction: row;
      }
      .row-width{
        width: 100%;
      }
      .toast:not(.show) {
        display: block;
        width: 100%;
        background-color: $secondary2---asparagus-100;
        color:$green-700-dark;
    }
    .check-circle{
      margin-left: 10px;
    margin-top: 10px;
    color:$green-700-dark;
    padding-right: 0px;
    width: 24px;
    height: 24px;
    }
    .toast{
      box-shadow: none !important;
      .d-flex{
        box-shadow: -3px 0 1px $green-700-dark;
        border-radius:10px;
        .toast-body{
          padding-left: 0px !important;
        }
        .btn-close{
          padding-top: 20px !important;
          color: $green-700-dark;
          width: 24px;
          height: 24px;
        }
      }
    }
    }
    .body-content {
      flex-wrap: wrap;
      margin: 20px;
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      border-radius: 16px;
      border: 1px solid
       $Primary2---Light-Blue-primary2---light-blue-100;
      background:$Primary2---Light-Blue-primary2---light-blue-50;

      .horizontal-line {
        width: 100%;
        margin: 0;
      }

      .body-header {
        color:$dark-grey-500;
        font-size: 18px;
        line-height: 28px;
      }

      .cancellation-reason-container {
        display: flex;
        width: 100%;
        gap: 16px;

        .reason-select {
          display: flex;
          width: 40%;
          flex-direction: column;
          gap: 8px;

          .label {
            color:$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }

          .form-select,
          .form-control {
            height: 48px;
            padding: 12px 16px;
          }
        }

        .cancellation-date {
          display: flex;
          width: 25%;
          flex-direction: column;
          gap: 8px;

          .label {
            color:$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }

          .form-select,
          .form-control {
            height: 48px;
            padding: 12px 16px;
          }
        }
      }

      .javed {
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 8px;
        background: var(
          --Secondary3---Tulip-Tree-secondary3---tulip-tree-300,
          #eac174
        );

        .text {
          display: flex;
          align-items: flex-start;
          gap: 4px;
          flex: 1 0 0;

          .logo {
            width: 24px;
            height: 24px;
            color: var(
              --Secondary3---Tulip-Tree-secondary3---tulip-tree-800,
              #7b591a
            );
          }
          .logo-content {
            color: var(
              --Secondary3---Tulip-Tree-secondary3---tulip-tree-800,
              #7b591a
            );
            font-size: 16px;
            line-height: 24px;

            .highlight-text {
              color: var(
                --Secondary3---Tulip-Tree-secondary3---tulip-tree-900,
                #5e4414
              );
            }
          }
        }

        .survey-div {
          border-radius: 48px;
          border: 1px solid
           $Primary1---Blue-primary1---blue-800;
          background:$white;
          .survey-btn {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 48px;
            border: 1px solid
             $Primary1---Blue-primary1---blue-800;

            background:$white;
          }

          .survey-btn-text {
            color:$Primary1---Blue-primary1---blue-800;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }

      .cancel-div {
        border-radius: 48px;
        border: 1px solid
         $Primary1---Blue-primary1---blue-800;

        background:$white;
        .cancel-btn {
          display: flex;
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 48px;
          border: 1px solid
           $Primary1---Blue-primary1---blue-800;

          background:$white;
        }

        .cancel-btn-text {
          color:$Primary1---Blue-primary1---blue-800;
          font-size: 14px;
          line-height: 22px;
        }
      }

      .vehicle-container {
        display: flex;
        width: 284px;
        padding: 16px;
        gap: 16px;

        border-radius: 16px;
        border: 2px solid$Primary1---Blue-primary1---blue-50;
        background: linear-gradient(
            0deg,
           $white 0%,
           $white 100%
          ),
         $Primary2---Light-Blue-primary2---light-blue-50;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        align-items: center;

        .logo-data {
          display: flex;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;
          flex-direction: column;

          .vehicle-name {
            color:$dark-grey;
            font-size: 14px;
            line-height: 22px;
          }

          .vehicle-number {
            color:$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .refund-tooltip {
        display: flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 8px;

        border-radius: 16px;
        border: 1px solid
         $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
        background:$Secondary3---Tulip-Tree-secondary3---tulip-tree-50;

        .refund-section {
          display: flex;
          height: 50px;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;

          .refund-approx-amt-label {
            color:$dark-grey;
            font-size: 14px;
            line-height: 22px;
          }

          .refund-approx-amt {
            color:$dark-grey-500;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      .iban-details {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 8px;

        .important-text-field{
          width: 48%;
          
          .iban-heading {
            color:$dark-grey-500;
            font-size: 16px;
            line-height: 24px;

            .important-field {
              color:red;
            }
          }
        }

      }
      .iban-detail {
        color:$darkest-grey;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  .driver-sub1-btn {
    @include flex-setting(flex, center, center);
    padding: 8px 16px;
    gap: 8px;
    border-radius: 48px;
    border: 1px solid $Primary1---Blue-primary1---blue-800;
    background: $white;
  }
  
}
