@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;

.shared-tabs-wrapper {
    align-items: center;
    background-color: $white;
    border: 1px solid $Primary1---Blue-primary1---blue-500;
    border-radius: 40px;
    display: flex;
    padding: 4px;
    position: relative;
    width: fit-content;
  
    .tab-wrapper {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      padding: 8px 16px; 
      gap: 16px; 
      border-radius: 20px; 
      cursor: pointer;
      transition: background-color 0.3s ease; 
      border-right: 2px solid transparent; 
      background: none;
      border: none;
  
      &.selected {
        background-color: $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-300;
        border-right: 2px solid $Primary-Band-Colors-Group-Primary2---Light-Blue-Shade-primary2---light-blue-300;
  
        .tab {
          color: $Primary1---Blue-primary1---blue-500;
        }
      }
    }
  
    .tab {
      color: $Primary1---Blue-primary1---blue-500;
      font-size: 16px;
      white-space: nowrap;
    }
  }
  