@use "../../styles/_colors.scss" as *;
@use "../../styles/_fonts.scss" as walaaFont;

.alert-box-modal {
  padding: 0px;

  .modal-content {
    border-radius: 8px;
    padding: 0px;
  }

  .modal-body {
    padding: 0px;
  }

  .alert-box-container {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    .alert-frame {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 16px;
      max-width: 87%;
    }

    .material-icons-warning {
      width: 48px;
      height: 48px;
    }

    .vector {
      position: relative;
      width: 48px;
      height: 48px;
      background: url(./Warning.png) no-repeat center;
      background-size: 100% 100%;
      z-index: 2;
    }

    .frame-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      width: inherit;
    }

    .information {
      color: $black;

      /* Body/B1/Medium */
      @extend .walaa-regular-400;
      font-size: 18px;
      line-height: 28px;
      /* 155.556% */
    }

    .frameButton {
      display: flex;
      flex-direction: row;
      gap:10px;

      button svg {
        color: $Primary1---Blue-primary1---blue-700;
      }
    }
  }
}

.alert-box-modal.type-info {
  .modal-content {
    border-left: 4px solid $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
    background: $Secondary3---Tulip-Tree-secondary3---tulip-tree-500;
  }
}
