.tycMainContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    padding: 6rem 4rem;

    .tycLeftPanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        flex: 1 0 0;
    }

    .tycRightPanel {
        width: 26rem;
        @media (max-width: 1024px) {
            margin-left: -13px;
            padding: 10px 10px;
          }
    }
}