.register-call2action {
  border-radius: 48px;
  font-size: 16px;
  line-height: 24px; /* 150% */
  background: $--Primary1---Blue-primary1---blue-800;
  &.disabled {
    background: $--Utility---Dark-Grey-dark-grey-50;
    border-color: $--Utility---Dark-Grey-dark-grey-50;
  }
  &:hover {
    background: $--Primary1---Blue-primary1---blue-600;
  }
}

.register-claim-link-no-button.register-call2action.btn-link  {
  font-size: 16px;
  line-height: 24px; /* 150% */
  
  &.disabled {
    background: $--Utility---Dark-Grey-dark-grey-50;
    border-color: $--Utility---Dark-Grey-dark-grey-50;
  }
  &:hover {
    background: none;
    border: none;
  }
}

.register-call2action.btn-link {
  background: $white;
  text-decoration: none;
  color: $--Primary1---Blue-primary1---blue-800;
  display: flex;
  border: none;
  &:hover {
    border: 1px solid $--Primary1---Blue-primary1---blue-800;
  }
}

.register-call2action2.btn-link {
  background: $white;
  text-decoration: none;
  color: $--Primary1---Blue-primary1---blue-800;
  display: flex;
    border: 1px solid $--Primary1---Blue-primary1---blue-800;
}
