@use "../../styles/_colors.scss" as *;
@use '../../../../app-shell/src/styles/media-queries' as *;

.key-feature-frame{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: auto; 
  background-color: $ice-blue !important;
  background: 
    url(../../assets/keyFeature/Right-Branding.svg) no-repeat top right, 
    url(../../assets/keyFeature/Left-Branding.svg) no-repeat bottom left;

  .key-feature-components-card {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 48px;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .key-feature-title {
      color: $primary-blue-500;
      font-size: 32px;
      font-weight: 500;
      margin-top: -1px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
      margin-top: 148px;
    }
  }

  .key-feature-buttons {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: flex-end;
    position: relative;
    margin-top: 172px;

    .key-feature-buttons-navigate {
      align-items: center;
      border: 1px solid;
      border-color: $light-grey-100;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: $ice-blue;
      }
    }

    .key-feature-material-icons {
      height: 22px !important;
      position: relative !important;
      width: 22px !important;
      color: $Sky-Blue;
    }

    .key-feature-material-icons-wrapper {
      align-items: center;
      border: 1px solid;
      border-radius: 48px;
      display: inline-flex;
      flex: 0 0 auto;
      gap: 8px;
      justify-content: center;
      padding: 8px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: $ice-blue;
      }
    }
  }

  .key-feature-cards {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    width: 100%;
    margin-top: 72px;
    padding-bottom: 108px;

    &::-webkit-scrollbar {
      display: none;
    }

    .key-feature-icon-cards {
      align-items: center;
      align-self: stretch;
      background-color: $white;
      border: 1px solid;
      border-color: $light-grey-300-utility;
      border-radius: 16px;
      box-shadow: 0px 0px 4px $shadow-box-blue-10;
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 575px;
      overflow: hidden;
      padding: 32px;
      position: relative;
      width: 416px;

      .key-feature-icon {
        align-items: center;
        background-color: $ice-blue;
        border-radius: 100px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        padding: 16px;
        position: relative;
      }

      .key-feature-content {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: 100%;

        .key-feature-card-title {
          font-weight: 600;
          font-size: 18px;
          color: $deep-navy;
          text-align: center;
          margin: 0;
        }

        .key-feature-contact-us {
          align-self: stretch;
          color: $deep-navy;
          margin-top: -1px;
          position: relative;
          text-align: center;
        }
      }
    }
  }

  .carousel-dots {
    display: flex;
    justify-content: center; 
    align-items: center;     
    position: absolute;      
    bottom: 8%;                
    left: 50%;               
    transform: translate(-50%, -50%); 
    gap: 8px;
    z-index: 10;             
    margin-top: 16px;        
    
    .carousel-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $light-grey-100;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background-color: $red-utility;
        width: 20px;
        height: 12px;
        border-radius: 4px;
      }

      &:hover {
        background-color: $ice-blue;
      }
    }
  }
}


@include media(xl) {
 
  }
   