// popover customisation
.popover-cust {
  max-width: max-content;
  font-size: 16px;

  .popover-row-spacing {
    &:nth-child(1) {
      margin-bottom: calc($--small-sized - 8px);
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: $--small-sized;
    }
  }

  .popover-header {
    padding: $--small-sized $font-size-title;
    color: $dark-grey-500;
    font-size: 20px;
    line-height: 30px; /* 150% */
  }

  .popover-body {
    padding: 0px;
    .table{
      margin-bottom: 0px;
    }
    .table-rounded {
      border-radius: 8px;
      border: 1px solid $--Primary1---Blue-primary1---blue-200;

      thead {
        tr {
          th {
            background-color: $--Primary2---Light-Blue-primary2---light-blue-200;
          }
        }
      }
      tbody {
        tr {
          td {
            background-color: $light-blue;
          }
        }
      }
    }
  }
}
