@use "../../../../../../consumer-portal/src/styles/colors" as walaaColor;

.endorsement-card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 16px;
  background: walaaColor.$white;

  .body-content-for-endorsement-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .top-table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      .box {
        display: flex;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;

        border-radius: 8px;
        border: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
        background: walaaColor.$utility-grey-white-error-utility-light-grey-shade-utility-light-grey-50;

        .box-address {
          display: flex;
          font-size: 14px;
          line-height: 22px;

          div.logo {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 40px;
            background: walaaColor.$white;
            margin-right: 16px;
            img {
              max-height: 35px;
              max-width: 35px;
            }
          }
        }

        .horizontal-line {
          width: 100%;
          margin: 0;
        }

        .box-content {
          display: flex;
          align-items: center;
          gap: 24px;
          width: 100%;

          .package-heading {
            color: walaaColor.$dark-grey-500;
            font-size: 14px;
            line-height: 22px;
          }

          .package-value {
            color: walaaColor.$dark-grey-500;
            font-size: 14px;
            line-height: 22px;
          }

          .package-border {
            border-right: 1px solid walaaColor.$Utility---Light-Grey-utility---light-grey-300;
          }
          .package-content-40 {
            width:40% !important; 
          }
          .package-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            width:50%;
          }

          .package-content-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            padding-right: 24px;
          }
        }
      }
    }

    .bottom-links {
      display: flex;
      align-items: center;
      gap: 24px;
      align-self: stretch;
      justify-content: flex-start;

      .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .links-content {
          color: walaaColor.$Primary1---Blue-primary1---blue-600;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}