@use "../../styles/color.scss" as *;
@use "../../../../app-shell/src/styles/media-queries" as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

.insurance-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 72px;
  background: $aliceBlue url(../../assets/downloadapp/back-bg.png) center center
    no-repeat;
  background-size: cover;

  .content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .insurance-image {
      width: 100%;
      max-width: 300px;
      background: url(../../assets/downloadapp/Phone.png) left top no-repeat;
      height: 582px;

      .carousel-container {
        left: 21px;
      }

      .phone-banner {
        padding-top: 25px;

        .phone-banner-img {
          width: 255px;
          height: 540px;
          border-radius: 30px;
        }
      }
    }

    .text-content {
      flex: 1;
      text-align: left;
      padding-left: 72px;

      h2 {
        margin-bottom: 8px;
        @include fontStyle(48px, $primaryBlue);
      }

      h2,
      p {
        max-width: 87%;
      }

      p {
        @include fontStyle(18px, $dark-Grey-500);
      }

      .feature {
        padding: 48px 0;
        display: flex;

        
        .carousel-container {
          padding: 4px 0 4px 32px;

          h3 {
            @include fontStyle(20px, $dark-Grey-500);

            margin-bottom: 12px;
          }

          p {
            @include fontStyle(14px, $darkestGrey);
          }
        }

        .custom-dot-list-style {
          text-align: left !important;
          display: block;
          padding-top: 2px;
          bottom: 0px;
          position: relative;

          .react-multi-carousel-dot {
            cursor: none;
            border: none;

            &::before {
              content: "";
              border-left: 1px solid $light-Grey-100;
              position: relative;
              left: 3.1px;
              top: -6px;
              transition: border-left 0.3s ease; 
            }

            .button-dots {
              position: relative;
              z-index: 1;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              cursor: none;
              background-color: none;
              transition: background-color 0.3s ease, width 0.3s ease,
                height 0.3s ease; 
            }

            .button-dots-active {
              position: relative;
              z-index: 1;
              border: 1px solid $red-utility;
              border-radius: 50%;
              width: 10px;
              height: 10px;
              cursor: none;
              position: relative;
              left: 0px;
              background-color: $red-utility;
              transition: background-color 0.3s ease, width 0.3s ease,
                height 0.3s ease; 
            }

            &.visited {
              .current_active {
                left: -2px;
                width: 15px;
                height: 15px;
              }

              &::before {
                border-left: 1px solid $red-utility;
                transition: border-left 0.3s ease; 
              }
            }
          }

          &:first-child {
            .react-multi-carousel-dot {
              position: relative;
              left: 1px;

              &::before {
                border-left: none;
              }
            }
          }
        }
      }

      .download-section {
        margin-top: 20px;
        display: flex;

        .qr-code {
          width: auto;
          height: auto;
        }

        .app-links {
          align-items: center;
          gap: 10px;
          margin-left: 16px;

          h3 {
            font-size: 16px;
            margin-bottom: 16px;
            color: $dark-charcoal;
          }

          .download-link {
            display: flex;
            padding: 0px;

            img{
              width: 120px;
            }

            li {
              padding-right: 8px;
            }
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  .insurance-experience {
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding-right: 72px;

      .carousel-container {
        right: 21px;
      }

      .phone-banner {
        padding-left: 44px;
      }

      .text-content {
        text-align: right;
        padding-right: 72px;

        h2 {
          max-width: 96%;
        }

        p {
          max-width: 71%;
        }

        .feature {
          padding: 52px 0;
          display: flex;

          .custom-dot-list-style {
            text-align: right !important;

            .react-multi-carousel-dot {
              cursor: none;
              border: none;

              &::before {
                border-right: 1px solid $light-Grey-100;

                right: 2.9px;
              }

              .button-dots-active {
                right: 1px;
              }

              &.visited {
                .current_active {
                  right: -2px;
                }

                &::before {
                  border-right: 1px solid $red-utility;
                }
              }
            }

            &:first-child {
              .react-multi-carousel-dot {
                right: 1px;

                &::before {
                  border-right: none;
                }
              }
            }
          }
        }

        .app-links {
          margin-right: 16px;

          h3 {
            margin-right: 10px;
          }

          li {
            padding-left: 8px;
          }
        }
      }
    }
  }
}

// @media (max-width: 1200px) {
@include media(xl) {
  .insurance-experience {
    .content {
      width: 100%;
    }
    .download-section {
      margin-top: 0px !important;
    }
  }
}

@include media(lg){
  .insurance-experience{
    .download-section {
      align-items: center;
      .app-links {
        .download-link {
          flex-wrap: wrap;
          li {
            margin-bottom: 10px;

            &:last-child {
              flex-basis: 100%;
            }
          }
        }
      }
    }

  }
}

// @media (max-width: 786px) {
@include media(md) {
  .insurance-experience {
    padding: 60px 0;
    background: $aliceBlue url(../../assets/support/mobile-half-circle.png)
      bottom right no-repeat;

    .content {
      flex-direction: column;
      justify-content: center;
      padding: 0 39px;

      .text-content {
        padding: 72px 0 0 0;
        width: 100%;

        .feature {
          width: 100%;
          position: relative;
        }

        h2 {
          @include fontStyle(36px, $primaryBlue);
          max-width: 100%;
        }

        p {
          max-width: 100%;
          @include fontStyle(18px, $darkestGrey);
        }

        .download-section {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          gap: 10px;

          .app-links {
            margin-left: 0px;
            .download-link{
              .download-icon{
                width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

// @media (max-width: 550px) {
@include media(sm) {
  .insurance-experience {
    padding: 40px 0 40px 0;

    .content .text-content {
      .feature {
        .carousel-container {
          height: 150px;
        }

        .custom-dot-list-style {
          bottom: auto !important;
        }
      }
    }
  }
}
