@use "./../../../styles/colors" as *;
@use "./../../../styles/fonts" as *;

.policy-history-card-wrapper{
.policy-history-container {
  display: flex;
  padding: 72px 72px 240px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;

  .policy-history {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .policy-history-left {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;

      .policy-history-main-card {
        display: flex;
        width: 100%;
        padding: 24px 0;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        border-radius: 20px;
        border: 1px solid $light-grey-300;
        background: $white;

        .policy-history-main-card-title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;

          .title-content {
            display: flex;
            padding: 0 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            border-left: 4px solid $red-utility;

            .title {
              color: $Primary-Band-Colors-Group-Primary1---Blue-Shades-primary1---blue-800;
              font-size: 20px;
              line-height: 30px;
            }
          }

          .horizontal-line {
            margin: 0;
            align-self: stretch;
            stroke-width: 1px;
            stroke: $light-grey-300;
          }
        }

        .policy-history-main-card-body {
          display: flex;
          padding: 0 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 24px;
          align-self: stretch;

          .main-card-body {
            display: flex;
            padding: 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            border-radius: 16px;
            border: 1px solid $Primary2---Light-Blue-primary2---light-blue-100;
            background: $Primary2---Light-Blue-primary2---light-blue-50;

            .dynamic-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              align-self: stretch;

              .dynamic-card-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                .questions {
                  display: flex;
                  padding: 16px 0;
                  align-items: center;
                  gap: 16px;
                  align-self: stretch;

                  .date-text {
                    flex: 1 0 0;
                    color: $dark-grey-500;
                    font-size: 18px;
                    line-height: 28px;
                  }
                }

                .answers-container {
                  display: flex;
                  padding: 16px 0 24px;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 24px;
                  align-self: stretch;
                  border-bottom: 1px solid $Primary1---Blue-primary1---blue-100;

                  .answers {
                    display: flex;
                    align-items: flex-start;
                    gap: 32px;
                    align-self: stretch;

                    .vertical-line {
                      width: 1px;
                      height: 52px;
                      background: $Utility---Light-Grey-utility---light-grey-200;
                      margin: 0;
                      border-top: none;
                      opacity: 0.5;
                    }

                    .endorsement-type,
                    .premium-change,
                    .description {
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      gap: 4px;

                      .label,
                      .value {
                        color: $dark-grey-500;
                        font-size: 16px;
                        line-height: 24px;
                      }
                    }

                    .description {
                      flex: 1 0 0;
                    }
                  }
                }
              }
            }

            .horizontal-line {
              margin: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .policy-history-right {
      width: 30%;
    }
  }
}
}