@use "../../styles/_colors.scss" as *;
@use '../../styles/_utils.scss' as utils;
@use '../../../../app-shell/src/styles/media-queries' as *;

@mixin fontStyle($size, $color) {
  font-size: $size;
  line-height: $size * 1.5;
  color: $color;
}

#claimCard-content{
  display: flex;
  margin-top: 38px; 
  background: $powder-blue;  

  .card-section {
    border:0px;
    padding: 0;
    padding-top: 32px;
    width: 100%;

    .shared-utility-cards {
      padding: 32px 32px;
      border-radius: 20px;
      border: 1px solid $light-grey-200-utility;
      background: $themeWhite url(../../assets/common/union-claim-bg.svg)  no-repeat top center;
      box-shadow: 0px 4px 8px 0px $light-Grey-100;
      display: flex;
      justify-items: center;
      align-items: center;
      text-align: center;
      height: 248px;

      &:hover{
        border-color: $primaryBlue;
      }

      .circlebox {
        display: flex;
        align-items: center;
        background-color: #EFF9FE;
        border-radius: 100px;
        padding: 16px;
      }
      .card-body {
        padding: 24px 0 0 0;
        text-align: center;
        .card-title {
          @include fontStyle(20px, $dark-Grey-500);
          a {
            @include fontStyle(20px, $dark-Grey-500);
            text-decoration: none;
          }
        }
        .card-text {
          @include fontStyle(16px, $darkestGrey);
          padding-bottom: 24px;
        }
      }
    }
  }
}

@include media(xl) {
  #claimCard-content{
    .shared-utility-cards{
      height: 300px !important;
    }
  }
}

@include media(sm) {
  #claimCard-content{
    .shared-utility-cards{
      height: auto !important;
    }
  }
}
